In [1]:
import crud_operations as co
import mongo_operations as m
import sqlparse
from itertools import islice
import re

In [2]:
def processQueries():
    db = co.MySQLDB('pl_queries')
    
    queries = {}
    res = db.readAllQueries()
    for q in res:
        queries[(q[0], q[1], q[2])] = q[3]
    return queries

In [3]:
def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))

In [4]:
queries = processQueries()

In [5]:
len(queries)

1418

In [6]:
mongo = m.MongoDB("Queries")

In [9]:
just_one = take(1, queries.items())
mongo.update_one_query(({'queryNum': just_one[0][0][0]}, {'test': 'test2'}))
print(mongo.read_one_query({'queryNum': just_one[0][0][0]}))

({'queryNum': 1}, {'test': 'test2'})
Query 5eaf1fef334f483dd6bb9e34 has been updated
{'_id': ObjectId('5eaf1fef334f483dd6bb9e34'), 'queryNum': 1, 'questionId': 313665, 'variantId': 4388082, 'rawQueryContent': "select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nfrom Employee e natural join Department d\nwhere (d.deptLocation = 'Dubai' or d.deptName = 'Sales') and\n        (e.annualSalary >= 7000 and e.annualSalary <= 100000) and\n        (e.empName like '_a%' or e.empName like '_i%')\norder by e.empName asc, d.deptName desc", 'test': 'test2'}

In [52]:
# Try with one query
curr = queries[1]
parsed = sqlparse.parse(curr)
print(parsed[0])
print(parsed[0].tokens)

for tok in parsed[0].tokens:
    # print(tok.ttype, type(tok))
    if (type(tok) == sqlparse.sql.Identifier):
        print(tok.value)

select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle
from Employee e natural join Department d
where (d.deptLocation = 'Dubai' or d.deptName = 'Sales') and
        (e.annualSalary >= 7000 and e.annualSalary <= 100000) and
        (e.empName like '_a%' or e.empName like '_i%')
order by e.empName asc, d.deptName desc
[<DML 'select' at 0x10E1B7D00>, <Whitespace ' ' at 0x10E1B7980>, <IdentifierList 'e.empN...' at 0x10E1C39D0>, <Newline ' ' at 0x10E1B7360>, <Keyword 'from' at 0x10E1B7EC0>, <Whitespace ' ' at 0x10E1B76E0>, <Identifier 'Employ...' at 0x10E1C37D0>, <Whitespace ' ' at 0x10E1B5AD0>, <Keyword 'natura...' at 0x10E1B7F30>, <Whitespace ' ' at 0x10E1B5A60>, <Identifier 'Depart...' at 0x10E1C3B50>, <Newline ' ' at 0x10E1B5360>, <Where 'where ...' at 0x10E1C33D0>, <Keyword 'order ...' at 0x10E1A2210>, <Whitespace ' ' at 0x10E1A21A0>, <IdentifierList 'e.empN...' at 0x10E1B1150>]
Employee e
Department d

In [3]:
mongo.read_queries({})

In [4]:
mongo.create_query({"queryid": 1, "value": "test"})

Inserted "5eaf10f0334f483dd6bb9e33" for {'queryid': 1, 'value': 'test', '_id': ObjectId('5eaf10f0334f483dd6bb9e33')}

In [49]:
for i in mongo.read_queries({}):
    print(i)

{'_id': ObjectId('5eaf1fef334f483dd6bb9e34'), 'queryNum': 1, 'questionId': 313665, 'variantId': 4388082, 'rawQueryContent': "select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nfrom Employee e natural join Department d\nwhere (d.deptLocation = 'Dubai' or d.deptName = 'Sales') and\n        (e.annualSalary >= 7000 and e.annualSalary <= 100000) and\n        (e.empName like '_a%' or e.empName like '_i%')\norder by e.empName asc, d.deptName desc", 'test': 'test2', 'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee natural join Department\nwhere (deptLocation = 'Dubai' or deptName = 'Sales') and\n        (annualSalary >= 7000 and annualSalary <= 100000) and\n        (empName like '_a%' or empName like '_i%')\norder by empName asc, deptName desc"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e35'), 'queryNum': 2, 'questionId': 34820, 'variantId': 4388082, 'rawQueryContent': "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e join Department d on e.deptID = d.deptID \nWHERE ((d.deptLocation = 'Dubai') OR (d.deptName = 'Sales')) AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND ((e.empName LIKE '_A%' )OR (e.empName LIKE '_I%'))\nORDER BY e.empName,  d.deptName DESC\n\n", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee join Department on deptID = deptID \nWHERE ((deptLocation = 'Dubai') OR (deptName = 'Sales')) AND (annualSalary >= 84000 AND annualSalary <= 120000) AND ((empName LIKE '_A%' )OR (empName LIKE '_I%'))\nORDER BY empName,  deptName DESC\n\n"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e36'), 'queryNum': 3, 'questionId': 325288, 'variantId': 4388082, 'rawQueryContent': "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e NATURAL JOIN Department d\nWHERE (d.deptLocation = 'Dubai' OR d.deptName = 'Sales') AND e.annualSalary >= 84000 AND e.annualSalary <= 120000 AND (e.empName LIKE '_A%' OR e.empName LIKE '_I%')\nORDER BY e.empName, d.deptName DESC;", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND annualSalary >= 84000 AND annualSalary <= 120000 AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC;"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e37'), 'queryNum': 4, 'questionId': 36577, 'variantId': 4388082, 'rawQueryContent': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department d, Employee e\nWHERE e.deptID = d.deptID and (deptLocation = 'Dubai' or deptName = 'Sales') and \n(annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE deptID = deptID and (deptLocation = 'Dubai' or deptName = 'Sales') and \n(annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e38'), 'queryNum': 5, 'questionId': 342776, 'variantId': 4388082, 'rawQueryContent': "SELECT E.empName, E.annualSalary, D.deptName, D.deptLocation, E.jobTitle\nFROM Employee E, Department D\nWHERE (E.deptID = D.deptID) AND (D.deptLocation = 'Dubai' OR D.deptName = 'Sales') AND (E.annualSalary / 12 >= 7000 AND E.annualSalary / 12 <= 10000) AND (E.empName LIKE '_i%' OR E.empName LIKE '_a%')\nORDER BY E.empName, D.deptName DESC", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee, Department\nWHERE (deptID = deptID) AND (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_i%' OR empName LIKE '_a%')\nORDER BY empName, deptName DESC"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e39'), 'queryNum': 6, 'questionId': 31817, 'variantId': 4388082, 'rawQueryContent': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department d JOIN Employee e ON d.deptID = e.deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary)/12 >= 7000 AND (annualSalary)/12 <=10000 AND (empName LIKE '_a%' OR empName LIKE '_i%')\nORDER BY empName, deptName DESC;", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department JOIN Employee ON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary)/12 >= 7000 AND (annualSalary)/12 <=10000 AND (empName LIKE '_a%' OR empName LIKE '_i%')\nORDER BY empName, deptName DESC;"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3a'), 'queryNum': 7, 'questionId': 331548, 'variantId': 4388082, 'rawQueryContent': "select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nfrom Employee e join Department d\non e.deptID = d.deptID\nwhere d.deptLocation = 'Dubai' \nor d.deptName = 'Sales' \nand ((e.annualSalary / 12) >= 7000 and (e.annualSalary / 12) <= 10000)\nand (e.empName like '_A%' or e.empName like '_I%')\norder by e.empName asc, d.deptName desc", 'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee join Department\non deptID = deptID\nwhere deptLocation = 'Dubai' \nor deptName = 'Sales' \nand ((annualSalary / 12) >= 7000 and (annualSalary / 12) <= 10000)\nand (empName like '_A%' or empName like '_I%')\norder by empName asc, deptName desc"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3b'), 'queryNum': 8, 'questionId': 131080, 'variantId': 4388082, 'rawQueryContent': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Department d JOIN Employee e ON d.deptID = e.deptID\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (\ne.annualSalary <= 100000 AND e.annualSalary >= 70000) AND (\ne.empName LIKE "_a%" OR e.empName LIKE "_i%")\nORDER BY e.empName ASC, d.deptName DESC\n', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department JOIN Employee ON deptID = deptID\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (\nannualSalary <= 100000 AND annualSalary >= 70000) AND (\nempName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName ASC, deptName DESC\n'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3c'), 'queryNum': 9, 'questionId': 128458, 'variantId': 4388082, 'rawQueryContent': 'SELECT e.empName as Name, e.annualSalary as Salary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee as e\nINNER JOIN Department as d\nON d.deptID = e.deptID\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary/12 <= 10000 AND e.annualSalary/12 >= 7000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")\nORDER BY d.deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nINNER JOIN Department\nON deptID = deptID\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary/12 <= 10000 AND annualSalary/12 >= 7000) AND (empName LIKE "_A%" OR empName LIKE "_I%")\nORDER BY deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3d'), 'queryNum': 10, 'questionId': 127187, 'variantId': 4388082, 'rawQueryContent': 'SELECT Emp.empName, Emp.annualSalary, Dept.deptName, Dept.deptLocation, Emp.jobTitle\nFROM Department Dept NATURAL JOIN Employee Emp\nWHERE (Dept.deptLocation = "Dubai" OR Dept.deptName = "Sales") AND \n        (Emp.annualSalary >= 12 * 7000 AND Emp.annualSalary <= 12 * 10000) AND \n        (Emp.empName LIKE \'_A%\' OR Emp.empName LIKE \'_I%\')\nORDER BY Emp.empName, Dept.deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department NATURAL JOIN Employee\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND \n        (annualSalary >= 12 * 7000 AND annualSalary <= 12 * 10000) AND \n        (empName LIKE \'_A%\' OR empName LIKE \'_I%\')\nORDER BY empName, deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3e'), 'queryNum': 11, 'questionId': 124539, 'variantId': 4388082, 'rawQueryContent': "SELECT Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (Department.deptLocation = 'Dubai' OR Department.deptName = 'Sales')\nAND (Employee.annualSalary/12 >= 7000 AND Employee.annualSalary/12 <= 10000)\nAND (SUBSTR(Employee.empName, 2, 1) = 'A'  OR SUBSTR(Employee.empName, 2, 1) = 'I')", 'parsedRemovedQuery': "SELECT Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (Department.deptLocation = 'Dubai' OR Department.deptName = 'Sales')\nAND (Employee.annualSalary/12 >= 7000 AND Employee.annualSalary/12 <= 10000)\nAND (SUBSTR(Employee.empName, 2, 1) = 'A'  OR SUBSTR(Employee.empName, 2, 1) = 'I')"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e3f'), 'queryNum': 12, 'questionId': 126177, 'variantId': 4388082, 'rawQueryContent': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Department d INNER JOIN Employee e on e.deptID = d.deptID\nWHERE (d.deptLocation = \'Dubai\' OR d.deptName = \'Sales\') AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department INNER JOIN Employee on deptID = deptID\nWHERE (deptLocation = \'Dubai\' OR deptName = \'Sales\') AND (annualSalary >= 84000 AND annualSalary <= 120000) AND (empName LIKE "_A%" OR empName LIKE "_I%")'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e40'), 'queryNum': 13, 'questionId': 83742, 'variantId': 4388082, 'rawQueryContent': "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e\nJOIN Department d ON e.deptID = d.deptID\nWHERE (d.deptLocation = 'Dubai' OR d.deptName = 'Sales') AND (e.annualSalary >= 7000 OR e.annualSalary <= 10000) AND (e.empName LIKE '_A%' OR e.empName LIKE '_I%')\nORDER BY e.empName ASC, d.deptName DESC\n;", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nJOIN Department ON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary >= 7000 OR annualSalary <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName ASC, deptName DESC\n;"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e41'), 'queryNum': 14, 'questionId': 336531, 'variantId': 4388082, 'rawQueryContent': 'SELECT E.empName, E.annualSalary, D.deptName, D.deptLocation, E.jobTitle \nFROM Department D join Employee E\non D.deptID = E.deptID\nwhere (D.deptLocation = "Dubai" or D.deptName= "sales")\nand ((E.annualSalary/12) >= 7000 and (E.annualSalary/12) <= 10000) \n-- and (E.empName like \'_a%\' or \'_i%\')\norder by E.empName, D.deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle \nFROM Department join Employee\non deptID = deptID\nwhere (deptLocation = "Dubai" or deptName= "sales")\nand ((annualSalary/12) >= 7000 and (annualSalary/12) <= 10000) \n-- and (empName like \'_a%\' or \'_i%\')\norder by empName, deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e42'), 'queryNum': 15, 'questionId': 331920, 'variantId': 4388082, 'rawQueryContent': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e NATURAL JOIN Department d\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary/12 >= 7000 AND e.annualSalary/12 <=10000) AND (e.empName LIKE "_a%" OR e.empName LIKE "_i%")\nORDER BY e.empName, d.deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary/12 >= 7000 AND annualSalary/12 <=10000) AND (empName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName, deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e43'), 'queryNum': 16, 'questionId': 35368, 'variantId': 4388082, 'rawQueryContent': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE deptName = "Sales" AND annualSalary/12 >= 7000 AND annualSalary/12 <= 10000 AND (empName LIKE "_A%" OR empName LIKE "_I%")\nAND jobTitle LIKE "Sales%"\nORDER BY empName, deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE deptName = "Sales" AND annualSalary/12 >= 7000 AND annualSalary/12 <= 10000 AND (empName LIKE "_A%" OR empName LIKE "_I%")\nAND jobTitle LIKE "Sales%"\nORDER BY empName, deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e44'), 'queryNum': 17, 'questionId': 313229, 'variantId': 4388082, 'rawQueryContent': "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e NATURAL JOIN Department d\nWHERE (d.deptLocation = 'Dubai' OR d.deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY e.empName, d.deptName DESC;", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC;"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e45'), 'queryNum': 18, 'questionId': 33496, 'variantId': 4388082, 'rawQueryContent': 'SELECT E.empName, E.annualSalary, D.deptName, D.deptLocation, E.jobTitle FROM Employee AS E\nJOIN Department AS D ON D.deptID = E.deptId\nWHERE\n    (D.deptLocation = "Dubai" OR D.deptName = "Sales") AND\n    (E.annualSalary / 12 >= 7000 AND E.annualSalary / 12 <= 10000) AND\n    (E.empName LIKE "_A%" OR E.empName LIKE "_I%")\nORDER BY E.empName, D.deptName DESC', 'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle FROM Employee AS\nJOIN Department AS ON deptID = deptId\nWHERE\n    (deptLocation = "Dubai" OR deptName = "Sales") AND\n    (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND\n    (empName LIKE "_A%" OR empName LIKE "_I%")\nORDER BY empName, deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e46'), 'queryNum': 19, 'questionId': 5259, 'variantId': 4388082, 'rawQueryContent': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR (deptName = 'Sales' AND annualSalary >= 84000 AND annualSalary <= 120000)) AND (empName LIKE '_I%' OR empName LIKE '_A%') \nORDER BY empName ASC, deptName DESC;", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR (deptName = 'Sales' AND annualSalary >= 84000 AND annualSalary <= 120000)) AND (empName LIKE '_I%' OR empName LIKE '_A%') \nORDER BY empName ASC, deptName DESC;"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e47'), 'queryNum': 20, 'questionId': 5271, 'variantId': 4388082, 'rawQueryContent': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM (Employee e) NATURAL JOIN (Department d)\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")\nORDER BY e.empName, d.deptName DESC', 'parsedRemovedQuery': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM (Employee e) NATURAL JOIN (Department d)\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")\nORDER BY e.empName, d.deptName DESC'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e48'), 'queryNum': 21, 'questionId': 332195, 'variantId': 4388082, 'rawQueryContent': 'Select emp.empName, emp.annualSalary, dep.deptName, dep.deptLocation, emp.jobTitle\nFrom Department dep Natural Join Employee emp\nWHERE (dep.deptLocation = "Dubai" OR dep.deptName = "Sales") AND (emp.annualSalary / 12 >= 7000 AND emp.annualSalary/12 <= 10000) AND (emp.empName LIKE \'_a%\' OR emp.empName LIKE \'_i%\')', 'parsedRemovedQuery': 'Select empName, annualSalary, deptName, deptLocation, jobTitle\nFrom Department Natural Join Employee\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary / 12 >= 7000 AND annualSalary/12 <= 10000) AND (empName LIKE \'_a%\' OR empName LIKE \'_i%\')'}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e49'), 'queryNum': 22, 'questionId': 332008, 'variantId': 4388082, 'rawQueryContent': "select Employee.empName, Employee.annualSalary, Department.deptName,Department.deptLocation, Employee.jobTitle\nfrom Employee natural join Department\nwhere (Department.deptLocation = 'Dubai' or deptName = 'Sales') and Employee.annualSalary/12>=7000 and Employee.annualSalary/12<= 10000 and (Employee.empName like '_A%' or Employee.empName like '_I%')\norder by Employee.empName, Department.deptName desc", 'parsedRemovedQuery': "select Employee.empName, Employee.annualSalary, Department.deptName,Department.deptLocation, Employee.jobTitle\nfrom Employee natural join Department\nwhere (Department.deptLocation = 'Dubai' or deptName = 'Sales') and Employee.annualSalary/12>=7000 and Employee.annualSalary/12<= 10000 and (Employee.empName like '_A%' or Employee.empName like '_I%')\norder by Employee.empName, Department.deptName desc"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e4a'), 'queryNum': 23, 'questionId': 11185, 'variantId': 4388082, 'rawQueryContent': "select E.empName, E.annualSalary, D.deptName, D.deptLocation, E.jobTitle\nfrom Employee E join Department D on E.deptID = D.deptID\nwhere (D.deptLocation = 'Dubai' or D.deptName = 'Sales') and ((E.annualSalary/12)>= 7000 and (E.annualSalary/12) <= 10000) and (E.empName LIKE '_A%' or E.empName LIKE '_I%')\norder by E.empName, D.deptName desc", 'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee join Department on deptID = deptID\nwhere (deptLocation = 'Dubai' or deptName = 'Sales') and ((annualSalary/12)>= 7000 and (annualSalary/12) <= 10000) and (empName LIKE '_A%' or empName LIKE '_I%')\norder by empName, deptName desc"}
{'_id': ObjectId('5eaf1fef334f483dd6bb9e4b'), 'queryNum': 24, 'questionId': 32963, 'variantId': 4388082, 'rawQueryContent': "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e JOIN Department d ON e.deptID = d.deptID \nWHERE (d.deptLocation = 'Dubai' OR d.deptName = 'Sales') AND (e.annualSalary / 12 >= 7000 AND e.annualSalary / 12 <= 10000) AND (e.empName LIKE '_A%' OR e.empName LIKE '_I%')\nORDER BY e.empName, d.deptName DESC", 'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee JOIN Department ON deptID = deptID \nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC"}

{'_id': ObjectId('5eaf1ff2334f483dd6bb9e99'), 'queryNum': 102, 'questionId': 33032, 'variantId': 3902466, 'rawQueryContent': "Select empID, empName, jobTitle,managerID, hireDate, salary, comission, e.deptID\nFrom Employee e, Department d, Salary_Grade s\nWhere s.grade IN (12,13)\nAND e.salary Between s.minSalary And s.maxSalary\nAND e.deptID=d.deptID\nAND d.deptLocation = 'London'", 'parsedRemovedQuery': "Select empID, empName, jobTitle,managerID, hireDate, salary, comission, deptID\nFrom Employee, Department, Salary_Grade\nWhere grade IN (12,13)\nAND salary Between minSalary And maxSalary\nAND deptID=deptID\nAND deptLocation = 'London'"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9a'), 'queryNum': 103, 'questionId': 34602, 'variantId': 3902466, 'rawQueryContent': "SELECT *\nFROM Employee\nWHERE deptID = (SELECT deptID FROM Department WHERE deptLocation = 'London')\nAND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE deptID = (SELECT deptID FROM Department WHERE deptLocation = 'London')\nAND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9b'), 'queryNum': 104, 'questionId': 124539, 'variantId': 3902466, 'rawQueryContent': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE\n(Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary)\nAND (Salary_Grade.grade = 12 OR Salary_Grade.grade = 13) AND Department.deptLocation = "London"', 'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE\n(Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary)\nAND (Salary_Grade.grade = 12 OR Salary_Grade.grade = 13) AND Department.deptLocation = "London"'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9c'), 'queryNum': 105, 'questionId': 308057, 'variantId': 3902466, 'rawQueryContent': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE grade in (12, 13) \nAND salary >= minSalary AND salary <= maxSalary\nAND deptLocation = "London"', 'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE grade in (12, 13) \nAND salary >= minSalary AND salary <= maxSalary\nAND deptLocation = "London"'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9d'), 'queryNum': 106, 'questionId': 186896, 'variantId': 3902466, 'rawQueryContent': "SELECT DISTINCT e.*\nFROM (Employee e NATURAL JOIN Department d) LEFT OUTER JOIN Salary_Grade s ON (s.grade = 12 OR s.grade = 13)\nWHERE d.deptLocation = 'London'", 'parsedRemovedQuery': "SELECT DISTINCT e.*\nFROM (Employee e NATURAL JOIN Department d) LEFT OUTER JOIN Salary_Grade ON (grade = 12 OR grade = 13)\nWHERE d.deptLocation = 'London'"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9e'), 'queryNum': 107, 'questionId': 202279, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");\n', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");\n'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9e9f'), 'queryNum': 108, 'questionId': 38065, 'variantId': 3902466, 'rawQueryContent': "select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom Employee e natural join Department d\njoin Salary_Grade s on e.salary >= s.minSalary and e.salary <= s.maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = 'London'", 'parsedRemovedQuery': "select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom Employee natural join Department\njoin Salary_Grade on salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = 'London'"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea0'), 'queryNum': 109, 'questionId': 5259, 'variantId': 3902466, 'rawQueryContent': "SELECT E.*\nFROM Employee E\nWHERE (E.salary <= (SELECT maxSalary from Salary_Grade where grade = 13) AND E.salary >= (SELECT minSalary from Salary_Grade where grade = 12)) AND (E.deptID in (SELECT deptID FROM Department WHERE deptLocation = 'London'));", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE (salary <= (SELECT maxSalary from Salary_Grade where grade = 13) AND salary >= (SELECT minSalary from Salary_Grade where grade = 12)) AND (deptID in (SELECT deptID FROM Department WHERE deptLocation = 'London'));"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea1'), 'queryNum': 110, 'questionId': 313213, 'variantId': 3902466, 'rawQueryContent': 'select *\nfrom Employee\nwhere empID in\n(select empID\nfrom Department natural join Employee, Salary_Grade s\nwhere (Employee.salary between s.minSalary and s.maxSalary) and (s.grade in (12,13)) and (Department.deptLocation="London"))', 'parsedRemovedQuery': 'select *\nfrom Employee\nwhere empID in\n(select empID\nfrom Department natural join Employee, Salary_Grade s\nwhere (Employee.salary between s.minSalary and s.maxSalary) and (s.grade in (12,13)) and (Department.deptLocation="London"))'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea2'), 'queryNum': 111, 'questionId': 30765, 'variantId': 3902466, 'rawQueryContent': 'SELECT emp.*\nFROM Employee emp, Department d, Salary_Grade s\nWHERE emp.deptID=d.deptID AND s.grade IN (12,13) and d.deptLocation = "London" AND salary<=maxSalary AND salary>=minSalary', 'parsedRemovedQuery': 'SELECT *\nFROM Employee, Department, Salary_Grade\nWHERE deptID=deptID AND grade IN (12,13) and deptLocation = "London" AND salary<=maxSalary AND salary>=minSalary'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea3'), 'queryNum': 112, 'questionId': 6575, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n    FROM Employee e, Salary_Grade s\n    WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n    AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\n    FROM Department d\n    WHERE d.deptLocation = "London");', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n    FROM Employee e, Salary_Grade s\n    WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n    AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\n    FROM Department d\n    WHERE d.deptLocation = "London");'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea4'), 'queryNum': 113, 'questionId': 5256, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE\n    deptID = (SELECT deptID\n              FROM Department\n              WHERE deptLocation = "London")', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE\n    deptID = (SELECT deptID\n              FROM Department\n              WHERE deptLocation = "London")'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea5'), 'queryNum': 114, 'questionId': 33116, 'variantId': 3902466, 'rawQueryContent': "SELECT Employee.*\nFROM (SELECT * \n      FROM Employee\n      WHERE Employee.deptID in (SELECT Department.deptID FROM Department WHERE Department.deptLocation = 'London')) as Employee, Salary_Grade\nWHERE \n    (Employee.salary >= Salary_Grade.minSalary and Employee.salary <= Salary_Grade.maxSalary and (Salary_Grade.grade = 12 or Salary_Grade.grade = 13))\n", 'parsedRemovedQuery': "SELECT Employee.*\nFROM (SELECT * \n      FROM Employee\n      WHERE Employee.deptID in (SELECT Department.deptID FROM Department WHERE Department.deptLocation = 'London')) as Employee, Salary_Grade\nWHERE \n    (Employee.salary >= Salary_Grade.minSalary and Employee.salary <= Salary_Grade.maxSalary and (Salary_Grade.grade = 12 or Salary_Grade.grade = 13))\n"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea6'), 'queryNum': 115, 'questionId': 5493, 'variantId': 3902466, 'rawQueryContent': "SELECT *\nFROM Employee\nWHERE deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London') AND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade where grade = 13);\n", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London') AND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade where grade = 13);\n"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea7'), 'queryNum': 116, 'questionId': 5308, 'variantId': 3902466, 'rawQueryContent': "SELECT *\nFROM Employee\nWHERE Employee.Salary >\n       (SELECT Salary_Grade.minSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 12) AND\n       Employee.Salary <\n       (SELECT Salary_Grade.maxSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 13) AND\n       'London' =\n       (SELECT Department.deptLocation\n        FROM Department\n        WHERE Department.deptID = Employee.deptID)", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE Employee.Salary >\n       (SELECT Salary_Grade.minSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 12) AND\n       Employee.Salary <\n       (SELECT Salary_Grade.maxSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 13) AND\n       'London' =\n       (SELECT Department.deptLocation\n        FROM Department\n        WHERE Department.deptID = Employee.deptID)"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea8'), 'queryNum': 117, 'questionId': 36050, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee \n\n    WHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");', 'parsedRemovedQuery': 'SELECT *\nFROM Employee \n\n    WHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ea9'), 'queryNum': 118, 'questionId': 5283, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT ee.empID FROM Employee ee Join Salary_Grade sg ON (sg.grade = 12 OR sg.grade = 13) AND ee.salary Between sg.minSalary and sg.maxSalary) and deptID in (SElECT deptID from Department Where deptLocation = "London")', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT ee.empID FROM Employee ee Join Salary_Grade sg ON (sg.grade = 12 OR sg.grade = 13) AND ee.salary Between sg.minSalary and sg.maxSalary) and deptID in (SElECT deptID from Department Where deptLocation = "London")'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eaa'), 'queryNum': 119, 'questionId': 5669, 'variantId': 3902466, 'rawQueryContent': "select empID, empName, jobTitle, managerID, hireDate,salary, comission, emp.deptID from (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade where deptLocation = 'London' and (grade = 12 or grade = 13) and (salary >= minSalary and salary <= maxSalary);\n\n\n", 'parsedRemovedQuery': "select empID, empName, jobTitle, managerID, hireDate,salary, comission, emp.deptID from (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade where deptLocation = 'London' and (grade = 12 or grade = 13) and (salary >= minSalary and salary <= maxSalary);\n\n\n"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eab'), 'queryNum': 120, 'questionId': 32807, 'variantId': 3902466, 'rawQueryContent': 'SELECT e.empID, e.empName, e.jobTitle, e.managerID, e.hireDate, e.salary, e.comission, e.deptID\nFROM Employee e JOIN Department d ON (e.deptID = d.deptID)\nWHERE\n    d.deptLocation = "London"\n\n    AND e.salary >= (\n    SELECT minSalary\n    FROM Salary_Grade\n    WHERE grade = 12\n)\n\n    AND e.salary <= (\n    SELECT maxSalary\n    FROM Salary_Grade\n    WHERE grade = 13\n)', 'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee JOIN Department ON (deptID = deptID)\nWHERE\n    deptLocation = "London"\n\n    AND salary >= (\n    SELECT minSalary\n    FROM Salary_Grade\n    WHERE grade = 12\n)\n\n    AND salary <= (\n    SELECT maxSalary\n    FROM Salary_Grade\n    WHERE grade = 13\n)'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eac'), 'queryNum': 121, 'questionId': 5092, 'variantId': 3902466, 'rawQueryContent': 'SELECT DISTINCT e.empID, e.empName, e.jobTitle, e.managerID, e.hireDate, e.salary, e.comission, e.deptID\nFROM Salary_Grade s, Department d, Employee e\nWHERE s.grade IN (12,13) AND (e.salary BETWEEN s.minSalary AND s.maxSalary) AND e.deptID IN (SELECT d.deptID FROM Department d WHERE d.deptLocation="London")', 'parsedRemovedQuery': 'SELECT DISTINCT e.empID, e.empName, e.jobTitle, e.managerID, e.hireDate, e.salary, e.comission, e.deptID\nFROM Salary_Grade s, Department d, Employee e\nWHERE s.grade IN (12,13) AND (e.salary BETWEEN s.minSalary AND s.maxSalary) AND e.deptID IN (SELECT d.deptID FROM Department d WHERE d.deptLocation="London")'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9ead'), 'queryNum': 122, 'questionId': 126556, 'variantId': 3902466, 'rawQueryContent': 'SELECT e.*\nFROM Employee e, Salary_Grade s, Department d\nWHERE ((s.grade = 12 AND e.salary > s.minSalary AND e.salary < s.maxSalary) OR (s.grade = 13 AND e.salary > s.minSalary AND e.salary < s.maxSalary)) AND e.deptID = d.deptID AND deptLocation = "London"', 'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade, Department\nWHERE ((grade = 12 AND salary > minSalary AND salary < maxSalary) OR (grade = 13 AND salary > minSalary AND salary < maxSalary)) AND deptID = deptID AND deptLocation = "London"'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eae'), 'queryNum': 123, 'questionId': 313637, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee em\nWHERE em.empID IN (SELECT e.empID\nFROM Employee e NATURAL JOIN Department d, Salary_Grade sg\nWHERE d.deptLocation = "London" AND sg.grade in (12, 13) AND e.salary BETWEEN sg.minSalary AND sg.maxSalary)', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e NATURAL JOIN Department d, Salary_Grade sg\nWHERE d.deptLocation = "London" AND sg.grade in (12, 13) AND e.salary BETWEEN sg.minSalary AND sg.maxSalary)'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eaf'), 'queryNum': 124, 'questionId': 35116, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE empName = ANY(SELECT empName\nFROM Department LEFT OUTER JOIN Employee on Department.deptID = Employee.deptID\nWHERE deptLocation = "London")\n\n', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empName = ANY(SELECT empName\nFROM Department LEFT OUTER JOIN Employee on Department.deptID = Employee.deptID\nWHERE deptLocation = "London")\n\n'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb0'), 'queryNum': 125, 'questionId': 37517, 'variantId': 3902466, 'rawQueryContent': "select DISTINCT empID, empName, jobTitle, managerID, hireDate, salary, comission, Employee.deptID\nfrom Employee, Salary_Grade, Department\nwhere (grade = 13 or grade = 12) AND Employee.deptID = Department.deptID AND deptLocation = 'London';", 'parsedRemovedQuery': "select DISTINCT empID, empName, jobTitle, managerID, hireDate, salary, comission, Employee.deptID\nfrom Employee, Salary_Grade, Department\nwhere (grade = 13 or grade = 12) AND Employee.deptID = Department.deptID AND deptLocation = 'London';"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb1'), 'queryNum': 126, 'questionId': 30481, 'variantId': 3902466, 'rawQueryContent': "SELECT E.*\nFROM Employee E\nLEFT OUTER JOIN Salary_Grade S ON E.salary BETWEEN S.minSalary AND S.maxSalary\nLEFT OUTER JOIN Department D ON E.deptID = D.deptID\nWHERE S.grade IN (12, 13)\n    AND D.deptLocation LIKE 'LONDON'\nORDER BY E.empId", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nLEFT OUTER JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary\nLEFT OUTER JOIN Department ON deptID = deptID\nWHERE grade IN (12, 13)\n    AND deptLocation LIKE 'LONDON'\nORDER BY empId"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb2'), 'queryNum': 127, 'questionId': 36594, 'variantId': 3902466, 'rawQueryContent': "SELECT *\nFROM Employee\nWHERE salary BETWEEN (SELECT minSalary FROM Salary_Grade WHERE grade = 12)\n             AND\n             (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)\n      AND deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London')", 'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE salary BETWEEN (SELECT minSalary FROM Salary_Grade WHERE grade = 12)\n             AND\n             (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)\n      AND deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London')"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb3'), 'queryNum': 128, 'questionId': 5791, 'variantId': 3902466, 'rawQueryContent': 'select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom (Department natural join Employee) join Salary_Grade\non salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = "London"', 'parsedRemovedQuery': 'select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom (Department natural join Employee) join Salary_Grade\non salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = "London"'}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb4'), 'queryNum': 129, 'questionId': 331540, 'variantId': 3902466, 'rawQueryContent': "Select *\nfrom Employee\nwhere empName IN\n(\nSelect empName\nfrom Employee,Department,Salary_Grade\nwhere Employee.deptID = Department.deptID and (salary >= minSalary and salary <= maxSalary) and grade IN (12,13) and deptLocation LIKE 'London'\n)\n\n", 'parsedRemovedQuery': "Select *\nfrom Employee\nwhere empName IN\n(\nSelect empName\nfrom Employee,Department,Salary_Grade\nwhere Employee.deptID = Department.deptID and (salary >= minSalary and salary <= maxSalary) and grade IN (12,13) and deptLocation LIKE 'London'\n)\n\n"}
{'_id': ObjectId('5eaf1ff2334f483dd6bb9eb5'), 'queryNum': 130, 'questionId': 10556, 'variantId': 3902466, 'rawQueryContent': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n                FROM Employee e, Salary_Grade s\n                WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n                        AND s.grade IN (12,13))\n                        AND deptID IN (SELECT d.deptID\n                                       FROM Department d\n                                       WHERE d.deptLocation = "London");', 'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n                FROM Employee e, Salary_Grade s\n                WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n                        AND s.grade IN (12,13))\n                        AND deptID IN (SELECT d.deptID\n                                       FROM Department d\n                                       WHERE d.deptLocation = "London");'}

In [10]:
for i in mongo.read_queries({}):
    print(i)

In [47]:
def parse_remove(queries):
    for query in queries:
        content = query[1]
        parsed = sqlparse.parse(query[1])
        
        prev_keyword = ""
        for tok in parsed[0].tokens:
            if(str(tok.ttype) == "Token.Keyword"):
                prev_keyword = tok.value.lower()
            if(type(tok) == sqlparse.sql.Identifier) and (prev_keyword == "from" or "join" in prev_keyword):
                # Process tok.value
                # The order of Department vs. Employee shouldn't matter
                alias = tok.value.split(" ")
                print(alias)
                if(len(alias) > 1 and (alias[-1].lower != "asc" or alias[-1].lower != "desc")):
                    content = content.replace(" " + alias[-1] + " ", " ")
                    content = content.replace(" as " + alias[-1] + " ", " ")
                    content = content.replace(" as " + alias[-1] + "\n", "\n")
                    content = content.replace(" " + alias[-1] + "\n", "\n")
                    content = content.replace(alias[-1] + ".", "")

            if(type(tok) == sqlparse.sql.IdentifierList):
                # use regex to make sure is alias one
                if re.match(r'[a-zA-Z ]+ [a-zA-Z ]+,*', tok.value) or re.match(r'[a-zA-Z .]+ as [a-zA-Z ]+,*', tok.value):
                    
                    sets = tok.value.split(",")
                    for s in sets:
                        alias = s.strip().split(" ")
                        print(alias)
                        if(len(alias) > 1 and (alias[-1].lower() != "asc" and alias[-1].lower() != "desc" and "." not in alias[-1])):
                            if len(alias) == 2:
                                content = content.replace(" " + alias[-1] + ",", ",")
                                content = content.replace(" " + alias[-1] + "\n", "\n")
                                content = content.replace(alias[-1] + ".", "")
                            else:
                                as_flag = False
                                for i in alias:
                                    if as_flag:
                                        # this is an alias
                                        content = content.replace(" as " + i + ",", ",")
                                        content = content.replace(" as " + i + " ", " ")
                                        content = content.replace(" as " + i + "\n", "\n")
                                        content = content.replace(i + ".", "")
                                        as_flag = False
                                    if i == "as":
                                        as_flag = True
        mongo.update_one_query(({'queryNum': query[0][0]}, {'parsedRemovedQuery': content}))

        print("==============")

In [48]:
parse_remove(queries.items())

['Employee', 'e']
['Department', 'd']
({'queryNum': 1}, {'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee natural join Department\nwhere (deptLocation = 'Dubai' or deptName = 'Sales') and\n        (annualSalary >= 7000 and annualSalary <= 100000) and\n        (empName like '_a%' or empName like '_i%')\norder by empName asc, deptName desc"})
Query 5eaf1fef334f483dd6bb9e34 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 2}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee join Department on deptID = deptID \nWHERE ((deptLocation = 'Dubai') OR (deptName = 'Sales')) AND (annualSalary >= 84000 AND annualSalary <= 120000) AND ((empName LIKE '_A%' )OR (empName LIKE '_I%'))\nORDER BY empName,  deptName DESC\n\n"})
Query 5eaf1fef334f483dd6bb9e35 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 3}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND annualSalary >= 84000 AND annualSalary <= 120000 AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC;"})
Query 5eaf1fef334f483dd6bb9e36 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 4}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE deptID = deptID and (deptLocation = 'Dubai' or deptName = 'Sales') and \n(annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)"})
Query 5eaf1fef334f483dd6bb9e37 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 5}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee, Department\nWHERE (deptID = deptID) AND (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_i%' OR empName LIKE '_a%')\nORDER BY empName, deptName DESC"})
Query 5eaf1fef334f483dd6bb9e38 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 6}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department JOIN Employee ON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary)/12 >= 7000 AND (annualSalary)/12 <=10000 AND (empName LIKE '_a%' OR empName LIKE '_i%')\nORDER BY empName, deptName DESC;"})
Query 5eaf1fef334f483dd6bb9e39 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 7}, {'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee join Department\non deptID = deptID\nwhere deptLocation = 'Dubai' \nor deptName = 'Sales' \nand ((annualSalary / 12) >= 7000 and (annualSalary / 12) <= 10000)\nand (empName like '_A%' or empName like '_I%')\norder by empName asc, deptName desc"})
Query 5eaf1fef334f483dd6bb9e3a has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 8}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department JOIN Employee ON deptID = deptID\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (\nannualSalary <= 100000 AND annualSalary >= 70000) AND (\nempName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName ASC, deptName DESC\n'})
Query 5eaf1fef334f483dd6bb9e3b has been updated
==============
['e.empName', 'as', 'Name']
['e.annualSalary', 'as', 'Salary']
['d.deptName']
['d.deptLocation']
['e.jobTitle']
['Employee', 'as', 'e']
['Department', 'as', 'd']
({'queryNum': 9}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nINNER JOIN Department\nON deptID = deptID\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary/12 <= 10000 AND annualSalary/12 >= 7000) AND (empName LIKE "_A%" OR empName LIKE "_I%")\nORDER BY deptName DESC'})
Query 5eaf1fef334f483dd6bb9e3c has been updated
==============
['Department', 'Dept']
['Employee', 'Emp']
({'queryNum': 10}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department NATURAL JOIN Employee\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND \n        (annualSalary >= 12 * 7000 AND annualSalary <= 12 * 10000) AND \n        (empName LIKE \'_A%\' OR empName LIKE \'_I%\')\nORDER BY empName, deptName DESC'})
Query 5eaf1fef334f483dd6bb9e3d has been updated
==============
['Employee']
['Department']
({'queryNum': 11}, {'parsedRemovedQuery': "SELECT Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (Department.deptLocation = 'Dubai' OR Department.deptName = 'Sales')\nAND (Employee.annualSalary/12 >= 7000 AND Employee.annualSalary/12 <= 10000)\nAND (SUBSTR(Employee.empName, 2, 1) = 'A'  OR SUBSTR(Employee.empName, 2, 1) = 'I')"})
Query 5eaf1fef334f483dd6bb9e3e has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 12}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department INNER JOIN Employee on deptID = deptID\nWHERE (deptLocation = \'Dubai\' OR deptName = \'Sales\') AND (annualSalary >= 84000 AND annualSalary <= 120000) AND (empName LIKE "_A%" OR empName LIKE "_I%")'})
Query 5eaf1fef334f483dd6bb9e3f has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 13}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nJOIN Department ON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary >= 7000 OR annualSalary <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName ASC, deptName DESC\n;"})
Query 5eaf1fef334f483dd6bb9e40 has been updated
==============
['Department', 'D']
['Employee', 'E']
({'queryNum': 14}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle \nFROM Department join Employee\non deptID = deptID\nwhere (deptLocation = "Dubai" or deptName= "sales")\nand ((annualSalary/12) >= 7000 and (annualSalary/12) <= 10000) \n-- and (empName like \'_a%\' or \'_i%\')\norder by empName, deptName DESC'})
Query 5eaf1fef334f483dd6bb9e41 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 15}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary/12 >= 7000 AND annualSalary/12 <=10000) AND (empName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName, deptName DESC'})
Query 5eaf1fef334f483dd6bb9e42 has been updated
==============
({'queryNum': 16}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE deptName = "Sales" AND annualSalary/12 >= 7000 AND annualSalary/12 <= 10000 AND (empName LIKE "_A%" OR empName LIKE "_I%")\nAND jobTitle LIKE "Sales%"\nORDER BY empName, deptName DESC'})
Query 5eaf1fef334f483dd6bb9e43 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 17}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC;"})
Query 5eaf1fef334f483dd6bb9e44 has been updated
==============
['Employee', 'AS', 'E']
['Department', 'AS', 'D']
({'queryNum': 18}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle FROM Employee AS\nJOIN Department AS ON deptID = deptId\nWHERE\n    (deptLocation = "Dubai" OR deptName = "Sales") AND\n    (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND\n    (empName LIKE "_A%" OR empName LIKE "_I%")\nORDER BY empName, deptName DESC'})
Query 5eaf1fef334f483dd6bb9e45 has been updated
==============
['Employee']
['Department']
['empName', 'ASC']
['deptName', 'DESC']
({'queryNum': 19}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR (deptName = 'Sales' AND annualSalary >= 84000 AND annualSalary <= 120000)) AND (empName LIKE '_I%' OR empName LIKE '_A%') \nORDER BY empName ASC, deptName DESC;"})
Query 5eaf1fef334f483dd6bb9e46 has been updated
==============
({'queryNum': 20}, {'parsedRemovedQuery': 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM (Employee e) NATURAL JOIN (Department d)\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")\nORDER BY e.empName, d.deptName DESC'})
Query 5eaf1fef334f483dd6bb9e47 has been updated
==============
['Department', 'dep']
['Employee', 'emp']
({'queryNum': 21}, {'parsedRemovedQuery': 'Select empName, annualSalary, deptName, deptLocation, jobTitle\nFrom Department Natural Join Employee\nWHERE (deptLocation = "Dubai" OR deptName = "Sales") AND (annualSalary / 12 >= 7000 AND annualSalary/12 <= 10000) AND (empName LIKE \'_a%\' OR empName LIKE \'_i%\')'})

Query 5eaf1fef334f483dd6bb9e48 has been updated
==============
['Employee']
['Department']
({'queryNum': 22}, {'parsedRemovedQuery': "select Employee.empName, Employee.annualSalary, Department.deptName,Department.deptLocation, Employee.jobTitle\nfrom Employee natural join Department\nwhere (Department.deptLocation = 'Dubai' or deptName = 'Sales') and Employee.annualSalary/12>=7000 and Employee.annualSalary/12<= 10000 and (Employee.empName like '_A%' or Employee.empName like '_I%')\norder by Employee.empName, Department.deptName desc"})
Query 5eaf1fef334f483dd6bb9e49 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 23}, {'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee join Department on deptID = deptID\nwhere (deptLocation = 'Dubai' or deptName = 'Sales') and ((annualSalary/12)>= 7000 and (annualSalary/12) <= 10000) and (empName LIKE '_A%' or empName LIKE '_I%')\norder by empName, deptName desc"})
Query 5eaf1fef334f483dd6bb9e4a has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 24}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee JOIN Department ON deptID = deptID \nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary / 12 >= 7000 AND annualSalary / 12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC"})
Query 5eaf1fef334f483dd6bb9e4b has been updated
==============
({'queryNum': 25}, {'parsedRemovedQuery': "SELECT E1.empName, E1.annualSalary, D1.deptName, D1.deptLocation, E1.jobTitle\nFROM (Employee E1 INNER JOIN Department D1 ON D1.deptID = E1.DeptID)\nWHERE (D1.deptLocation = 'Dubai' OR D1.deptName = 'Sales') AND (E1.annualSalary/12 >= 7000 AND E1.annualSalary/12 <= 10000) AND (E1.empName LIKE '_A%' OR E1.empName LIKE '_I%')\nORDER BY E1.empName, D1.deptName DESC"})
Query 5eaf1ff0334f483dd6bb9e4c has been updated
==============
({'queryNum': 26}, {'parsedRemovedQuery': 'Select Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle\nFrom Department, Employee\nWhere Employee.deptID = Department.deptID AND Employee.annualSalary>= 94000 AND Employee.annualSalary<= 120000 AND ((Employee.empname LIKE \'_a%\') OR (Employee.empname LIKE \'_i%\')) AND ((Department.deptlocation = "Dubai") OR (Department.deptName = "Sales"))\nOrder by Employee.empname, Department.deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e4d has been updated
==============
({'queryNum': 27}, {'parsedRemovedQuery': "SELECt Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle\nFROM Employee, Department\nWHERE (Employee.deptID = Department.deptID) AND (Department.deptLocation = 'Dubai' OR Department.deptName = 'Sales') AND (Employee.annualSalary/12 <= 10000.0 && Employee.annualSalary/12 >= 7000.0) AND (Employee.empName LIKE '_a%' OR Employee.empName LIKE '_i%')"})
Query 5eaf1ff0334f483dd6bb9e4e has been updated
==============
['empName', 'ASC']
['deptName', 'DESC']
({'queryNum': 28}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department, Employee\nWHERE (deptName = "Sales") AND (annualSalary/12 BETWEEN 7000 AND 10000) AND (empName LIKE \'_A%\' OR empName LIKE \'_I%\') AND jobTitle LIKE "Sales%"\nORDER BY empName ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e4f has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 29}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee INNER JOIN Department ON deptID = deptId\nWHERE ((deptLocation LIKE "Dubai" OR deptName LIKE "Sales") AND (annualSalary/12 BETWEEN 7000 AND 10000)) AND (empName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e50 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 30}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE \n    (deptLocation = 'Dubai' OR deptName = 'Sales') AND \n    ((annualSalary / 12 >= 7000) AND (annualSalary / 12 <= 10000)) AND \n    (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName, deptName DESC;"})
Query 5eaf1ff0334f483dd6bb9e51 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 31}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee, Department\nWHERE deptId = deptId AND (deptLocation = "Dubai" OR deptName = "Sales")\n    AND (annualSalary/12 >= 7000 AND annualSalary/12 <=10000) \n    AND (empName LIKE \'_A%\' OR empName LIKE \'_I%\')'})
Query 5eaf1ff0334f483dd6bb9e52 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 32}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee, Department\nWHERE (deptID = deptID) AND (deptLocation = \'DUBAI\' OR deptName = \'SALES\') AND (annualSalary/12 BETWEEN 7000 AND 10000) AND (empName LIKE "_A%" OR empName LIKE "_I%")'})
Query 5eaf1ff0334f483dd6bb9e53 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 33}, {'parsedRemovedQuery': "select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee natural join Department\nwhere (deptLocation='Dubai' or deptName='Sales')\nand (annualSalary/12 >= 7000 or annualSalary <= 10000)\nand (empName like '%a%' or empName like '%i%')"})
Query 5eaf1ff0334f483dd6bb9e54 has been updated
==============
['Employee']
['Department']
['empName', 'ASC']
['deptName', 'DESC']
({'queryNum': 34}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND annualSalary >= 7000 AND annualSalary <= 100000 AND empName LIKE '_i%'\nORDER BY empName ASC, deptName DESC"})
Query 5eaf1ff0334f483dd6bb9e55 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 35}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nNATURAL JOIN Department\nWHERE (deptLocation LIKE "Dubai" OR deptName LIKE "Sales") AND\n    (annualSalary >= 7000*12 AND annualSalary <= 10000*12) AND\n    (empName LIKE "_A%" OR empName LIKE "_I%" OR empName LIKE "_a%" OR empName LIKE "_i%")\nORDER BY empName, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e56 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 36}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\n    JOIN Department ON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND\n      ((annualSalary / 12) >= 7000 AND (annualSalary / 12) <= 10000) AND\n      (empName LIKE '_A%' OR empName LIKE '_I%' OR empName LIKE '_a%' OR empName LIKE '_i%')"})
Query 5eaf1ff0334f483dd6bb9e57 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 37}, {'parsedRemovedQuery': 'select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee inner join Department on deptId = deptId\nwhere (deptLocation = "Dubai" or deptName = "Sales") and \n((annualSalary / 12) <= 10000 or (annualSalary / 12) >= 7000) and\n(empName like "_A%" or empName like "_I%")'})
Query 5eaf1ff0334f483dd6bb9e58 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 38}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee NATURAL JOIN Department\nWHERE (deptLocation = \'Dubai\' OR deptName = \'Sales\') AND (annualSalary/12 >= 7000 AND annualSalary/12 <= 10000) AND (empName LIKE "_A%" OR empName LIKE "_I%")\nORDER BY empName, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e59 has been updated
==============
['Employee']
['Department']
({'queryNum': 39}, {'parsedRemovedQuery': 'select empName, annualSalary, deptName, deptLocation, jobTitle\nfrom Employee natural join Department\nwhere (deptLocation = "Dubai" or deptName = "Sales")\n    and (annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)\n    and (empName like "_A%" or empName like "_I%")\norder by empName, deptName desc'})
Query 5eaf1ff0334f483dd6bb9e5a has been updated
==============
['Employee']
['Department']
({'queryNum': 40}, {'parsedRemovedQuery': "SELECT Employee.empName, Employee.annualSalary, Department.deptName, Department.deptLocation, Employee.jobTitle \nFROM Employee\nINNER JOIN Department on Employee.deptId = Department.deptId\nWHERE (Department.deptLocation = 'Dubai' OR Department.deptName = 'Sales') AND (Employee.empName LIKE '_I%' OR Employee.empName LIKE '_A%')\nGROUP BY Employee.empId\nORDER BY Employee.empName ASC, Department.deptName DESC;"})
Query 5eaf1ff0334f483dd6bb9e5b has been updated
==============
['Employee', 'as', 'e']
['Department', 'as', 'd']
({'queryNum': 41}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nJOIN Department\nON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary/12 >= 7000 AND annualSalary/12 <= 10000) AND (empName LIKE '_A%' OR empName LIKE '_I%')\nORDER BY empName ASC, deptName DESC"})

Query 5eaf1ff0334f483dd6bb9e5c has been updated
==============
['Employee', 'E']
['Department', 'D']
['Salary_Grade', 'S']
({'queryNum': 42}, {'parsedRemovedQuery': "Select empName,annualSalary,deptName,deptLocation,jobTitle\nfrom Employee,Department,Salary_Grade\nwhere deptID=deptID and annualSalary >= minAnnualSalary and annualSalary <= maxAnnualSalary and\n(deptLocation LIKE 'Dubai' OR deptName LIKE 'Sales') and \n(annualSalary/12 >= 7000 and annualSalary/12 <= 10000) and\n(empName LIKE '_A%' OR empName LIKE '_I%')\norder by empName,deptName DESC"})
Query 5eaf1ff0334f483dd6bb9e5d has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 43}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle \nFROM Employee, Department\nWHERE deptId = deptId \n    AND (deptLocation = "Dubai" OR deptName = "Sales")\n    AND ((empName LIKE "_a%") OR (empName LIKE "_i%"));\n    '})
Query 5eaf1ff0334f483dd6bb9e5e has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 44}, {'parsedRemovedQuery': 'SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee, Department\nWHERE ((deptName = "Sales" AND jobTitle LIKE \'%Sales%\')) AND (annualSalary/12 >= 7000 AND annualSalary/12 <= 10000) AND (empName LIKE \'_A%\' OR empName LIKE \'_I%\') AND annualSalary IN (SELECT e2.annualSalary FROM Employee e2, Salary_Grade s WHERE e2.annualSalary >= s.minAnnualSalary AND e2.annualSalary <= s.maxAnnualSalary)\nORDER BY empName, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e5f has been updated
==============
['Employee', 'emp']
['Department', 'dept']
({'queryNum': 45}, {'parsedRemovedQuery': "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Employee\nJOIN Department\nON deptID = deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') \nAND (annualSalary >= 84000 AND annualSalary\t<= 120000) \nAND (empName LIKE '_A%' OR empName LIKE '_I%')"})
Query 5eaf1ff0334f483dd6bb9e60 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 46}, {'parsedRemovedQuery': 'SELECT empName, annualSalary/12 as monthlySalary, deptName, hireDate\nFROM Employee JOIN Department ON deptID = deptID\nWHERE hireDate IN (SELECT MAX(hireDate) FROM Employee where deptID=deptID) AND\nannualSalary >=(SELECT minAnnualSalary FROM Salary_Grade WHERE grade =12) AND annualSalary <=(SELECT maxAnnualSalary FROM Salary_Grade WHERE grade =12)\nORDER BY empName, monthlySalary DESC'})
Query 5eaf1ff0334f483dd6bb9e61 has been updated
==============
['Department', 'd']
['Employee', 'e']
['empCnt', 'ASC']
['d.deptName', 'DESC']
({'queryNum': 47}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(deptID) as empCnt\nFROM Department LEFT OUTER JOIN Employee on deptID = deptID \nGROUP BY deptID\nORDER BY empCnt ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e62 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 48}, {'parsedRemovedQuery': 'Select deptName, deptLocation, Count(empID) as empCNT\nfrom Department Left outer join Employee On (deptID = deptID)\ngroup by  deptID\norder by empCNT, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e63 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 49}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) as empCnt\nFROM Department LEFT JOIN Employee ON (deptID = deptID)\nGROUP BY deptID\nORDER BY empCnt, deptName DESC;'})
Query 5eaf1ff0334f483dd6bb9e64 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 50}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(DISTINCT(empID))\nFROM Employee RIGHT OUTER JOIN Department ON deptID = deptID\nGROUP BY deptID\nORDER BY COUNT(DISTINCT(empID)), deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e65 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 51}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) as empCNT\nFROM Department \nLEFT OUTER JOIN Employee ON deptID = deptID\nGROUP BY deptId\nORDER BY empCNT, deptName DESC;'})
Query 5eaf1ff0334f483dd6bb9e66 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 52}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID)\nFROM Department\nLEFT OUTER JOIN Employee\nON deptID = deptID\nGROUP BY deptName, deptLocation\nORDER BY COUNT(empID), deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e67 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 53}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(deptID)\nFROM Department LEFT OUTER JOIN Employee ON deptID = deptID\nGROUP BY deptName, deptLocation, deptID\nORDER BY COUNT(deptID), deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e68 has been updated
==============
['Department']
['Employee']
({'queryNum': 54}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, count(empID) as total_employee\nFROM Department LEFT JOIN Employee ON Department.deptID = Employee.deptID\nGROUP BY Department.deptID\nORDER BY total_employee ASC, deptName DESC;'})
Query 5eaf1ff0334f483dd6bb9e69 has been updated
==============
['Department', 'd']
['Employee', 'e']
['numEmployees', 'ASC']
['d.deptName', 'DESC']
({'queryNum': 55}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) AS numEmployees\nFROM Department\nLEFT OUTER JOIN Employee\nON deptID = deptID\nGROUP BY deptID\nORDER BY numEmployees ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6a has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 56}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) as empCnt\nFROM Department LEFT OUTER JOIN Employee ON (deptID = deptID)\nGROUP BY deptName, deptLocation\nORDER BY empCnt, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6b has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 57}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, count(empID)\nFROM Employee RIGHT JOIN Department\n        on deptID = deptID \nGROUP BY deptID\nORDER BY count(empID) ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6c has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 58}, {'parsedRemovedQuery': 'SELECT deptName,  deptLocation, COUNT(empID) as empIDCount\nFrom Department LEFT Outer Join Employee ON (deptID = deptID)\nGROUP BY deptID\nORDER BY empIDCount, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6d has been updated
==============
['Department', 'd']
['Employee', 'e']
['empCount', 'ASC']
['deptName', 'DESC']
({'queryNum': 59}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) AS empCount\nFROM Department LEFT OUTER JOIN Employee ON (deptID = deptID)\nGROUP BY deptID \nORDER BY empCount ASC, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6e has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 60}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) AS cnt\nFROM Department LEFT OUTER JOIN Employee ON deptID = deptID\nGROUP BY deptID\nORDER BY cnt, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e6f has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 61}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, count(empID) AS "count"\nFROM Department LEFT OUTER JOIN Employee ON (deptID = deptID)\nGROUP BY deptID\nORDER BY count, deptName DESC'})
Query 5eaf1ff0334f483dd6bb9e70 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 62}, {'parsedRemovedQuery': 'Select deptName,deptLocation,count(empID) AS num_employees\nfrom Employee RIGHT JOIN Department ON deptID = deptID \ngroup by deptName,deptLocation\norder by num_employees,deptName DESC\n'})
Query 5eaf1ff0334f483dd6bb9e71 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 63}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID) AS empCnt\nFROM Department LEFT OUTER JOIN Employee ON (deptID = deptID)\nGROUP BY deptID\nORDER BY empCnt, deptName DESC;'})
Query 5eaf1ff1334f483dd6bb9e72 has been updated
==============
['Employee']
['Salary_Grade']
['Department']
({'queryNum': 64}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12, Employee.deptID, deptName, grade\nFROM Employee JOIN Salary_Grade \n    ON Employee.salary > Salary_Grade.minSalary AND Employee.salary <= Salary_Grade.maxSalary \nJOIN Department ON Department.deptID = Employee.deptID\nWHERE salary/12 > 7000 OR jobTitle <> "IT Support"'})

Query 5eaf1ff1334f483dd6bb9e73 has been updated
==============
['Salary_Grade', 'sg']
({'queryNum': 65}, {'parsedRemovedQuery': 'select ee.empName, ee.jobTitle, ee.salary/12, ee.deptID, deptName, grade\nFROM (Employee ee JOIN Department de ON ee.deptID = de.deptID) JOIN Salary_Grade ON ee.salary BETWEEN minSalary AND maxSalary\nWHERE ee.salary/12 > 7000 OR NOT (ee.jobTitle = "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e74 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 66}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary / 12, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID\nAND salary >= minSalary AND salary <= maxSalary\nAND (salary/12 > 7000 OR empID NOT IN\n(SELECT empID\nFROM Employee\nWHERE jobTitle <> 'IT Support'))"})
Query 5eaf1ff1334f483dd6bb9e75 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 67}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary/12, deptID, deptName, grade\nFROM Employee NATURAL JOIN Department JOIN Salary_Grade ON (salary >= minSalary AND salary <= maxSalary)\nWHERE salary/12 > 7000 OR jobTitle <> 'IT Support'"})
Query 5eaf1ff1334f483dd6bb9e76 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 68}, {'parsedRemovedQuery': "Select empName, jobTitle, salary/12 as monthlySal, deptID, deptName, grade\nFrom Employee, Department, Salary_Grade\nWhere ((salary/12)>7000 OR jobTitle <> 'IT Support')\nAND deptID = deptID\nAND (salary between minsalary and maxsalary)\n\n"})
Query 5eaf1ff1334f483dd6bb9e77 has been updated
==============
['Department']
['Employee']
['Salary_Grade']
({'queryNum': 69}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary/12, deptID, deptName, grade\nFROM Department NATURAL JOIN Employee\nJOIN Salary_Grade\nON salary >= minSalary AND salary <= maxSalary\nWHERE salary > 7000 OR jobTitle NOT LIKE 'IT Support'"})
Query 5eaf1ff1334f483dd6bb9e78 has been updated
==============
['Employee']
({'queryNum': 70}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12, deptID, deptName, grade \nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE (salary > minSalary AND salary <= maxSalary) AND \n(salary/12 > 7000 OR jobTitle NOT LIKE "%IT Support%")\n\n'})
Query 5eaf1ff1334f483dd6bb9e79 has been updated
==============
['Department']
({'queryNum': 71}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12, deptID, deptName, grade\nFROM Department NATURAL JOIN Employee, Salary_Grade\nWHERE salary >= minSalary and salary <= maxSalary\nAND (salary/12 >= 7000 OR jobTitle <> "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e7a has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 72}, {'parsedRemovedQuery': "SELECT DISTINCT empName, jobTitle, (salary/12), deptID, deptName, grade\nFROM Employee NATURAL JOIN Department LEFT OUTER JOIN Salary_Grade ON ((salary >= minSalary) AND (salary <= maxSalary))\nWHERE (salary/12) > 7000 OR jobTitle <> 'IT Support'"})
Query 5eaf1ff1334f483dd6bb9e7b has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 73}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12.0 as MonthlySal, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE DeptID = deptID\nAND salary BETWEEN minSalary AND maxSalary AND (((salary/12.0)>7000) OR (jobTitle <> "IT Support"));'})
Query 5eaf1ff1334f483dd6bb9e7c has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 74}, {'parsedRemovedQuery': "select empName, jobTitle, (salary / 12) as monthlySalary, deptID, deptName, grade\nfrom Employee natural join Department\njoin Salary_Grade on salary >= minSalary and salary <= maxSalary\nwhere salary / 12 > 7000 or jobTitle != 'IT Support'"})
Query 5eaf1ff1334f483dd6bb9e7d has been updated
==============
['Salary_Grade']
({'queryNum': 75}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary / 12, deptID, deptName, grade\nFROM (Employee NATURAL JOIN Department), Salary_Grade\nWHERE salary >= minSalary AND salary <= maxSalary AND (salary > 7000 OR jobTitle != 'IT Support');"})
Query 5eaf1ff1334f483dd6bb9e7e has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 'g']
({'queryNum': 76}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12 AS monthly_salary, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE ((salary/12 > 7000) OR (deptName <> "IT Support")) AND (salary BETWEEN minSalary AND maxSalary ) AND (deptID = deptID)'})
Query 5eaf1ff1334f483dd6bb9e7f has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 77}, {'parsedRemovedQuery': 'select empName, jobTitle, salary/12, deptId, deptName, grade\nfrom Employee natural join Department, Salary_Grade\nwhere (salary/12>7000 or jobTitle<>"IT Support") and (salary between minSalary and maxSalary)'})
Query 5eaf1ff1334f483dd6bb9e80 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 78}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, (salary/12) as MonthlySal, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE deptID=deptID\nAND (salary>=minSalary AND salary<=maxSalary) \nAND (salary/12>7000 OR jobTitle<>"IT Support")'})
Query 5eaf1ff1334f483dd6bb9e81 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 79}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12.0 as MonthlySal, deptID, deptName,\ngrade\nFROM Employee, Department, Salary_Grade\nWHERE DeptID = deptID\nAND salary BETWEEN minSalary AND maxSalary\nAND (((salary/12.0)>7000) OR (jobTitle <> "IT Support"));'})
Query 5eaf1ff1334f483dd6bb9e82 has been updated
==============
['Salary_Grade']
({'queryNum': 80}, {'parsedRemovedQuery': 'select empName, jobTitle, salary/12, emp.deptID, deptName, grade\nfrom (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade\nwhere (salary > (7000/12) and salary >= minSalary and salary <= maxSalary) ;'})
Query 5eaf1ff1334f483dd6bb9e83 has been updated
==============
['Department']
['(SELECT', '*', 'FROM', 'Employee', 'JOIN', 'Salary_Grade', 'ON', 'salary', '>=', 'minSalary', 'AND', 'salary', '<=', 'maxSalary)', 'as', 'sal']
({'queryNum': 81}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12, deptID, deptName, grade\nFROM Department NATURAL JOIN (SELECT * FROM Employee JOIN Salary_Grade ON salary >= minSalary AND salary <= maxSalary)\nWHERE salary/12 > 7000;'})
Query 5eaf1ff1334f483dd6bb9e84 has been updated
==============
['Employee']
['Department']
['Salary_Grade']
({'queryNum': 82}, {'parsedRemovedQuery': "SELECT Employee.empName, Employee.jobTitle, Employee.salary/12, Department.deptID, Department.deptName, Salary_Grade.grade\nFROM Employee\nINNER JOIN Department ON Employee.deptID = Department.deptID\nCROSS JOIN Salary_Grade\nWHERE (Employee.salary >= Salary_Grade.minSalary AND Employee.salary <= Salary_Grade.maxSalary AND (Employee.salary/12 > 7000 OR Employee.jobTitle <> 'IT Support'))\n"})
Query 5eaf1ff1334f483dd6bb9e85 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 83}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12 as "Monthly Salary", deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID\n    AND salary between minSalary and maxSalary\n    AND (salary/12 > 7000 or jobTitle != "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e86 has been updated
==============
['Salary_Grade']
({'queryNum': 84}, {'parsedRemovedQuery': 'select empName, jobTitle, salary/12, emp.deptID, deptName, grade from (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade where (salary > (7000/12) and salary >= minSalary and salary <= maxSalary) ;\n'})
Query 5eaf1ff1334f483dd6bb9e87 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 'sg']
({'queryNum': 85}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary / 12, deptID, deptName, grade\nFROM Employee\n    JOIN Department ON deptID = deptID\n    JOIN Salary_Grade ON (salary >= minSalary) AND (salary <= maxSalary)\nWHERE (salary / 12 > 7000) OR (jobTitle <> "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e88 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 86}, {'parsedRemovedQuery': 'SELECT DISTINCT empName, jobTitle, salary/12 as MonthlySal, deptID, deptName, grade\nFROM Employee NATURAL JOIN Department JOIN Salary_Grade ON (salary <= maxSalary AND salary >= minSalary)\nWHERE jobTitle <> "IT Support" OR (salary/12) > 7000'})

Query 5eaf1ff1334f483dd6bb9e89 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 87}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12 AS MonthlySal, deptId, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE (deptId = deptId) AND (salary >= minSalary AND salary <= maxSalary) AND (salary/12 > 7000 OR jobTitle != "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e8a has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 'sg']
({'queryNum': 88}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12 AS MonthlySal, deptID, deptName, grade\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE (jobTitle <> "IT Support" OR (salary/12) > 7000) AND salary BETWEEN minSalary AND maxSalary'})
Query 5eaf1ff1334f483dd6bb9e8b has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
['Department', 'D']
({'queryNum': 89}, {'parsedRemovedQuery': "SELECT empName, jobTitle, (salary/12) as monthlySalary, deptID, deptName, grade\nFROM Employee\nLEFT OUTER JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary\nLEFT OUTER JOIN Department ON deptID = deptID\nWHERE salary/12 > 7000\n    OR jobTitle NOT LIKE 'IT Support'\nORDER BY grade, empName DESC"})
Query 5eaf1ff1334f483dd6bb9e8c has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
['Department', 'D']
({'queryNum': 90}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary / 12, deptID, deptName, grade\nFROM Employee \n     JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary\n     JOIN Department ON deptID = deptID\nWHERE deptID != 'IT Support' AND salary > 12 * 7000"})
Query 5eaf1ff1334f483dd6bb9e8d has been updated
==============
['Salary_Grade']
({'queryNum': 91}, {'parsedRemovedQuery': 'select empName, jobTitle, salary / 12 as MonthlySal, deptID, deptName, grade\nfrom (Department natural join Employee) join Salary_Grade\non salary >= minSalary and salary <= maxSalary\nwhere salary / 12 > 7000 or jobTitle <> "IT Support"'})
Query 5eaf1ff1334f483dd6bb9e8e has been updated
==============
['Employee']
({'queryNum': 92}, {'parsedRemovedQuery': 'Select DISTINCT empName,jobTitle,(salary/12),deptID,deptName,grade\nfrom Employee Natural Join Department,Salary_Grade\nwhere (salary>=minSalary and salary<=maxSalary ) and (salary > 7000 or jobTitle NOT LIKE "IT Support")\n\n'})
Query 5eaf1ff1334f483dd6bb9e8f has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 93}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12.0 as MonthlySal, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE DeptID = deptID\n    AND salary BETWEEN minSalary AND maxSalary\n    AND (((salary/12.0)>7000) OR (jobTitle <> "IT Support"));'})
Query 5eaf1ff1334f483dd6bb9e90 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 94}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary/12, deptID, deptName, grade\nFROm Employee, Department, Salary_Grade\nWHERE deptID = deptID AND salary >= minSalary AND salary <= maxSalary AND (salary/12 > 7000 OR jobTitle <> "IT Support")'})
Query 5eaf1ff1334f483dd6bb9e91 has been updated
==============
['Salary_Grade']
({'queryNum': 95}, {'parsedRemovedQuery': 'SELECT empName, jobTitle, salary / 12, deptID, deptName, grade\nFROM (Employee NATURAL JOIN Department) JOIN Salary_Grade \n        ON (Employee.salary >= Salary_Grade.minSalary AND Employee.salary <= Salary_Grade.maxSalary)\nWHERE salary / 12 > 7000 OR jobTitle <> "IT Support";'})
Query 5eaf1ff1334f483dd6bb9e92 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 96}, {'parsedRemovedQuery': "SELECT empName, jobTitle, salary/12.0 as MontlySal, deptID, deptName, grade\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID\n    AND salary BETWEEN minSalary AND maxSalary\n    AND (((salary/12.0) > 7000) OR (jobTitle <> 'IT Support'));"})
Query 5eaf1ff1334f483dd6bb9e93 has been updated
==============
['Employee']
({'queryNum': 97}, {'parsedRemovedQuery': "SELECT * FROM Employee WHERE deptID = (SELECT deptID FROM Department WHERE deptLocation = 'London')"})
Query 5eaf1ff1334f483dd6bb9e94 has been updated
==============
['Employee']
({'queryNum': 98}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE Employee.salary >\n(SELECT minSalary\nFROM Salary_Grade\nWHERE Salary_Grade.grade = 12) AND Employee.salary < (SELECT maxSalary\nFROM Salary_Grade\nWHERE Salary_Grade.grade = 13) AND Employee.deptID = (SELECT deptID FROM Department WHERE deptLocation = "London")'})
Query 5eaf1ff2334f483dd6bb9e95 has been updated
==============
['Employee', 'ee']
['Salary_Grade', 'sg']
({'queryNum': 99}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee JOIN Salary_Grade ON (grade = 13 OR grade = 12) AND \n     salary <= maxSalary AND salary >= minSalary\nWHERE deptID IN (SELECT de.deptID FROM Department de WHERE de.deptLocation = "LONDON")'})
Query 5eaf1ff2334f483dd6bb9e96 has been updated
==============
['Employee', 'e']
({'queryNum': 100}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE empID IN\n(SELECT empID\nFROM Employee e, Department d\nWHERE deptID = d.deptID\nAND d.deptLocation = 'London'\nAND empID IN\n(SELECT empID\nFROM Employee e, Salary_Grade s\nWHERE (salary BETWEEN s.minSalary AND s.maxSalary)\nAND s.grade IN (12, 13)))"})
Query 5eaf1ff2334f483dd6bb9e97 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 101}, {'parsedRemovedQuery': "SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department JOIN Salary_Grade ON (salary > minSalary AND salary < maxSalary)\nWHERE deptLocation = 'London' AND (grade = 12 OR grade = 13)"})
Query 5eaf1ff2334f483dd6bb9e98 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 102}, {'parsedRemovedQuery': "Select empID, empName, jobTitle,managerID, hireDate, salary, comission, deptID\nFrom Employee, Department, Salary_Grade\nWhere grade IN (12,13)\nAND salary Between minSalary And maxSalary\nAND deptID=deptID\nAND deptLocation = 'London'"})
Query 5eaf1ff2334f483dd6bb9e99 has been updated
==============
['Employee']
({'queryNum': 103}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE deptID = (SELECT deptID FROM Department WHERE deptLocation = 'London')\nAND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)"})
Query 5eaf1ff2334f483dd6bb9e9a has been updated
==============
['Employee']
({'queryNum': 104}, {'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE\n(Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary)\nAND (Salary_Grade.grade = 12 OR Salary_Grade.grade = 13) AND Department.deptLocation = "London"'})
Query 5eaf1ff2334f483dd6bb9e9b has been updated
==============
['Employee']
({'queryNum': 105}, {'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE grade in (12, 13) \nAND salary >= minSalary AND salary <= maxSalary\nAND deptLocation = "London"'})
Query 5eaf1ff2334f483dd6bb9e9c has been updated
==============
['Salary_Grade', 's']
({'queryNum': 106}, {'parsedRemovedQuery': "SELECT DISTINCT e.*\nFROM (Employee e NATURAL JOIN Department d) LEFT OUTER JOIN Salary_Grade ON (grade = 12 OR grade = 13)\nWHERE d.deptLocation = 'London'"})
Query 5eaf1ff2334f483dd6bb9e9d has been updated
==============
['Employee']
({'queryNum': 107}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");\n'})
Query 5eaf1ff2334f483dd6bb9e9e has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 108}, {'parsedRemovedQuery': "select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom Employee natural join Department\njoin Salary_Grade on salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = 'London'"})
Query 5eaf1ff2334f483dd6bb9e9f has been updated
==============
['Employee', 'E']
({'queryNum': 109}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE (salary <= (SELECT maxSalary from Salary_Grade where grade = 13) AND salary >= (SELECT minSalary from Salary_Grade where grade = 12)) AND (deptID in (SELECT deptID FROM Department WHERE deptLocation = 'London'));"})

Query 5eaf1ff2334f483dd6bb9ea0 has been updated
==============
['Employee']
({'queryNum': 110}, {'parsedRemovedQuery': 'select *\nfrom Employee\nwhere empID in\n(select empID\nfrom Department natural join Employee, Salary_Grade s\nwhere (Employee.salary between s.minSalary and s.maxSalary) and (s.grade in (12,13)) and (Department.deptLocation="London"))'})
Query 5eaf1ff2334f483dd6bb9ea1 has been updated
==============
['Employee', 'emp']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 111}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Department, Salary_Grade\nWHERE deptID=deptID AND grade IN (12,13) and deptLocation = "London" AND salary<=maxSalary AND salary>=minSalary'})
Query 5eaf1ff2334f483dd6bb9ea2 has been updated
==============
['Employee']
({'queryNum': 112}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n    FROM Employee e, Salary_Grade s\n    WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n    AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\n    FROM Department d\n    WHERE d.deptLocation = "London");'})
Query 5eaf1ff2334f483dd6bb9ea3 has been updated
==============
['Employee']
({'queryNum': 113}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE\n    deptID = (SELECT deptID\n              FROM Department\n              WHERE deptLocation = "London")'})
Query 5eaf1ff2334f483dd6bb9ea4 has been updated
==============
({'queryNum': 114}, {'parsedRemovedQuery': "SELECT Employee.*\nFROM (SELECT * \n      FROM Employee\n      WHERE Employee.deptID in (SELECT Department.deptID FROM Department WHERE Department.deptLocation = 'London')) as Employee, Salary_Grade\nWHERE \n    (Employee.salary >= Salary_Grade.minSalary and Employee.salary <= Salary_Grade.maxSalary and (Salary_Grade.grade = 12 or Salary_Grade.grade = 13))\n"})
Query 5eaf1ff2334f483dd6bb9ea5 has been updated
==============
['Employee']
({'queryNum': 115}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London') AND salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 12) AND salary <= (SELECT maxSalary FROM Salary_Grade where grade = 13);\n"})
Query 5eaf1ff2334f483dd6bb9ea6 has been updated
==============
['Employee']
({'queryNum': 116}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE Employee.Salary >\n       (SELECT Salary_Grade.minSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 12) AND\n       Employee.Salary <\n       (SELECT Salary_Grade.maxSalary\n       FROM Salary_Grade\n       WHERE Salary_Grade.grade = 13) AND\n       'London' =\n       (SELECT Department.deptLocation\n        FROM Department\n        WHERE Department.deptID = Employee.deptID)"})
Query 5eaf1ff2334f483dd6bb9ea7 has been updated
==============
['Employee']
({'queryNum': 117}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee \n\n    WHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary) AND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");'})
Query 5eaf1ff2334f483dd6bb9ea8 has been updated
==============
['Employee']
({'queryNum': 118}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT ee.empID FROM Employee ee Join Salary_Grade sg ON (sg.grade = 12 OR sg.grade = 13) AND ee.salary Between sg.minSalary and sg.maxSalary) and deptID in (SElECT deptID from Department Where deptLocation = "London")'})
Query 5eaf1ff2334f483dd6bb9ea9 has been updated
==============
['Salary_Grade']
({'queryNum': 119}, {'parsedRemovedQuery': "select empID, empName, jobTitle, managerID, hireDate,salary, comission, emp.deptID from (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade where deptLocation = 'London' and (grade = 12 or grade = 13) and (salary >= minSalary and salary <= maxSalary);\n\n\n"})
Query 5eaf1ff2334f483dd6bb9eaa has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 120}, {'parsedRemovedQuery': 'SELECT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nFROM Employee JOIN Department ON (deptID = deptID)\nWHERE\n    deptLocation = "London"\n\n    AND salary >= (\n    SELECT minSalary\n    FROM Salary_Grade\n    WHERE grade = 12\n)\n\n    AND salary <= (\n    SELECT maxSalary\n    FROM Salary_Grade\n    WHERE grade = 13\n)'})
Query 5eaf1ff2334f483dd6bb9eab has been updated
==============
({'queryNum': 121}, {'parsedRemovedQuery': 'SELECT DISTINCT e.empID, e.empName, e.jobTitle, e.managerID, e.hireDate, e.salary, e.comission, e.deptID\nFROM Salary_Grade s, Department d, Employee e\nWHERE s.grade IN (12,13) AND (e.salary BETWEEN s.minSalary AND s.maxSalary) AND e.deptID IN (SELECT d.deptID FROM Department d WHERE d.deptLocation="London")'})
Query 5eaf1ff2334f483dd6bb9eac has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
['Department', 'd']
({'queryNum': 122}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade, Department\nWHERE ((grade = 12 AND salary > minSalary AND salary < maxSalary) OR (grade = 13 AND salary > minSalary AND salary < maxSalary)) AND deptID = deptID AND deptLocation = "London"'})
Query 5eaf1ff2334f483dd6bb9ead has been updated
==============
['Employee', 'em']
({'queryNum': 123}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e NATURAL JOIN Department d, Salary_Grade sg\nWHERE d.deptLocation = "London" AND sg.grade in (12, 13) AND e.salary BETWEEN sg.minSalary AND sg.maxSalary)'})
Query 5eaf1ff2334f483dd6bb9eae has been updated
==============
['Employee']
({'queryNum': 124}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empName = ANY(SELECT empName\nFROM Department LEFT OUTER JOIN Employee on Department.deptID = Employee.deptID\nWHERE deptLocation = "London")\n\n'})
Query 5eaf1ff2334f483dd6bb9eaf has been updated
==============
({'queryNum': 125}, {'parsedRemovedQuery': "select DISTINCT empID, empName, jobTitle, managerID, hireDate, salary, comission, Employee.deptID\nfrom Employee, Salary_Grade, Department\nwhere (grade = 13 or grade = 12) AND Employee.deptID = Department.deptID AND deptLocation = 'London';"})
Query 5eaf1ff2334f483dd6bb9eb0 has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
['Department', 'D']
({'queryNum': 126}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nLEFT OUTER JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary\nLEFT OUTER JOIN Department ON deptID = deptID\nWHERE grade IN (12, 13)\n    AND deptLocation LIKE 'LONDON'\nORDER BY empId"})
Query 5eaf1ff2334f483dd6bb9eb1 has been updated
==============
['Employee']
({'queryNum': 127}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE salary BETWEEN (SELECT minSalary FROM Salary_Grade WHERE grade = 12)\n             AND\n             (SELECT maxSalary FROM Salary_Grade WHERE grade = 13)\n      AND deptID IN (SELECT deptID FROM Department WHERE deptLocation = 'London')"})
Query 5eaf1ff2334f483dd6bb9eb2 has been updated
==============
['Salary_Grade']
({'queryNum': 128}, {'parsedRemovedQuery': 'select empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID\nfrom (Department natural join Employee) join Salary_Grade\non salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13) and deptLocation = "London"'})
Query 5eaf1ff2334f483dd6bb9eb3 has been updated
==============
['Employee']
({'queryNum': 129}, {'parsedRemovedQuery': "Select *\nfrom Employee\nwhere empName IN\n(\nSelect empName\nfrom Employee,Department,Salary_Grade\nwhere Employee.deptID = Department.deptID and (salary >= minSalary and salary <= maxSalary) and grade IN (12,13) and deptLocation LIKE 'London'\n)\n\n"})
Query 5eaf1ff2334f483dd6bb9eb4 has been updated
==============
['Employee']
({'queryNum': 130}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n                FROM Employee e, Salary_Grade s\n                WHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\n                        AND s.grade IN (12,13))\n                        AND deptID IN (SELECT d.deptID\n                                       FROM Department d\n                                       WHERE d.deptLocation = "London");'})
Query 5eaf1ff2334f483dd6bb9eb5 has been updated
==============

['Employee']
({'queryNum': 131}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\nFROM Employee e, Salary_Grade s\nWHERE (e.salary BETWEEN s.minSalary AND s.maxSalary)\nAND s.grade IN (12,13))\nAND deptID IN (SELECT d.deptID\nFROM Department d\nWHERE d.deptLocation = "London");'})
Query 5eaf1ff2334f483dd6bb9eb6 has been updated
==============
['Employee']
({'queryNum': 132}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE deptID IN (\n    SELECT deptID\n    FROM Department\n    WHERE deptLocation = "London"\n) AND salary >= (\n    SELECT minSalary\n    FROM Salary_Grade\n    WHERE grade = 12\n) AND salary <= (\n    SELECT maxSalary\n    FROM Salary_Grade\n    WHERE grade = 13\n);'})
Query 5eaf1ff2334f483dd6bb9eb7 has been updated
==============
['Employee']
({'queryNum': 133}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE empID IN (SELECT e.empID\n                FROM Employee e, Salary_Grade s\n                WHERE(e.salary BETWEEN s.minSalary AND s.maxSalary)\n                AND s.grade IN (12, 13))\n                AND deptID IN (SELECT d.deptID\n                               FROM Department d\n                               WHERE d.deptLocation = 'London');"})
Query 5eaf1ff2334f483dd6bb9eb8 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 134}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, Firstname ASC;\n\n\n'})
Query 5eaf1ff2334f483dd6bb9eb9 has been updated
==============
['Students', 'ss']
['(select', 'e.NetId']
['sum(e.Credits)', 'as', 'sc', '', 'from', 'Students', 's', 'natural', 'join', 'Enrollments', 'e', '\n', '', '', '', '', '', 'group', 'by', 'e.NetId)', 'as', 'temp']
({'queryNum': 135}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId, sc\nfrom Students, (select e.NetId, sum(e.Credits)  from Students s natural join Enrollments e \n      group by e.NetId)\nwhere NetId = NetId and sc > 12\nORDER BY sc DESC , FirstName ASC;'})
Query 5eaf1ff3334f483dd6bb9eba has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 136}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students\nNATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC\n'})
Query 5eaf1ff3334f483dd6bb9ebb has been updated
==============
['Students']
['Enrollments']
({'queryNum': 137}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students Natural Join Enrollments\nGroup by NetId\nHaving SUM(Credits) > 12\nORDER by SUM(Credits) DESC, FirstName'})
Query 5eaf1ff3334f483dd6bb9ebc has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 138}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as total_credits\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING total_credits > 12\nORDER BY total_credits DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ebd has been updated
==============
['Students', 'S']
['(Select', 'NetID']
['Sum(Credits)', 'as', 'totalc\n', '', '', '', 'From', 'Enrollments', 'E\n', '', '', '', 'Group', 'BY', 'NetId\n', '', '', '', 'Having', 'Sum(Credits)', '>', '12)', 'Eg']
['totalc', 'Desc']
['S.FirstName']
({'queryNum': 139}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, totalc\nFROM Students, (Select, Sum(Credits)    From Enrollments E\n    Group BY NetId\n    Having Sum(Credits) > 12) Eg\nWhere NetId = Eg.NetId\n\n\nORDER BY totalc Desc, FirstName\n'})
Query 5eaf1ff3334f483dd6bb9ebe has been updated
==============
['Students']
['CreditHours', 'DESC']
['FirstName', 'ASC']
({'queryNum': 140}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, (SELECT SUM(Credits) FROM Enrollments WHERE Students.NetId=Enrollments.NetId) AS CreditHours\nFrom Students\nWHERE (SELECT SUM(Credits) FROM Enrollments WHERE Students.NetId=Enrollments.NetId) > 12\nORDER BY CreditHours DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ebf has been updated
==============
['Students']
['Enrollments']
({'queryNum': 141}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Credits)\nFROM Students JOIN Enrollments ON Enrollments.NetId = Students.NetId\nGROUP BY Students.NetId\nHAVING SUM(Credits)>12\nORDER BY SUM(Credits) DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ec0 has been updated
==============
['Students', 'as', 's']
['Enrollments', 'as', 'e']
({'queryNum': 142}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) \nfrom Students as natural join Enrollments as \ngroup by NetId\nhaving sum(Credits) > 12\norder by sum(Credits) desc, FirstName asc\n'})
Query 5eaf1ff3334f483dd6bb9ec1 has been updated
==============
['Students', 'Stu']
['Enrollments', 'En']
['tot', 'Desc']
['Stu.FirstName', 'Asc']
({'queryNum': 143}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetId, sum(Credits) as tot\nFrom Students Join Enrollments on NetId = NetId\nGroup by NetId\nHaving tot >= 13\nOrder by tot Desc, FirstName Asc;'})
Query 5eaf1ff3334f483dd6bb9ec2 has been updated
==============
['Enrollments']
['Students']
({'queryNum': 144}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Enrollments NATURAL JOIN Students\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName\n'})
Query 5eaf1ff3334f483dd6bb9ec3 has been updated
==============
['Students', 'A']
['Enrollments', 'B']
['TotalCredits', 'desc']
['A.FirstName']
({'queryNum': 145}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as TotalCredits\nfrom Students, Enrollments\nwhere NetId = NetId\ngroup by NetId\nhaving TotalCredits > 12\norder by TotalCredits desc, FirstName;'})
Query 5eaf1ff3334f483dd6bb9ec4 has been updated
==============
['Students', 's']
['(Select', 'NetId,', 'SUM(Credits)', 'as', 'tot\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'by', 'NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'HAVING', 'tot', '>', '12)', 'd']
['tot', 'DESC']
['FirstName', 'ASC']
({'queryNum': 146}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetId, tot\nFROM Students JOIN \n                    (Select NetId, SUM(Credits) as tot\n                    FROM Enrollments\n                    GROUP by NetId\n                    HAVING tot > 12)\n                ON NetId = NetId\nORDER BY tot DESC, FirstName ASC\n\n\n\n'})
Query 5eaf1ff3334f483dd6bb9ec5 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['tot', 'DESC']
['s.FirstName']
({'queryNum': 147}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as tot\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING tot > 12\nORDER BY tot DESC, FirstName'})
Query 5eaf1ff3334f483dd6bb9ec6 has been updated
==============
['Students', 'S']
['(\n', '', '', '', '', '', 'SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'CreditSum\n', '', '', '', '', '', 'FROM', 'Enrollments', '\n', '', '', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', ')', 'E']
({'queryNum': 148}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, CreditSum\nFROM Students NATURAL JOIN (\n      SELECT NetId, SUM(Credits) AS CreditSum\n      FROM Enrollments \n      GROUP BY NetId\n    )\nWHERE CreditSum > 12\nORDER BY CreditSum DESC, FirstName ASC;\n'})
Query 5eaf1ff3334f483dd6bb9ec7 has been updated
==============
['(Select', 'Distinct', 'FirstName,', 'LastName,', 'Enrollments.NetId,', 'sum(credits)', 'as', 'creds\nFrom', 'Students,', 'Enrollments\nWhere', 'Students.NetId', '=', 'Enrollments.NetId\nGroup', 'By', 'Enrollments.NetId,', 'FirstName,', 'LastName\n)', 'as', 'a']
({'queryNum': 149}, {'parsedRemovedQuery': 'Select * \nFrom (Select Distinct FirstName, LastName, Enrollments.NetId, sum(credits) as creds\nFrom Students, Enrollments\nWhere Students.NetId = Enrollments.NetId\nGroup By Enrollments.NetId, FirstName, LastName\n)\nWhere creds > 12\nOrder By  creds DESC, FirstName ASC;'})

Query 5eaf1ff3334f483dd6bb9ec8 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 150}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students Natural Join Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nOrder By SUM(Credits) Desc, NetId'})
Query 5eaf1ff3334f483dd6bb9ec9 has been updated
==============
['(SELECT', 'NetId,', 'FirstName,', 'LastName,', 'SUM(Credits)', 'AS', 'total\nFROM', 'Enrollments', 'NATURAL', 'JOIN', 'Students\nGROUP', 'BY', 'NetId)', 'as', 'temp']
({'queryNum': 151}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, total FROM\n(SELECT NetId, FirstName, LastName, SUM(Credits) AS total\nFROM Enrollments NATURAL JOIN Students\nGROUP BY NetId)\nWHERE total > 12\nORDER BY total DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9eca has been updated
==============
['Students', 's']
['(SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'TotalCredits\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId)', 't']
({'queryNum': 152}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, TotalCredits\nFROM Students s\tJOIN \n    (SELECT NetId, SUM(Credits) AS TotalCredits\n    FROM Enrollments\n    GROUP BY NetId) ON NetId = NetId\nWHERE TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName'})
Query 5eaf1ff3334f483dd6bb9ecb has been updated
==============
['Students']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'SUM(Credits)', 'AS', 'SumCredit,', 'NetId', '', '\n', '', '', '', '', '', '', '', 'FROM', 'Enrollments', '\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId)', '', 'C']
['SumCredit', 'DESC']
['FirstName']
({'queryNum': 153}, {'parsedRemovedQuery': 'SElECT FirstName, LastName, NetId, SumCredit  \nFROM Students NATURAL JOIN (\n        SELECT SUM(Credits) AS SumCredit, NetId  \n        FROM Enrollments \n        GROUP BY NetId)    \nWHERE SumCredit > 12\nORDER BY SumCredit DESC, FirstName'})
Query 5eaf1ff3334f483dd6bb9ecc has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 154}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;\n'})
Query 5eaf1ff3334f483dd6bb9ecd has been updated
==============
['Nima', 'DESC']
['Students.FirstName']
({'queryNum': 155}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) as Nima\nFROM Students, Enrollments, (SELECT b.NetId, SUM(b.Credits) as shabi From Enrollments as b Group BY b.NetId)as Cao\nWHERE Students.NetId = Enrollments.NetId AND Students.NetId = Cao.NetId AND Cao.shabi > 12\nGROUP BY NetId\nORDER BY  Nima DESC , Students.FirstName;'})
Query 5eaf1ff3334f483dd6bb9ece has been updated
==============
({'queryNum': 156}, {'parsedRemovedQuery': 'SELECT S.FirstName, S.LastName, S.NetId, StoTC.TC\nFROM (SELECT S.NetId, SUM(E.Credits) as TC\nFROM Students S, Enrollments E\nWHERE S.NetId=E.NetId\nGROUP BY S.NetID) AS StoTC, Students S\nWHERE StoTC.TC>12 and S.NetId=StoTC.NetId\nORDER BY StoTC.TC DESC, S.FirstName\n\n\n\n\n\n\n'})
Query 5eaf1ff3334f483dd6bb9ecf has been updated
==============
({'queryNum': 157}, {'parsedRemovedQuery': 'SELECT \n    Students.FirstName,\n    Students.LastName,\n    Students.NetId,\n    sum(Enrollments.Credits)\nFROM \n    Students, Enrollments\nWHERE \n    Students.NetId = Enrollments.NetId\nGROUP BY Students.FirstName, Students.LastName, Students.NetId\n\nHaving sum(Enrollments.Credits) > 12\n\nORDER BY\n    \n    sum(Enrollments.Credits) DESC,\n    Students.FirstName ASC;'})
Query 5eaf1ff3334f483dd6bb9ed0 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 158}, {'parsedRemovedQuery': 'select FirstName, LastName, NetID, sum(Credits)\nfrom Students Natural Join Enrollments\ngroup by NetId\nhaving sum(Credits) > 12\norder by sum(Credits) DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ed1 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['numCredits', 'desc']
['S.FirstName']
({'queryNum': 159}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, SUM(Credits) as numCredits \nFROM Students join Enrollments on NetId = NetId\ngroup by NetId\nhaving numCredits > 12\norder by numCredits desc, FirstName\n'})
Query 5eaf1ff3334f483dd6bb9ed2 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 160}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students JOIN Enrollments\nON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName\n'})
Query 5eaf1ff3334f483dd6bb9ed3 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['total', 'desc']
['S.FirstName', 'asc']
({'queryNum': 161}, {'parsedRemovedQuery': 'select FirstName,LastName, NetId, sum(Credits) as total\nfrom Students\njoin Enrollments on NetId=NetId\ngroup by NetId\nhaving total>12\norder by total desc, FirstName asc;'})
Query 5eaf1ff3334f483dd6bb9ed4 has been updated
==============
['Students', 's']
['(\nSelect', 'e.netid']
['sum(e.credits)', 'AS', 'total\nFrom', 'Enrollments', 'e\nGroup', 'by', 'e.netid\n)', 'sub']
({'queryNum': 162}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetID, sub.total\nFrom  Students, (\nSelect e.netid, sum(e.credits) AS total\nFrom Enrollments e\nGroup by e.netid\n) sub\nWhere netid = sub.netid && sub.total > 12\nOrder by sub.total DESC, firstname\n'})
Query 5eaf1ff3334f483dd6bb9ed5 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 163}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) FROM Students JOIN Enrollments ON Students.NetId = Enrollments.NetId GROUP BY Students.FirstName, Students.LastName, Students.NetId HAVING SUM(Enrollments.Credits) > 12 ORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ed6 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 164}, {'parsedRemovedQuery': 'SELECT  FirstName, LastName, NetId, SUM(Credits) AS total_credits\nFROM    Students LEFT JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING  total_credits > 12\nORDER BY total_credits DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9ed7 has been updated
==============
['TotalCredits', 'DESC']
['FirstName', 'ASC']
({'queryNum': 165}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, TotalCredits\nFROM Students, (SELECT NetId, SUM(Credits) AS TotalCredits FROM Enrollments GROUP BY NetId) AS StudentWorkLoads\nWHERE Students.NetId = StudentWorkLoads.NetId AND StudentWorkLoads.TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName ASC;'})
Query 5eaf1ff3334f483dd6bb9ed8 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 166}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Credits)\nFROM Students INNER JOIN Enrollments ON (Students.NetId = Enrollments.NetId)\nGROUP BY Students.NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC\n\n'})
Query 5eaf1ff3334f483dd6bb9ed9 has been updated
==============
['(SELECT', 'SUM(Credits)', 'sum_credit,', 'NetId', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'a']
['Students', 's']
({'queryNum': 167}, {'parsedRemovedQuery': 'SELECT FirstName , LastName, NetId, sum_credit\nFROM (SELECT SUM(Credits) sum_credit, NetId FROM Enrollments GROUP BY NetId) JOIN Students ON NetId = NetId\nWHERE sum_credit > 12\nORDER BY sum_credit DESC, FirstName ASC'})
Query 5eaf1ff3334f483dd6bb9eda has been updated
==============
['Students', 's']
['Enrollments', 'e']
['creds', 'desc']
['s.FirstName']
({'queryNum': 168}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as creds\nfrom Students join Enrollments on NetId = NetId\ngroup by NetId\nhaving creds > 12\norder by creds desc, FirstName;\n'})
Query 5eaf1ff3334f483dd6bb9edb has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 169}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Enrollments JOIN Students ON NetId = NetId JOIN Courses ON CRN = CRN\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;'})
Query 5eaf1ff3334f483dd6bb9edc has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 's.NetId,', 'SUM(Credits)', 'as', 'total_credits\nFROM', 'Students', 's\nNATURAL', 'JOIN', 'Enrollments', 'e\nGROUP', 'BY', 's.NetId)', 'AS', 'sub']
({'queryNum': 170}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, total_credits\nFROM\n(SELECT FirstName, LastName, s.NetId, SUM(Credits) as total_credits\nFROM Students s\nNATURAL JOIN Enrollments e\nGROUP BY s.NetId) AS\nWHERE total_credits > 12\nORDER BY total_credits DESC, FirstName'})
Query 5eaf1ff3334f483dd6bb9edd has been updated
==============
['Enrollments', 'e']
['Students', 's']
({'queryNum': 171}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sum(Credits) sum_creds\nFROM Enrollments NATURAL JOIN Students\nGROUP by NetId\nHAVING sum(Credits) > 12\nORDER by sum_creds DESC, firstName ASC'})
Query 5eaf1ff3334f483dd6bb9ede has been updated
==============

['Enrollments', 'E']
['Students', 'S']
({'queryNum': 172}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Enrollments LEFT JOIN Students\nON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits)>12 \nORDER BY SUM(Credits) DESC, FirstName ;'})
Query 5eaf1ff4334f483dd6bb9edf has been updated
==============
['Students']
['Enrollments']
({'queryNum': 173}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff4334f483dd6bb9ee0 has been updated
==============
({'queryNum': 174}, {'parsedRemovedQuery': 'Select Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits)\nfrom Students, Enrollments\nwhere Students.NetId = Enrollments.NetId\ngroup by Students.NetId\nhaving sum(Credits) > 12 \norder by sum(Credits) DESC, Students.FirstName ASC\n\n\n'})
Query 5eaf1ff4334f483dd6bb9ee1 has been updated
==============
['Students', 's']
['(SELECT', 'NetId']
['SUM(Credits)', 'sumCredits\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'HAVING', 'SUM(Credits)', '>', '12)', 'AS', 'temp']
({'queryNum': 175}, {'parsedRemovedQuery': 'SELECT FirstName, LastName,, temp.sumCredits\nFrom Students,    (SELECT, SUM(Credits) sumCredits\n                    FROM Enrollments\n                    GROUP BY\n                    HAVING SUM(Credits) > 12) AS temp\nWHERE NetId = temp.NetId\nORDER BY temp.SumCredits DESC, FirstName'})
Query 5eaf1ff4334f483dd6bb9ee2 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 176}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments \nGROUP BY NetId\nHAVING SUM(Credits)>12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff4334f483dd6bb9ee3 has been updated
==============
['Students']
['Enrollments']
['Credits', 'DESC']
['Students.FirstName']
({'queryNum': 177}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) as Credits\nFROM Students\nINNER JOIN Enrollments ON Students.NetId=Enrollments.NetID\nGROUP BY Students.NetId\nHAVING Credits > 12\nORDER BY Credits DESC, Students.FirstName'})
Query 5eaf1ff4334f483dd6bb9ee4 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 178}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY FirstName, LastName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;'})
Query 5eaf1ff4334f483dd6bb9ee5 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 179}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students\n  JOIN Enrollments ON NetId = NetId\nGROUP BY NetId HAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9ee6 has been updated
==============
['Students', 'S1']
['(SELECT', 'S.NetId']
['SUM(Credits)', 'AS', 'CRD\n', '', '', '', 'FROM', 'Students', 'S', 'NATURAL', 'JOIN', 'Enrollments', 'E\n', '', '', '', 'GROUP', 'BY', 'S.NetId)', 'AS', 'temp']
({'queryNum': 180}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, temp.CRD\nFROM Students, (SELECT S.NetId, SUM(Credits) AS CRD\n    FROM Students S NATURAL JOIN Enrollments E\n    GROUP BY S.NetId) AS temp\n    \nWHERE temp.CRD > 12 AND NetId = temp.NetId\nORDER BY temp.CRD DESC, FirstName '})
Query 5eaf1ff4334f483dd6bb9ee7 has been updated
==============
['Enrollments']
['Students']
({'queryNum': 181}, {'parsedRemovedQuery': 'SELECT FirstName,LastName,Students.NetId,SUM(credits)\nFROM Enrollments LEFT OUTER JOIN Students\n ON Enrollments.NetId = Students.NetId\nGROUP BY NetId \nHAVING SUM(Credits) > 12\nORDER BY SUM(credits) DESC ,FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9ee8 has been updated
==============
['Students']
['Enrollments']
['total', 'DESC']
['Students.FirstName']
({'queryNum': 182}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Enrollments.Credits) as total\nfrom Students natural join Enrollments\ngroup by Students.NetId\nhaving total >12\norder by total DESC, Students.FirstName\n\n\n'})
Query 5eaf1ff4334f483dd6bb9ee9 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 183}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) \nFROM Students\nNATURAL JOIN Enrollments \nGROUP BY Students.NetId \nHAVING SUM(Enrollments.Credits) > 12 \nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9eea has been updated
==============
['Students', 's']
['(select', 'NetId,sum(credits)', 'as', 'sum_credits', 'from', 'Enrollments', 'group', 'by', 'NetId', 'having', 'sum(credits)', '>', '12', ')', 'as', 'a']
({'queryNum': 184}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum_credits from Students join (select NetId,sum(credits) as sum_credits from Enrollments group by NetId having sum(credits) > 12 ) as on NetId = NetId order by sum_credits desc, FirstName'})
Query 5eaf1ff4334f483dd6bb9eeb has been updated
==============
({'queryNum': 185}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE Students.NetId = Enrollments.NetId\nGROUP BY FirstName, LastName, Students.NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff4334f483dd6bb9eec has been updated
==============
['Students']
['Enrollments']
['CreditsSum', 'desc']
['FirstName']
({'queryNum': 186}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName, Students.NetId, sum(Enrollments.Credits) as CreditsSum\nfrom Students\njoin Enrollments on Students.NetId=Enrollments.NetId\ngroup by NetId\nhaving sum(Enrollments.Credits) > 12\norder by CreditsSum desc, FirstName'})
Query 5eaf1ff4334f483dd6bb9eed has been updated
==============
['Students', 's']
['Enrollments', 'e']
['credits', 'DESC']
['s.FirstName']
({'queryNum': 187}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as credits\nFROM Students INNER JOIN Enrollments\nON NetId = NetId\nGROUP BY NetId\nHAVING credits > 12\nORDER BY credits DESC, FirstName;'})
Query 5eaf1ff4334f483dd6bb9eee has been updated
==============
['Students', 's']
['(select', '\n', '', '', '', '', '', '', '', '', '', '', '', 'NetId,', 'sum(Credits)', 'totalCredits\n', '', '', '', '', '', '', '', 'from', '\n', '', '', '', '', '', '', '', '', '', '', '', 'Enrollments\n', '', '', '', '', '', '', '', 'group', 'by', 'NetId\n', '', '', '', '', '', '', '', 'having', 'totalCredits', '>', '12)', 'total']
({'queryNum': 188}, {'parsedRemovedQuery': 'select \n    FirstName, LastName, NetId, totalCredits\nfrom\n    Students\n    inner join\n        (select \n            NetId, sum(Credits) totalCredits\n        from \n            Enrollments\n        group by NetId\n        having totalCredits > 12)\n    on NetId = NetId\norder by \n    totalCredits desc, FirstName asc \n'})
Query 5eaf1ff4334f483dd6bb9eef has been updated
==============
['(select', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId,', 'sum(Enrollments.credits)', 'as', 'total', 'from', 'Students,', 'Enrollments\nwhere', 'Students.NetId', '=', 'Enrollments.NetId', '\nGROUP', 'BY', 'Students.NetId\nOrder', 'by', 'total', 'DESC,', '', 'Students.FirstName)', 'as', 'T']
({'queryNum': 189}, {'parsedRemovedQuery': 'select * from (select Students.FirstName, Students.LastName, Students.NetId, sum(Enrollments.credits) as total from Students, Enrollments\nwhere Students.NetId = Enrollments.NetId \nGROUP BY Students.NetId\nOrder by total DESC,  Students.FirstName)\nwhere total > 12\n'})
Query 5eaf1ff4334f483dd6bb9ef0 has been updated
==============
['Students']
['Enrollments']
['TotalCredit', 'DESC']
['FirstName']
({'queryNum': 190}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) AS TotalCredit\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING TotalCredit > 12\nORDER BY TotalCredit DESC, FirstName '})
Query 5eaf1ff4334f483dd6bb9ef1 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 191}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as total_credits FROM\n\tStudents\n\tjoin Enrollments on NetId = NetId\n\tGROUP BY NetId HAVING total_credits > 12 \n\tORDER BY total_credits DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9ef2 has been updated
==============
({'queryNum': 192}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Enrollments.Credits)\nFROM Students, Enrollments\nWHERE Students.NetId = Enrollments.NetId\nGROUP BY Enrollments.NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9ef3 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['total', 'DESC']
['S.FirstName', 'ASC']
({'queryNum': 193}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sum(Credits) as total\nFROM Students JOIN Enrollments ON NetId=NetId\nGROUP BY NetId\nHAVING total > 12\nORDER BY total DESC, FirstName ASC'})
Query 5eaf1ff4334f483dd6bb9ef4 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 194}, {'parsedRemovedQuery': 'select \nFirstName,\nLastName, \nNetId,\nsum(Credits)\nfrom Students inner join Enrollments on NetId=NetId\ngroup by FirstName, LastName, NetId\nhaving sum(Credits)>12\norder by sum(Credits) desc, FirstName\n'})

Query 5eaf1ff4334f483dd6bb9ef5 has been updated
==============
({'queryNum': 195}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Enrollments.NetId, sum(Enrollments.Credits)\nFROM Students,Enrollments \nWHERE Students.NetId=Enrollments.NetId\nGROUP BY Enrollments.NetId\nHAVING sum(Enrollments.Credits)>=13\nORDER BY sum(Enrollments.Credits) DESC, Students.FirstName'})
Query 5eaf1ff4334f483dd6bb9ef6 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 196}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students LEFT OUTER JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstNAme'})
Query 5eaf1ff4334f483dd6bb9ef7 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 197}, {'parsedRemovedQuery': 'select FirstName, Lastname, NetId, sum(Credits)\nfrom Students\ninner join Enrollments\non NetId = NetId\ngroup by NetId\nhaving sum(Credits) > 12\norder by sum(Credits) desc, FirstName asc;'})
Query 5eaf1ff4334f483dd6bb9ef8 has been updated
==============
['Students', 'AS', 'S']
['(SELECT', 'NetId']
['SUM(Credits)', 'AS', 'SumCredits', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'AS', 'T']
({'queryNum': 198}, {'parsedRemovedQuery': 'SELECT S.FirstName, S.LastName, S.NetId, T.SumCredits\nFROM Students AS S, \n(SELECT, SUM(Credits) AS SumCredits FROM Enrollments GROUP BY NetId) AS T\nWHERE S.NetId = T.NetId AND T.SumCredits > 12\nORDER BY T.SumCredits DESC, S.FirstName;\n'})
Query 5eaf1ff4334f483dd6bb9ef9 has been updated
==============
['(\nselect', 'FirstName', 'as', 'FirstName,', 'LastName', 'as', 'LastName,', 'S.NetId', 'as', 'NetId,', 'sum(Credits)', 'as', 'total\nfrom', 'Students', 'as', 'S\nleft', 'join', 'Enrollments', 'as', 'E', 'on', 'S.NetId', '=', 'E.NetId\n\ngroup', 'by', 'S.NetId\norder', 'by', 'total', 'desc,', 'FirstName', 'asc\n)', 'as', 'NM']
({'queryNum': 199}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, total\nfrom (\nselect FirstName as FirstName, LastName as LastName, S.NetId as NetId, sum(Credits) as total\nfrom Students as S\nleft join Enrollments as E on S.NetId = E.NetId\n\ngroup by S.NetId\norder by total desc, FirstName asc\n)\nwhere total > 12'})
Query 5eaf1ff4334f483dd6bb9efa has been updated
==============
['Students', 'stud']
['(SELECT', 'NetId,', 'SUM(Credits)', 'as', 'Creds', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'enr']
({'queryNum': 200}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Creds\nFROM Students\nNATURAL JOIN (SELECT NetId, SUM(Credits) as Creds FROM Enrollments GROUP BY NetId)\nWHERE Creds > 12\nORDER BY Creds DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9efb has been updated
==============
['(select', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId,', 'sum(Enrollments.Credits)', 'as', 'tot', 'from', 'Students', 'left', 'join', 'Enrollments', 'on', 'Enrollments.NetId', '=', 'Students.NetId', 'group', 'by', 'Students.NetId', 'order', 'by', 'tot', 'desc,', 'Students.FirstName', 'asc)', 'x']
({'queryNum': 201}, {'parsedRemovedQuery': 'select * from (select Students.FirstName, Students.LastName, Students.NetId, sum(Enrollments.Credits) as tot from Students left join Enrollments on Enrollments.NetId = Students.NetId group by Students.NetId order by tot desc, Students.FirstName asc) where tot > 12    '})
Query 5eaf1ff4334f483dd6bb9efc has been updated
==============
['Students']
['Enrollments']
({'queryNum': 202}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, Sum(Enrollments.Credits) AS my_sum\nFROM Students\nJOIN Enrollments on Students.NetId = Enrollments.NetId \nGROUP BY NetId\nHAVING Sum(Enrollments.Credits) > 12\nORDER BY my_sum DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9efd has been updated
==============
['Students']
['Enrollments']
({'queryNum': 203}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, SUM(Credits)\nfrom Students natural join Enrollments\ngroup by NetId\nHaving SUM(Credits) > 12\norder by SUM(Credits) desc, FirstName asc'})
Query 5eaf1ff4334f483dd6bb9efe has been updated
==============
['Students']
['totCredits', 'DESC']
['Students.FirstName']
({'queryNum': 204}, {'parsedRemovedQuery': 'SELECT Students.FirstName,\n    Students.LastName,\n    Students.NetId,\n    (SELECT SUM(Enrollments.Credits) FROM Enrollments WHERE Enrollments.NetId = Students.NetId) AS totCredits \n    FROM Students\n    HAVING totCredits > 12\n    ORDER BY totCredits DESC, Students.FirstName'})
Query 5eaf1ff4334f483dd6bb9eff has been updated
==============
['Students']
['(SELECT', 'NetId,', 'SUM(Credits)', 'as', 'cred\nFROM', 'Enrollments', '\nGROUP', 'BY', 'NetId\nHAVING', 'SUM(Credits)', '>', '12)', 'as', 'sub']
({'queryNum': 205}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, NetId, cred\nFROM Students NATURAL JOIN (SELECT NetId, SUM(Credits) as cred\nFROM Enrollments \nGROUP BY NetId\nHAVING SUM(Credits) > 12)\nORDER BY cred DESC, Students.FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9f00 has been updated
==============
['Students', 'S']
['(\n', '', '', '', 'SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'Total\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', 'HAVING', 'SUM(Credits)', '>', '12\n)', 'AS', 'E']
({'queryNum': 206}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Total\nFROM Students\nJOIN (\n    SELECT NetId, SUM(Credits) AS Total\n    FROM Enrollments\n    GROUP BY NetId\n    HAVING SUM(Credits) > 12\n) AS ON NetId = NetId\nORDER BY Total DESC, FirstName'})
Query 5eaf1ff4334f483dd6bb9f01 has been updated
==============
['Students']
['(SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'total_credit', 'FROM', 'Students', 'NATURAL', 'JOIN', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'AS', 'Credits']
({'queryNum': 207}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, total_credit\nFROM Students NATURAL JOIN (SELECT NetId, SUM(Credits) AS total_credit FROM Students NATURAL JOIN Enrollments GROUP BY NetId) AS\nWHERE total_credit > 12\nORDER BY total_credit DESC, FirstName ASC;'})
Query 5eaf1ff4334f483dd6bb9f02 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['credits', 'DESC']
['s.FirstName', 'ASC']
({'queryNum': 208}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) AS credits\nFROM Students\nNATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY credits DESC, FirstName ASC'})
Query 5eaf1ff4334f483dd6bb9f03 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 209}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) FROM Students\nINNER JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName\n'})
Query 5eaf1ff4334f483dd6bb9f04 has been updated
==============
['Students', 's']
['(SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'x', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetID', 'HAVING', 'SUM(Credits)', '>', '12)', 'e']
['x', 'DESC']
['s.FirstName']
({'queryNum': 210}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, x\nFROM Students NATURAL JOIN\n    (SELECT NetId, SUM(Credits) AS x FROM Enrollments GROUP BY NetID HAVING SUM(Credits) > 12)\nORDER BY x DESC, FirstName'})
Query 5eaf1ff5334f483dd6bb9f05 has been updated
==============
['Students']
['Enrollments']
['TotalCredit', 'DESC']
['Students.FirstName']
({'queryNum': 211}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) AS TotalCredit \nFROM Students JOIN Enrollments ON Students.NetId = Enrollments.NetId \nGROUP BY Enrollments.NetId HAVING TotalCredit > 12 \nORDER BY TotalCredit DESC, Students.FirstName;'})
Query 5eaf1ff5334f483dd6bb9f06 has been updated
==============
['Students', 'stud']
['(SELECT', 'NetId,', 'SUM(Credits)', 'SumCredits\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId)', 'as', 'temp']
['SumCredits', 'DESC']
['FirstName']
({'queryNum': 212}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SumCredits\nFROM Students NATURAL JOIN (SELECT NetId, SUM(Credits) SumCredits\n                                    FROM Enrollments\n                                    GROUP BY NetId)\nWHERE SumCredits > 12\nORDER BY SumCredits DESC, FirstName'})
Query 5eaf1ff5334f483dd6bb9f07 has been updated
==============
['Students', 'as', 'S']
['Enrollments', 'as', 'E']
({'queryNum': 213}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students as INNER JOIN Enrollments as ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) >= 13\nORDER BY SUM(Credits) DESC, FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f08 has been updated
==============
['Students', 's']
['(SELECT', 'NetID,', 'SUM(Credits)', 'as', 'tcredits\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Group', 'By', 'NetId)', 'as', 'temp']
({'queryNum': 214}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetId, tcredits\nFrom Students Natural Join (SELECT NetID, SUM(Credits) as tcredits\n                                FROM Enrollments\n                                Group By NetId)\nWhere tcredits > 12\nORDER BY tcredits DESC, FirstName ASC;\n           \n'})
Query 5eaf1ff5334f483dd6bb9f09 has been updated
==============
['Students', 'as', 'S']
['(select', 'NetId,', 'sum(Credits)', 'as', 'Credit', 'from', 'Enrollments', 'group', 'by', 'NetId)', 'as', 'E']
({'queryNum': 215}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, Credit\nfrom Students as inner join (select NetId, sum(Credits) as Credit from Enrollments group by NetId) as on NetId = NetId\nwhere Credit > 12\norder by Credit DESC, FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f0a has been updated
==============
['Students']
['(\nSELECT', 'NetId,', 'sum(Credits)', 'AS', 'Credits\nFROM', 'Enrollments\nGROUP', 'BY', 'NetId\nHAVING', 'sum(Credits)', '>', '12\n\n)AS', 'a']
['Credits', 'DESC']
['FirstName', '\n\n#ON']
({'queryNum': 216}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, NetId, Credits\nFROM Students NATURAL JOIN\n\n(\nSELECT NetId, sum(Credits) AS Credits\nFROM Enrollments\nGROUP BY NetId\nHAVING sum(Credits) > 12\n\n)AS\n\nORDER BY Credits DESC, FirstName \n\n#ON Students.NetID = NetID'})

Query 5eaf1ff5334f483dd6bb9f0b has been updated
==============
({'queryNum': 217}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, temp.hours\nFROM Students, \n     (SELECT sum(Credits) as hours, NetID\n      FROM Enrollments\n      GROUP BY NetID) as temp\nWHERE temp.hours > 12 AND Students.NetId = temp.NetID\nORDER BY temp.hours desc, FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f0c has been updated
==============
['Students']
['Enrollments']
['TotalHours', 'desc']
['FirstName', 'asc']
({'queryNum': 218}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as TotalHours\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING TotalHours > 12\nORDER BY TotalHours desc, FirstName asc;'})
Query 5eaf1ff5334f483dd6bb9f0d has been updated
==============
['TotalCredit', 'DESC']
['Students.FirstName', 'ASC']
({'queryNum': 219}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, StudentCredit.TotalCredit\nFROM Students, (SELECT SUM(Credits) AS TotalCredit, NetId\nFROM Enrollments\nGROUP BY NetId) as StudentCredit\nWHERE Students.NetId = StudentCredit.NetId AND StudentCredit.TotalCredit > 12\nORDER BY TotalCredit DESC, Students.FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f0e has been updated
==============
['Students']
['(\n', '', '', '', 'SELECT', 'sum(Credits)', 'AS', 'sum_credit,', 'NetId\n', '', '', '', 'FROM', 'Enrollments', 'E\n', '', '', '', 'group', 'by', 'NetId\n)S']
({'queryNum': 220}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, sum_credit\nFROM Students NATURAL JOIN (\n    SELECT sum(Credits) AS sum_credit, NetId\n    FROM Enrollments E\n    group by\nwhere sum_credit > 12\nORDER BY sum_credit DESC, FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f0f has been updated
==============
['Students']
['Enrollments']
({'queryNum': 221}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits)\nfrom Students natural join Enrollments\ngroup by NetId\nhaving sum(Credits)>12\norder by sum(Credits) desc, FirstName\n'})
Query 5eaf1ff5334f483dd6bb9f10 has been updated
==============
['Students']
['(\n', '', '', '', 'SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'Cre\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', 'HAVING', 'SUM(Credits)', '>', '12\n)', 'Hours']
({'queryNum': 222}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetID, Cre\nFROM Students LEFT JOIN (\n    SELECT NetId, SUM(Credits) AS Cre\n    FROM Enrollments\n    GROUP BY NetId\n    HAVING SUM(Credits) > 12\n)\nON Students.NetId = NetId\nWHERE Cre > 12\nORDER BY Cre DESC, Students.FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f11 has been updated
==============
['Students', 'A']
['Enrollments', 'B']
({'queryNum': 223}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;\n'})
Query 5eaf1ff5334f483dd6bb9f12 has been updated
==============
['total', 'DESC']
['FirstName', 'ASC']
({'queryNum': 224}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, temp.NetId, total FROM ((SELECT NetId, SUM(Credits) AS total  FROM Enrollments GROUP BY NetId)AS temp JOIN Students AS s ON temp.NetId = s.NetId) WHERE total > 12  ORDER BY total DESC, FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f13 has been updated
==============
['SumCredits', 'desc']
['FirstName']
({'queryNum': 225}, {'parsedRemovedQuery': 'select FirstName, LastName, Students.NetId as ID, SumCredits from (select NetId, sum(Credits) as SumCredits from Enrollments group by NetId) as temp, Students where temp.SumCredits>12 and temp.NetId=Students.NetId order by SumCredits desc, FirstName'})
Query 5eaf1ff5334f483dd6bb9f14 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 226}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, sum(Credits)\nFROM Students NATURAL JOIN  Enrollments\nGROUP BY NetID\nHAVING sum(Credits)>12\nORDER BY sum(Credits) DESC, FirstName'})
Query 5eaf1ff5334f483dd6bb9f15 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['TotalCredits', 'DESC']
['S.FirstName', 'ASC']
({'queryNum': 227}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, SUM(Credits) as TotalCredits \nFROM Students JOIN Enrollments \n    ON NetID = NetID\nGROUP BY NetID\nHAVING TotalCredits > 12\nORDER BY TotalCredits DESC,\n        FirstName ASC ;   \n      \n      '})
Query 5eaf1ff5334f483dd6bb9f16 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 228}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, SUM(Credits)\nfrom Students Natural Join Enrollments\ngroup by NetId\nhaving SUM(Credits) > 12\norder by SUM(Credits) DESC, FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f17 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 229}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Sum(Credits)\nFROM Students, Enrollments, Courses\nWHERE NetId=NetId AND CRN=CRN\nGROUP BY NetID\nHAVING Sum(Credits)>12\nORDER BY Sum(Credits) DESC, FirstName;\n\n'})
Query 5eaf1ff5334f483dd6bb9f18 has been updated
==============
({'queryNum': 230}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits)\nFROM Students, Enrollments\nWHERE Students.NetId = Enrollments.NetId \nGROUP BY Students.FirstName, Students.LastName, Students.NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f19 has been updated
==============
['(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId,', 'Sum(Credits)', 'AS', 'TotalCredits\n', '', '', '', 'FROM', 'Students', 'NATURAL', 'JOIN', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', 'ORDER', 'BY', 'TotalCredits', 'DESC,', 'FirstName)\n', '', '', '', 'AS', 'Temp']
({'queryNum': 231}, {'parsedRemovedQuery': 'SELECT * \nFROM (\n    SELECT FirstName, LastName, NetId, Sum(Credits) AS TotalCredits\n    FROM Students NATURAL JOIN Enrollments\n    GROUP BY NetId\n    ORDER BY TotalCredits DESC, FirstName)\n    AS\nWHERE TotalCredits > 12'})
Query 5eaf1ff5334f483dd6bb9f1a has been updated
==============
['Students']
['Enrollments']
({'queryNum': 232}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId, SUM(Credits) AS Total_Credits\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY Total_Credits DESC, FirstName;'})
Query 5eaf1ff5334f483dd6bb9f1b has been updated
==============
['Students']
['Enrollments']
['TotalCredits', 'DESC']
['Students.FirstName']
({'queryNum': 233}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits) as TotalCredits\nFROM Students \nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetId\nGROUP BY Students.NetId\nHAVING TotalCredits > 12\nORDER BY TotalCredits DESC, Students.FirstName;\n'})
Query 5eaf1ff5334f483dd6bb9f1c has been updated
==============
['Students', 's2']
['Enrollments']
['TotalCredits', 'desc']
['s2.FirstName']
({'queryNum': 234}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sum(Credits) as TotalCredits \nFROM Students LEFT JOIN Enrollments e2\n    ON NetId = e2.NetId\n    GROUP BY NetId\nHaving TotalCredits > 12\nORDER BY TotalCredits desc, FirstName;\n\n\n\n'})
Query 5eaf1ff5334f483dd6bb9f1d has been updated
==============
['Students']
['Enrollments']
({'queryNum': 235}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY Students.NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff5334f483dd6bb9f1e has been updated
==============
['Students', 'St']
['Enrollments', 'En']
({'queryNum': 236}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId, ( SELECT SUM(Credits)\n        FROM Enrollments En2\n        WHERE En2.NetId = NetId\n        GROUP BY En2.NetId\n      ) AS Total_credits\nFROM Students, Enrollments\nWHERE ( SELECT SUM(Credits)\n        FROM Enrollments En2\n        WHERE En2.NetId = NetId\n        GROUP BY En2.NetId\n      ) > 12\nORDER BY Total_credits DESC, FirstName'})
Query 5eaf1ff5334f483dd6bb9f1f has been updated
==============
['Students']
['Enrollments']
({'queryNum': 237}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Enrollments.NetId, SUM(Enrollments.Credits)\nFROM Students RIGHT JOIN Enrollments\nON Students.NetId = Enrollments.NetId\nGROUP BY NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName;\n'})
Query 5eaf1ff5334f483dd6bb9f20 has been updated
==============
['(\n', '', '', '', 'SELECT', 'temp.NetID,', 'temp.Credits', '\n', '', '', '', 'FROM', '(SELECT', 'NetId,', 'SUM(Credits)', 'as', 'Credits\n', '', '', '', '', '', '', '', 'FROM', 'Students', 'NATURAL', 'JOIN', 'Enrollments\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId)', 'as', 'temp\n', '', '', '', 'WHERE', 'temp.Credits', '>', '12', ')', 'as', 'temp2']
['Students']
({'queryNum': 238}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Credits\n    FROM (\n    SELECT temp.NetID, temp.Credits \n    FROM (SELECT NetId, SUM(Credits) as Credits\n        FROM Students NATURAL JOIN Enrollments\n        GROUP BY NetId) as temp\n    WHERE temp.Credits > 12 ) as NATURAL JOIN Students\nORDER BY Credits DESC, FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f21 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 239}, {'parsedRemovedQuery': 'SELECT firstName, lastName, NetId, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetID\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, firstName ASC; \n'})
Query 5eaf1ff5334f483dd6bb9f22 has been updated
==============
['(SELECT', 'SUM(E.Credits)', 'as', 'sm,', 'S.NetId,', 'S.FirstName,', 'S.LastName\nFROM', 'Students', 'S', '\nNATURAL', 'JOIN', 'Enrollments', 'E\nGROUP', 'BY', 'E.NetId)\nas', 't']
({'queryNum': 240}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sm\nFROM\n(SELECT SUM(E.Credits) as sm, S.NetId, S.FirstName, S.LastName\nFROM Students S \nNATURAL JOIN Enrollments E\nGROUP BY E.NetId)\nas\nWHERE sm > 12\nORDER BY sm desc, FirstName \n'})

Query 5eaf1ff5334f483dd6bb9f23 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['hours', 'DESC']
['s.FirstName\n\n\n\n#Group']
({'queryNum': 241}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as hours\nFROM Students NATURAL JOIN Enrollments \nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY hours DESC, FirstName\n\n\n\n#Group Enrollments by netID\n#Aggregate the credit hours for each group (netID)\n#Return students who take more than 12 credit hours\n\n\n#GROUP BY NetId\n#HAVING SUM(Credits) > 12'})
Query 5eaf1ff5334f483dd6bb9f24 has been updated
==============
['Students', 'AS', 's']
['Enrollments', 'e']
({'queryNum': 242}, {'parsedRemovedQuery': 'SELECT s.FirstName, s.LastName, s.NetId, SUM(Credits) AS "Total Credit"\nFROM Students AS s, Enrollments\nWHERE NetId = s.NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, s.FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f25 has been updated
==============
['Enrollments']
['Students']
({'queryNum': 243}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Enrollments.NetId, SUM(Enrollments.Credits)\nFROM Enrollments INNER JOIN Students\nWHERE Students.NetId = Enrollments.NetId\nGROUP BY Enrollments.NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC;'})
Query 5eaf1ff5334f483dd6bb9f26 has been updated
==============
['Students', 's']
['(SELECT', 'NetId']
['sum(Credits)', 'as', 'tCredits\n', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', 'GROUP', 'BY', 'NetID)', 'c']
['tCredits', 'DESC']
['FirstName', 'ASC']
({'queryNum': 244}, {'parsedRemovedQuery': 'SELECT Firstname, LastName,, c.tCredits\nFROM Students, \n    (SELECT, sum(Credits)     FROM Enrollments\n     GROUP BY NetID) c\nWHERE c.NetID = NetId and c.tCredits > 12\nORDER BY tCredits DESC, FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f27 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['sumcredits', 'DESC']
['s.FirstName']
({'queryNum': 245}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as sumcredits\nFrom Students JOIN Enrollments on (NetId = NetId)\nGROUP BY NetId \nHAVING sumcredits > 12\nORDER BY sumcredits DESC, FirstName \n'})
Query 5eaf1ff5334f483dd6bb9f28 has been updated
==============
({'queryNum': 246}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE Students.NetId = Enrollments.NetId\nGROUP BY FirstName, LastName, Students.NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC'})
Query 5eaf1ff5334f483dd6bb9f29 has been updated
==============
['(', 'SELECT', 'S.FirstName,', 'S.LastName,', 'S.NetID,', 'SUM(E.Credits)', 'as', 'Credits\n', '', '', '', '', '', 'FROM', 'Students', 'S,', 'Enrollments', 'E', '\n', '', '', '', '', '', 'WHERE', 'S.NetID', '=', 'E.NetID', '\n', '', '', '', '', '', 'GROUP', 'BY', 'NetID)', 'AS', 'temp']
['Credits', 'DESC']
['FirstName']
({'queryNum': 247}, {'parsedRemovedQuery': 'SELECT *\nFROM \n    ( SELECT S.FirstName, S.LastName, S.NetID, SUM(E.Credits) as Credits\n      FROM Students S, Enrollments E \n      WHERE S.NetID = E.NetID \n      GROUP BY NetID) AS\nWHERE Credits >  12\nORDER BY Credits DESC, FirstName;'})
Query 5eaf1ff6334f483dd6bb9f2a has been updated
==============
['Students']
['Enrollments']
({'queryNum': 248}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits)\nFROM Students \nJOIN Enrollments ON Students.NetId=Enrollments.NetId\nGROUP BY Students.NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC;\n\n\n\n\n'})
Query 5eaf1ff6334f483dd6bb9f2b has been updated
==============
['Students', 'A']
['Enrollments', 'B']
({'queryNum': 249}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGroup BY NetId \nHaving SUM(Credits)>12\nORDER BY SUM(Credits) DESC, FirstName\n\n\n\n-- WHERE (\n--         SELECT SUM(Credits)\n--         Group BY NetId\n--         Having COUNT(Credits)>3\n--         )\n    #    ORDER BY DESC)\n#ORDER BY FirstName'})
Query 5eaf1ff6334f483dd6bb9f2c has been updated
==============
['Students']
['(\n', '', '', '', 'select', 'sum(Credits)', 'as', 'sum_credit,', 'NetId\n', '', '', '', 'FROM', 'Enrollments', 'E\n', '', '', '', 'group', 'by', 'NetId)', 'as', 'A']
({'queryNum': 250}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sum_credit\nfrom Students natural join (\n    select sum(Credits) as sum_credit, NetId\n    FROM Enrollments E\n    group by NetId)\nwhere sum_credit > 12\nOrder by sum_credit DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f2d has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 251}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY FirstName, LastName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f2e has been updated
==============
['Students']
['Enrollments']
['totalCredits', 'DESC']
['FirstName', 'ASC']
({'queryNum': 252}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as totalCredits \nfrom Students natural join Enrollments\ngroup by NetId\nhaving sum(Credits) > 12\norder by totalCredits DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f2f has been updated
==============
['Students', 'S']
['(SELECT', 'NetId']
['SUM(Credits)', 'as', 'C\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId)', 'as', 'temp']
({'queryNum': 253}, {'parsedRemovedQuery': 'SELECT FirstName, LastName,, C\nFROM Students, (SELECT, SUM(Credits)                  FROM Enrollments\n                  GROUP BY NetId)\nWHERE NetId = NetId and C > 12\nORDER BY C DESC, Firstname'})
Query 5eaf1ff6334f483dd6bb9f30 has been updated
==============
['Students', 's']
['(SELECT', 'e.NetId', 'AS', 'net']
['SUM(e.Credits)', 'AS', 'totCredits', 'FROM', 'Enrollments', 'e', 'GROUP', 'BY', 'e.NetId', 'HAVING', 'SUM(e.Credits)', '>', '12)', 'AS', 'temp']
({'queryNum': 254}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, temp.totCredits\nFROM Students, (SELECT e.NetId AS net, SUM(e.Credits) AS totCredits FROM Enrollments e GROUP BY e.NetId HAVING SUM(e.Credits) > 12) AS temp\nWHERE NetId = temp.net\nORDER BY temp.totCredits DESC, FirstName ASC;'})
Query 5eaf1ff6334f483dd6bb9f31 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 255}, {'parsedRemovedQuery': 'Select FirstName, LastName, Netid, SUM(Credits)\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits)>12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f32 has been updated
==============
['Students', 's']
['(\nselect', 'NetId,', 'sum(Credits)', 'as', 'sm', 'from', 'Enrollments', 'e', 'group', 'by', 'e.NetID)', 'hr']
({'queryNum': 256}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sm from Students join (\nselect NetId, sum(Credits) as sm from Enrollments e group by e.NetID) on NetId=NetId\nwhere sm > 12 order by sm desc, FirstName'})
Query 5eaf1ff6334f483dd6bb9f33 has been updated
==============
['Students']
({'queryNum': 257}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, (\n    SELECT SUM(Credits) from Enrollments WHERE NetId=Students.Netid \n) FROM Students WHERE (\n    SELECT SUM(Credits) from Enrollments WHERE NetId=Students.Netid \n) > 12 order by (\n    SELECT SUM(Credits) from Enrollments WHERE NetId=Students.Netid \n) DESC, FirstName;'})
Query 5eaf1ff6334f483dd6bb9f34 has been updated
==============
['Students']
['(\n', '', 'select', 'Enrollments.NetId,', 'sum(Enrollments.Credits)', 'as', 'Credits\n', '', 'from', 'Enrollments\n', '', 'group', 'by', 'Enrollments.NetId\n)', 'as', 'g']
({'queryNum': 258}, {'parsedRemovedQuery': 'select Students.FirstName, \n\t   Students.LastName,\n       Students.NetId,\n       Credits\nfrom Students\n\ninner join (\n  select Enrollments.NetId, sum(Enrollments.Credits) as Credits\n  from Enrollments\n  group by Enrollments.NetId\n) as on NetId = Students.NetId\nwhere Credits > 12\norder by Credits desc, Students.FirstName asc;'})
Query 5eaf1ff6334f483dd6bb9f35 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 259}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetId, SUM(credits) from Students \nJOIN Enrollments ON NetId=NetId\nGROUP by NetId\nHAVING SUM(credits)>12\nORDER BY SUM(credits) DESC, FirstName ASC\n\n'})
Query 5eaf1ff6334f483dd6bb9f36 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 260}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY FirstName, LastName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f37 has been updated
==============
['Students']
['Enrollments']
['SC', 'DESC']
['Firstname', 'ASC']
({'queryNum': 261}, {'parsedRemovedQuery': 'select FirstName, LastName,Students.NetId,sum(Enrollments.Credits) as SC\nfrom Students \nright join Enrollments\non Students.NetId=Enrollments.NetId\ngroup by Students.NetId\nhaving SC>12\norder by SC DESC,Firstname ASC\n'})
Query 5eaf1ff6334f483dd6bb9f38 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['totalCredits', 'DESC']
['s.FirstName', 'ASC']
({'queryNum': 262}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Sum(Credits) as totalCredits\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY totalCredits DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f39 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 263}, {'parsedRemovedQuery': 'SELECT  FirstName, LastName, NetId, SUM(Credits) \nFROM    Students NATURAL JOIN Enrollments\nGROUP BY LastName, FirstName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC;'})

Query 5eaf1ff6334f483dd6bb9f3a has been updated
==============
['Enrollments']
['Students']
['totalCredits', 'desc']
['firstName']
({'queryNum': 264}, {'parsedRemovedQuery': 'select firstName, lastName, NetId, sum(Credits) as totalCredits from Enrollments natural join Students group by NetId having totalCredits > 12 order by totalCredits desc, firstName;'})
Query 5eaf1ff6334f483dd6bb9f3b has been updated
==============
['Students']
['Enrollments']
({'queryNum': 265}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits)\nFROM Students\nNATURAL JOIN Enrollments\nGROUP BY FirstName, LastName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC;'})
Query 5eaf1ff6334f483dd6bb9f3c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['totalcreds', 'DESC']
['s.FirstName', 'ASC']
({'queryNum': 266}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, SUM(Credits) as totalcreds\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId, FirstName, LastName\nHAVING totalcreds > 12\nORDER BY totalcreds DESC, FirstName ASC\n'})
Query 5eaf1ff6334f483dd6bb9f3d has been updated
==============
['Students', 's']
['(SELECT', 'SUM(Credits)', 'as', 'creds']
['NetId', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'AS', 'T']
({'queryNum': 267}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId, T.creds\nFROM Students, (SELECT SUM(Credits), NetId FROM Enrollments GROUP BY NetId) AS T\nWHERE T.creds > 12 AND NetId = T.NetId ORDER BY T.creds DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f3e has been updated
==============
['Students', 'AS', 'S']
['(SELECT', 'NetId']
['SUM(Credits)', 'As', 'totalCredits\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId)', 'AS', 'enrollInfo']
({'queryNum': 268}, {'parsedRemovedQuery': 'SELECT S.FirstName, S.LastName, S.NetId, enrollInfo.totalCredits\nFROM Students AS S, (SELECT, SUM(Credits) As totalCredits\n    FROM Enrollments\n    GROUP BY NetId) AS enrollInfo\nWHERE S.NetId = enrollInfo.NetId\n    AND enrollInfo.totalCredits > 12\nORDER BY enrollInfo.totalCredits DESC, S.FirstName;'})
Query 5eaf1ff6334f483dd6bb9f3f has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 269}, {'parsedRemovedQuery': 'Select FirstName, LastName, NetId, SUM(Credits)\nFROM Students INNER JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f40 has been updated
==============
['Students']
['(SELECT', 'NetId,', 'SUM(credits)', 'as', 'total\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'HAVING', 'SUM(Credits)', '>', '12)', 'AS', 'TotalCredits']
({'queryNum': 270}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, total\nFROM Students NATURAL JOIN (SELECT NetId, SUM(credits) as total\n                FROM Enrollments\n                GROUP BY NetId\n                HAVING SUM(Credits) > 12) AS\n\nORDER BY total DESC, FirstName\n\n\n\n'})
Query 5eaf1ff6334f483dd6bb9f41 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 271}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) \nfrom Students, Enrollments\nwhere NetID = NetID\ngroup by NetId, FirstName, LastName\nHAVING  sum(Credits) > 12\norder by sum(Credits) DESC, FirstName;\n'})
Query 5eaf1ff6334f483dd6bb9f42 has been updated
==============
['(SELECT', 's.FirstName', 'as', 'fn,', 's.LastName,', 's.NetId,', 'SUM(e.Credits)', 'as', 'creditSum\n', '', '', '', 'FROM', 'Students', 's,', 'Enrollments', 'e\n', '', '', '', 'WHERE', 's.NetId', '=', 'e.NetId\n', '', '', '', 'GROUP', 'BY', 's.NetId)', 'as', 't']
({'queryNum': 272}, {'parsedRemovedQuery': 'SELECT *\nFROM \n    (SELECT s.FirstName as fn, s.LastName, s.NetId, SUM(e.Credits) as creditSum\n    FROM Students s, Enrollments e\n    WHERE s.NetId = e.NetId\n    GROUP BY s.NetId)\nWHERE creditSum > 12\nORDER BY creditSum DESC, fn\n\n\n'})
Query 5eaf1ff6334f483dd6bb9f43 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 273}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Credits)\nFROM Students \nJOIN Enrollments \nON Students.NetId=Enrollments.NetId \nGROUP BY Students.NetId\nHAVING (SUM(Credits) > 12) \nORDER BY SUM(Credits) desc, FirstName asc;\n'})
Query 5eaf1ff6334f483dd6bb9f44 has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'NetId,', 'SUM(credits)', 'as', 'credits', 'FROM', '(SELECT', '*', 'FROM', 'Students', 'S', 'NATURAL', 'JOIN', 'Enrollments', 'E)', 'as', 'temp', 'GROUP', 'BY', 'NetID)', 'as', 'temp2']
['credits', 'DESC']
['FirstName']
({'queryNum': 274}, {'parsedRemovedQuery': 'SELECT * FROM (SELECT FirstName, LastName, NetId, SUM(credits) as credits FROM (SELECT * FROM Students S NATURAL JOIN Enrollments E) as temp GROUP BY NetID) as WHERE (credits > 12) ORDER BY credits DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f45 has been updated
==============
['Students']
['(select', 'NetId,', 'sum(Credits)', 'as', 'SC', 'from', 'Enrollments', 'group', 'by', 'NetId)', 'Enrollments']
({'queryNum': 275}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName, Students.NetId, SC as TotalCredits\nfrom Students\n    inner join (select NetId, sum(Credits) as SC from group by NetId) on Students.NetId = NetId\n    where SC > 12\n    order by SC desc, Students.FirstName\n    '})
Query 5eaf1ff6334f483dd6bb9f46 has been updated
==============
['Students']
['Enrollments']
['total', 'desc']
['FirstName']
({'queryNum': 276}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as total\nfrom Students natural join Enrollments\ngroup by NetId\nhaving total > 12\norder by total desc, FirstName\n'})
Query 5eaf1ff6334f483dd6bb9f47 has been updated
==============
['Students']
['(SELECT', 'Enrollments.NetId,', 'SUM(credits)', 'as', 'totalCredits', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId)', 'as', 'Credits']
['totalCredits', 'DESC']
['FirstName']
({'queryNum': 277}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, Students.NetId, totalCredits\nFROM Students LEFT JOIN (SELECT Enrollments.NetId, SUM(credits) as totalCredits FROM Enrollments GROUP BY NetId) as ON Students.NetId = NetId\nWHERE totalCredits > 12\nORDER BY totalCredits DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f48 has been updated
==============
['Students', 's']
['(SELECT', 'NetId,', 'SUM(Credits)', 'as', 'Sum\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'by', 'NetId)', 'AS', 'a']
({'queryNum': 278}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Sum\nFROM Students INNER JOIN\n    (SELECT NetId, SUM(Credits) as Sum\n    FROM Enrollments\n    GROUP by NetId) AS\nWHERE NetId = NetId AND Sum > 12\nORDER BY Sum DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f49 has been updated
==============
({'queryNum': 279}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Q.T\nFROM (SELECT *\nFROM (SELECT NetId ID, SUM(Credits) T\nFROM Enrollments\nGROUP BY NetId) as Temp\nWHERE Temp.T > 12 ) as Q, Students S\nWHERE S.NetId = Q.ID\nORDER BY Q.T DESC, FirstName ASC\n'})
Query 5eaf1ff6334f483dd6bb9f4a has been updated
==============
['Students']
['Enrollments']
['totalHours', 'DESC']
['FirstName', 'ASC']
({'queryNum': 280}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as totalHours\nfrom Students natural join Enrollments\ngroup by NetId\nhaving sum(Credits) > 12\norder by totalHours DESC, FirstName ASC;'})
Query 5eaf1ff6334f483dd6bb9f4b has been updated
==============
['Students']
['Enrollments']
({'queryNum': 281}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) as sum\nFROM Students NATURAL JOIN Enrollments \nGROUP BY NetID\nHAVING sum > 12\nORDER BY sum DESC, FirstName ASC'})
Query 5eaf1ff6334f483dd6bb9f4c has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'S.NetID', 'AS', 'NetID,', 'SUM(Credits)', 'AS', 'TotalCredits\nFROM', 'Students', 'S', 'LEFT', 'OUTER', 'JOIN', 'Enrollments', 'E', 'ON', 'S.NetID', '=', 'E.NetID\nGROUP', 'BY', 'NetID)', 'as', 'temp']
({'queryNum': 282}, {'parsedRemovedQuery': 'SELECT *\nFROM (SELECT FirstName, LastName, S.NetID AS NetID, SUM(Credits) AS TotalCredits\nFROM Students S LEFT OUTER JOIN Enrollments E ON S.NetID = E.NetID\nGROUP BY NetID)\nWHERE TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f4d has been updated
==============
['Students']
['Enrollments']
({'queryNum': 283}, {'parsedRemovedQuery': 'SELECT FirstName,LastName,NetId,SUM(Credits)\nFROM Students NATURAL JOIN Enrollments \nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC,FirstName\n\n'})
Query 5eaf1ff6334f483dd6bb9f4e has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['CreditHours', 'DESC']
['S.FirstName']
({'queryNum': 284}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) AS CreditHours\nFROM Students\nLEFT OUTER JOIN Enrollments on NetId = NetId\nGROUP BY NetId\nHAVING CreditHours > 12\nORDER BY CreditHours DESC, FirstName'})
Query 5eaf1ff6334f483dd6bb9f4f has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 285}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f50 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 286}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY NetID\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})

Query 5eaf1ff7334f483dd6bb9f51 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 287}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, SUM(Credits)\nfrom Students inner join Enrollments on NetId = NetId\ngroup by FirstName, LastName, NetId having SUM(Credits) > 12\norder by SUM(Credits) desc, FirstName asc'})
Query 5eaf1ff7334f483dd6bb9f52 has been updated
==============
['TotalCredits', 'DESC']
['FirstName']
({'queryNum': 288}, {'parsedRemovedQuery': 'SELECT S.FirstName, S.LastName, Temp.NetId, Temp.TotalCredits\nFROM (SELECT NetId, SUM(Credits) AS TotalCredits \nFROM Students S NATURAL JOIN Enrollments E WHERE S.NetId = E.NetId\nGROUP BY NetId) AS Temp, Students S\nWHERE S.NetId = Temp.NetId AND Temp.TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f53 has been updated
==============
['(SELECT', 's.FirstName,', 's.LastName,', 's.NetID,', 'SUM(e.Credits)', 'AS', 'TotalCredits\n', '', '', '', '', '', 'FROM', 'Students', 's', 'NATURAL', 'JOIN', 'Enrollments', 'e\n', '', '', '', '', '', 'GROUP', 'BY', 's.NetID)', 'AS', 'T']
['TotalCredits', 'DESC']
['FirstName', 'ASC']
({'queryNum': 289}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, TotalCredits\nFROM (SELECT s.FirstName, s.LastName, s.NetID, SUM(e.Credits) AS TotalCredits\n      FROM Students s NATURAL JOIN Enrollments e\n      GROUP BY s.NetID) AS\nWhere TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f54 has been updated
==============
['(\n', '', '', '', 'select', 'FirstName,', 'LastName,', 'Enrollments.NetId,', 'sum(Credits)', 'TotalCredits\n', '', '', '', 'from', 'Enrollments\n', '', '', '', 'inner', 'join', 'Students\n', '', '', '', 'on', 'Enrollments.NetId', '=', 'Students.NetId\n', '', '', '', 'group', 'by', 'Enrollments.NetId\n)', 'as', 't1']
['TotalCredits', 'desc']
['FirstName']
({'queryNum': 290}, {'parsedRemovedQuery': 'select * from (\n    select FirstName, LastName, Enrollments.NetId, sum(Credits) TotalCredits\n    from Enrollments\n    inner join Students\n    on Enrollments.NetId = Students.NetId\n    group by Enrollments.NetId\n)\nwhere TotalCredits > 12\norder by TotalCredits desc, FirstName\n'})
Query 5eaf1ff7334f483dd6bb9f55 has been updated
==============
({'queryNum': 291}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName, Students.NetID, sum(Enrollments.Credits)\n-- from Students join Enrollments on Enrollments.NetID = Students.NetID\nfrom Students, Enrollments\nwhere Students.NetID = Enrollments.NetID \nGroup by Students.FirstName,Students.LastName, Students.NetID\nHaving sum(Enrollments.Credits) > 12\norder by sum(Enrollments.Credits) DESC, Students.FirstName\n\n\n\n'})
Query 5eaf1ff7334f483dd6bb9f56 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['total', 'DESC']
['FirstName', 'asc']
({'queryNum': 292}, {'parsedRemovedQuery': 'SELECT FirstName,LastName,NetId,SUM(Credits) as total\nFROM Students,Enrollments\nWHERE NetId = NetId\nGROUP BY NetId\nHAVING total>12\nORDER BY total DESC, FirstName asc'})
Query 5eaf1ff7334f483dd6bb9f57 has been updated
==============
['(', '\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId,', 'SUM(Credits)', 'as', 'TotCredits', '\n', '', '', '', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Students\n', '', '', '', 'GROUP', 'BY', 'NetId\n)', 'AS', 'CreditTable']
({'queryNum': 293}, {'parsedRemovedQuery': 'SELECT * FROM\n( \n    SELECT FirstName, LastName, NetId, SUM(Credits) as TotCredits \n    FROM Enrollments NATURAL JOIN Students\n    GROUP BY NetId\n) AS\nWHERE TotCredits > 12\nORDER BY TotCredits DESC, FirstName ASC\n'})
Query 5eaf1ff7334f483dd6bb9f58 has been updated
==============
['(\nSELECT', 'bt.NetId,', 'bt.LastName,', 'bt.FirstName,', '\nSUM(bt.Credits)', 'AS', 'creds\nFROM(\nSELECT', 's.FirstName,', 's.LastName,', 's.NetId,', 'e.Credits', '\nFROM', 'Students', 's', 'JOIN', 'Enrollments', 'e', 'ON', 's.NetId', '=', 'e.NetId\n)', 'AS', 'bt\nGROUP', 'BY', 'bt.NetId\n)', 'AS', 'st']
['creds', 'DESC']
['st.FirstName', 'ASC']
({'queryNum': 294}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, creds\nFROM(\nSELECT bt.NetId, bt.LastName, bt.FirstName, \nSUM(bt.Credits) AS creds\nFROM(\nSELECT s.FirstName, s.LastName, s.NetId, e.Credits \nFROM Students s JOIN Enrollments e ON s.NetId = e.NetId\n) AS bt\nGROUP BY bt.NetId\n) AS\nWHERE creds > 12\nORDER BY creds DESC, FirstName ASC;'})
Query 5eaf1ff7334f483dd6bb9f59 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 295}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId, SUM(Enrollments.Credits)\nFROM Students\nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetId\nGROUP BY Students.NetId\nHAVING SUM(Enrollments.Credits) > 12\nORDER BY SUM(Enrollments.Credits) DESC, Students.FirstName ASC;'})
Query 5eaf1ff7334f483dd6bb9f5a has been updated
==============
['Students', 'AS', 's']
['(SELECT', 'Enrollments.NetId,', 'SUM(Enrollments.Credits)', 'AS', 'TotalCredits\n', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', 'GROUP', 'BY', 'Enrollments.NetId)', 'AS', 'e']
({'queryNum': 296}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, TotalCredits\nFROM Students AS\nJOIN (SELECT EnrollmentNetId, SUM(EnrollmentCredits) AS TotalCredits\n      FROM Enrollments\n      GROUP BY EnrollmentNetId) AS\nON NetId = NetId\nWHERE TotalCredits > 12\nORDER BY TotalCredits desc, FirstName asc'})
Query 5eaf1ff7334f483dd6bb9f5b has been updated
==============
['Enrollments', 'e']
['Students', 's']
({'queryNum': 297}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, sum(Credits) as temp\nfrom Enrollments join Students on netid = netid\ngroup by netid\nhaving temp > 12\norder by temp DESC, FirstName ASC; '})
Query 5eaf1ff7334f483dd6bb9f5c has been updated
==============
['Students']
['(SELECT', 'NETID,', 'SUM(Credits)', 'totalCredits\nFROM', 'Enrollments\nGROUP', 'BY', 'NetId)', 'AS', 'sumCredits']
['totalCredits', 'DESC']
['FirstName', 'ASC']
({'queryNum': 298}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, totalCredits\nFROM Students NATURAL JOIN (SELECT NETID, SUM(Credits) totalCredits\nFROM Enrollments\nGROUP BY NetId) AS\nWHERE totalCredits > 12\nORDER BY totalCredits DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f5d has been updated
==============
['Students', 'as', 'S']
['(\n', '', '', '', 'SELECT', 'NetId']
['SUM(credits)', 'as', 'SU\n', '', '', '', 'FROM', 'Enrollments\n', '', '', '', 'GROUP', 'BY', 'NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ')', 'as', 'T']
({'queryNum': 299}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SU \nFROM Students, \n    (\n    SELECT NetId, SUM(credits)    FROM Enrollments\n    GROUP BY NetId\n                    )\nWHERE NetId = NetId and SU > 12 ORDER BY SU DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f5e has been updated
==============
['(\n', '', '', '', 'SELECT', 'SUM(a.Credits)', 'AS', 'total,', 'a.FirstName,', 'a.LastName,', 'a.NetId\n', '', '', '', 'FROM\n', '', '', '', '', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 's.NetId,', 'e.Credits\n', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'AS', 'e,', 'Students', 'AS', 's\n', '', '', '', '', '', '', '', 'WHERE', 'e.NetId', '=', 's.NetId\n', '', '', '', '', '', '', '', ')', 'AS', 'a\n', '', '', '', 'GROUP', 'BY', 'a.NetId\n', '', '', '', ')', 'AS', 'b']
({'queryNum': 300}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, total\nFROM\n    (\n    SELECT SUM(a.Credits) AS total, a.FirstName, a.LastName, a.NetId\n    FROM\n        (\n        SELECT FirstName, LastName, s.NetId, e.Credits\n        FROM Enrollments AS e, Students AS s\n        WHERE e.NetId = s.NetId\n        ) AS a\n    GROUP BY a.NetId\n    ) AS\nWHERE total > 12\nORDER BY total DESC, FirstName ASC\n'})
Query 5eaf1ff7334f483dd6bb9f5f has been updated
==============
({'queryNum': 301}, {'parsedRemovedQuery': 'Select FirstName,LastName,Students.NetId,sum(Credits)\nfrom Students,Enrollments \nwhere Students.NetId = Enrollments.NetId\ngroup by Students.NetId\nhaving sum(Credits) > 12\norder by sum(Credits) DESC,FirstName'})
Query 5eaf1ff7334f483dd6bb9f60 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 302}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName\n-- 12 < (SELECT SUM(Credits)\n--             FROM Enrollments, Students\n--             WHERE NetId = NetId)'})
Query 5eaf1ff7334f483dd6bb9f61 has been updated
==============
['Students', 'AS', 'S']
['Enrollments', 'AS', 'E']
({'queryNum': 303}, {'parsedRemovedQuery': 'SELECT \n    S.FirstName, S.LastName, S.NetId, SUM(E.Credits)\nFROM \n    Students AS S, \n    Enrollments AS E\nWHERE \n    S.NetId = E.NetID\nGROUP BY \n    E.NetId  /* use Group in order to you aggreation SUM */\nHAVING \n    SUM(E.Credits) > 12\nORDER BY\n    SUM(E.Credits) DESC,\n    S.FirstName ASC\n    \n    \n\n    '})
Query 5eaf1ff7334f483dd6bb9f62 has been updated
==============

['Students']
['(SELECT', 'NetId,', 'SUM(Credits)', 's', 'FROM', 'Enrollments', 'GROUP', 'BY', 'NetId', ')', 'as', 'temp']
['s', 'DESC']
['FirstName']
({'queryNum': 304}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, s\nFROM Students NATURAL JOIN (SELECT NetId, SUM(Credits) s FROM Enrollments GROUP BY NetId )\nWHERE s > 12\nORDER BY s DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f63 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 305}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId, SUM(Credits) \n    FROM Students JOIN Enrollments ON NetId = NetId \n    GROUP BY NetId \n    HAVING SUM(Credits) > 12 \n    ORDER BY SUM(Credits) DESC, FirstName ASC;'})
Query 5eaf1ff7334f483dd6bb9f64 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 306}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY FirstName, LastName, NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;'})
Query 5eaf1ff7334f483dd6bb9f65 has been updated
==============
['Total', 'DESC']
['FirstName']
({'queryNum': 307}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId, Total\nFROM    Students, \n        (select NetId, SUM(Credits) as Total from Enrollments GROUP BY NetId) as TotalCredits\nWHERE Students.NetId = TotalCredits.NetId and Total > 12\nORDER BY Total DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f66 has been updated
==============
['Students', 's']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'minE.NetId', 'AS', 'NetId,', 'sum(minE.Credits)', 'AS', 'Credits\n', '', '', '', '', '', '', '', 'FROM', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'e.NetId', 'AS', 'NetId,', 'e.Credits', 'AS', 'Credits\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'e\n', '', '', '', '', '', '', '', '', '', '', '', ')', 'AS', 'minE\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'minE.NetId\n', '', '', '', ')', 'AS', 'enr']
['Credits', 'DESC']
['FirstName']
({'queryNum': 308}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, Credits\nFROM Students\nLEFT JOIN (\n        SELECT minE.NetId AS NetId, sum(minE.Credits) AS Credits\n        FROM (\n            SELECT e.NetId AS NetId, e.Credits AS Credits\n            FROM Enrollments e\n            ) AS minE\n        GROUP BY minE.NetId\n    ) AS\nON NetId = NetId\nWHERE Credits > 12\nORDER BY Credits DESC, FirstName\n'})
Query 5eaf1ff7334f483dd6bb9f67 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 309}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits) total_credits\nFROM Students JOIN Enrollments USING(NetId)\nGROUP BY NetId\nHAVING total_credits > 12\nORDER BY total_credits DESC, FirstName ASC\n'})
Query 5eaf1ff7334f483dd6bb9f68 has been updated
==============
['Students', 's']
['(select', 'NetId']
['sum(Credits)', 'as', 'p', 'from', 'Enrollments', 'group', 'by', 'NetId)', 'e']
({'queryNum': 310}, {'parsedRemovedQuery': 'Select FirstName, LastName,, e.p\nfrom Students, (select, sum(Credits) from Enrollments group by NetId) e\nwhere NetId = e.NetId AND e.p > 12\norder by e.p desc, FirstName asc;'})
Query 5eaf1ff7334f483dd6bb9f69 has been updated
==============
['Students', 'S']
['(Select', 'NetId']
['Sum(Credits)', 'as', 'TCH', 'from', 'Enrollments', 'group', 'by', 'NetId)', 'as', 'E']
({'queryNum': 311}, {'parsedRemovedQuery': 'Select FirstName, LastName,, TCH\nFrom Students, (Select, Sum(Credits) from Enrollments group by NetId)\nWhere NetId = NetId and TCH > 12\nOrder by TCH DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f6a has been updated
==============
['Students']
['(SELECT', 'NetId,', 'SUM(Credits)', 'AS', 'TotalCredits\nFROM', 'Enrollments\nGROUP', 'BY', 'NetId)', 'AS', 'temp']
['TotalCredits', 'DESC']
['FirstName']
({'queryNum': 312}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, TotalCredits\nFROM Students NATURAL JOIN (SELECT NetId, SUM(Credits) AS TotalCredits\nFROM Enrollments\nGROUP BY NetId) AS\nWHERE TotalCredits > 12\nORDER BY TotalCredits DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f6b has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 313}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFrom Students JOIN Enrollments ON NetId = NetId\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName;'})
Query 5eaf1ff7334f483dd6bb9f6c has been updated
==============
['Students']
['(\n', '', '', '', 'SELECT', 'sum(Credits)', 'as', 'sumCredit,', 'NetId\n', '', '', '', 'FROM', 'Enrollments', 'E\n', '', '', '', 'GROUP', 'by', 'NetId)', 'as', 'A']
['sumCredit', 'DESC']
['FirstName']
({'queryNum': 314}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sumCredit\nFROM Students natural join (\n    SELECT sum(Credits) as sumCredit, NetId\n    FROM Enrollments E\n    GROUP by NetId)\nWHERE sumCredit > 12\nORDER by sumCredit DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f6d has been updated
==============
({'queryNum': 315}, {'parsedRemovedQuery': 'SELECT\n  Students.FirstName,\n  Students.LastName,\n  Enrollments.NetId,\n  sum(Enrollments.Credits)\nfrom\n  Enrollments,\n  Students\nwhere Students.NetId = Enrollments.NetId\ngroup by Enrollments.NetId\nhaving sum(Enrollments.Credits) > 12\norder by sum(Enrollments.Credits) desc , Students.FirstName\n\n'})
Query 5eaf1ff7334f483dd6bb9f6e has been updated
==============
['Enrollments']
['Students']
({'queryNum': 316}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID, SUM(Credits)\nFROM Enrollments NATURAL JOIN Students\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName'})
Query 5eaf1ff7334f483dd6bb9f6f has been updated
==============
['Students', 'S']
['Enrollments', 'E']
({'queryNum': 317}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, SUM(Credits)\nFROM Students, Enrollments\nWHERE NetId = NetId\nGROUP BY 1, 2, 3\nHAVING SUM(Credits) > 12\nORDER BY SUM(Credits) DESC, FirstName ASC;'})
Query 5eaf1ff7334f483dd6bb9f70 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['totalCredits', 'DESC']
['s.FirstName', 'ASC']
({'queryNum': 318}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId, sum(Credits) AS totalCredits\nFROM Students JOIN Enrollments ON (NetId = NetId)\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY totalCredits DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f71 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['credithours', 'DESC']
['s.FirstName', 'ASC']
({'queryNum': 319}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId, SUM(Credits) as credithours\nFROM Students NATURAL JOIN Enrollments\nGROUP BY NetId\nHAVING SUM(Credits) > 12\nORDER BY credithours DESC, FirstName ASC'})
Query 5eaf1ff7334f483dd6bb9f72 has been updated
==============
['Customers', 'C1']
['Purchases', 'P1']
({'queryNum': 320}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN (SELECT C.CustomerId\nFROM Customers C, Purchases P\nWHERE C.CustomerId=P.CustomerId\nAND P.Price <= ALL (SELECT Price FROM Purchases p2\nWHERE p2.ProductId=P.ProductId))\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff7334f483dd6bb9f73 has been updated
==============
['Customers', 'c1']
['Purchases', 'p1']
['Purchases', 'p2']
['(select', 'p3.ProductId']
['min(p3.Price)', 'as', 'cn', 'from', 'Purchases', 'p3', 'group', 'by', 'p3.ProductId)', 'as', 'tmp']
({'queryNum': 321}, {'parsedRemovedQuery': 'select FirstName, LastName, count(distinct PurchaseId)\nfrom Customers natural join Purchases, Purchases,\n    (select p3.ProductId, min(p3.Price) from Purchases p3 group by p3.ProductId)\nwhere ProductId = ProductId and price = cn and CustomerId = CustomerId\ngroup by CustomerId\norder by CustomerId desc;'})
Query 5eaf1ff7334f483dd6bb9f74 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 322}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT count(p3.ProductId)\n                                 FROM Purchases p3\n                                 WHERE CustomerId = p3.CustomerId)\nFROM Customers\nINNER JOIN Purchases ON CustomerId = CustomerId\nWHERE Price = (SELECT MIN(p2.price)\n                 FROM Purchases p2\n                 WHERE p2.ProductId = ProductId)\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f75 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 323}, {'parsedRemovedQuery': 'select FirstName,LastName,count(*)\nfrom Customers natural join Purchases\nwhere CustomerId in\n    (select CustomerId\n    from Customers natural join Purchases as total\n    where Price = \n                (\n                select min(Price) # lowest price for that product\n                from Purchases\n                where ProductId = total.ProductId\n                )\n    group by CustomerId\n    )\ngroup by CustomerId\norder by CustomerId desc'})
Query 5eaf1ff8334f483dd6bb9f76 has been updated
==============
['Customers', 'cust']
['(SELECT', 'CustomerId']
['COUNT(*)', 'as', 'numPurchases', 'FROM', 'Purchases', 'GROUP', 'BY', 'CustomerId)', 'AS', 'PurchaseCount']
({'queryNum': 324}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, PurchaseCount.numPurchases\nFROM Customers, (SELECT, COUNT(*) FROM Purchases GROUP BY CustomerId) AS PurchaseCount\nWHERE CustomerId = PurchaseCount.CustomerId\nAND CustomerId IN (SELECT\n                        FROM Customers\n                        WHERE CustomerId IN (SELECT A.CustomerId\n                                            FROM Purchases A, (SELECT MIN(Price) AS MinPrice FROM Purchases GROUP BY ProductId) AS B\n                                            WHERE A.Price = B.MinPrice)\n                        ORDER BY CustomerId DESC)\nORDER BY CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f77 has been updated
==============
({'queryNum': 325}, {'parsedRemovedQuery': 'SELECT Distinct * \nFROM   (Select c.FirstName, \n               c.LastName, \n               (SELECT Count(*) \n                FROM   Purchases P \n                WHERE  P.CustomerId = c.CustomerId) \n        From   Customers c \n               Natural Join (Select p1.CustomerId, \n                                    p1.ProductId \n                             From   Purchases p1 \n                                    Join (Select Distinct ProductId, Min(price) minPrice \n                                          From   Purchases \n                                          Group  By ProductId) minpur \n                                    On p1.ProductId = minpur.ProductId \n                             Where  p1.price = minpur.minPrice) minpricepurchases \n\n        Order  By c.CustomerId DESC) rows '})

Query 5eaf1ff8334f483dd6bb9f78 has been updated
==============
['Customers', 'cu']
['(select', 'CustomerId']
['Count(*)', 'as', 'purchaseAmount', '\nfrom', 'Purchases\nwhere', 'CustomerId', 'in', '\n(Select', 'c.CustomerId', '', 'from', 'Customers', 'c', 'inner', 'join', 'Purchases', 'p', '\non', 'c.CustomerId', '=', 'p.CustomerId\nwhere\nprice', 'in', '(select', 'Min(Price)', 'from', 'Purchases', '\nGroup', 'by', 'ProductId)', '\nGroup', 'by', 'c.CustomerId\norder', 'by', 'c.CustomerId', 'desc)\ngroup', 'by', 'CustomerId)', 'purchaseAmountMapping']
({'queryNum': 326}, {'parsedRemovedQuery': 'select FirstName, LastName, purchaseAmountMapping.purchaseAmount\nfrom Customers, \n(select, Count(*) \nfrom Purchases\nwhere CustomerId in \n(Select c.CustomerId  from Customers c inner join Purchases p \non c.CustomerId = p.CustomerId\nwhere\nprice in (select Min(Price) from Purchases \nGroup by ProductId) \nGroup by c.CustomerId\norder by c.CustomerId desc)\ngroup by CustomerId) purchaseAmountMapping\nwhere CustomerId = purchaseAmountMapping.CustomerId\norder by CustomerId desc\n'})
Query 5eaf1ff8334f483dd6bb9f79 has been updated
==============
['(Select', 'DISTINCT', 'C.FirstName,', 'C.LastName,', '(Select', 'count(*)', 'From', 'Purchases', 'where', 'P.CustomerId', '=', 'CustomerId)', 'as', 'total,', 'C.CustomerId\nFrom', 'Customers', 'C\nJoin', 'Purchases', 'P', 'on', 'C.CustomerId', '=', 'P.CustomerId\nWhere', 'P.Price', '=', '(Select', 'Min(PP.Price)', 'From', 'Purchases', 'PP', 'where', 'PP.ProductId', '=', 'P.ProductId)\nOrder', 'by', 'C.CustomerId', 'Desc)', 'as', 'T']
({'queryNum': 327}, {'parsedRemovedQuery': 'Select FirstName, LastName, total\nfrom\n(Select DISTINCT C.FirstName, C.LastName, (Select count(*) From Purchases where P.CustomerId = CustomerId) as total, C.CustomerId\nFrom Customers C\nJoin Purchases P on C.CustomerId = P.CustomerId\nWhere P.Price = (Select Min(PP.Price) From Purchases PP where PP.ProductId = P.ProductId)\nOrder by C.CustomerId Desc)\n'})
Query 5eaf1ff8334f483dd6bb9f7a has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 328}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT Count(*) FROM Purchases x WHERE CustomerId = x.CustomerId)\nFROM Customers INNER JOIN Purchases on CustomerId = CustomerId\nWHERE Price <= ALL(SELECT Price FROM Purchases d WHERE ProductId = d.ProductId)\nGROUP BY CustomerId\nOrder By CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f7b has been updated
==============
['Customers']
['Purchases']
({'queryNum': 329}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases\nGROUP BY FirstName, LastName, CustomerId\nHAVING CustomerId IN (\nSELECT CustomerId\nFROM Purchases P1\nWHERE Price <= ALL(\nSELECT price\nFROM Purchases P2\nWHERE P1.ProductId = P2.ProductId)\n)\nORDER BY CustomerId DESC\n'})
Query 5eaf1ff8334f483dd6bb9f7c has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 330}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*)\nfrom Customers, Purchases\nwhere CustomerId = CustomerId\nand CustomerId in (select CustomerId\n                     from Purchases\n                     where Price in (select min(Price)\n                                        from Purchases\n                                        group by ProductId))\ngroup by FirstName, LastName, CustomerId\norder by CustomerId desc;'})
Query 5eaf1ff8334f483dd6bb9f7d has been updated
==============
['(Select', 'g.FirstName,', 'g.LastName,', 'g.CustomerId,', 'count(p1.ProductId)', 'as', 'counts\n', '', '', '', 'from', '\n', '', '', '', '', '', '', '', '(Select', 'cx.CustomerId,', 'cx.FirstName,', 'cx.LastName\n', '', '', '', '', '', '', '', 'From', '(Customers', 'cx', 'JOIN', 'Purchases', 'px', 'on', 'cx.CustomerId=px.CustomerId)\n', '', '', '', '', '', '', '', 'Where', 'px.Price', '<', 'ALL', '(Select', 'Price', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'from', 'Purchases', 'p3', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'where', 'p3.ProductId', '=', 'px.ProductId', 'and', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'px.CustomerId', '<>', 'p3.CustomerId)\n', '', '', '', '', '', '', '', ')', 'as', 'g', 'JOIN\n', '', '', '', '', '', '', '', 'Purchases', 'p1', 'on', 'g.CustomerId=p1.CustomerId\n', '', '', '', 'group', 'by', 'p1.PurchaseId,', 'g.CustomerId)', 'as', 'x']
({'queryNum': 331}, {'parsedRemovedQuery': 'Select FirstName, LastName, count(CustomerId)\nfrom\n    (Select g.FirstName, g.LastName, g.CustomerId, count(p1.ProductId) as counts\n    from \n        (Select cCustomerId, cFirstName, cLastName\n        From (Customers cx JOIN Purchases px on cCustomerId=pCustomerId)\n        Where pPrice < ALL (Select Price \n                         from Purchases p3 \n                         where p3.ProductId = pProductId and \n                               pCustomerId <> p3.CustomerId)\n        ) as g JOIN\n        Purchases p1 on g.CustomerId=p1.CustomerId\n    group by p1.PurchaseId, g.CustomerId)\ngroup by CustomerId\norder by CustomerId DESC\n\n'})
Query 5eaf1ff8334f483dd6bb9f7e has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 332}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers, Purchases\nWHERE CustomerId=CustomerId AND CustomerId IN (\n    SELECT c1.CustomerId\n    FROM Customers c1, Purchases p1\n    WHERE c1.CustomerId=p1.CustomerId\n    AND p1.Price <= ALL(SELECT p2.Price FROM Purchases p2 WHERE p1.ProductId=p2.ProductId)\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff8334f483dd6bb9f7f has been updated
==============
['Customers', 'C']
['Purchases', 'P']
({'queryNum': 333}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, ( SELECT COUNT(*)\n                                  FROM Purchases\n                                  WHERE CustomerId = CustomerId\n                                )\nFROM Customers, Purchases\nWHERE CustomerId = CustomerId AND\n      Price = (\n        SELECT MIN(Price)\n        FROM Purchases\n        WHERE ProductId = ProductId\n        )\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ff8334f483dd6bb9f80 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 334}, {'parsedRemovedQuery': 'Select FirstName, LastName, count(Price)\nFrom Customers, Purchases\nWhere CustomerId = CustomerId and CustomerId in (Select p1.CustomerId\nFrom Purchases p1 \nWhere p1.Price = (Select Min(p2.Price)\nFrom Purchases p2\nWhere p2.ProductId = p1.ProductId\nGroup By p2.ProductId))\nGroup By CustomerId\nOrder By CustomerId Desc'})
Query 5eaf1ff8334f483dd6bb9f81 has been updated
==============
['Purchases', 'pr']
({'queryNum': 335}, {'parsedRemovedQuery': 'select \n(select FirstName from Customers where CustomerId = CustomerId),\n(select LastName from Customers where CustomerId = CustomerId),\n(select count(*) from Purchases where CustomerId = CustomerId)\nfrom Purchases\nwhere Price = \n(select min(Price)\nfrom Purchases\nwhere ProductId = ProductId)\ngroup by CustomerId\norder by CustomerId desc\n\n-- select FirstName, LastName, \n-- ()\n-- from Customers\n-- where \n-- order by CustomerId'})
Query 5eaf1ff8334f483dd6bb9f82 has been updated
==============
['(\n', '', '', '', '', '', '', 'SELECT', 'C.CustomerId,', 'C.FirstName,', 'C.LastName', '\n', '', '', '', '', '', '', 'FROM', 'Customers', 'C', '', 'INNER', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'pur.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pur', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'ProductId,', 'MIN(Price)', 'AS', 'MINPRICE\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId)', 'AS', 'MINT\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'ON', 'pur.ProductId', '=', 'MINT.ProductId', 'AND', 'pur.Price', '=', 'MINT.MINPRICE\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'pur.CustomerId)', 'AS', 'T\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'ON', 'C.CustomerId', '=', 'T.CustomerId)', 'AS', 'M']
['Purchases']
({'queryNum': 336}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId) AS CountNum \nFROM (\n       SELECT C.CustomerId, C.FirstName, C.LastName \n       FROM Customers C  INNER JOIN (\n                         SELECT pur.CustomerId\n                         FROM Purchases pur JOIN (\n                                 SELECT ProductId, MIN(Price) AS MINPRICE\n                                 FROM Purchases \n                                 GROUP BY ProductId) AS MINT\n                                 ON pur.ProductId = MINT.ProductId AND pur.Price = MINT.MINPRICE\n                         GROUP BY pur.CustomerId) AS T\n                         ON C.CustomerId = T.CustomerId) AS\nLEFT JOIN Purchases \nON CustomerId = Purchases.CustomerId\nGROUP BY CustomerId, FirstName, LastName \nORDER BY CustomerId DESC;'})
Query 5eaf1ff8334f483dd6bb9f83 has been updated
==============
['Customers', 'C']
['Purchases', 'P']
({'queryNum': 337}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(Pi.ProductId)\n                                FROM Purchases Pi\n                                WHERE CustomerId = Pi.CustomerId)\nFROM Customers JOIN Purchases ON CustomerId = CustomerId\nWHERE Price IN (\n    SELECT MIN(Price)\n    FROM Purchases\n    GROUP BY ProductId\n    )\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff8334f483dd6bb9f84 has been updated
==============
['Customers', 'c2']
['Purchases', 'p2']
({'queryNum': 338}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count(CustomerId)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN (SELECT DISTINCT CustomerId\nFROM Customers c NATURAL JOIN Purchases p\nWHERE p.Price = (SELECT MIN(Price)\n                FROM Purchases\n                WHERE ProductId = p.ProductId)\nGROUP BY CustomerId)\nGroup by CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ff8334f483dd6bb9f85 has been updated
==============
['Customers', 'a']
({'queryNum': 339}, {'parsedRemovedQuery': 'select FirstName, LastName, (select count(Purchases.CustomerId) from Purchases where CustomerId = Purchases.CustomerId)\nfrom Customers\nwhere CustomerId = any (select CustomerId from Purchases b where b.Price = (select Min(price) from Purchases c where b.ProductId = c.ProductId))\norder by CustomerId desc'})
Query 5eaf1ff8334f483dd6bb9f86 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 340}, {'parsedRemovedQuery': 'select FirstName, LastName, count(PurchaseId)\nfrom Customers join Purchases\non CustomerId = CustomerId\nwhere CustomerId in \n(\nselect p3.CustomerId \nfrom Purchases p3 join (select p2.ProductId, min(p2.Price) as minPrice from Purchases p2 group by p2. ProductId) as temp\non p3.ProductId = temProductId\nwhere p3.Price = temminPrice\n\n)\ngroup by CustomerId\norder by CustomerId desc'})

Query 5eaf1ff8334f483dd6bb9f87 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 341}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*) AS numPurchases\nFROM Customers JOIN Purchases ON(CustomerId = CustomerId)\n\nWHERE CustomerId IN (\nSELECT DISTINCT CustomerId\nFROM Customers JOIN Purchases ON(CustomerId = CustomerId)\nWHERE Price <= (\n    SELECT MIN(Price)\n    FROM Purchases p2\n    WHERE ProductId = p2.ProductId)\n    \n)\n\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n\n'})
Query 5eaf1ff8334f483dd6bb9f88 has been updated
==============
['(Select', 'DISTINCT', 'C.FirstName,', 'C.LastName,', '(Select', 'count(*)', 'From', 'Purchases', 'where', 'P.CustomerId', '=', 'CustomerId)', 'as', 'total,', 'C.CustomerId\nFrom', 'Customers', 'C\nJoin', 'Purchases', 'P', 'on', 'C.CustomerId', '=', 'P.CustomerId\nWhere', 'P.Price', '=', '(Select', 'Min(PP.Price)', 'From', 'Purchases', 'PP', 'where', 'PP.ProductId', '=', 'P.ProductId)\nOrder', 'by', 'C.CustomerId', 'Desc)', 'as', 'T']
({'queryNum': 342}, {'parsedRemovedQuery': 'Select FirstName, LastName, total\nfrom\n(Select DISTINCT C.FirstName, C.LastName, (Select count(*) From Purchases where P.CustomerId = CustomerId) as total, C.CustomerId\nFrom Customers C\nJoin Purchases P on C.CustomerId = P.CustomerId\nWhere P.Price = (Select Min(PP.Price) From Purchases PP where PP.ProductId = P.ProductId)\nOrder by C.CustomerId Desc) as T'})
Query 5eaf1ff8334f483dd6bb9f89 has been updated
==============
['(Select', 'DISTINCT', 'c.FirstName,', 'c.LastName,', '(Select', 'count(*)', 'From', 'Purchases', 'p3', 'Where', 'p3.Customerid', '=', 'c.customerid)', 'AS', 'num,', 'c.customerid\nFrom', 'Customers', 'c,', 'Purchases', 'p\nWhere', 'c.customerid', '=', 'p.customerid', '&&', 'p.Price', '<=', 'ALL(', 'Select', 'p2.price\n', '', 'From', 'Purchases', 'p2', '\n', '', 'Where', 'p.productID', '=', 'p2.ProductID)', ')', 'AS', 'hoho\n#Group']
({'queryNum': 343}, {'parsedRemovedQuery': 'Select hoho.FirstName, hoho.LastName, hoho.num\nFrom (Select DISTINCT c.FirstName, c.LastName, (Select count(*) From Purchases p3 Where p3.Customerid = c.customerid) AS num, c.customerid\nFrom Customers c, Purchases p\nWhere c.customerid = p.customerid && p.Price <= ALL( Select p2.price\n  From Purchases p2 \n  Where p.productID = p2.ProductID) ) AS by c.customerID\nOrder by hoho.customerid DESC'})
Query 5eaf1ff8334f483dd6bb9f8a has been updated
==============
['(SELECT', 'Customers.CustomerId\n', '', '', '', 'FROM', 'Customers\n', '', '', '', 'JOIN', 'Purchases', 'ON', 'Purchases.CustomerId', '=', 'Customers.CustomerId\n', '', '', '', 'JOIN', '(SELECT', 'Products.ProductId,', 'MIN(Purchases.Price)', 'AS', 'Price\n', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', 'JOIN', 'Products', 'ON', 'Products.ProductId', '=', 'Purchases.ProductId\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'Products.ProductName,', 'Products.ProductId)', 'AS', 'cheapest\n', '', '', '', '', '', '', '', 'ON', 'cheapest.ProductId', '=', 'Purchases.ProductId\n', '', '', '', 'WHERE', 'cheapest.Price', '=', 'Purchases.Price\n', '', '', '', 'GROUP', 'BY', 'Customers.CustomerId)', 'AS', 'c']
['Customers']
['Purchases']
({'queryNum': 344}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, COUNT(Purchases.PurchaseId)\nFROM \n(SELECT Customers.CustomerId\n    FROM Customers\n    JOIN Purchases ON Purchases.CustomerId = Customers.CustomerId\n    JOIN (SELECT Products.ProductId, MIN(Purchases.Price) AS Price\n        FROM Purchases\n        JOIN Products ON Products.ProductId = Purchases.ProductId\n        GROUP BY Products.ProductName, Products.ProductId) AS cheapest\n        ON cheapest.ProductId = Purchases.ProductId\n    WHERE cheapest.Price = Purchases.Price\n    GROUP BY Customers.CustomerId) AS\nJOIN Customers ON Customers.CustomerId = CustomerId\nJOIN Purchases ON CustomerId = Purchases.CustomerId\nGROUP BY Customers.FirstName, Customers.LastName, Customers.CustomerId\nORDER BY Customers.CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f8b has been updated
==============
['Customers', 'as', 'L']
['(\n', '', '', '', 'SELECT', 'CustomerId']
['COUNT(CustomerId)', 'as', 'CartSize\n', '', '', '', 'FROM', 'Purchases\n', '', '', '', 'WHERE', 'CustomerId', 'IN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'as', 'P']
['(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'ProductId']
['MIN(Price)', 'as', 'Price\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', ')', 'as', 'P_Min\n', '', '', '', '', '', '', '', 'WHERE', 'P.ProductId', '=', 'P_Min.ProductId', 'AND', 'P.Price', '=', 'P_Min.Price\n', '', '', '', ')\n', '', '', '', 'GROUP', 'BY', 'CustomerId\n', '', '', '', ')', 'as', 'R']
({'queryNum': 345}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, CartSize\nFROM\n    Customers,\n    (\n    SELECT CustomerId, COUNT(CustomerId)    FROM Purchases\n    WHERE CustomerId IN (\n        SELECT CustomerId\n        FROM Purchases,\n            (\n            SELECT ProductId, MIN(Price)            FROM Purchases\n            GROUP BY ProductId\n            )        WHERE ProductId = P_Min.ProductId AND Price = P_Min.Price\n    )\n    GROUP BY CustomerId\n    )\nWHERE\n    CustomerId = CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f8c has been updated
==============
['(SELECT', 'DISTINCT', 'Customers.CustomerId,', 'FirstName,', 'LastName,', 'TotalPurchases\n', '', '', '', '', '', 'FROM', 'Customers,\n', '', '', '', '', '', '', '', '', '', '', 'Purchases,\n', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'ProductId,', 'MIN(Price)', 'AS', 'LowestPrice', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)', 'AS', 'LowestPrices,\n', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'CustomerId,', 'COUNT(PurchaseId)', 'AS', 'TotalPurchases', 'FROM', 'Purchases', 'GROUP', 'BY', 'CustomerId', 'ORDER', 'BY', 'CustomerId', 'DESC)', 'AS', 'CustomerReceipt\n', '', '', '', '', '', 'WHERE', 'Customers.CustomerId', '=', 'Purchases.CustomerId', 'AND\n', '', '', '', '', '', '', '', '', '', '', 'Purchases.ProductId', '=', 'LowestPrices.ProductId', 'AND\n', '', '', '', '', '', '', '', '', '', '', 'Purchases.Price', '=', 'LowestPrices.LowestPrice', 'AND\n', '', '', '', '', '', '', '', '', '', '', 'CustomerReceipt.CustomerId', '=', 'Customers.CustomerId\n', '', '', '', '', '', 'ORDER', 'BY', 'Customers.CustomerId', 'DESC\n', '', '', '', '', ')', 'AS', 'ordered_table']
({'queryNum': 346}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, TotalPurchases\nFROM (SELECT DISTINCT Customers.CustomerId, FirstName, LastName, TotalPurchases\n      FROM Customers,\n           Purchases,\n           (SELECT ProductId, MIN(Price) AS LowestPrice FROM Purchases GROUP BY ProductId) AS LowestPrices,\n           (SELECT CustomerId, COUNT(PurchaseId) AS TotalPurchases FROM Purchases GROUP BY CustomerId ORDER BY CustomerId DESC) AS CustomerReceipt\n      WHERE Customers.CustomerId = Purchases.CustomerId AND\n           Purchases.ProductId = LowestPrices.ProductId AND\n           Purchases.Price = LowestPrices.LowestPrice AND\n           CustomerReceipt.CustomerId = Customers.CustomerId\n      ORDER BY Customers.CustomerId DESC\n     ) AS ordered_table;\n           \n    '})
Query 5eaf1ff8334f483dd6bb9f8d has been updated
==============
['(SELECT', 'Customers.FirstName', 'as', 'FirstName,', 'Customers.LastName', 'as', 'LastName,', 'Customers.CustomerId\nFROM', 'Customers\nINNER', 'JOIN', 'Purchases', 'p\nON', 'Customers.CustomerId', '=', 'p.CustomerId\nINNER', 'JOIN', 'Products\nON', 'Products.ProductId', '=', 'p.ProductId\nINNER', 'JOIN', 'Brands\nON', 'Brands.BrandName', '=', 'Products.BrandName\nWHERE', 'p.Price', '<=', '(SELECT', 'MIN(Price)', 'FROM', 'Purchases', 'INNER', 'JOIN', 'Products', 'ON', 'Products.ProductId', '=', 'Purchases.ProductId', 'WHERE', 'p.ProductId', '=', 'Purchases.ProductId)\nGROUP', 'BY', 'Customers.CustomerId\nORDER', 'BY', 'Customers.CustomerId', 'DESC)', 'as', 't1']
['Purchases', 'as', 'p2']
({'queryNum': 347}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM\n(SELECT Customers.FirstName as FirstName, Customers.LastName as LastName, Customers.CustomerId\nFROM Customers\nINNER JOIN Purchases p\nON Customers.CustomerId = p.CustomerId\nINNER JOIN Products\nON Products.ProductId = p.ProductId\nINNER JOIN Brands\nON Brands.BrandName = Products.BrandName\nWHERE p.Price <= (SELECT MIN(Price) FROM Purchases INNER JOIN Products ON Products.ProductId = Purchases.ProductId WHERE p.ProductId = Purchases.ProductId)\nGROUP BY Customers.CustomerId\nORDER BY Customers.CustomerId DESC)\nINNER JOIN Purchases\nON CustomerId = CustomerId\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n'})
Query 5eaf1ff8334f483dd6bb9f8e has been updated
==============
['(SELECT', 'DISTINCT', 'c.FirstName,', 'c.LastName,', 'c.CustomerId\nFROM', 'Customers', 'c', 'JOIN', '', 'Purchases', 'p', 'ON', 'c.CustomerId', '=', 'p.CustomerId\nWHERE', 'p.Price', 'IN', '(SELECT', 'MIN(Price)', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)\n)', 're']
['Purchases', 'pr']
({'queryNum': 348}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM \n(SELECT DISTINCT c.FirstName, c.LastName, c.CustomerId\nFROM Customers c JOIN  Purchases p ON c.CustomerId = p.CustomerId\nWHERE p.Price IN (SELECT MIN(Price) FROM Purchases GROUP BY ProductId)\n) JOIN Purchases ON CustomerId = CustomerId\n\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n\n\n\n'})
Query 5eaf1ff8334f483dd6bb9f8f has been updated
==============
['Purchases', 'pur1']
['Customers', 'c']
({'queryNum': 349}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(*) FROM Purchases p WHERE p.CustomerId = CustomerId)\nFROM Purchases \nJOIN Customers on CustomerId = CustomerId\nWHERE Price IN (\n    SELECT MIN(price)\n    FROM Purchases pur2\n    WHERE pur2.ProductId = ProductId\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})

Query 5eaf1ff8334f483dd6bb9f90 has been updated
==============
['Purchases']
['Customers']
({'queryNum': 350}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(Purchases.Price) FROM  Purchases JOIN Customers ON Purchases.CustomerId = Customers.CustomerId\nWHERE Customers.CustomerId IN (SELECT Purchases.CustomerId FROM Purchases WHERE Price IN (SELECT MIN(PRICE) FROM Purchases GROUP BY Purchases.ProductId) GROUP BY CustomerId)\nGROUP BY Purchases.CustomerId\nORDER BY Purchases.CustomerId DESC;'})
Query 5eaf1ff8334f483dd6bb9f91 has been updated
==============
['(\n', '', '', '', 'SELECT', 'CustomerId,', 'FirstName,', 'LastName,', 'COUNT(PurchaseId)', 'AS', 'NumPurchases\n', '', '', '', 'FROM', 'Customers\n', '', '', '', 'NATURAL', 'JOIN', 'Purchases\n', '', '', '', 'WHERE', 'CustomerId', 'IN\n', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Customers\n', '', '', '', '', '', '', '', 'NATURAL', 'JOIN', 'Purchases\n', '', '', '', '', '', '', '', 'WHERE', '(ProductId,', 'Price)', 'IN', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'ProductId,', 'MIN(Price)', 'AS', 'MinPrice\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId\n', '', '', '', '', '', '', '', ')\n', '', '', '', ')\n', '', '', '', 'GROUP', 'BY', 'CustomerId,', 'FirstName,', 'LastName\n', '', '', '', 'ORDER', 'BY', 'CustomerId', 'DESC,', 'FirstName,', 'LastName\n)', 'AS', 'sub']
({'queryNum': 351}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NumPurchases\nFROM (\n    SELECT CustomerId, FirstName, LastName, COUNT(PurchaseId) AS NumPurchases\n    FROM Customers\n    NATURAL JOIN Purchases\n    WHERE CustomerId IN\n    (\n        SELECT CustomerId\n        FROM Customers\n        NATURAL JOIN Purchases\n        WHERE (ProductId, Price) IN (\n            SELECT ProductId, MIN(Price) AS MinPrice\n            FROM Purchases\n            GROUP BY ProductId\n        )\n    )\n    GROUP BY CustomerId, FirstName, LastName\n    ORDER BY CustomerId DESC, FirstName, LastName\n) AS sub'})
Query 5eaf1ff8334f483dd6bb9f92 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 352}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN \n(SELECT CustomerId\n    FROM Customers NATURAL JOIN Purchases\n    WHERE (ProductId, Price) IN (SELECT ProductId, MIN(Price) FROM Purchases GROUP BY ProductId)\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ff8334f483dd6bb9f93 has been updated
==============
['Customers', 'ca']
['(Select', 'count(Purchases.PurchaseID)', 'as', 'pprice,', 'Purchases.CustomerId\nfrom', 'Purchases\ninner', 'join', '\n(Select', 'DISTINCT', 'c.CustomerID,', 'c.FirstName,', 'c.LastName\nfrom', 'Customers', 'c\ninner', 'join', '(Select', '*\n', '', '', '', 'from', 'Purchases', 'as', 'pu\n', '', '', '', 'inner', 'join', '(Select', 'p.ProductID', 'as', 'pTable,', 'MIN(p.Price)', 'as', 'minprice\n', '', '', '', 'from', 'Purchases', 'p\n', '', '', '', 'group', 'by', 'pTable)', 'as', 'a\nwhere', 'pu.ProductID', '=', 'a.pTable', 'AND', 'pu.Price', '=', 'a.minprice)', 'as', 'b\nwhere', 'c.CustomerID', '=', 'b.CustomerID)', 'as', 'fintable\nwhere', 'Purchases.CustomerID', '=', 'fintable.CustomerID\nGroup', 'By', 'Purchases.CustomerID)', 'as', 'd']
({'queryNum': 353}, {'parsedRemovedQuery': 'Select FirstName, LastName, pprice\nfrom Customers\ninner join\n(Select count(Purchases.PurchaseID) as pprice, Purchases.CustomerId\nfrom Purchases\ninner join \n(Select DISTINCT c.CustomerID, c.FirstName, c.LastName\nfrom Customers c\ninner join (Select *\n    from Purchases as pu\n    inner join (Select p.ProductID as pTable, MIN(p.Price) as minprice\n    from Purchases p\n    group by pTable) as a\nwhere pu.ProductID = a.pTable AND pu.Price = a.minprice) as b\nwhere c.CustomerID = b.CustomerID) as fintable\nwhere Purchases.CustomerID = fintable.CustomerID\nGroup By Purchases.CustomerID)\nwhere  CustomerID = CustomerID\norder by CustomerID DESC'})
Query 5eaf1ff8334f483dd6bb9f94 has been updated
==============
['Customers', 'cc']
['(Select', 'pu.CustomerId']
['Count(pu.CustomerId)', 'as', 'theCounter\n', '', '', '', 'From', 'Purchases', 'pu']
['(SELECT', 'Distinct', 'a.CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'a', 'JOIN', '(', '\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'ProductId']
['MIN(Price)', 'minPrice\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId', '\n', '', '', '', '', '', '', '', '', '', '', '', ')', 'minPriceTable', '\n', '', '', '', '', '', '', '', 'ON', 'a.ProductId', '=', 'minPriceTable.ProductId', 'AND', 'a.Price', '=', 'minPriceTable.minPrice\n', '', '', '', '', '', '', '', 'Order', 'by', 'a.CustomerId', 'desc)', 'minBuyers\n', '', '', '', 'Where', 'pu.CustomerId', '=', 'minBuyers.CustomerId\n', '', '', '', 'Group', 'By', 'pu.CustomerId\n', '', '', '', 'Order', 'By', 'pu.CustomerId', 'desc)', 'nameWithCount']
({'queryNum': 354}, {'parsedRemovedQuery': 'Select FirstName, LastName, nameWithCount.theCounter\nFrom Customers, (Select pu.CustomerId, Count(pu.CustomerId)    From Purchases pu , (SELECT Distinct a.CustomerId\n        FROM Purchases a JOIN ( \n            SELECT ProductId, MIN(Price) minPrice\n            FROM Purchases\n            GROUP BY ProductId \n            ) minPriceTable \n        ON a.ProductId = minPriceTable.ProductId AND a.Price = minPriceTable.minPrice\n        Order by a.CustomerId desc) minBuyers\n    Where pu.CustomerId = minBuyers.CustomerId\n    Group By pu.CustomerId\n    Order By pu.CustomerId desc) nameWithCount\nWhere CustomerId = nameWithCount.CustomerId\nOrder By CustomerId desc'})
Query 5eaf1ff8334f483dd6bb9f95 has been updated
==============
['(SELECT', 'DISTINCT', 'Customers.FirstName,', 'Customers.LastName,', 'Customers.CustomerId\n\t\t\tFROM', 'Purchases', 'p\n\t\t\tINNER', 'JOIN', 'Customers', 'ON', 'p.CustomerId=Customers.CustomerId\n\t\t\tINNER', 'JOIN', 'Products', 'ON', 'p.ProductID', '=', 'Products.ProductID\n\t\t\tINNER', 'JOIN', 'Brands', 'ON', 'Products.BrandName', '=', 'Brands.BrandName\n\t\t\tWHERE', '(p.Price,', 'p.ProductId)', 'IN', '(SELECT', 'MIN(Price),', 'ProductId', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)\n\t\t\tORDER', 'BY', 'Customers.CustomerId', 'DESC)', 'as', 'output']
['Purchases']
({'queryNum': 355}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\n\t\tFROM (SELECT DISTINCT Customers.FirstName, Customers.LastName, Customers.CustomerId\n\t\t\tFROM Purchases p\n\t\t\tINNER JOIN Customers ON p.CustomerId=Customers.CustomerId\n\t\t\tINNER JOIN Products ON p.ProductID = Products.ProductID\n\t\t\tINNER JOIN Brands ON Products.BrandName = Brands.BrandName\n\t\t\tWHERE (p.Price, p.ProductId) IN (SELECT MIN(Price), ProductId FROM Purchases GROUP BY ProductId)\n\t\t\tORDER BY Customers.CustomerId DESC)\n\t\tLEFT JOIN Purchases \n\t\tON Purchases.CustomerId = CustomerId\n\t\tGROUP BY CustomerId\n\t\tORDER BY CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f96 has been updated
==============
['Customers', 'c']
['Purchases', 'p3']
({'queryNum': 356}, {'parsedRemovedQuery': 'SELECT FirstName, Lastname, COUNT(*)\nFROM Customers JOIN Purchases ON CustomerId = CustomerId\nWHERE CustomerId IN \n    (SELECT DISTINCT CustomerId\n    FROM Purchases pu2 JOIN\n        (SELECT ProductId, MIN(Price) as MinPrice\n        FROM Purchases pu1\n        GROUP BY ProductId) temp1\n        ON temp1.ProductId = pu2.ProductId AND temp1.MinPrice = pu2.Price\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff8334f483dd6bb9f97 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 357}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(*) \n                                 FROM Purchases pt \n                                 WHERE (CustomerId = pt.CustomerId))\nFROM Customers NATURAL JOIN Purchases\nWHERE Price = (SELECT MIN(pr.Price) \n                 FROM Purchases pr \n                 WHERE ProductId = pr.ProductId)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff8334f483dd6bb9f98 has been updated
==============
['(SELECT', 'c.FirstName,', 'c.LastName,', 'COUNT(*)', 'AS', 'TotalPurchases,', 'c.CustomerId\nFROM', '(\n', '', '', '', 'SELECT', 'DISTINCT', 'CustomerId\n', '', '', '', 'FROM', 'Purchases', 'p\n', '', '', '', 'JOIN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'MIN(PRICE)', 'AS', 'minPrice,', 'ProductId\n', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId\n', '', '', '', '', '', '', '', ')mins', '\n', '', '', '', 'ON', 'p.ProductId', '=', 'mins.ProductId\n', '', '', '', 'AND', 'p.Price', '=', 'mins.minPrice\n)', 'minPeeps\nJOIN', 'Customers', 'c', 'ON', 'minPeeps.CustomerId', '=', 'c.CustomerId\nJOIN', 'Purchases', 'p', 'ON', 'minPeeps.CustomerId', '=', 'p.CustomerId\n\nGROUP', 'BY', 'c.FirstName,', 'c.LastName,', 'c.CustomerId\nORDER', 'BY', 'c.CustomerId', 'DESC)\na']
({'queryNum': 358}, {'parsedRemovedQuery': 'SELECT a.FirstName, a.LastName, a.TotalPurchases\nFROM\n(SELECT c.FirstName, c.LastName, COUNT(*) AS TotalPurchases, c.CustomerId\nFROM (\n    SELECT DISTINCT CustomerId\n    FROM Purchases p\n    JOIN (\n        SELECT MIN(PRICE) AS minPrice, ProductId\n        FROM Purchases\n        GROUP BY ProductId\n        )mins \n    ON p.ProductId = mins.ProductId\n    AND p.Price = mins.minPrice\n) minPeeps\nJOIN Customers c ON minPeeps.CustomerId = c.CustomerId\nJOIN Purchases p ON minPeeps.CustomerId = p.CustomerId\n\nGROUP BY c.FirstName, c.LastName, c.CustomerId\nORDER BY c.CustomerId DESC)\na;'})
Query 5eaf1ff8334f483dd6bb9f99 has been updated
==============
['Purchases', 'P']
['Customers', 'C']
({'queryNum': 359}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Purchases LEFT OUTER JOIN Customers\n    ON CustomerId = CustomerId\n\nWHERE CustomerId IN \n    (SELECT DISTINCT CustomerId\n    FROM (SELECT ProductId, MIN(Price) as minp\n        FROM Purchases\n        GROUP BY ProductId) as temp, Purchases P, Customers\n    WHERE (temp.ProductId = ProductId \n        and temp.minp = Price \n        and CustomerId = CustomerId))\n\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})

Query 5eaf1ff8334f483dd6bb9f9a has been updated
==============
['Customers']
['(SELECT', 'CustomerId,', 'COUNT(*)', 'as', 'TotalNumber', '\nFROM', 'Purchases', 'NATURAL', 'JOIN', '(SELECT', 'CustomerId', 'FROM', 'Purchases', 'p', 'JOIN', '(SELECT', 'ProductId', 'p0,', 'MIN(Price)', 'as', 'MinPrice', 'from', 'Purchases', 'GROUP', 'BY', 'ProductId)', 'as', 'pur0', '\nWHERE', 'p.Price=MinPrice', 'GROUP', 'BY', 'CustomerId)', 'as', 'pur1', 'GROUP', 'BY', 'CustomerId)', 'as', 'pur2']
({'queryNum': 360}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, TotalNumber\nFROM Customers NATURAL JOIN (SELECT CustomerId, COUNT(*) as TotalNumber \nFROM Purchases NATURAL JOIN (SELECT CustomerId FROM Purchases p JOIN (SELECT ProductId p0, MIN(Price) as MinPrice from Purchases GROUP BY ProductId) as pur0 \nWHERE p.Price=MinPrice GROUP BY CustomerId) as pur1 GROUP BY CustomerId)\nORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9f9b has been updated
==============
['Purchases', 'p1']
['Customers', 'c1']
({'queryNum': 361}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*) from  Purchases\njoin Customers on CustomerId = CustomerId \nwhere CustomerId in\n(select p.CustomerId \nfrom Purchases p \njoin \n(select min(Purchases.Price) as min_price, Purchases.ProductId as min_id\nfrom Purchases\ngroup by min_id) min_table\non min_table.min_id = p.ProductId\nwhere p.Price=min_table.min_price\n)\ngroup by CustomerId\norder by CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9f9c has been updated
==============
['(SELECT', 'DISTINCT', 'c.FirstName,', 'c.LastName,', 'c.CustomerId\nFROM', 'Customers', 'c,', 'Purchases', 'p\nWHERE', 'p.Price', '=', '(SELECT', 'MIN(p3.Price)', 'FROM', 'Purchases', 'p3', 'WHERE', 'p3.ProductId', '=', 'p.ProductId)', 'and', 'c.CustomerId', '=', 'p.CustomerId)', 'AS', 'temp1']
['Purchases', 'p2']
({'queryNum': 362}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(ProductID)\nFROM\n(SELECT DISTINCT c.FirstName, c.LastName, c.CustomerId\nFROM Customers c, Purchases p\nWHERE p.Price = (SELECT MIN(p3.Price) FROM Purchases p3 WHERE p3.ProductId = p.ProductId) and c.CustomerId = p.CustomerId) AS NATURAL JOIN Purchases\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9f9d has been updated
==============
['Customers', 'c']
['(select', 'CustomerId', ',count(1)', 'as', 'total_number', 'from', 'Purchases', 'p', 'where', 'CustomerId', 'in', '(select', 'CustomerId', 'from', 'Purchases', 'p', 'join', '(select', 'p.ProductId,', 'min(Price)', 'as', 'min_price', 'from', 'Purchases', 'p', 'group', 'by', 'p.ProductId)', 'b', 'on', 'p.ProductId', '=', 'b.ProductId', 'where', 'p.Price', '=', 'b.min_price)', 'group', 'by', 'CustomerId)', 'a']
({'queryNum': 363}, {'parsedRemovedQuery': 'select FirstName, LastName, total_number from Customers join (select CustomerId ,count(1) as total_number from Purchases p where CustomerId in (select CustomerId from Purchases p join (select p.ProductId, min(Price) as min_price from Purchases p group by p.ProductId) b on p.ProductId = b.ProductId where p.Price = b.min_price) group by CustomerId) on CustomerId = CustomerId order by CustomerId desc\n\n\n'})
Query 5eaf1ff9334f483dd6bb9f9e has been updated
==============
['Purchases']
['Customers', 'c']
({'queryNum': 364}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count(PurchaseId)\nFROM Purchases\nINNER JOIN Customers\nON CustomerId = Purchases.CustomerId\nWHERE Purchases.CustomerId IN (\n    SELECT p.CustomerId\n    FROM Purchases p\n    WHERE p.Price IN (\n        SELECT min(p2.Price)\n        FROM Purchases p2\n        WHERE p.ProductId = p2.ProductId\n    )\n)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId desc\n'})
Query 5eaf1ff9334f483dd6bb9f9f has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 365}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers\nINNER JOIN Purchases ON CustomerId = CustomerId\nWHERE CustomerId IN \n    (\n        SELECT cus.CustomerId\n        FROM Customers cus\n        INNER JOIN Purchases pur ON cus.CustomerId = pur.CustomerId\n        WHERE pur.Price = (SELECT MIN(Price) FROM Purchases WHERE ProductId = pur.ProductId)\n    )\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff9334f483dd6bb9fa0 has been updated
==============
['Customers', 'c']
({'queryNum': 366}, {'parsedRemovedQuery': 'select\n    FirstName, LastName, final.pcnt\nfrom\n    Customers\n    inner join\n    (select distinct\n        FirstName, LastName, pcnt pcnt, CustomerId cid\n    from\n        (Customers c, Purchases pu)\n        inner join\n        (select \n            count(*) cnt, CustomerId\n        from\n            Purchases pu\n        group by CustomerId) pc \n    on pCustomerId = pu.CustomerId\n    where (CustomerId = pu.CustomerId\n    and pu.Price in (\n        select \n            min(Price)\n        from\n            Purchases\n        group by\n            ProductId\n    ))) final\n    on final.cid = CustomerId\n    order by CustomerId desc'})
Query 5eaf1ff9334f483dd6bb9fa1 has been updated
==============
['(\n', '', '', '', 'select', 'distinct', 'cust.FirstName,', 'cust.LastName,', '(select', 'count(*)', 'from', 'Purchases', '\n', '', '', '', 'where', 'purch.CustomerId', '=', 'CustomerId)', 'as', 't,', 'cust.CustomerId\n', '', '', '', 'from', 'Customers', 'cust', 'Join', 'Purchases', 'purch', 'on', '\n', '', '', '', 'cust.CustomerId', '=', 'purch.CustomerId\n', '', '', '', 'where', 'purch.Price', '=', '(\n', '', '', '', '', '', '', '', 'select', 'Min(purch_2.Price)', 'from', 'Purchases', 'purch_2', 'where', 'purch_2.ProductId', '=', 'purch.ProductId\n', '', '', '', ')\n', '', '', '', 'order', 'by', 'cust.CustomerId', 'desc\n)', 'as', 'data_']
({'queryNum': 367}, {'parsedRemovedQuery': 'select FirstName, LastName, t\nfrom(\n    select distinct cust.FirstName, cust.LastName, (select count(*) from Purchases \n    where purch.CustomerId = CustomerId) as t, cust.CustomerId\n    from Customers cust Join Purchases purch on \n    cust.CustomerId = purch.CustomerId\n    where purch.Price = (\n        select Min(purch_2.Price) from Purchases purch_2 where purch_2.ProductId = purch.ProductId\n    )\n    order by cust.CustomerId desc\n) as data_;'})
Query 5eaf1ff9334f483dd6bb9fa2 has been updated
==============
['(\n', '', '', '', 'select', 'Customers.CustomerId,', 'Customers.FirstName,', 'Customers.LastName', 'from', 'Customers', 'join', '(select', 'p1.CustomerId', 'from', 'Purchases', 'p1', 'join', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'select', 'ProductId,', 'min(Price)', 'as', 'min', 'from', 'Purchases', 'group', 'by', 'ProductId\n', '', '', '', '', '', '', '', ')', 'as', 'p2', 'on', 'p1.ProductId', '=', 'p2.ProductId', 'and', 'p1.Price', '=', 'p2.min', 'group', 'by', 'p1.CustomerId)', 'as', 'p3', 'on', 'Customers.CustomerId', '=', 'p3.CustomerId\n', '', '', '', ')', 'as', 'p4']
['Purchases']
({'queryNum': 368}, {'parsedRemovedQuery': 'select FirstName, LastName, count(CustomerId) as count from (\n    select Customers.CustomerId, Customers.FirstName, Customers.LastName from Customers join (select p1.CustomerId from Purchases p1 join (\n            select ProductId, min(Price) as min from Purchases group by ProductId\n        ) as p2 on p1.ProductId = p2.ProductId and p1.Price = p2.min group by p1.CustomerId) as p3 on Customers.CustomerId = p3.CustomerId\n    ) as left join Purchases on CustomerId = Purchases.CustomerId group by CustomerId, FirstName, LastName order by CustomerId DESC ;'})
Query 5eaf1ff9334f483dd6bb9fa3 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 369}, {'parsedRemovedQuery': "SELECT Customers.FirstName, Customers.LastName, COUNT(Purchases.CustomerId)\nFROM Customers\nNATURAL JOIN Purchases\nWHERE Purchases.CustomerId IN (\n    SELECT Purchases.CustomerId       #grabs customer who bought it at this price note: this wouldn't work if there were 2 products that has the same price? \n    FROM Purchases \n    WHERE Purchases.Price IN ( #checks lowest price\n        SELECT MIN(Purchases.Price)\n        FROM Purchases\n        GROUP BY Purchases.ProductId\n        )\n    )\n    GROUP BY Purchases.CustomerId\n    ORDER BY CustomerId DESC"})
Query 5eaf1ff9334f483dd6bb9fa4 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 370}, {'parsedRemovedQuery': 'select FirstName, LastName, count(PurchaseId)\nfrom Customers join Purchases on CustomerId = CustomerId\nwhere CustomerId in (select c2.CustomerId from Purchases p2 join Customers c2 on p2.CustomerId = c2.CustomerId where p2.Price = (select min(p3.Price) from Purchases p3 where p3.ProductId = p2.ProductId))\ngroup by CustomerId\norder by CustomerId desc\n\n\n-- select prod.ProductName, min(purch.Price)\n-- from Purchases purch join Products prod on purch.ProductId = prod.ProductId, Customers\n-- group by prod.ProductName\n\n'})
Query 5eaf1ff9334f483dd6bb9fa5 has been updated
==============
['Customers', 'C']
['Purchases', 'P']
['(SELECT', 'P.ProductId,', 'MIN(P.PRICE)', 'as', 'MPRICE', 'FROM', 'Purchases', 'P', 'GROUP', 'BY', 'P.ProductId)', 'Pu']
({'queryNum': 371}, {'parsedRemovedQuery': 'SElECT FirstName, LastName, (SELECT COUNT(*) FROM Purchases WHERE CustomerId = CustomerId)\nFROM Customers\nJOIN Purchases ON (CustomerId = CustomerId)\nJOIN (SELECT ProductId, MIN(PRICE) as MPRICE FROM Purchases GROUP BY ProductId) ON (ProductId = ProductId AND MPRICE = PRICE)\nGROUP BY CustomerId\nORDER BY CustomerId DESC '})
Query 5eaf1ff9334f483dd6bb9fa6 has been updated
==============
['Purchases', 'p1']
['Customers', 'c']
({'queryNum': 372}, {'parsedRemovedQuery': 'select\nFirstName,\nLastName,\ncount(*)\nfrom Purchases inner join Customers on CustomerId=CustomerId\nwhere \nCustomerId in (select p3.CustomerId from Purchases p3 where\np3.Price = (select min(p2.Price) from Purchases p2 where p2.ProductId=p3.ProductId))\ngroup by FirstName, LastName, CustomerId\norder by CustomerId desc'})
Query 5eaf1ff9334f483dd6bb9fa7 has been updated
==============
['Purchases']
['Customers']
({'queryNum': 373}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Purchases NATURAL JOIN Customers \nWHERE FirstName IN\n(SELECT FirstName FROM Purchases NATURAL JOIN Customers\nWHERE Purchases.Price IN (SELECT MIN(Price) FROM Purchases GROUP BY ProductId)\nGROUP BY CustomerId)\nGROUP BY CustomerId\nORDER BY MIN(CustomerId) DESC'})

Query 5eaf1ff9334f483dd6bb9fa8 has been updated
==============
['Customers', 'C']
['Purchases', 'P']
['(SELECT', 'DISTINCT', 'C.CustomerId\n', '', '', '', 'FROM', 'Customers', 'C']
['Purchases', 'P']
['(SELECT', 'MIN(Price)', 'AS', 'Price', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)', 'AS', 'MINP\n', '', '', '', 'WHERE', 'C.CustomerId', '=', 'P.CustomerId', '\n', '', '', '', 'AND', 'P.Price', '=', 'MINP.Price)', 'AS', 'MINC']
({'queryNum': 374}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers, Purchases, \n    (SELECT DISTINCT CustomerId\n    FROM Customers, Purchases, (SELECT MIN(Price) AS Price FROM Purchases GROUP BY ProductId) AS MINP\n    WHERE CustomerId = CustomerId \n    AND Price = MINPrice) AS MINC\nWHERE CustomerId = MINCustomerId AND CustomerId = CustomerId\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fa9 has been updated
==============
['(select', 'CustomerId,', 'count(CustomerId)', 'as', 'c', 'from', 'Purchases\nwhere', 'Purchases.CustomerId', 'in\n(select', 'CustomerId', 'from', 'Purchases\ninner', 'join', '(select', 'ProductId,', 'min(Price)', 'as', 'minPrice', 'from', 'Purchases', 'group', 'by', 'productId)', 'as', 'M\non', 'Purchases.ProductId', '=', 'M.ProductId', 'and', 'Purchases.Price', '=', 'M.minPrice)\ngroup', 'by', 'CustomerId)', 'as', 'O']
['Customers']
({'queryNum': 375}, {'parsedRemovedQuery': 'select FirstName, LastName, c from \n(select CustomerId, count(CustomerId) as c from Purchases\nwhere Purchases.CustomerId in\n(select CustomerId from Purchases\ninner join (select ProductId, min(Price) as minPrice from Purchases group by productId) as M\non Purchases.ProductId = M.ProductId and Purchases.Price = M.minPrice)\ngroup by CustomerId)\nleft join\nCustomers on Customers.CustomerId = CustomerId\norder by Customers.CustomerId desc'})
Query 5eaf1ff9334f483dd6bb9faa has been updated
==============
['FirstName', 'AS', 'f']
['LastName', 'AS', 'l']
['Purchases', 'pur']
['Customers', 'cus']
({'queryNum': 376}, {'parsedRemovedQuery': 'SELECT FirstName AS f, LastName AS l, (SELECT COUNT(PurchaseId) FROM Purchases p JOIN Customers ON p.CustomerId = CustomerId WHERE FirstName = f AND LastName = l GROUP BY p.CustomerId)\nFROM Purchases JOIN Customers ON CustomerId = CustomerId\nWHERE Price IN (SELECT MIN(pu.Price) FROM Purchases pu GROUP BY pu.ProductId) \nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff9334f483dd6bb9fab has been updated
==============
['Customers', 'cc']
['Purchases', 'pp']
({'queryNum': 377}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*) from Customers left outer join Purchases on CustomerId = CustomerId where CustomerId in (select CustomerId from Purchases p left join (select ProductId, min(Price) as m from Purchases group by ProductId) x on p.ProductId = x.ProductId where p.Price = x.m) group by CustomerId order by CustomerId desc'})
Query 5eaf1ff9334f483dd6bb9fac has been updated
==============
['Customers']
['Purchases']
({'queryNum': 378}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, COUNT(Purchases.PurchaseId)\nFROM Customers\nJOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nWHERE Customers.CustomerId in \n(\n    SELECT Customers.CustomerId\n    FROM Customers\n    JOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\n    WHERE Purchases.Price = (SELECT MIN(Price) FROM Purchases pur WHERE Purchases.ProductId = pur.ProductId)\n    GROUP BY Customers.CustomerId\n)\nGROUP BY Customers.CustomerId\nORDER BY Customers.CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fad has been updated
==============
['Customers']
['Purchases']
({'queryNum': 379}, {'parsedRemovedQuery': 'SELECT FirstName, LastName,\n        (SELECT COUNT(*) FROM Purchases AS P WHERE P.CustomerId = Purchases.CustomerId)\n    FROM Customers NATURAL JOIN Purchases\n    WHERE (Price, ProductId) IN (\n        SELECT MIN(Price), ProductId FROM Purchases\n            GROUP BY ProductId\n    )\n    GROUP BY CustomerId\n    ORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fae has been updated
==============
['(SELECT', 'DISTINCT', 'cus.FirstName', 'as', 'fir,', 'cus.LastName', 'as', 'las,', 'cus.CustomerId,', 'ctr.ct', 'as', 'ctt\nFROM', 'Purchases', 'pur1\nJOIN', '(SELECT', 'pur.ProductId,', 'MIN(Price)', 'as', 'pri', 'FROM', 'Purchases', 'pur\nGROUP', 'BY', 'pur.ProductId)', 'as', 'pur2', 'on', 'pur1.ProductId', '=', 'pur2.ProductId', 'AND', 'pur1.Price', '=', 'pur2.pri\nJOIN', 'Customers', 'as', 'cus', 'on', 'pur1.CustomerId', '=', 'cus.CustomerId\nJOIN', '(SELECT', 'CustomerId,', 'COUNT(*)', 'as', 'ct\nFROM', 'Purchases\nGROUP', 'BY', 'CustomerId)', 'as', 'ctr', 'on', 'cus.CustomerId', '=', 'ctr.CustomerId\nORDER', 'BY', 'cus.CustomerId', 'DESC)', 'as', 'bigsub']
({'queryNum': 380}, {'parsedRemovedQuery': 'SELECT fir, las, ctt\nFROM\n(SELECT DISTINCT cus.FirstName as fir, cus.LastName as las, cus.CustomerId, ctr.ct as ctt\nFROM Purchases pur1\nJOIN (SELECT pur.ProductId, MIN(Price) as pri FROM Purchases pur\nGROUP BY pur.ProductId) as pur2 on pur1.ProductId = pur2.ProductId AND pur1.Price = pur2.pri\nJOIN Customers as cus on pur1.CustomerId = cus.CustomerId\nJOIN (SELECT CustomerId, COUNT(*) as ct\nFROM Purchases\nGROUP BY CustomerId) as ctr on cus.CustomerId = ctr.CustomerId\nORDER BY cus.CustomerId DESC) as bigsub;'})
Query 5eaf1ff9334f483dd6bb9faf has been updated
==============
['Customers', 'C']
['Purchases', 'P']
({'queryNum': 381}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId)\nFROM Customers\nJOIN Purchases ON CustomerId = CustomerId\nWHERE CustomerId IN (\n    SELECT CustomerId\n    FROM Purchases A\n    WHERE Price = (\n        SELECT MIN(Price)\n        FROM Purchases B\n        WHERE A.ProductId = B.ProductId\n    )\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ff9334f483dd6bb9fb0 has been updated
==============
['Customers', 'as', 'c']
['Purchases', 'as', 'p']
({'queryNum': 382}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*) \nfrom Customers as JOIN Purchases as ON CustomerId = CustomerId\nGroup By FirstName, LastName,CustomerId\nHAVING CustomerId IN(SELECT p1.CustomerId From Purchases p1 where p1.Price <= ALL(select p2.Price From Purchases p2 where p1.ProductId = p2.ProductId))\nOrder By CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fb1 has been updated
==============
['Customers']
['(SELECT', 'CustomerId,', 'count(PurchaseId)', 'as', 'total_purchase', 'FROM', 'Customers', 'NATURAL', 'JOIN', 'Purchases', 'GROUP', 'BY', 'CustomerId)', 'AS', 'Purchase_Table']
({'queryNum': 383}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, total_purchase\nFROM Customers NATURAL JOIN (SELECT CustomerId, count(PurchaseId) as total_purchase FROM Customers NATURAL JOIN Purchases GROUP BY CustomerId) AS\nWHERE CustomerId in (SELECT DISTINCT CustomerId FROM Purchases NATURAL JOIN (SELECT ProductId, MIN(Price) as Min_Price FROM Purchases GROUP BY ProductId) AS MIN_PRICE_TABLE WHERE Price = Min_Price)\nORDER BY CustomerId DESC;'})
Query 5eaf1ff9334f483dd6bb9fb2 has been updated
==============
['(\n', '', '', '', 'SELECT', 'DISTINCT', 'pc1.CustomerId', '', '#', 'Get', 'distinct', 'customer', 'IDs', 'so', "they're", 'not', 'counted', 'more', 'than', 'once', 'in', 'above', 'query\n', '', '', '', 'FROM', 'Purchases', 'pc1\n', '', '', '', 'WHERE', 'pc1.Price', '<', 'ALL(\n', '', '', '', '', '', '', '', 'SELECT', 'pc2.Price\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pc2\n', '', '', '', '', '', '', '', 'WHERE', 'pc1.ProductId', '=', 'pc2.ProductId', '', '#', 'Same', 'product\n', '', '', '', '', '', '', '', 'AND', 'pc1.PurchaseId', '<>', 'pc2.PurchaseId', '', '#', 'Diff', 'purchase\n', '', '', '', ')\n)', 'AS', 'pc3']
['Customers', 'c']
['Purchases', 'pc4']
({'queryNum': 384}, {'parsedRemovedQuery': "SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM (\n    SELECT DISTINCT pc1.CustomerId  # Get distinct customer IDs so they're not counted more than once in above query\n    FROM Purchases pc1\n    WHERE pc1.Price < ALL(\n        SELECT pc2.Price\n        FROM Purchases pc2\n        WHERE pc1.ProductId = pc2.ProductId  # Same product\n        AND pc1.PurchaseId <> pc2.PurchaseId  # Diff purchase\n    )\n) AS\nNATURAL JOIN Customers\nNATURAL JOIN Purchases\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n# Why doesn't below query WORK? Is it because I'm performing a JOIN after a GROUP BY?\n# SELECT DISTINCT FirstName, LastName, COUNT(PurchaseId)\n# FROM (\n#     SELECT pc1.ProductId, MIN(pc1.Price) AS minPrice\n#     FROM Purchases pc1\n#     GROUP BY pc1.ProductId\n#     JOIN Purchases pc2\n#     ON pc1.ProductId = pc2.ProductId\n#     AND minPrice = pc2.Price\n# ) AS\n# NATURAL JOIN Customers\n# NATURAL JOIN Purchases\n# GROUP BY CustomerId\n# ORDER BY CustomerId DESC"})
Query 5eaf1ff9334f483dd6bb9fb3 has been updated
==============
['Customers', 'C']
['Purchases', 'P']
({'queryNum': 385}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers\nINNER JOIN Purchases on CustomerId = CustomerId\nWHERE CustomerId IN\n(SELECT DISTINCT Cu.CustomerId\nFROM Customers Cu\nINNER JOIN Purchases Pu\nON Cu.CustomerId = Pu.CustomerId\nWHERE Pu.Price = (SELECT MIN(Pu2.Price) from Purchases Pu2 WHERE Pu2.ProductId = Pu.ProductId))\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n\n\n\n'})
Query 5eaf1ff9334f483dd6bb9fb4 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 386}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerID IN\n    (SELECT DISTINCT CustomerId \n    FROM Purchases p1 INNER JOIN\n    (\n        SELECT ProductId, MIN(Price) MinPrice\n        FROM Purchases\n        GROUP BY ProductId\n    ) p2 ON p1.ProductId = p2.ProductId AND p1.Price = p2.MinPrice\n    )\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fb5 has been updated
==============
['Purchases', 'pur']
['Customers', 'cus']
({'queryNum': 387}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Purchases NATURAL JOIN Customers\nWHERE CustomerId = ANY( SELECT CustomerId \n                        FROM Purchases NATURAL JOIN (SELECT ProductId, MIN(Price) minPrice\n                                                     FROM Purchases \n                                                     GROUP BY ProductId) minPriceProduct\n                        WHERE Price = minPrice\n                        )\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fb6 has been updated
==============
['Customers', 'as', 'Cu']
({'queryNum': 388}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, \n    (SELECT COUNT(*)\n    FROM Purchases as C\n    WHERE C.CustomerId = CustomerId\n    )\nFROM Customers\nWHERE CustomerId IN\n(SELECT Pur.CustomerId FROM Purchases as Pur INNER JOIN Products as Pro ON Pur.ProductId = Pro.ProductId WHERE Pur.Price = (SELECT MIN(PPP.Price) FROM Purchases as PPP WHERE PPP.ProductId = Pur.ProductId))\nORDER BY CustomerId DESC'})

Query 5eaf1ff9334f483dd6bb9fb7 has been updated
==============
['Customers', 'c']
['(Select', 'CustomerId']
['count(PurchaseId)', 'as', 'total\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Customers', 'Natural', 'Join', 'Purchases', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Group', 'By', 'CustomerId)', 'as', 't']
({'queryNum': 389}, {'parsedRemovedQuery': 'Select  FirstName, LastName, total\nFrom Customers, (Select, count(PurchaseId)                    From Customers Natural Join Purchases \n                    Group By CustomerId)\nWhere customerId IN (Select DISTINCT\n                      From Purchases p1\n                      Where price =  (Select MIN(price)\n                                        From Purchases p2\n                                         Where p1.ProductId = p2.ProductId)\n                     )\n                    AND CustomerId = CustomerId\nOrder By CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fb8 has been updated
==============
['Customers', 'as', 'C']
['Purchases', 'as', 'P']
({'queryNum': 390}, {'parsedRemovedQuery': 'select FirstName, LastName, count(PurchaseId)\nfrom Customers as left join Purchases as on CustomerId = CustomerId\nwhere CustomerId in (select CustomerId from Purchases,\n(select ProductId, min(Price) as Price from Purchases group by ProductId) as minPrice\nwhere Purchases.ProductId = minPrice.ProductId and Purchases.Price = minPrice.Price)\ngroup by customerId\norder by CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fb9 has been updated
==============
['Customers']
['(\n', '', '', '', 'SELECT', 'DISTINCT', 'CustomerId\n', '', '', '', 'FROM', 'Purchases', 'p\n', '', '', '', 'WHERE', 'Price', '=', '(SELECT', 'MIN(Price)', 'FROM', 'Purchases', 'WHERE', 'ProductId', '=', 'p.ProductId)\n', '', '', '', ')', 'as', 'ThriftyCustomers']
['Purchases']
({'queryNum': 391}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers NATURAL JOIN (\n    SELECT DISTINCT CustomerId\n    FROM Purchases p\n    WHERE Price = (SELECT MIN(Price) FROM Purchases WHERE ProductId = p.ProductId)\n    ) as \n    NATURAL JOIN Purchases\nGROUP BY CustomerId\nORDER BY CustomerId desc;'})
Query 5eaf1ff9334f483dd6bb9fba has been updated
==============
['(select', 'distinct', '*\nfrom', '(select', 'nm.FirstName,', 'nm.LastName,', 'cp.cts,', 'nm.CustomerId\nfrom', '(select', 'c.FirstName,', 'c.LastName,', 'c.CustomerId\nfrom', 'Customers', 'c,', '(select', 'p.CustomerId\nfrom', 'Purchases', 'p,', '(select', 'min(Price)', 'as', 'minp,', 'ProductId\nfrom', 'Purchases\ngroup', 'by', 'ProductId)', 'midx\nwhere', 'midx.ProductId', '=', 'p.ProductId', 'and', 'midx.minp', '=', 'p.Price)', 'lowc\nwhere', 'c.CustomerId', '=', 'lowc.CustomerId)', 'nm,', '(select', 'count(PurchaseId)', 'as', 'cts,', 'CustomerId\nfrom', 'Purchases\ngroup', 'by', 'CustomerId)', 'cp\nwhere', 'nm.CustomerId', '=', 'cp.CustomerId\n)', 'sth\n)', 'st']
({'queryNum': 392}, {'parsedRemovedQuery': 'select FirstName, LastName, cts\nfrom (select distinct *\nfrom (select nm.FirstName, nm.LastName, cp.cts, nm.CustomerId\nfrom (select c.FirstName, c.LastName, c.CustomerId\nfrom Customers c, (select p.CustomerId\nfrom Purchases p, (select min(Price) as minp, ProductId\nfrom Purchases\ngroup by ProductId) midx\nwhere midx.ProductId = p.ProductId and midx.minp = p.Price) lowc\nwhere c.CustomerId = lowc.CustomerId) nm, (select count(PurchaseId) as cts, CustomerId\nfrom Purchases\ngroup by CustomerId) cp\nwhere nm.CustomerId = cp.CustomerId\n) sth\n)\norder by CustomerId DESC'})
Query 5eaf1ff9334f483dd6bb9fbb has been updated
==============
['(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'CustomerId,', 'counts\n', '', '', '', 'FROM', 'Customers', 'natural', 'join(\n', '', '', '', 'SELECT', 'count(ProductId)', 'as', 'counts,', 'CustomerId', 'FROM', 'Purchases', 'p3', 'WHERE', 'p3.CustomerId', 'in', '(\n', '', '', '', 'SELECT', 'CustomerId', 'FROM', 'Purchases', 'p1', 'WHERE', 'p1.Price', '<=', '(\n', '', '', '', '', '', '', '', 'SELECT', 'min(Price)', 'FROM', 'Purchases', 'p2', 'WHERE', 'p2.ProductId', '=', 'p1.ProductId)\n', '', '', '', ')', 'group', 'by', 'CustomerId\n', '', '', '', ')a', 'ORDER', 'BY', 'CustomerId', 'DESC\n)b']
({'queryNum': 393}, {'parsedRemovedQuery': 'SELECT FIrstName, LastName, counts\nFROM (\n    SELECT FirstName, LastName, CustomerId, counts\n    FROM Customers natural join(\n    SELECT count(ProductId) as counts, CustomerId FROM Purchases p3 WHERE p3.CustomerId in (\n    SELECT CustomerId FROM Purchases p1 WHERE p1.Price <= (\n        SELECT min(Price) FROM Purchases p2 WHERE p2.ProductId = p1.ProductId)\n    ) group by CustomerId\n    )a ORDER BY CustomerId DESC\n)b'})
Query 5eaf1ff9334f483dd6bb9fbc has been updated
==============
['Customers', 'C']
['Purchases']
({'queryNum': 394}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*)\nfrom Customers natural join Purchases where Purchases.CustomerId in \n    (select distinct P.CustomerId\n    from Purchases P join\n        (select ProductId, min(Price) as minPrice\n        from Purchases\n        group by ProductId) as T\n    where P.ProductId = T.ProductId and T.minPrice = P.price)\ngroup by Purchases.CustomerId\norder by Purchases.CustomerId desc'})
Query 5eaf1ff9334f483dd6bb9fbd has been updated
==============
['Customers', 'a']
['Purchases', 'b']
({'queryNum': 395}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Customers RIGHT JOIN Purchases \n    ON CustomerId = CustomerId\nWHERE CustomerId IN (SELECT c.CustomerId FROM Customers c JOIN Purchases d ON c.CustomerId=d.CustomerId WHERE d.Price <= ANY(SELECT MIN(e.Price) FROM Purchases e WHERE e.ProductId = d.ProductId))\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ff9334f483dd6bb9fbe has been updated
==============
['Customers', 'A']
['Purchases', 'D']
({'queryNum': 396}, {'parsedRemovedQuery': 'Select FirstName, LastName, Count(PurchaseId)\nFrom Customers Natural Join Purchases\nWhere CustomerId In (Select Cus.CustomerId\n                      From Purchases B Natural Join Products C, Customers Cus\n                      Where Cus.CustomerId = B.CustomerId and\n                            (ProductId, B.Price) In (Select ProductId, Min(Pur.Price)\n                                                    From Purchases Pur Natural Join Products Prod \n                                                    Group By ProductId))\nGroup By CustomerId, FirstName, LastName\nOrder By CustomerId Desc;'})
Query 5eaf1ffa334f483dd6bb9fbf has been updated
==============
['(select', 'count(pur.PurchaseId)', 'as', 'ct,', 'pur.CustomerId', 'from', 'Purchases', 'pur', 'group', 'by', 'pur.CustomerId)as', 'tb1']
['Customers', 'c']
({'queryNum': 397}, {'parsedRemovedQuery': 'select FirstName, LastName, ct from(select count(pur.PurchaseId) as ct, pur.CustomerId from Purchases pur group by pur.CustomerId)as join Customers on CustomerId = CustomerId where CustomerId in (select pur2.CustomerId from Purchases pur2 where pur2.Price = (select min(pur3.Price) from Purchases pur3 where pur2.ProductId = pur3.ProductId)) order by CustomerId desc'})
Query 5eaf1ffa334f483dd6bb9fc0 has been updated
==============
['(select', 'distinct', 'C.FirstName,', 'C.LastName,', '(select', 'count(*)', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'from', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'where', 'P.CustomerId', '=', 'CustomerId)', 'as', 'total,', 'C.CustomerId', 'from', 'Customers', 'C', 'join', 'Purchases', 'P', 'on', 'C.CustomerId', '=', 'P.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'where', 'P.Price', '=', '(select', 'min(P1.Price)', 'from', 'Purchases', 'P1', 'where', 'P1.ProductId', '=', 'P.ProductId)\norder', 'by', 'C.CustomerId', 'desc)', 'as', 'A']
({'queryNum': 398}, {'parsedRemovedQuery': 'select FirstName, LastName, total\nfrom (select distinct C.FirstName, C.LastName, (select count(*) \n                                                from Purchases\n                                                where P.CustomerId = CustomerId) as total, C.CustomerId from Customers C join Purchases P on C.CustomerId = P.CustomerId\n                                                where P.Price = (select min(P1.Price) from Purchases P1 where P1.ProductId = P.ProductId)\norder by C.CustomerId desc) as A'})
Query 5eaf1ffa334f483dd6bb9fc1 has been updated
==============
['Customers', 'C']
({'queryNum': 399}, {'parsedRemovedQuery': 'select FirstName, LastName, (select count(*) from Purchases where CustomerId = CustomerId) as _pCount\nfrom Customers\nwhere CustomerId in (\n    select Pch.CustomerId\n    from Purchases Pch\n    inner join (\n        select ProductId, MIN(Price) Price\n        from Purchases\n        group by ProductId\n    ) PB on Pch.ProductId = PB.ProductId and Pch.Price = PB.Price\n)\norder by CustomerId DESC;'})
Query 5eaf1ffa334f483dd6bb9fc2 has been updated
==============
['Customers', 'c']
['Purchases', 'p1']
({'queryNum': 400}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers\nNATURAL JOIN Purchases\nWHERE CustomerId IN(\n    SELECT DISTINCT p2.CustomerId\n    FROM Purchases p2 NATURAL JOIN\n        (SELECT p3.ProductId, MIN(p3.Price) AS minimum\n         FROM Purchases p3 NATURAL JOIN Products\n         GROUP BY ProductId) AS temp\n    WHERE p2.Price=temp.minimum\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ffa334f483dd6bb9fc3 has been updated
==============
['Purchases', 'p']
['Customers', 'b']
({'queryNum': 401}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count(*)\nFROM Purchases inner join Customers on CustomerId=CustomerId\nWHERE customerId in (SELECT p1.CustomerId from Purchases p1 where p1.Price = (select min(p2.Price) from Purchases p2 where p2.ProductId=p1.ProductId))\nGROUP BY FirstName, LastName, CustomerId Order BY CustomerId desc\n\n\n\n\n\n\n\n\n\n'})

Query 5eaf1ffa334f483dd6bb9fc4 has been updated
==============
['(\n', '', '', '', 'SELECT', 'DISTINCT', 'FirstName,', 'LastName,', 'CustomerId,\n', '', '', '', '', '', '', '', '(SELECT', 'COUNT(CustomerId)', '\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', '\n', '', '', '', '', '', '', '', 'WHERE', 'CustomerId', '=', 'p1.CustomerId)', 'as', 'counts\n', '', '', '', 'FROM', 'Purchases', 'p1', 'NATURAL', 'JOIN', 'Customers\n', '', '', '', 'WHERE', 'Price', '<=', 'ALL(SELECT', 'Price', 'FROM', 'Purchases', 'WHERE', 'p1.ProductId', '=', 'ProductId)\n', '', '', '', 'ORDER', 'BY', 'CustomerId', 'DESC\n)', 'as', 'C1']
({'queryNum': 402}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, counts \nFROM \n(\n    SELECT DISTINCT FirstName, LastName, CustomerId,\n        (SELECT COUNT(CustomerId) \n        FROM Purchases \n        WHERE CustomerId = p1.CustomerId) as counts\n    FROM Purchases p1 NATURAL JOIN Customers\n    WHERE Price <= ALL(SELECT Price FROM Purchases WHERE p1.ProductId = ProductId)\n    ORDER BY CustomerId DESC\n) as C1'})
Query 5eaf1ffa334f483dd6bb9fc5 has been updated
==============
['(SELECT', 'DISTINCT', '*\n\t\tFROM', 'Customers', 'C1\n\t\tWHERE', 'C1.CustomerId', '=', 'ANY(SELECT', 'P2.CustomerId', 'FROM', 'Purchases', 'P2', 'WHERE', 'P2.Price', '=', 'ANY(SELECT', 'MIN(P3.Price)', 'FROM', 'Purchases', 'P3', 'GROUP', 'BY', 'P3.ProductId))\n', '', '', '', '', '', '', '', 'ORDER', 'BY', 'C1.CustomerId', 'DESC)', 'AS', 'C3']
({'queryNum': 403}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(P1.PurchaseId) FROM Purchases P1 WHERE CustomerId = P1.CustomerId)\nFROM (SELECT DISTINCT *\n\t\tFROM Customers C1\n\t\tWHERE C1.CustomerId = ANY(SELECT P2.CustomerId FROM Purchases P2 WHERE P2.Price = ANY(SELECT MIN(P3.Price) FROM Purchases P3 GROUP BY P3.ProductId))\n        ORDER BY C1.CustomerId DESC) AS C3;'})
Query 5eaf1ffa334f483dd6bb9fc6 has been updated
==============
['Purchases']
['Customers']
({'queryNum': 404}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId)\nFROM Purchases NATURAL JOIN Customers\nGROUP BY CustomerId\nHAVING CustomerId = ANY(SELECT CustomerId\n                        FROM Purchases\n                        WHERE (ProductId, Price) = ANY(SELECT ProductId, MIN(Price)\n                                          FROM Purchases\n                                          GROUP BY ProductId))\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fc7 has been updated
==============
['(SELECT', 'DISTINCT', 'PB.CustomerId,', 'FirstName,', 'LastName,', 'NumPurchasesByCustomer.Num\n', '', '', '', 'FROM', 'Purchases', 'PB', 'RIGHT', 'JOIN', '\n', '', '', '', '', '', '', '', '(SELECT', 'C.CustomerId,', 'C.FirstName,', 'C.LastName,', 'COUNT(*)', 'as', 'Num\n', '', '', '', '', '', '', '', 'FROM', 'Customers', 'C', 'RIGHT', 'JOIN', 'Purchases', 'P\n', '', '', '', '', '', '', '', 'ON', 'C.CustomerId', '=', 'P.CustomerId\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'C.CustomerId)', 'AS', 'NumPurchasesByCustomer', 'ON', 'NumPurchasesByCustomer.CustomerId', '=', 'PB.CustomerId\n', '', '', '', 'WHERE', 'PB.Price', 'IN\n', '', '', '', '', '', '', '', '(SELECT', 'MIN(PC.Price)\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'PC\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'PC.ProductId)\n', '', '', '', 'ORDER', 'BY', 'PB.CustomerId', 'DESC)', 'AS', 'Final']
({'queryNum': 405}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Num\nFROM\n    (SELECT DISTINCT PB.CustomerId, FirstName, LastName, NumPurchasesByCustomer.Num\n    FROM Purchases PB RIGHT JOIN \n        (SELECT C.CustomerId, C.FirstName, C.LastName, COUNT(*) as Num\n        FROM Customers C RIGHT JOIN Purchases P\n        ON C.CustomerId = P.CustomerId\n        GROUP BY C.CustomerId) AS NumPurchasesByCustomer ON NumPurchasesByCustomer.CustomerId = PB.CustomerId\n    WHERE PB.Price IN\n        (SELECT MIN(PC.Price)\n        FROM Purchases PC\n        GROUP BY PC.ProductId)\n    ORDER BY PB.CustomerId DESC) AS Final'})
Query 5eaf1ffa334f483dd6bb9fc8 has been updated
==============
['Customers']
({'queryNum': 406}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, \n                            (SELECT COUNT(*)\n                            FROM Purchases\n    WHERE Purchases.CustomerId = Customers.CustomerId)\nFROM Customers\nWHERE Customers.CustomerId IN (\n    SELECT Purchases.CustomerId\n    FROM(\n        SELECT min(PRICE) as Price, ProductId\n        FROM Purchases\n        GROUP BY ProductId) as temp, Purchases\n    WHERE temp.Price = Purchases.Price and \n            temp.ProductId = Purchases.ProductId\n)\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fc9 has been updated
==============
['(\nSELECT', 'DISTINCT\n', '', '', '', 'C.FirstName,', 'C.LastName,', 'p.cnt,', 'C.CustomerId\nFROM\n', '', '', '', 'Customers', 'C\n', '', '', '', 'JOIN\n', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'C.CustomerId,', 'count(*)', 'as', 'cnt\n', '', '', '', '', '', '', '', 'FROM', '\n', '', '', '', '', '', '', '', '', '', '', '', 'Customers', 'C\n', '', '', '', '', '', '', '', '', '', '', '', 'JOIN\n', '', '', '', '', '', '', '', '', '', '', '', 'Purchases', 'P\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'on', 'C.CustomerId', '=', 'P.CustomerId\n', '', '', '', '', '', '', '', 'GROUP', 'by\n', '', '', '', '', '', '', '', '', '', '', '', 'C.CustomerId\n', '', '', '', ')', 'as', 'p', '\n', '', '', '', '', '', '', '', 'on', 'C.CustomerId', '=', 'p.CustomerId\nWHERE\n', '', '', '', 'C.CustomerId', 'IN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'CustomerId\n', '', '', '', '', '', '', '', 'FROM\n', '', '', '', '', '', '', '', '', '', '', '', 'Purchases', 'P', '\n', '', '', '', '', '', '', '', '', '', '', '', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'ProductId,', 'MIN(Price)', 'as', 'MinPrice\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'by', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', ')', 'as', 'm\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'on', 'P.ProductId', '=', 'm.ProductId\n', '', '', '', '', '', '', '', 'WHERE\n', '', '', '', '', '', '', '', '', '', '', '', 'P.Price', '=', 'm.MinPrice\n', '', '', '', ')\nORDER', 'by', 'C.CustomerId', 'DESC\n)', 'as', 'O']
({'queryNum': 407}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, cnt\nFROM (\nSELECT DISTINCT\n    C.FirstName, C.LastName, p.cnt, C.CustomerId\nFROM\n    Customers C\n    JOIN\n    (\n        SELECT C.CustomerId, count(*) as cnt\n        FROM \n            Customers C\n            JOIN\n            Purchases P\n                on C.CustomerId = P.CustomerId\n        GROUP by\n            C.CustomerId\n    ) as p \n        on C.CustomerId = p.CustomerId\nWHERE\n    C.CustomerId IN (\n        SELECT CustomerId\n        FROM\n            Purchases P \n            JOIN (\n                SELECT ProductId, MIN(Price) as MinPrice\n                FROM Purchases\n                GROUP by ProductId\n            ) as m\n                on P.ProductId = m.ProductId\n        WHERE\n            P.Price = m.MinPrice\n    )\nORDER by C.CustomerId DESC\n)\n'})
Query 5eaf1ffa334f483dd6bb9fca has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 408}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN (SELECT CustomerId\n                     FROM Purchases\n                     WHERE price IN (SELECT MIN(Price) \n                                    From Purchases\n                                    GROUP BY ProductId))\n                     \nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fcb has been updated
==============
['(SELECT', 'CustomerId\n', '', '', '', 'FROM', 'Purchases', 'as', 'p\n', '', '', '', 'LEFT', 'JOIN', '(SELECT', 'ProductId,', 'MIN(Price)', 'AS', 'minPrice', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)', 'AS', 'm', 'ON', 'm.ProductId', '=', 'p.ProductId\n', '', '', '', 'WHERE', 'Price', '<=', 'minPrice\n', '', '', '', 'GROUP', 'BY', 'CustomerId)', 'AS', 'custId']
['Customers', 'AS', 'c']
['Purchases', 'AS', 'p']
({'queryNum': 409}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM\n    (SELECT CustomerId\n    FROM Purchases\n    LEFT JOIN (SELECT ProductId, MIN(Price) AS minPrice FROM Purchases GROUP BY ProductId) AS m ON m.ProductId = ProductId\n    WHERE Price <= minPrice\n    GROUP BY CustomerId) AS\nLEFT JOIN Customers AS ON CustomerId = CustomerId\nINNER JOIN Purchases AS ON CustomerId = CustomerId\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ffa334f483dd6bb9fcc has been updated
==============
['Customers']
['Purchases']
({'queryNum': 410}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(Purchases.CustomerId)\nFROM Customers JOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nWHERE Purchases.CustomerId IN\n    (SELECT CustomerId\n    FROM Purchases\n    WHERE Price IN \n        (SELECT Min(Purchases.Price)\n        FROM Purchases\n        GROUP BY Purchases.ProductId))\nGROUP BY Purchases.CustomerId\nORDER BY Purchases.CustomerId DESC\n'})
Query 5eaf1ffa334f483dd6bb9fcd has been updated
==============
['Customers', 'c']
['Purchases', 'd']
({'queryNum': 411}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId)\nFROM Customers JOIN Purchases ON (CustomerId = CustomerId)\nWHERE CustomerId IN (SELECT CustomerId\nFROM Purchases p \nWHERE p.price = (SELECT min(price) from Purchases q where p.productId = q.productId))\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})

Query 5eaf1ffa334f483dd6bb9fce has been updated
==============
['Customers', 'c']
['Purchases', 'p1']
({'queryNum': 412}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(1)\nFROM Customers\nINNER JOIN Purchases ON CustomerId = CustomerId\nWHERE CustomerId in (\n    SELECT p2.CustomerId\n    FROM Purchases p2\n    WHERE p2.Price = (\n        SELECT MIN(p3.Price)\n        FROM Purchases p3\n        WHERE p3.ProductId = p2.ProductId\n    )\n)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ffa334f483dd6bb9fcf has been updated
==============
({'queryNum': 413}, {'parsedRemovedQuery': 'SELECT C.FirstName, C.LastName, T.Num \nFROM (SELECT T.CustomerId, COUNT(P.PurchaseId) AS Num \n      FROM (SELECT DISTINCT P.CustomerId FROM Purchases P, (SELECT ProductId, MIN(Price) AS Price from Purchases GROUP BY ProductId) T WHERE P.ProductId = T.ProductId AND P.Price = T.Price) T, Purchases P \n      WHERE T.CustomerId = P.CustomerId \n      GROUP BY P.CustomerId) T, Customers C \nWHERE C.CustomerId = T.CustomerId \nORDER BY C.CustomerId DESC;\n\n'})
Query 5eaf1ffa334f483dd6bb9fd0 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 414}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, COUNT(Purchases.PurchaseId)\nFROM Customers \nJOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nWHERE Customers.CustomerId in\n(\nSELECT Customers.CustomerId\nFROM Customers\nJOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nWHERE Purchases.Price = (\n    SELECT MIN(Price)\n    FROM Purchases P\n    WHERE Purchases.ProductId = P.ProductId\n)\nGROUP BY Customers.CustomerId\n) \nGROUP BY Customers.CustomerId\nORDER BY Customers.CustomerId DESC;\n'})
Query 5eaf1ffa334f483dd6bb9fd1 has been updated
==============
['Customers', 'a']
['Purchases', 'b']
({'queryNum': 415}, {'parsedRemovedQuery': 'Select Firstname,LastName, Count(CustomerId)\nFrom Customers Natural Join Purchases\nwhere CustomerId in(\n    select c.CustomerId\n    From Purchases c natural join (\n    select d.ProductId, MIN(d.Price) as lowest_price\n    From Purchases d, Products e\n    where d.ProductId = e.ProductId\n    group by d.ProductId\n    ) as sub_qu\n    where c.Price = sub_qu.lowest_price\n)\nGroup by CustomerId\nOrder by CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fd2 has been updated
==============
['(Select', 'FirstName,', 'LastName,', 'CustomerId,', 'counts\nfrom', 'Customers', 'natural', 'join', '(Select', 'count(ProductId)', 'as', 'counts,', 'CustomerId', 'from', 'Purchases', 'p3', 'where', 'p3.CustomerId', 'in', '(Select', 'CustomerId', 'from', 'Purchases', 'p1', 'where', 'p1.Price', '<=', '(Select', 'min(Price)', 'from', 'Purchases', 'p2', 'where', 'p2.ProductId', '=', 'p1.ProductId))', 'group', 'by', 'CustomerId)', 'a\nOrder', 'by', 'CustomerId', 'DESC)', 'b']
({'queryNum': 416}, {'parsedRemovedQuery': 'select FirstName, LastName, counts\nfrom\n(Select FirstName, LastName, CustomerId, counts\nfrom Customers natural join (Select count(ProductId) as counts, CustomerId from Purchases p3 where p3.CustomerId in (Select CustomerId from Purchases p1 where p1.Price <= (Select min(Price) from Purchases p2 where p2.ProductId = p1.ProductId)) group by CustomerId) a\nOrder by CustomerId DESC)\n\n'})
Query 5eaf1ffa334f483dd6bb9fd3 has been updated
==============
['Purchases', 'P']
['Customers', 'C']
({'queryNum': 417}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Purchases\nJOIN Customers ON CustomerId = CustomerId\nWHERE CustomerId IN (\n    SELECT P1.CustomerId\n    FROM Purchases P1\n    WHERE P1.Price = (\n        SELECT MIN(P2.Price)\n        FROM Purchases P2\n        WHERE P1.ProductId = P2.ProductId\n    )\n)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fd4 has been updated
==============
['Customers', 'c']
['Purchases', 'p1']
({'queryNum': 418}, {'parsedRemovedQuery': 'select firstname, lastname, count(purchaseid)\nfrom Customers, Purchases\nwhere customerid=customerid \n  and customerid in \n  (select customerid from (select p2.customerid\n  from (select productid, min(price) as min_price from Purchases group by productid) as t \n        join Purchases p2 on t.productid=p2.productid \n        where p2.price=min_price\n        group by customerid) as temp)\ngroup by customerid\norder by customerid desc'})
Query 5eaf1ffa334f483dd6bb9fd5 has been updated
==============
['Customers', 'C']
({'queryNum': 419}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(ProductId)\n                                      FROM Purchases P\n                                      WHERE P.CustomerId = CustomerId)\nFROM Customers\nWHERE EXISTS (SELECT *\n              FROM Purchases P1, Products P2\n              WHERE CustomerId = P1.CustomerId AND P1.ProductId = P2.ProductId AND P1.Price = \n                                       (SELECT MIN(Price) \n                                       FROM Purchases P3\n                                       WHERE P3.ProductId = P1.ProductId)\n                                        )\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fd6 has been updated
==============
['Customers', 'A']
['Purchases', 'B']
({'queryNum': 420}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(E.PurchaseId) FROM Purchases E WHERE E.CustomerId = CustomerId)\nFROM Customers\nINNER JOIN Purchases ON CustomerId = CustomerId\nWHERE Price = (SELECT MIN(F.Price) FROM Purchases F WHERE F.ProductId = ProductId)\nORDER BY CustomerId DESC;'})
Query 5eaf1ffa334f483dd6bb9fd7 has been updated
==============
['(\n', '', 'select', 'Customers.CustomerId\n', '', 'from', 'Customers\n', '', 'join', 'Purchases', 'on', 'Customers.CustomerId', '=', 'Purchases.CustomerId\n', '', 'join', '(\n', '', '', '', 'select', 'Products.ProductId,', 'min(Purchases.Price)', 'as', 'Price\n', '', '', '', 'from', 'Purchases\n', '', '', '', 'join', 'Products', 'on', 'Products.ProductId', '=', 'Purchases.ProductId\n', '', '', '', 'group', 'by', 'Products.ProductName,', 'Products.ProductId\n', '', ')', 'as', 'lowest_price\n', '', 'on', 'lowest_price.ProductId', '=', 'Purchases.ProductId\n', '', 'where', 'lowest_price.Price', '=', 'Purchases.Price\n', '', 'group', 'by', 'Customers.CustomerId\n)', 'as', 'processed']
['Purchases']
['Customers']
({'queryNum': 421}, {'parsedRemovedQuery': 'select Customers.FirstName, Customers.LastName, count(Purchases.PurchaseId)\nfrom (\n  select Customers.CustomerId\n  from Customers\n  join Purchases on Customers.CustomerId = Purchases.CustomerId\n  join (\n    select Products.ProductId, min(Purchases.Price) as Price\n    from Purchases\n    join Products on Products.ProductId = Purchases.ProductId\n    group by Products.ProductName, Products.ProductId\n  ) as lowest_price\n  on lowest_price.ProductId = Purchases.ProductId\n  where lowest_price.Price = Purchases.Price\n  group by Customers.CustomerId\n)\njoin Purchases on CustomerId = Purchases.CustomerId\njoin Customers on CustomerId = Customers.CustomerId\ngroup by Customers.FirstName, Customers.LastName, Customers.CustomerId\norder by Customers.CustomerId desc'})
Query 5eaf1ffa334f483dd6bb9fd8 has been updated
==============
['Customers', 'C']
['Purchases', 'Pur']
({'queryNum': 422}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (SELECT COUNT(C2.CustomerId) FROM Customers C2, Purchases Pur2\n        WHERE CustomerId = C2.CustomerId AND C2.CustomerId = Pur2.CustomerId )\nFROM Customers, Purchases\nWHERE CustomerId = CustomerId AND Price = (SELECT MIN(Pur3.Price) FROM Purchases Pur3 \n    WHERE Pur3.ProductId = ProductId)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fd9 has been updated
==============
['(select', 'DISTINCT', 'FirstName,LastName,CustomerId,(select', 'count(*)', 'from', 'Purchases', 'p', 'where', 'p.CustomerId', '=', 'c.CustomerId)', 'as', 'cnt\n', '', '', '', 'from', 'Customers', 'c\n', '', '', '', 'where', 'c.CustomerId', '\n', '', '', '', 'in', '(select', 'b.CustomerId', 'from', 'Purchases', 'b', 'where', 'b.CustomerId', 'in', '\n', '', '', '', '', '', '', '', '', '', '', '', '(select', 'a.CustomerId', 'from', 'Purchases', 'a', 'where', 'a.price=\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '(select', 'Min(price)', '', 'from', 'Purchases', 'k', 'where', 'a.ProductId=k.ProductId)\n', '', '', '', '', '', '', '', '', '', '', '', ')', '\n', '', '', '', ')\norder', 'by', 'c.CustomerId', 'DESC\n)', 'd']
({'queryNum': 423}, {'parsedRemovedQuery': 'select FirstName,LastName,cnt from \n(select DISTINCT FirstName,LastName,CustomerId,(select count(*) from Purchases p where p.CustomerId = c.CustomerId) as cnt\n    from Customers c\n    where c.CustomerId \n    in (select b.CustomerId from Purchases b where b.CustomerId in \n            (select a.CustomerId from Purchases a where a.price=\n                (select Min(price)  from Purchases k where a.ProductId=k.ProductId)\n            ) \n    )\norder by c.CustomerId DESC\n) d'})
Query 5eaf1ffa334f483dd6bb9fda has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 424}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers JOIN Purchases ON (CustomerId = CustomerId)\nWHERE CustomerId IN (\n    -- Select the customer ID that corresponds to the minimum price for a product\n    SELECT CustomerId \n    FROM Purchases pr\n    WHERE pr.Price = (\n        -- Select the minimum price for a given product ID\n        SELECT MIN(Price)\n        FROM Purchases\n        GROUP BY ProductId\n        HAVING ProductId = pr.ProductId\n    )\n)\nGROUP BY FirstName, LastName, CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ffa334f483dd6bb9fdb has been updated
==============
['(SELECT', 'DISTINCT', 'CustomerId\n', '', '', '', '', '', 'FROM', '(SELECT', 'min(Price)', 'AS', 'LP,', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', '\n', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId)', 'AS', 'F', 'inner', 'join', 'Purchases', 'P', 'on', 'F.LP', '=', 'P.Price', 'and', 'F.ProductId', '=', 'P.ProductId\n', '', '', '', '', '', ')', 'AS', 'TEMP']
['Purchases', 'C']
['Customers', 'G']
({'queryNum': 425}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count(*)\nFROM (SELECT DISTINCT CustomerId\n      FROM (SELECT min(Price) AS LP, ProductId\n            FROM Purchases \n            GROUP BY ProductId) AS F inner join Purchases P on F.LP = P.Price and F.ProductId = P.ProductId\n      ) AS inner join Purchases on CustomerId = CustomerId INNER JOIN Customers ON CustomerId = CustomerId\nGROUP BY CustomerId\nORDER BY CustomerId DESC;\n'})

Query 5eaf1ffa334f483dd6bb9fdc has been updated
==============
['(select', 'FirstName,', 'LastName,', 'CustomerId,', 'count(*)', 'as', 'totalPurchases', 'from', 'Purchases', 'p', 'natural', 'join', 'Customers', 'c', 'group', 'by', 'CustomerId)', 'as', 'sub']
['Purchases', 'p']
({'queryNum': 426}, {'parsedRemovedQuery': 'select FirstName, LastName, totalPurchases from (select FirstName, LastName, CustomerId, count(*) as totalPurchases from Purchases natural join Customers c group by CustomerId) as natural join Purchases where Price = (select min(pPrice) from Purchases pp where pProductId = ProductId) group by FirstName, LastName, totalPurchases order by min(CustomerId) desc'})
Query 5eaf1ffa334f483dd6bb9fdd has been updated
==============
['Customers', 'customers']
['Purchases', 'purchases']
({'queryNum': 427}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId)\nFROM Customers NATURAL JOIN Purchases\nGROUP BY CustomerId\nHAVING CustomerId = ANY(\n                        SELECT CustomerId\n                        FROM Purchases purchases2\n                        WHERE (purchases2.ProductId, purchases2.Price) = ANY(\n                                                SELECT purchases3.ProductId, min(purchases3.Price)\n                                                FROM Purchases purchases3\n                                                GROUP BY purchases3.ProductId\n                                                                            )\n                                )\nORDER BY CustomerId DESC'})
Query 5eaf1ffa334f483dd6bb9fde has been updated
==============
['Purchases', 'p']
['Customers', 'c']
({'queryNum': 428}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, (\n    SELECT COUNT(c1.CustomerId) FROM Customers c1, Purchases p1 WHERE CustomerId = c1.CustomerId AND c1.CustomerId = p1.CustomerId)\n    FROM Purchases, Customers\n    WHERE Price = (SELECT MIN(p2.Price) FROM Purchases p2 WHERE p2.ProductId = ProductId) AND CustomerId = CustomerId\n    GROUP by FirstName, LastName, CustomerId\n    ORDER by CustomerId DESC\n'})
Query 5eaf1ffa334f483dd6bb9fdf has been updated
==============
['(SELECT', 'DISTINCT', 'c.FirstName,', 'c.LastName,', 'cnt.count1,', 'c.CustomerId\n', '', '', '', 'FROM', 'Customers', 'c,', '(SELECT', 'CustomerId,', 'COUNT(CustomerId)', 'as', 'count1', 'FROM', 'Purchases', 'GROUP', 'BY', 'CustomerId)', 'AS', 'cnt,\n', '', '', '', '', '(SELECT', '*', 'FROM', 'Purchases', 'WHERE', 'PRICE', 'IN', '\n', '', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'MIN(Price)', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId)\n', '', '', '', '', ')', 'AS', 'mins\n', '', '', '', 'WHERE', 'c.CustomerId', '=', 'mins.CustomerId', 'AND', 'cnt.CustomerId', '=', 'c.CustomerId)', 'AS', 'total']
({'queryNum': 429}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count1\nFROM \n    (SELECT DISTINCT c.FirstName, c.LastName, cnt.count1, c.CustomerId\n    FROM Customers c, (SELECT CustomerId, COUNT(CustomerId) as count1 FROM Purchases GROUP BY CustomerId) AS cnt,\n     (SELECT * FROM Purchases WHERE PRICE IN \n            (SELECT MIN(Price) FROM Purchases GROUP BY ProductId)\n     ) AS mins\n    WHERE c.CustomerId = mins.CustomerId AND cnt.CustomerId = c.CustomerId) AS\nORDER BY CustomerId DESC\n'})
Query 5eaf1ffa334f483dd6bb9fe0 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 430}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*)\nfrom Customers natural join Purchases\nwhere CustomerId in \n(select c.CustomerId\n            from Purchases pp natural join Customers c, \n                                        (select p.ProductId,min(p.price) as price\n                                        from Purchases p\n                                        group by p.ProductId\n                                        ) as min_price\n            where pp.price = min_price.price and pp.ProductId = min_price.ProductId\n) \ngroup by CustomerId\norder by CustomerId desc\n\n\n-- natural join (\n--                                             select CustomerId, count(*) as cnt\n--                                             from Purchases\n--                                             group by CustomerId\n--                                         ) as temp\n-- order by CustomerId desc'})
Query 5eaf1ffa334f483dd6bb9fe1 has been updated
==============
['Customers', 'AS', 'C']
['Purchases', 'AS', 'P1']
({'queryNum': 431}, {'parsedRemovedQuery': 'SELECT C.FirstName, C.LastName, COUNT(P1.purchaseId)\nFROM Customers AS C, Purchases AS P1\nWHERE C.CustomerId = P1.CustomerId \n    AND C.CustomerId IN (SELECT CustomerId\n        From Purchases AS P2\n        WHERE P2.Price <= ALL(SELECT MIN(P3.Price)\n            FROM Purchases P3\n            WHERE P2.ProductId = P3.ProductId))\nGROUP BY P1.CustomerId\nORDER BY C.CustomerId DESC;'})
Query 5eaf1ffa334f483dd6bb9fe2 has been updated
==============
['Purchases']
['Customers']
({'queryNum': 432}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(PurchaseId)\nFROM Purchases NATURAL JOIN Customers\nGROUP BY CustomerId\nHAVING CustomerId IN (SELECT CustomerId\n                      FROM Purchases p1\n                      WHERE p1.Price <= ALL(SELECT p2.Price\n                                         FROM Purchases p2\n                                         WHERE p2.ProductId = p1.ProductId))\nORDER BY CustomerId DESC\n'})
Query 5eaf1ffb334f483dd6bb9fe3 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
['(select', 'MIN(Price)', 'p']
['productID', 'pi', 'From', 'Purchases', 'group', 'by', 'productID)\nas', 'temp']
['(select', 'c2.customerid', 'cid']
['count(p2.PurchaseId)', 'd', 'from', 'Customers', 'c2']
['Purchases', 'p2', '\nwhere', 'c2.customerid', '=', 'p2.customerid', 'group', 'by', 'c2.customerid)\nas', 'temp2']
({'queryNum': 433}, {'parsedRemovedQuery': 'Select FirstName, LastName, temp2.d\nFrom Customers, Purchases, \n(select MIN(Price), productID pi From Purchases group by productID)\nas temp,\n(select c2.customerid cid, count(p2.PurchaseId) d from Customers c2, Purchases p2 \nwhere c2.customerid = p2.customerid group by c2.customerid)\nas temp2\nWhere customerID = customerID and price = temp and tempi = productID and temp2.cid = customerid\ngroup by FirstName, LastName, CustomerID\norder by CustomerID desc;'})
Query 5eaf1ffb334f483dd6bb9fe4 has been updated
==============
['Purchases', 'p']
['(\n', '', '', '', 'SELECT\n', '', '', '', '', '', 'ProductId,\n', '', '', '', '', '', 'MIN(Price)', 'min_price\n', '', '', '', 'FROM\n', '', '', '', '', '', 'Purchases\n', '', '', '', 'GROUP', 'BY\n', '', '', '', '', '', 'ProductId\n', '', ')', 't']
['(\n', '', '', '', 'SELECT', 'COUNT(*)', 'cnt,', 'CustomerId\n', '', '', '', 'FROM', 'Purchases\n', '', '', '', 'GROUP', 'BY', 'CustomerId\n', '', ')', 'thing']
['Customers', 'c']
({'queryNum': 434}, {'parsedRemovedQuery': 'SELECT\n  FirstName,\n  LastName,\n  cnt\nFROM\n  Purchases\n  LEFT JOIN (\n    SELECT\n      ProductId,\n      MIN(Price) min_price\n    FROM\n      Purchases\n    GROUP BY\n      ProductId\n  ) ON ProductId = ProductId\n  INNER JOIN (\n    SELECT COUNT(*) cnt, CustomerId\n    FROM Purchases\n    GROUP BY CustomerId\n  ) ON CustomerId=CustomerId\n  AND Price = min_price\n  INNER JOIN Customers ON CustomerId=CustomerId\n  GROUP BY CustomerId\n  ORDER BY CustomerId DESC;'})
Query 5eaf1ffb334f483dd6bb9fe5 has been updated
==============
['(select', 'c.FirstName,', 'c.Lastname,', '(select', 'count(*)', 'from', 'Purchases', 'where', 'CustomerId=c.CustomerId', 'group', 'by', 'CustomerId)\nfrom', 'Customers', 'c,', 'Purchases', 'p\nwhere', 'c.CustomerId=p.customerId', 'and', 'p.Price=(select', 'min(price)', 'from', 'Purchases', 'where', 'ProductId=p.ProductId', 'group', 'by', 'ProductId)\norder', 'by', 'c.CustomerId', 'DESC)', 'as', 'sub']
({'queryNum': 435}, {'parsedRemovedQuery': 'select distinct * from (select c.FirstName, c.Lastname, (select count(*) from Purchases where CustomerId=c.CustomerId group by CustomerId)\nfrom Customers c, Purchases p\nwhere c.CustomerId=p.customerId and p.Price=(select min(price) from Purchases where ProductId=p.ProductId group by ProductId)\norder by c.CustomerId DESC) as sub;'})

Query 5eaf1ffb334f483dd6bb9fe6 has been updated
==============
['(SELECT', 'DISTINCT', 'p1.CustomerId,', 'FirstName,', 'LastName,', 'NumPurchases.num\nFROM', 'Purchases', 'p1', 'LEFT', 'JOIN', '(\n', '', '', '', 'SELECT', 'c1.CustomerId,', 'c1.FirstName,', 'c1.LastName,', 'COUNT(*)', 'AS', 'num', '\n', '', '', '', 'FROM', 'Customers', 'c1', 'LEFT', 'JOIN', 'Purchases', 'p3', 'ON', 'c1.CustomerId', '=', 'p3.CustomerId\n', '', '', '', 'GROUP', 'BY', 'c1.CustomerId\n)', 'as', 'NumPurchases', 'ON', 'p1.CustomerId', '=', 'NumPurchases.CustomerId\nWHERE', 'p1.price', 'in(\n', '', '', '', 'SELECT', 'MIN(p2.price)\n', '', '', '', 'FROM', 'Purchases', 'p2\n', '', '', '', 'GROUP', 'BY', 'p2.productId\n)\nORDER', 'BY', 'p1.CustomerId', 'DESC)', 'as', 'BestCustomers']
({'queryNum': 436}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, num\nFROM\n(SELECT DISTINCT p1.CustomerId, FirstName, LastName, NumPurchases.num\nFROM Purchases p1 LEFT JOIN (\n    SELECT c1.CustomerId, c1.FirstName, c1.LastName, COUNT(*) AS num \n    FROM Customers c1 LEFT JOIN Purchases p3 ON c1.CustomerId = p3.CustomerId\n    GROUP BY c1.CustomerId\n) as NumPurchases ON p1.CustomerId = NumPurchases.CustomerId\nWHERE p1.price in(\n    SELECT MIN(p2.price)\n    FROM Purchases p2\n    GROUP BY p2.productId\n)\nORDER BY p1.CustomerId DESC)\n'})
Query 5eaf1ffb334f483dd6bb9fe7 has been updated
==============
['Customers', 'c']
['Purchases', 'z']
({'queryNum': 437}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(FirstName)\nFROM Customers LEFT JOIN Purchases \nON CustomerId = CustomerId\nWHERE CustomerId IN\n    (SELECT p.CustomerId\n    FROM Purchases p\n      INNER JOIN\n      (\n        SELECT ProductId, MIN(Price) MinPrice\n        FROM Purchases\n        GROUP BY ProductId\n      ) p2\n      ON p.ProductId = p2.ProductId\n    WHERE p2.MinPrice = p.Price)\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n'})
Query 5eaf1ffb334f483dd6bb9fe8 has been updated
==============
({'queryNum': 438}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, LOL.Z\nFROM Customers, (SELECT CustomerId, COUNT(CustomerId) Z\nFROM (SELECT *\nFROM Purchases\nWHERE CustomerId = ANY(SELECT DISTINCT CustomerId ZZ\nFROM Purchases P, (SELECT ProductId, MIN(Price) PP\nFROM Purchases\nGROUP BY ProductId) as T\nWHERE P.ProductId = T.productId and P.Price = T.PP)) as ZZZ\nGROUP BY(CustomerId)) as LOL\nWHERE Customers.CustomerId = LOL.CustomerId\nORDER BY LOL.CustomerId DESC\n\n'})
Query 5eaf1ffb334f483dd6bb9fe9 has been updated
==============
['Purchases']
({'queryNum': 439}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Count(*)\nFROM \n        (Customers natural join\n            (SELECT DISTINCT CustomerId\n            FROM Purchases natural join Products\n            WHERE Price <= all (SELECT Price from Purchases natural join Products p where Products.ProductName = p.ProductName)) a) natural join Purchases\nGROUP BY CustomerId\nORDER BY CustomerId DESC;\n\n'})
Query 5eaf1ffb334f483dd6bb9fea has been updated
==============
['Customers', 'x1']
['Purchases', 'x2']
({'queryNum': 440}, {'parsedRemovedQuery': 'SELECT FirstName,LastName,COUNT(*)\nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN (\n                        SELECT DISTINCT CustomerId\n                        FROM Purchases NATURAL JOIN (SELECT ProductId,MIN(Price) AS MinPrice\n                                                     FROM Purchases NATURAL JOIN Products\n                                                     GROUP BY ProductId) AS table1\n                        WHERE Price = table1.MinPrice\n)\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n\n'})
Query 5eaf1ffb334f483dd6bb9feb has been updated
==============
['Customers']
['Purchases']
({'queryNum': 441}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(*)\nFROM Customers\nNATURAL JOIN Purchases\nWHERE CustomerId IN (SELECT CustomerId\n    FROM Customers\n    NATURAL JOIN Purchases P1\n    WHERE P1.Price = (SELECT MIN(Price)\n                      FROM Purchases P2\n                      WHERE P1.ProductId = P2.ProductId))\nGROUP BY CustomerId\nORDER BY CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9fec has been updated
==============
['Customers', 'C']
['(SELECT', 'CustomerId,', 'COUNT(*)', 'AS', 'times\n', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', 'GROUP', 'BY', 'CustomerId)\n', '', '', '', '', 'AS', 'B']
({'queryNum': 442}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, times\nFROM Customers\nJOIN (SELECT CustomerId, COUNT(*) AS times\n     FROM Purchases\n     GROUP BY CustomerId)\n     AS ON CustomerId = CustomerId\nWHERE CustomerId IN\n      (SELECT CustomerId\n      FROM Customers\n      JOIN Purchases P ON P.CustomerId = CustomerId\n      JOIN (SELECT ProductId, MIN(Price) AS MinP\n           FROM Purchases\n           GROUP BY ProductId)\n           AS P2 ON P.ProductId = P2.ProductId\n      WHERE P.Price = P2.MinP)\nORDER BY CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9fed has been updated
==============
['Customers', 'c']
({'queryNum': 443}, {'parsedRemovedQuery': 'select FirstName, LastName, (select count(*) from Purchases p3 where CustomerId = p3.CustomerId)\nfrom Customers\nwhere CustomerId in (select CustomerId from Purchases op where op.Price = (select min(ip.Price) from Purchases ip where ip.ProductId = op.ProductId))\norder by CustomerId desc'})
Query 5eaf1ffb334f483dd6bb9fee has been updated
==============
['(SELECT', 'cust.FirstName,', 'cust.Lastname,', 'cust.CustomerID,', 'COUNT(pu.PurchaseId)', 'AS', 'totalPurchases', '\n', '', '', '', '', '', 'FROM', 'Customers', 'cust', 'JOIN', 'Purchases', 'pu', 'ON', 'cust.CustomerId', '=', 'pu.CustomerId\n', '', '', '', '', '', 'WHERE', 'cust.CustomerID', 'IN', '(SELECT', 'pu1.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pu1', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', '(pu1.ProductId,', 'pu1.Price)', 'IN', '(SELECT', 'pu2.ProductId,', 'MIN(pu2.Price)', 'AS', 'minPrice\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pu2\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'pu2.ProductId))\n', '', '', '', '', '', 'GROUP', 'BY', 'cust.CustomerId)', 'AS', 'T']
({'queryNum': 444}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, totalPurchases\nFROM (SELECT cust.FirstName, cust.Lastname, cust.CustomerID, COUNT(pu.PurchaseId) AS totalPurchases \n      FROM Customers cust JOIN Purchases pu ON cust.CustomerId = pu.CustomerId\n      WHERE cust.CustomerID IN (SELECT pu1.CustomerId\n                                FROM Purchases pu1 \n                                WHERE (pu1.ProductId, pu1.Price) IN (SELECT pu2.ProductId, MIN(pu2.Price) AS minPrice\n                                                                    FROM Purchases pu2\n                                                                    GROUP BY pu2.ProductId))\n      GROUP BY cust.CustomerId) AS\nORDER BY CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9fef has been updated
==============
['Purchases', 'P']
['Customers', 'C']
({'queryNum': 445}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, count(PurchaseId)\nFROM Purchases NATURAL JOIN Customers\nWHERE CustomerId IN (SELECT Pu.CustomerId\nFROM Purchases Pu\nWHERE Pu.Price = (SELECT MIN(pum.Price) FROM Purchases pum WHERE pum.ProductId=Pu.ProductId)\nGROUP BY CustomerId)\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n-- SELECT Pu.CustomerId\n-- FROM Purchases Pu\n-- WHERE Pu.Price = (SELECT MIN(pum.Price) FROM Purchases pum WHERE pum.ProductId=Pu.ProductId)\n-- GROUP BY CustomerId\n\n-- SELECT MIN(pum.Price) FROM Purchases pum WHERE pum.ProductId=Pu.ProductId'})

Query 5eaf1ffb334f483dd6bb9ff0 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 446}, {'parsedRemovedQuery': 'select FirstName, LastName, count(*) \nfrom Customers natural join Purchases\nwhere CustomerId in (\n    select distinct CustomerId\n    from Purchases natural join (\n        select ProductId, min(Price) as Price\n        from Purchases\n        group by ProductId\n    ) t1\n)\ngroup by CustomerId\norder by CustomerId desc;'})
Query 5eaf1ffb334f483dd6bb9ff1 has been updated
==============
['(\nSELECT', 'DISTINCT', 'FirstName,LastName,numPurchases,temp.CustomerId', '\nFROM', '(SELECT', 'C.CustomerId,', 'C.FirstName,C.LastName,Count(P.PurchaseId)', 'as', 'numPurchases\nFROM', 'Customers', 'C', 'inner', 'join', 'Purchases', 'P', 'on', 'C.CustomerId', '=', 'P.CustomerId', '\nGROUP', 'BY', 'C.CustomerId', 'ORDER', 'BY', 'C.CustomerId', 'DESC)', 'temp,Purchases', 'p1\nWHERE', 'temp.CustomerId', '=', 'p1.CustomerId', 'and', 'p1.Price', '<=', 'ALL(SELECT', 'Price', 'FROM', 'Purchases', 'p2', 'WHERE', 'p2.ProductId', '=', 'p1.ProductId))', 'as', 'temp2']
({'queryNum': 447}, {'parsedRemovedQuery': 'SELECT FirstName,LastName,numPurchases\nFROM(\nSELECT DISTINCT FirstName,LastName,numPurchases,temp.CustomerId \nFROM (SELECT C.CustomerId, C.FirstName,C.LastName,Count(P.PurchaseId) as numPurchases\nFROM Customers C inner join Purchases P on C.CustomerId = P.CustomerId \nGROUP BY C.CustomerId ORDER BY C.CustomerId DESC) temp,Purchases p1\nWHERE temp.CustomerId = p1.CustomerId and p1.Price <= ALL(SELECT Price FROM Purchases p2 WHERE p2.ProductId = p1.ProductId))\nORDER BY CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9ff2 has been updated
==============
['(\n', '', '', '', 'SELECT', 'DISTINCT', 'FirstName,', 'LastName,', 'CustomerId,\n', '', '', '', '', '', '', '', '(SELECT', 'COUNT(CustomerId)', 'FROM', 'Purchases', 'WHERE', 'CustomerId', '=', 'p.CustomerId)', 'as', 'counts\n', '', '', '', 'FROM', 'Purchases', 'p', 'NATURAL', 'JOIN', 'Customers\n', '', '', '', 'WHERE', 'Price', '<=', 'ALL(SELECT', 'Price', 'FROM', 'Purchases', 'WHERE', 'p.ProductId', '=', 'ProductId)\n', '', '', '', 'ORDER', 'BY', 'CustomerId', 'DESC\n)', 'as', 'custPurchases']
({'queryNum': 448}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, counts FROM \n(\n    SELECT DISTINCT FirstName, LastName, CustomerId,\n        (SELECT COUNT(CustomerId) FROM Purchases WHERE CustomerId = p.CustomerId) as counts\n    FROM Purchases p NATURAL JOIN Customers\n    WHERE Price <= ALL(SELECT Price FROM Purchases WHERE p.ProductId = ProductId)\n    ORDER BY CustomerId DESC\n)\n'})
Query 5eaf1ffb334f483dd6bb9ff3 has been updated
==============
['Customers']
['Purchases']
({'queryNum': 449}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, COUNT(Purchases.ProductId)\nFROM Customers\nINNER JOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nWHERE Customers.CustomerId IN \n(SELECT C.CustomerId \nFROM Customers C, Purchases P\nWHERE C.CustomerId = P.CustomerId\nAND P.Price <= (SELECT MIN(P2.Price) FROM Purchases P2 WHERE P2.ProductId = P.ProductId GROUP BY P2.ProductId))\nGROUP BY Customers.CustomerId\nORDER BY Customers.CustomerId DESC;'})
Query 5eaf1ffb334f483dd6bb9ff4 has been updated
==============
['Customers']
['(SELECT', '', 'COUNT(CustomerId)', 'as', 'number,', 'CustomerId\nFROM', 'Purchases\nWHERE', 'CustomerId', 'IN', '(\nSELECT', 'CustomerId\nFROM', 'Purchases\nJOIN\n(SELECT', 'ProductId,', 'MIN(Price)', 'as', 'MinPrice\nFROM', 'Purchases\nGROUP', 'BY', 'ProductId)', 'AS', 'mt\nWHERE', 'Purchases.ProductId', '=', 'mt.ProductId', 'AND', 'Purchases.Price', '=', 'mt.MinPrice\nGROUP', 'BY', 'CustomerId)\nGROUP', 'BY', 'CustomerId)', 'AS', 'res']
({'queryNum': 450}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, number\nFROM Customers\nJOIN\n(SELECT  COUNT(CustomerId) as number, CustomerId\nFROM Purchases\nWHERE CustomerId IN (\nSELECT CustomerId\nFROM Purchases\nJOIN\n(SELECT ProductId, MIN(Price) as MinPrice\nFROM Purchases\nGROUP BY ProductId) AS mt\nWHERE Purchases.ProductId = mt.ProductId AND Purchases.Price = mt.MinPrice\nGROUP BY CustomerId)\nGROUP BY CustomerId) AS\nON Customers.CustomerId = CustomerId\nORDER BY Customers.CustomerId DESC;'})
Query 5eaf1ffb334f483dd6bb9ff5 has been updated
==============
['(Select', 'distinct', 'c.FirstName,', 'c.LastName,', '(Select', 'count(*)', 'from', 'Purchases', 'where', 'p.CustomerId', '=', 'CustomerId)', 'as', 'total,', 'c.CustomerId\n', '', '', '', '', '', '', '', 'from', 'Customers', 'c', 'join', 'Purchases', 'p', 'on', 'c.CustomerId', '=', 'p.CustomerId\n', '', '', '', '', '', '', '', 'where', 'p.Price', '=', '(Select', 'Min(p2.Price)', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'from', 'Purchases', 'p2', 'where', 'p2.ProductId', '=', 'p.ProductId)\n', '', '', '', '', '', '', '', 'order', 'by', 'c.CustomerId', 'Desc)', 'as', 'alias']
({'queryNum': 451}, {'parsedRemovedQuery': 'Select FirstName, LastName, total\nfrom (Select distinct c.FirstName, c.LastName, (Select count(*) from Purchases where p.CustomerId = CustomerId) as total, c.CustomerId\n        from Customers c join Purchases p on c.CustomerId = p.CustomerId\n        where p.Price = (Select Min(p2.Price) \n                            from Purchases p2 where p2.ProductId = p.ProductId)\n        order by c.CustomerId Desc) as '})
Query 5eaf1ffb334f483dd6bb9ff6 has been updated
==============
['(SELECT', 'DISTINCT', 'CustomerId,', 'FirstName,', 'LastName\nFROM', 'Customers', 'NATURAL', 'JOIN', 'Purchases', 'AS', 'PurchaseCounts', '\nWHERE', 'PurchaseId', 'in', '(SELECT', 'PurchaseId\nFROM', 'Purchases', 'pu\nWHERE', 'Price', '=', '(SELECT', 'MIN(Price)', 'FROM', 'Purchases', 'WHERE', 'ProductId', '=', 'pu.ProductId))\nORDER', 'BY', 'CustomerId', 'DESC)', 'as', 'bbb']
['(SELECT', 'CustomerId,', 'COUNT(CustomerId)', 'Counts', 'FROM', 'Purchases', 'GROUP', 'BY', 'CustomerId)', 'AS', 'aaa']
({'queryNum': 452}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Counts\nFROM (SELECT DISTINCT CustomerId, FirstName, LastName\nFROM Customers NATURAL JOIN Purchases AS PurchaseCounts \nWHERE PurchaseId in (SELECT PurchaseId\nFROM Purchases pu\nWHERE Price = (SELECT MIN(Price) FROM Purchases WHERE ProductId = pu.ProductId))\nORDER BY CustomerId DESC) as NATURAL JOIN (SELECT CustomerId, COUNT(CustomerId) Counts FROM Purchases GROUP BY CustomerId) AS aaa'})
Query 5eaf1ffb334f483dd6bb9ff7 has been updated
==============
({'queryNum': 453}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, Count(Purchases.PurchaseId)\nFROM Customers, Purchases,\n    (SELECT DISTINCT CustomerId\n    FROM Purchases,\n        (SELECT MIN(Price) as Mprice, ProductId\n        FROM Purchases\n        GROUP BY ProductId) as MinPriceTable\n    WHERE Purchases.ProductId = MinPriceTable.ProductId and Purchases.Price = MinPriceTable.Mprice) as PoorPeople\nWHERE Customers.CustomerId = PoorPeople.CustomerId and Purchases.CustomerId = Customers.CustomerId\nGROUP BY PoorPeople.CustomerId\nORDER BY PoorPeople.CustomerId DESC \n        '})
Query 5eaf1ffb334f483dd6bb9ff8 has been updated
==============
({'queryNum': 454}, {'parsedRemovedQuery': 'SELECT c.FirstName, c.LastName, COUNT(p.ProductId)\nFROM\n    (SELECT DISTINCT c.CustomerId\n    FROM (SELECT MIN(pu.Price) AS minp, pu.ProductId\n          FROM Purchases pu, Products pr, Customers cu\n          WHERE pu.ProductId = pr.ProductId and pu.CustomerId = cu.CustomerId\n          GROUP BY pu.ProductId) AS a, Purchases p, Customers c\n    WHERE c.CustomerId = p.CustomerId and p.ProductId = a.ProductId and p.Price = a.minp)AS b, Purchases p, Customers c\nWHERE p.CustomerId = b.CustomerId and c.CustomerId = b.CustomerId\nGROUP BY p.CustomerId\nORDER BY p.CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9ff9 has been updated
==============
['Customers']
['Purchases']
['CustomerId', 'DESC']
['FirstName']
['LastName']
({'queryNum': 455}, {'parsedRemovedQuery': 'Select FirstName,LastName,count(ProductId)\nfrom Customers NATURAL JOIN Purchases\nwhere CustomerId IN (\nSelect P.CustomerId\nfrom Purchases P,Products P1\nwhere P.ProductId=P1.ProductId and price <= ALL (\nSelect P2.Price\nfrom Purchases P2\nwhere P1.ProductId=P2.ProductId\n)\n)\ngroup by CustomerId DESC,FirstName,LastName\n\n'})

Query 5eaf1ffb334f483dd6bb9ffa has been updated
==============
({'queryNum': 456}, {'parsedRemovedQuery': 'SELECT \n    C1.FirstName, C1.LastName, COUNT(P1.PurchaseId)\nFROM \n    (Customers C1 JOIN Purchases P1 \n                    ON C1.CustomerId = P1.CustomerId) \nWHERE C1.CustomerId IN   (SELECT C2.CustomerId\n                            FROM (Customers C2 JOIN Purchases P2 \n                                                 ON C2.CustomerId = P2.CustomerId) \n                           WHERE P2.Price <= ANY(SELECT MIN(P3.Price) \n                                                 FROM Purchases P3 \n                                                 WHERE P2.ProductId = P3.ProductId))\nGROUP BY C1.CustomerId\nORDER BY C1.CustomerId DESC\n'})
Query 5eaf1ffb334f483dd6bb9ffb has been updated
==============
['Customers']
['(SELECT', 'CustomerId,', 'COUNT(*)', 'as', 'c', 'FROM', 'Purchases', 'NATURAL', 'JOIN', '(SELECT', 'CustomerId', 'FROM', 'Purchases', 'p', 'NATURAL', 'JOIN', '(SELECT', 'ProductId', 'p0,', 'MIN(Price)', 'as', 'm', 'from', 'Purchases', 'GROUP', 'BY', 'ProductId)', 'as', 'temp', 'WHERE', 'p.Price=m', 'GROUP', 'BY', 'CustomerId)', 'as', 'temp2', 'GROUP', 'BY', 'CustomerId)', 'as', 'temp3']
({'queryNum': 457}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, c\nFROM Customers NATURAL JOIN (SELECT CustomerId, COUNT(*) as c FROM Purchases NATURAL JOIN (SELECT CustomerId FROM Purchases p NATURAL JOIN (SELECT ProductId p0, MIN(Price) as m from Purchases GROUP BY ProductId) as temp WHERE p.Price=m GROUP BY CustomerId) as temp2 GROUP BY CustomerId)\nORDER BY CustomerId DESC\n\n'})
Query 5eaf1ffb334f483dd6bb9ffc has been updated
==============
['Customers', 'c']
({'queryNum': 458}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, \n        (SELECT Count(*) \n        FROM Purchases p\n        WHERE CustomerId = p.CustomerId)\n    FROM Customers\n    WHERE \n        CustomerId IN \n            (SELECT p2.CustomerId \n                FROM Purchases p2\n                WHERE p2.Price = (SELECT MIN(p3.Price) FROM Purchases p3 WHERE p3.productId = p2.productId))\n    ORDER BY CustomerId DESC;\n'})
Query 5eaf1ffb334f483dd6bb9ffd has been updated
==============
['Purchases']
['Customers']
({'queryNum': 459}, {'parsedRemovedQuery': 'SELECT Customers.FirstName, Customers.LastName, COUNT(*)\nFROM Purchases \nINNER JOIN Customers ON Customers.CustomerId=Purchases.CustomerId\nWHERE Customers.CustomerId IN (SELECT p.CustomerId \nFROM Purchases p\nWHERE p.Price = (SELECT MIN(Purchases.Price) FROM Purchases WHERE Purchases.ProductId=p.ProductId))\nGROUP BY Customers.CustomerId DESC, Customers.FirstName, Customers.LastName;'})
Query 5eaf1ffb334f483dd6bb9ffe has been updated
==============
['(SELECT', 'DISTINCT', 'c.CustomerId,', 'c.FirstName,', 'c.LastName,', 'Totals.TotalPurchases', 'AS', 't\nFROM', 'Purchases', 'AS', 'o\n', '', '', '', 'INNER', 'JOIN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'ProductId,', 'MIN(Price)', 'AS', 'MinPrice', 'FROM', 'Purchases', 'GROUP', 'BY', 'ProductId\n', '', '', '', ')', 'AS', 'i', 'ON', 'o.Price=i.MinPrice\n', '', '', '', 'INNER', 'JOIN', 'Customers', 'AS', 'c\n', '', '', '', '', '', '', '', 'ON', 'c.CustomerId=o.CustomerId\n', '', '', '', 'INNER', 'JOIN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'CustomerId,', 'COUNT(*)', 'as', 'TotalPurchases', 'FROM', 'Purchases', 'GROUP', 'BY', 'CustomerId\n', '', '', '', ')', 'as', 'Totals', 'ON', 'Totals.CustomerId=c.CustomerId\n)', 'AS', 'a']
({'queryNum': 460}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, t\nFROM (SELECT DISTINCT c.CustomerId, c.FirstName, c.LastName, Totals.TotalPurchases AS t\nFROM Purchases AS o\n    INNER JOIN (\n        SELECT ProductId, MIN(Price) AS MinPrice FROM Purchases GROUP BY ProductId\n    ) AS i ON o.Price=i.MinPrice\n    INNER JOIN Customers AS c\n        ON c.CustomerId=o.CustomerId\n    INNER JOIN (\n        SELECT CustomerId, COUNT(*) as TotalPurchases FROM Purchases GROUP BY CustomerId\n    ) as Totals ON Totals.CustomerId=c.CustomerId\n) AS\nORDER BY CustomerId DESC'})
Query 5eaf1ffb334f483dd6bb9fff has been updated
==============
['(\n', '', '', '', 'SELECT', '*\n', '', '', '', 'FROM', 'Customers\n', '', '', '', 'ORDER', 'BY', 'CustomerId', 'DESC\n)', 'AS', 'c']
['(\n', '', '', '', 'SELECT', 'rp.CustomerId,', 'count(rp.PurchaseId)', 'AS', 'countCustomers\n', '', '', '', 'FROM', 'Purchases', 'rp\n', '', '', '', 'WHERE', 'rp.CustomerId', '=', 'ANY', '(\n', '', '', '', '', '', '', '', 'SELECT', 'pur.CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pur\n', '', '', '', '', '', '', '', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'pp.ProductId', 'AS', 'ProductId,', 'MIN(pp.Price)', 'AS', 'minPrice\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pp\n', '', '', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'ProductId\n', '', '', '', '', '', '', '', ')', 'AS', 'minPro\n', '', '', '', '', '', '', '', 'ON', 'minPro.ProductId', '=', 'pur.ProductId\n', '', '', '', '', '', '', '', 'WHERE', 'pur.Price', '=', 'minPro.minPrice\n', '', '', '', ')\n', '', '', '', 'GROUP', 'BY', 'rp.CustomerId\n', '', '', '', 'ORDER', 'BY', 'rp.CustomerId', 'DESC\n)', 'AS', 'p']
({'queryNum': 461}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, countCustomers\nFROM (\n    SELECT *\n    FROM Customers\n    ORDER BY CustomerId DESC\n) AS\nJOIN (\n    SELECT rCustomerId, count(rPurchaseId) AS countCustomers\n    FROM Purchases rp\n    WHERE rCustomerId = ANY (\n        SELECT pur.CustomerId\n        FROM Purchases pur\n        JOIN (\n            SELECT pProductId AS ProductId, MIN(pPrice) AS minPrice\n            FROM Purchases pp\n            GROUP BY ProductId\n        ) AS minPro\n        ON minPro.ProductId = pur.ProductId\n        WHERE pur.Price = minPro.minPrice\n    )\n    GROUP BY rCustomerId\n    ORDER BY rCustomerId DESC\n) AS\nON CustomerId = CustomerId'})
Query 5eaf1ffb334f483dd6bba000 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 462}, {'parsedRemovedQuery': 'select FirstName, LastName, count(PurchaseId)\nfrom Customers inner join Purchases on CustomerId = CustomerId\nwhere CustomerId in (select g.CustomerId from Purchases g where g.Price in (Select min(Price) from Purchases where Purchases.ProductId = g.ProductId))\ngroup by CustomerId\norder by CustomerId desc'})
Query 5eaf1ffb334f483dd6bba001 has been updated
==============
({'queryNum': 463}, {'parsedRemovedQuery': 'select Customers.FirstName, Customers.LastName, Fre.Frequency\nfrom Customers, (select CustomerId, Count(*) as Frequency\n      from Customers natural join Purchases\n       group by CustomerId) as Fre\nwhere Customers.CustomerId in (select Purchases.CustomerId\n                               from (select ProductId, min(Price) as lowest\n                                     from Customers natural join Purchases\n                                      group by ProductId) as price_table, Purchases\n                                      where Purchases.ProductId = price_table.ProductId and Purchases.Price = price_table.lowest)\n                                      and Customers.CustomerId = Fre.CustomerId\norder by Customers.CustomerId DESC\n\n\n\n'})
Query 5eaf1ffb334f483dd6bba002 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 464}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(CustomerId) \nFROM Customers NATURAL JOIN Purchases\nWHERE CustomerId IN (\n    SELECT DISTINCT CustomerId\n    FROM Customers NATURAL JOIN Purchases\n    WHERE Price <= ALL(\n        SELECT Price\n        FROM Purchases pur\n        WHERE pur.ProductId = ProductId\n    ))\nGROUP BY CustomerId\nORDER BY CustomerId DESC;'})
Query 5eaf1ffb334f483dd6bba003 has been updated
==============
['(Select', 'FirstName,', 'LastName,CustomerId,', 'counts\nfrom', 'Customers', 'natural', 'join', '(Select', 'count(ProductId)', 'as', 'counts,', 'CustomerId', 'from', 'Purchases', 'p3', 'where', 'p3\n.CustomerId', 'in', '(Select', 'CustomerId', 'from', 'Purchases', 'p1', 'where', 'p1.price<=(Select', 'min(Price)', 'from\nPurchases', 'p2', 'where', 'p2.ProductId', '=', 'p1.ProductId))group', 'by', 'CustomerId)', 'a\nOrder', 'by', 'CustomerId', 'DESC', ')', 'b']
({'queryNum': 465}, {'parsedRemovedQuery': 'select FirstName, LastName, counts\nfrom\n(Select FirstName, LastName,CustomerId, counts\nfrom Customers natural join (Select count(ProductId) as counts, CustomerId from Purchases p3 where p3\n.CustomerId in (Select CustomerId from Purchases p1 where p1.price<=(Select min(Price) from\nPurchases p2 where p2.ProductId = p1.ProductId))group by CustomerId) a\nOrder by CustomerId DESC ) b'})

Query 5eaf1ffb334f483dd6bba004 has been updated
==============
['(Select', 'c.FirstName,', 'c.LastName,', '(SELECT', 'COUNT(*)', 'FROM', 'Purchases', 'p0', 'WHERE', 'p0.CustomerId', '=', 'c.CustomerId)\nFrom', 'Customers', 'c', 'Natural', 'Join', '(Select', 'p1.CustomerId,', 'p1.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Purchases', 'p1', 'Join', '(Select', 'Distinct', 'ProductId,', 'MIN(price)', 'minPrice\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Group', 'By', 'ProductId)', 'p2\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'On', 'p1.ProductId', '=', 'p2.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Where', 'p1.price', '=', 'p2.minPrice)', 'p3', '\nOrder', 'By', 'c.CustomerId', 'DESC)', 'pDone']
({'queryNum': 466}, {'parsedRemovedQuery': 'SELECT Distinct *\nFROM (Select c.FirstName, c.LastName, (SELECT COUNT(*) FROM Purchases p0 WHERE p0.CustomerId = c.CustomerId)\nFrom Customers c Natural Join (Select p1.CustomerId, p1.ProductId\n                                From Purchases p1 Join (Select Distinct ProductId, MIN(price) minPrice\n                                                        From Purchases\n                                                        Group By ProductId) p2\n                                                    On p1.ProductId = p2.ProductId\n                                Where p1.price = p2.minPrice) p3 \nOrder By c.CustomerId DESC) pDone'})
Query 5eaf1ffb334f483dd6bba005 has been updated
==============
['Customers', 'c']
['Purchases', 'p']
({'queryNum': 467}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, COUNT(ProductId)\nFROM Customers LEFT JOIN Purchases ON (CustomerId = CustomerId)\nWHERE CustomerId IN (SELECT cid FROM(\n                        SELECT p1.CustomerId AS cid\n                        FROM Purchases p1\n                        WHERE p1.Price IN (SELECT minPrice FROM(\n                            SELECT ProductId, MIN(Price) as minPrice\n                            FROM Purchases\n                            GROUP BY ProductId) AS tmp2)\n                        ) AS tmp1)\nGROUP BY CustomerId DESC;\n'})
Query 5eaf1ffb334f483dd6bba006 has been updated
==============
['Purchases', 'p']
['Customers', 'c']
({'queryNum': 468}, {'parsedRemovedQuery': 'SELECT FirstName, LastName,  (SELECT COUNT(*)\n                                            FROM Purchases p1\n                                            WHERE CustomerId = p1.CustomerId)\nFROM Purchases JOIN Customers ON (CustomerId = CustomerId)\nWHERE Price = (SELECT MIN(Price)\n                FROM Purchases p2\n                WHERE p2.ProductId = ProductId)\nGROUP BY CustomerId\nORDER BY CustomerId DESC\n\n'})
Query 5eaf1ffc334f483dd6bba007 has been updated
==============
['Employee']
['Department']
['Employee']
({'queryNum': 469}, {'parsedRemovedQuery': "SELECT hometown as visited\nFROM Employee\nWHERE empName = 'Ben'\nUNION ALL\nSELECT DISTINCT deptLocation as visited\nFROM Department NATURAL JOIN Employee\nWHERE empName = 'Ben'"})
Query 5eaf1ffc334f483dd6bba008 has been updated
==============
['Employee', 'e']
({'queryNum': 470}, {'parsedRemovedQuery': "SELECT hometown\nFROM Employee\nWHERE empName = 'Ben'\nUNION (\n    SELECT deptLocation AS hometown\n    FROM Employee\n    NATURAL JOIN Department\n    WHERE empName = 'Ben'\n)\n"})
Query 5eaf1ffc334f483dd6bba009 has been updated
==============
['Employee']
({'queryNum': 471}, {'parsedRemovedQuery': "Select hometown\nfrom Employee\nwhere empName LIKE 'Ben'\nUNION\nSelect deptLocation\nfrom Department,Employee\nwhere Department.deptID = Employee.deptID and empName LIKE 'Ben'\n\n"})
Query 5eaf1ffc334f483dd6bba00a has been updated
==============
['Employee']
['Employee', 'e']
['Department', 'd']
({'queryNum': 472}, {'parsedRemovedQuery': "SELECT hometown \nFROM Employee \nWHERE empName = 'Ben'\nUNION\nSELECT deptLocation AS hometown\nFROM Employee, Department\nWHERE deptID = deptID\n    AND empName = 'Ben';"})
Query 5eaf1ffc334f483dd6bba00b has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 473}, {'parsedRemovedQuery': 'select deptName, deptLocation, count(empID)\nfrom Employee natural join Department\ngroup by deptID\nhaving count(empID) >= all(select count(e1.empID)\n    from Employee e1 natural join Department d1\n    group by d1.deptID)'})
Query 5eaf1ffc334f483dd6bba00c has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 474}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) \nFROM Employee NATURAL JOIN Department\nGROUP BY deptID\nHAVING COUNT(*) = ( SELECT MAX(empCnt) FROM (SELECT COUNT(*) as empCnt\nFROM Employee \nGROUP BY deptID) as temp)'})
Query 5eaf1ffc334f483dd6bba00d has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 475}, {'parsedRemovedQuery': 'SELECT deptName, deptlocation, COUNT(*) as numofEmp\nFROM Employee JOIN Department ON(deptID = deptID)\nGROUP BY deptID\nHAVING COUNT(*) = \n\n(SELECT MAX(empCnt) FROM (SELECT COUNT(*) as empCnt\nFROM Employee\nGROUP BY deptID) as temp )\n-- (SELECT MAX(cnt) FROM )'})
Query 5eaf1ffc334f483dd6bba00e has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 476}, {'parsedRemovedQuery': 'Select deptName, deptLocation, Count(*)\nfrom Employee natural join Department\nGroup by deptID\nHaving count(*) = (Select max(empCnt)\nfrom (Select count(*) as empcnt\nfrom Employee\nGroup By deptID) as temp)'})
Query 5eaf1ffc334f483dd6bba00f has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 477}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) as numOfEmp\nFROM Employee NATURAL JOIN Department \nGROUP BY deptID\nHAVING numOfEmp = \n    (SELECT MAX(empCounter)\n    FROM (  SELECT COUNT(*) as empCounter\n            FROM Employee\n            GROUP BY deptID) as temp\n    );\n\n\n\n'})
Query 5eaf1ffc334f483dd6bba010 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 478}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Department NATURAL JOIN Employee\nGROUP BY deptID\nHAVING COUNT(*) =\n(\nSELECT MAX(ct)\nFROM (SELECT COUNT(*) as ct\nFROM Employee\nGROUP BY deptID) AS temp\n)'})
Query 5eaf1ffc334f483dd6bba011 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 479}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) \nFROM Employee NATURAL JOIN Department\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCnt) FROM (\n    SELECT COUNT(*) as empCnt \n    FROM Employee GROUP BY deptID\n) AS temp);'})
Query 5eaf1ffc334f483dd6bba012 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 480}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Employee NATURAL JOIN Department\nGROUP BY deptId\nHAVING COUNT(*) = (\n    SELECT MAX(empCount)\n    FROM (\n    SELECT COUNT(*) AS empCount\n    FROM Employee\n    GROUP BY deptID\n    ) AS temp\n)'})
Query 5eaf1ffc334f483dd6bba013 has been updated
==============
['(SELECT', 'Department.deptName,', 'Department.deptLocation,', 'Count(*)', 'AS', 'deptFreq\nFROM', 'Employee', 'NATURAL', 'JOIN', 'Department\nGROUP', 'BY', 'Department.deptName,', 'Department.deptLocation)', 'as', 'temp']
({'queryNum': 481}, {'parsedRemovedQuery': 'Select * \nFROM (SELECT Department.deptName, Department.deptLocation, Count(*) AS deptFreq\nFROM Employee NATURAL JOIN Department\nGROUP BY Department.deptName, Department.deptLocation)\nWHERE deptFreq > 1\nORDER BY deptName DESC\n'})

Query 5eaf1ffc334f483dd6bba014 has been updated
==============
['Department']
['Employee']
({'queryNum': 482}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) \nFROM Department NATURAL JOIN Employee\nGROUP BY deptID\nHAVING COUNT(*) = (\n        SELECT COUNT(*) \n        FROM Employee\n        GROUP BY deptID\n        ORDER BY COUNT(*) DESC\n        LIMIT 1\n    )'})
Query 5eaf1ffc334f483dd6bba015 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 483}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Employee LEFT OUTER JOIN Department ON deptID = deptID\nGROUP BY deptName, deptLocation\nHAVING COUNT(*) >=  ALL(SELECT COUNT(*)\n                        FROM Employee e2\n                        GROUP BY e2.deptID)\nORDER BY deptName DESC;'})
Query 5eaf1ffc334f483dd6bba016 has been updated
==============
['Department']
['(SELECT', 'deptID,', 'count(empID)', 'as', 'total_employee', 'FROM', 'Department', 'NATURAL', 'JOIN', 'Employee', 'GROUP', 'BY', 'deptID)', 'AS', 'E1']
({'queryNum': 484}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, total_employee\nFROM Department NATURAL JOIN (SELECT deptID, count(empID) as total_employee FROM Department NATURAL JOIN Employee GROUP BY deptID) AS\nWHERE total_employee = (SELECT MAX(total_employee) FROM (SELECT count(empID) as total_employee FROM Department NATURAL JOIN Employee GROUP BY deptID) AS E2);'})
Query 5eaf1ffc334f483dd6bba017 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 485}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) as numofEmp\nFROM Employee JOIN Department ON (deptID = deptID)\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCnt)\nFROM (\nSELECT COUNT(*) as empCnt\nFROM Employee \nGROUP BY deptID ) as  temp)'})
Query 5eaf1ffc334f483dd6bba018 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 486}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Employee NATURAL JOIN Department\nGROUP BY deptID\nHAVING COUNT(*)= (SELECT MAX(empCNT) \n                FROM (SELECT COUNT(*) as empCNT \n                    FROM Employee \n                    GROUP BY deptID) temp)'})
Query 5eaf1ffc334f483dd6bba019 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 487}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Employee NATURAL JOIN Department\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCNT)\n                   FROM (SELECT COUNT(*) AS empCNT\n                         FROM Employee\n                         GROUP BY deptID) temp)'})
Query 5eaf1ffc334f483dd6bba01a has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 488}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, count(*)\nFROM Department, Employee e \nWHERE (deptId = deptId)\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCNT)\nFROM (SELECT COUNT(*) as empCNT FROM Employee\nGROUP BY deptID) temp)'})
Query 5eaf1ffc334f483dd6bba01b has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 489}, {'parsedRemovedQuery': 'select deptName, deptLocation, count(*)\nfrom Employee natural join Department\ngroup by deptID having count(*) =\n(select max(empCount)\nfrom (select count(*) as empCount from Employee group by deptID) as tmp)'})
Query 5eaf1ffc334f483dd6bba01c has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 490}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, count(*)\nFROM Department NATURAL JOIN Employee\nGROUP BY deptId\nHAVING count(*) = (SELECT MAX(empCnt) \n                    FROM (SELECT count(*) as empCnt FROM Employee GROUP BY deptId) temp)'})
Query 5eaf1ffc334f483dd6bba01d has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 491}, {'parsedRemovedQuery': 'select deptName, deptLocation, count(*) as cnt\nfrom Employee join Department on (deptID = deptID)\ngroup by deptID\nhaving cnt = (select max(empCnt)\nfrom (select count(*) as empCnt\nfrom Employee\ngroup by deptID) as bahaha)\n'})
Query 5eaf1ffc334f483dd6bba01e has been updated
==============
['Employee', 'e']
['Department', 'd']
['#know', 'that']
['natural', 'join']
['each']
({'queryNum': 492}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*)\nFROM Employee NATURAL JOIN Department #know after the natural, each department id \nGROUP BY deptID                           # mathes the number of employees\nHAVING COUNT(*) = (SELECT MAX(empCnt)\n                    FROM (SELECT COUNT(*) as empCnt\n                        FROM Employee\n                        GROUP BY deptID) as temp)\n    '})
Query 5eaf1ffc334f483dd6bba01f has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 493}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(empID)\nFROM Employee NATURAL JOIN Department\nGROUP BY deptID\nHAVING COUNT(empID) >= ALL (SELECT new.c FROM (SELECT d2.deptID, COUNT(e2.empID) AS c\n                                        FROM Employee e2 NATURAL JOIN Department d2\n                                        GROUP BY d2.deptID) AS new)'})
Query 5eaf1ffc334f483dd6bba020 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 494}, {'parsedRemovedQuery': 'SELECT deptName, deptlocation, COUNT(*) as numofEmp\nFROM Employee JOIN Department ON (deptID = deptID)\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCnt)\n                   FROM (SELECT COUNT(*) as empCnt\n                         FROM Employee\n                         GROUP BY deptID) as temp)\n'})
Query 5eaf1ffc334f483dd6bba021 has been updated
==============
['Department', 'D']
['Employee', 'E']
({'queryNum': 495}, {'parsedRemovedQuery': 'Select deptName,deptLocation,count(*) as employee_count\nfrom Department,Employee\nwhere deptID = deptID \ngroup by deptID\nhaving count(*) >= ALL (\nSelect count(*) as employee_count\nfrom Department,Employee \nwhere Department.deptID = Employee.deptID\ngroup by Department.deptID\norder by employee_count DESC\n) \n\n\n\n\n\n'})
Query 5eaf1ffc334f483dd6bba022 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 496}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) AS numOfEmp\nFROM Employee JOIN Department ON (deptID = deptID)\nGROUP BY deptID\nHAVING COUNT(*) = (SELECT MAX(empCnt)\n                   FROM (SELECT COUNT(*) AS empCnt\n                         FROM Employee\n                         GROUP BY deptID) AS temp);'})
Query 5eaf1ffc334f483dd6bba023 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 497}, {'parsedRemovedQuery': 'SELECT deptName, deptLocation, COUNT(*) as numofEmp\nFROM Employee JOIN Department ON (deptID = deptID) -- table where we have every employee plus their department info\nGROUP BY deptID\nHAVING COUNT(*) = \n(SELECT MAX(empCount)\nFROM \n(SELECT COUNT(*) as empCount\nFROM Employee \nGROUP BY deptID) as temp)\n\n-- aggregate function i. COUNT(*) but combined with attribute, we ask for something else, then you have to group by\n-- cannot have anything in the select clause that is in the group by clause\n\n-- cannot use aggregate function in the where clause\n\n-- MAX EMPLOYEES (2)\n-- SELECT MAX(empCount)\n-- FROM \n-- (SELECT COUNT(*) as empCount\n-- FROM Employee \n-- GROUP BY deptID as temp))\n\n-- -- find number of employees (1)\n-- SELECT COUNT(*) as empCount\n-- FROM Employee \n-- GROUP BY deptID as temp -- this will help you see per dept the number of employees '})
Query 5eaf1ffc334f483dd6bba024 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 498}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students NATURAL JOIN Enrollments\nWHERE Department='ECE' AND\n(Firstname LIKE 'T%' OR\n    CRN IN(\n        SELECT CRN FROM Courses\n        WHERE Department='CS'\n    )\n    \n)\nORDER BY NetId DESC;"})
Query 5eaf1ffc334f483dd6bba025 has been updated
==============
['Students', 's']
({'queryNum': 499}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetId\nfrom Students\nwhere Department = 'ECE' and \n    (FirstName like 'T%' or \n     NetId in (select sNetId \n                 from Students ss, Enrollments ee, Courses cc \n                 where sNetId = ee.NetId and ee.CRN = cc.CRN and cc.Department='CS')\n    )\norder by NetId DESC;"})
Query 5eaf1ffc334f483dd6bba026 has been updated
==============
['Students']
({'queryNum': 500}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFrom Students\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR 'CS' = ANY (SELECT DEPARTMENT\nFROM Courses\nINNER JOIN Enrollments ON Enrollments.CRN = Courses.CRN\nWHERE Students.NetId = Enrollments.NetId))\nORDER BY NetId DESC\n"})
Query 5eaf1ffc334f483dd6bba027 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 501}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students Natural join Enrollments \nWHERE Department = "ECE" and (SUBSTRING(FirstName, 1, 1) = "T" or CRN in \n(\nSelect CRN\nFROM Courses\nWHERE Department = "CS"\n)\n)\nOrder by Netid desc'})
Query 5eaf1ffc334f483dd6bba028 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 502}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM \nStudents JOIN Enrollments ON NetId = NetId JOIN Courses ON CRN = CRN WHERE ((FirstName LIKE 'T%') OR (Department = 'CS')) AND Department = 'ECE'\nORDER BY NetId DESC\n/*FROM Employee emp JOIN Department dept\nON emp.DepartmentID = dept.DepartmentID*/"})
Query 5eaf1ffc334f483dd6bba029 has been updated
==============

['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 503}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students NATURAL JOIN Enrollments JOIN Courses on CRN = CRN\nWHERE Department = "ECE" AND (Department = "CS" OR FirstName LIKE "T%")\nORDER BY NetId DESC'})
Query 5eaf1ffc334f483dd6bba02a has been updated
==============
['Students', 'S']
({'queryNum': 504}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' And (FirstName LIKE 'T%' OR Exists (Select *\n    From Enrollments E Natural Join Courses C\n    Where E.NetId = NetId And C.Department = 'CS'))\nOrder By NetId Desc"})
Query 5eaf1ffd334f483dd6bba02b has been updated
==============
['Students']
({'queryNum': 505}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE (Department="ECE" AND (FirstName LIKE "T%" OR\n    (SELECT COUNT(CRN) FROM Courses WHERE Department="CS" AND CRN IN (Select CRN FROM Enrollments WHERE Enrollments.NetId=Students.NetId))>0 ) )\nORDER BY NetId DESC'})
Query 5eaf1ffd334f483dd6bba02c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 506}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE Department = "ECE" AND (Department = "CS" OR FirstName = "T%")\nORDER BY NetId DESC'})
Query 5eaf1ffd334f483dd6bba02d has been updated
==============
['Students']
({'queryNum': 507}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students\nWHERE  Students.Department = "ECE" AND ((Students.FirstName LIKE "T%") OR EXISTS(SELECT Enrollments.NetId FROM Enrollments WHERE Enrollments.NetId =  Students.NetId  AND EXISTS ( SELECT Courses.CRN FROM Courses WHERE Courses.CRN = Enrollments.CRN AND Courses.Department = "CS" )));'})
Query 5eaf1ffd334f483dd6bba02e has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 508}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId from Students\nnatural join Enrollments inner join Courses\non CRN = CRN\nwhere (FirstName like \'T%\'and department = "ECE") \nor (department = "ECE" and  department = "CS")\norder by NetId desc'})
Query 5eaf1ffd334f483dd6bba02f has been updated
==============
['Students', 'Stu']
['Enrollments', 'En']
['Courses', 'Cn']
({'queryNum': 509}, {'parsedRemovedQuery': "Select Distinct FirstName, LastName, NetId\nFrom Students\nJoin Enrollments on NetId = NetId\nJoin Courses on CRN = CRN\nWhere Department = 'ECE' And (FirstName like 'T%' Or Department = 'CS')\nOrder by NetId Desc;\n"})
Query 5eaf1ffd334f483dd6bba030 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 510}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students INNER JOIN Enrollments on NetId = NetId\nWHERE FirstName LIKE 'T%' and Department='ECE' or (Department = 'ECE'\nand (SELECT Department from Courses c WHERE CRN = CRN) = 'CS')\nGROUP BY NetId\nORDER BY NetId DESC"})
Query 5eaf1ffd334f483dd6bba031 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 511}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId \nFROM Students NATURAL JOIN Enrollments\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR NetId IN (\nSELECT NetId \nFROM Enrollments NATURAL JOIN Courses\nWHERE Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1ffd334f483dd6bba032 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 512}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId\nfrom Students join Enrollments on (NetId = NetId), Courses c\nwhere (FirstName like \'T%\' and Department = "ECE") or (Department = "ECE" and c.Department = "CS" and CRN = c.CRN)\norder by NetId desc;'})
Query 5eaf1ffd334f483dd6bba033 has been updated
==============
['(select', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'from', 'Students', 'b\n', '', '', '', 'where', 'b.FirstName', 'LIKE', '"T%"', 'and', 'b.Department', '=', '"ECE"\n', '', '', '', '', '', '', '', 'union\n', '', '', '', '(select', 'FirstName,', 'LastName,', 's.NetId\n', '', '', '', 'from', '(Students', 's', 'JOIN', 'Enrollments', 'e', 'ON', 's.NetId', '=', 'e.NetId', ')\n', '', '', '', 'where', 's.Department="ECE"', 'and', 'e.CRN', 'in', '(Select', 'CRN', 'from', 'Courses', 'h', 'where', 'h.Department="CS")))', 'as', 'x']
({'queryNum': 513}, {'parsedRemovedQuery': 'Select * \nfrom\n   (select FirstName, LastName, NetId\n    from Students b\n    where b.FirstName LIKE "T%" and b.Department = "ECE"\n        union\n    (select FirstName, LastName, s.NetId\n    from (Students s JOIN Enrollments e ON s.NetId = e.NetId )\n    where s.Department="ECE" and e.CRN in (Select CRN from Courses h where h.Department="CS")))\norder by NetId DESC\n\n\n'})
Query 5eaf1ffd334f483dd6bba034 has been updated
==============
['Students', 's']
({'queryNum': 514}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR EXISTS\n    (SELECT e.CRN\n    FROM Enrollments e NATURAL JOIN Courses c\n    WHERE NetId = e.NetId AND c.Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1ffd334f483dd6bba035 has been updated
==============
['Students', 'S']
({'queryNum': 515}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND (\n      FirstName LIKE 'T%' OR \n      EXISTS (SELECT *\n              FROM Enrollments, Courses\n              WHERE Enrollments.NetId = NetId AND\n                    Courses.CRN = Enrollments.CRN AND\n                    Courses.Department = 'CS'\n             )\n    )\nORDER BY NetId DESC\n    "})
Query 5eaf1ffd334f483dd6bba036 has been updated
==============
['Students']
({'queryNum': 516}, {'parsedRemovedQuery': "Select FirstName, LastName, NetId\nFrom Students\nWhere Department = 'ECE' and (FirstName like 'T%' or NetId in (select NetId\nfrom Enrollments e natural join Courses c\nwhere department = 'CS'))\nOrder by NetId desc"})
Query 5eaf1ffd334f483dd6bba037 has been updated
==============
['Students']
({'queryNum': 517}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE (Department = "ECE" AND FirstName LIKE "T%")\nOR (Department = "ECE" AND\nNetId IN\n(SELECT DISTINCT(e.NetId) AS NetId\nFROM Enrollments e JOIN Courses c\nWHERE e.CRN = c.CRN\nAND c.Department = "CS"))\nORDER BY NetId\n'})
Query 5eaf1ffd334f483dd6bba038 has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'NetId,', 'CRN\nFROM', '(SELECT', '*', 'FROM', 'Students', 's\nWHERE', 's.Department', '=', "'ECE')", 'AS', 'temp1\nNATURAL', 'JOIN', 'Enrollments', 'e)', 'AS', 'temp2']
['Courses', 'c']
({'queryNum': 518}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName,  NetId FROM\n(SELECT FirstName, LastName, NetId, CRN\nFROM (SELECT * FROM Students s\nWHERE s.Department = 'ECE') AS temp1\nNATURAL JOIN Enrollments e) AS\nJOIN Courses ON CRN = CRN\nWHERE FirstName LIKE 'T%' or Department = 'CS'\nORDER BY NetId DESC"})
Query 5eaf1ffd334f483dd6bba039 has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'FROM', 'Students\n', '', '', '', 'WHERE', 'Department', '=', '"ECE")', 'es']
({'queryNum': 519}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM\n    (SELECT FirstName, LastName, NetId\n    FROM Students\n    WHERE Department = "ECE")\nWHERE (FirstName LIKE \'T%\') OR (NetId IN (SELECT DISTINCT NetId\nFROM Enrollments e JOIN Courses c ON e.CRN = c.CRN\nWHERE Department = "CS"))\nORDER BY NetId DESC'})
Query 5eaf1ffd334f483dd6bba03a has been updated
==============
['Students', 's']
({'queryNum': 520}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE (\n        Department='ECE' \n        AND NetId IN (\n            SELECT e2.NetId \n            FROM Enrollments e2\n            NATURAL JOIN Courses c2\n            WHERE c2.Department='CS'\n        )\n    ) \n    OR FirstName LIKE 'T%';"})
Query 5eaf1ffd334f483dd6bba03b has been updated
==============
['(SELECT', '*', 'FROM', 'Students', 'WHERE', 'Department', '=', "'ECE')", 'AS', 'A']
({'queryNum': 521}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM  (SELECT * FROM Students WHERE Department = 'ECE') AS\nWHERE FirstName LIKE 'T%' OR NetId IN (\n    SELECT DISTINCT NetId FROM Enrollments WHERE CRN IN(\n    SELECT CRN FROM Courses WHERE Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf1ffd334f483dd6bba03c has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 522}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR (NetId = NetId AND CRN = CRN AND Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1ffd334f483dd6bba03d has been updated
==============
({'queryNum': 523}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students, Enrollments,Courses\nWHERE (Students.FirstName like "T%" and Students.Department = "ECE") or (Students.Department = "ECE" and Enrollments.NetId = Students.NetId and Enrollments.CRN = Courses.CRN and Courses.Department = "CS")\nORDER BY Students.NetId DESC'})
Query 5eaf1ffd334f483dd6bba03e has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
['(SELECT', 'DISTINCT', 'E.NetId']
['C.Department\nFrom', 'Enrollments', 'E']
['Courses', 'C\nWHERE', 'E.CRN', '=', 'C.CRN', 'AND', 'C.Department', '=', '"CS")', 'AS', 'Student_taking_CS_Class']
({'queryNum': 524}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFrom Students, Enrollments, Courses,(SELECT DISTINCT NetId, Department\nFrom Enrollments, Courses\nWHERE CRN = CRN AND Department = "CS") AS Student_taking_CS_Class\nWHERE (Department = \'ECE\' AND FirstName LIKE "T%") OR (Department = \'ECE\' AND NetId = Student_taking_CS_Class.NetId)\nORDER BY NetId\n\n'})

Query 5eaf1ffd334f483dd6bba03f has been updated
==============
({'queryNum': 525}, {'parsedRemovedQuery': "SELECT\n    DISTINCT Students.FirstName, Students.LastName, Students.NetId\n\nFROM \n    Students, Enrollments, Courses\n\nWHERE\n    Students.Department = 'ECE' and Students.FirstName like 'T%' or Students.Department = 'ECE' and Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department = 'CS'\n    \nOrder BY\n    Students.NetId DESC;"})
Query 5eaf1ffd334f483dd6bba040 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 526}, {'parsedRemovedQuery': "Select Distinct FirstName, LastName, NetId\nFrom Students Natural Join Enrollments\nwhere Department = 'ECE' And (FirstName Like 'T%' or CRN = any (Select CRN \nFrom Courses where Department = 'CS') )\nOrder by NetId DESC\n"})
Query 5eaf1ffd334f483dd6bba041 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 527}, {'parsedRemovedQuery': "Select FirstName, LastName, NetId\nFrom Students, Enrollments, Courses\nwhere FirstName like 'T%' and Department = 'ECE' or Department = 'ECE' and NetId = NetId and CRN = CRN and Department ='CS'\ngroup by NetId\norder by NetId desc "})
Query 5eaf1ffd334f483dd6bba042 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 528}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\n\nFROM Students left join Enrollments on NetId = NetId\nleft join Courses on CRN = CRN\n\nWHERE Department = "ECE" and (Department = "CS" or FirstName LIKE "T%")\n\n\nORDER BY NetID DESC\n'})
Query 5eaf1ffd334f483dd6bba043 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 529}, {'parsedRemovedQuery': "select distinct FirstName, LastName, Netid\nfrom Students\njoin Enrollments on NetId=NetId\njoin Courses on CRN=CRN\nwhere Department='ECE' AND (FirstName like 'T%' or Department='CS')\norder by NetId desc;"})
Query 5eaf1ffd334f483dd6bba044 has been updated
==============
['Students', 's']
({'queryNum': 530}, {'parsedRemovedQuery': "Select DISTINCT FirstName, LastName, NetID\nFrom Students\nWhere Department = 'ECE' and \n( (FirstName = 'T%') OR (EXISTS \n  (Select*\nFrom Enrollments e, Courses c\nWhere netID = e.NetID and e.CRN = c.CRN and c.Department = 'CS'\n  ) )\n)\nOrder by NETID desc"})
Query 5eaf1ffd334f483dd6bba045 has been updated
==============
['(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'FROM', 'Students\n', '', '', '', 'WHERE', 'Students.Department', 'LIKE', '"ECE")', 'AS', 'ECEMajors']
['Enrollments']
['Courses']
({'queryNum': 531}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM (\n    SELECT FirstName, LastName, NetId\n    FROM Students\n    WHERE Students.Department LIKE "ECE") AS\nJOIN Enrollments ON Enrollments.NetId = NetId\nJOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Courses.Department LIKE "CS" OR FirstName LIKE "T%"\nORDER BY NetId DESC'})
Query 5eaf1ffd334f483dd6bba046 has been updated
==============
({'queryNum': 532}, {'parsedRemovedQuery': "SELECT DISTINCT  s.FirstName, s.LastName, s.NetId\nFROM    (\n        SELECT DISTINCT e.NetId\n        FROM    Courses c LEFT JOIN Enrollments e ON c.CRN = e.CRN\n        WHERE  Department LIKE 'CS'\n        ) AS joined, Students s\nWHERE   joined.NetId = s.NetId AND s.Department LIKE 'ECE'\nORDER BY s.NetId DESC"})
Query 5eaf1ffd334f483dd6bba047 has been updated
==============
({'queryNum': 533}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, Students.NetId\nFROM Students, (SELECT Enrollments.NetId FROM Enrollments, Courses WHERE Enrollments.CRN = Courses.CRN AND Courses.Department = 'CS') AS CSTakingStudents\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR CSTakingStudents.NetId = Students.NetId)\nOrder BY NetId DESC;"})
Query 5eaf1ffd334f483dd6bba048 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 534}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId as netid FROM Students INNER JOIN Enrollments on Students.NetId = Enrollments.NetId INNER JOIN Courses on Courses.CRN = Enrollments.CRN WHERE (Students.Department = "ECE" AND Students.FirstName like "T%") OR (Students.Department = "ECE" AND Courses.Department = "CS")\nGROUP BY netid\nORDER BY netid DESC\n'})
Query 5eaf1ffd334f483dd6bba049 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 535}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, netId\nFrom Enrollments INNER JOIN Students on NetId = NetId INNER JOIN Courses ON CRN = CRN\nWHERE department = "ECE" AND (FirstName LIKE "T%" OR Department = \'CS\')\nORDER BY netID DESC'})
Query 5eaf1ffd334f483dd6bba04a has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 536}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students JOIN Enrollments ON NetId = NetId\nWHERE (FirstName LIKE "T%" AND Department = "ECE")\nOR (Department = "ECE" AND CRN IN (SELECT CRN FROM Courses WHERE Department = "CS"))\nORDER BY NetId DESC'})
Query 5eaf1ffd334f483dd6bba04b has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 537}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId\nfrom Students, Enrollments, Courses\nwhere\n    NetId = NetId\n    and ((Department = "ECE"\n    and CRN = CRN\n    and Department = "CS")\n    or (FirstName like "T%" and Department = "ECE"))\norder by NetId desc\n'})
Query 5eaf1ffd334f483dd6bba04c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 538}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students \nJOIN Enrollments ON NetId = NetId\nJOIN Courses on CRN = CRN\nWHERE (Department = "ECE" AND FirstName LIKE "T%") OR\n(Department = "ECE" AND Department="CS")\nORDER BY NetId DESC;\n\n\n'})
Query 5eaf1ffd334f483dd6bba04d has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 539}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Enrollments JOIN Students ON NetId = NetId JOIN Courses ON CRN = CRN\nWHERE (FirstName LIKE 'T%' OR NetId = ANY(SELECT NetId FROM Enrollments JOIN Students ON NetId = NetId JOIN Courses ON CRN = CRN WHERE Department = 'CS')) AND Department = 'ECE'\nORDER BY NetId DESC;"})
Query 5eaf1ffd334f483dd6bba04e has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 540}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nNATURAL JOIN Enrollments\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR CRN IN (\n    SELECT CRN \n    FROM Courses\n    WHERE Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf1ffd334f483dd6bba04f has been updated
==============
['Students', 's']
({'queryNum': 541}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (FirstName LIKE \'T%\' OR EXISTS\n                                (SELECT c.Department FROM Courses c, Enrollments e\n                                WHERE c.CRN = e.CRN AND e.NetId = NetId AND c.Department = "CS"))\n                                \nORDER BY NetId DESC'})
Query 5eaf1ffe334f483dd6bba050 has been updated
==============
['Enrollments', 'E']
['Students', 'S']
['Courses', 'C']
({'queryNum': 542}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId \nFROM Enrollments LEFT JOIN Students\nON NetId = NetId LEFT JOIN Courses ON CRN=CRN\nWHERE  Department = 'ECE' AND (Department = 'CS' OR FirstName LIKE 'T%')\nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba051 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 543}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN \nAND Department = "ECE" AND (FirstName LIKE "T%" OR Department = "CS")\nORDER BY FirstName DESC \n'})
Query 5eaf1ffe334f483dd6bba052 has been updated
==============
['Students']
({'queryNum': 544}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFrom Students, (Enrollments Natural Join Courses)\nWHERE Students.Department = "ECE" AND (Students.FirstName Like "T%" OR (Enrollments.NetId = Students.NetId\n                                                                    AND Courses.Department = "CS"))\nORDER BY Students.NetId DESC'})
Query 5eaf1ffe334f483dd6bba053 has been updated
==============
['Students', 'S']
({'queryNum': 545}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName,LastName,NetId\nFROM Students\nWHERE Department='ECE' AND (\n    FirstName LIKE 'T%'\n    OR \n    EXISTS( SELECT *\n            FROM Enrollments NATURAL JOIN Courses\n            WHERE NetId=NetId AND Department='CS'\n            )\n                            )\nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba054 has been updated
==============
['(\nSELECT', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId,', 'Students.Department,', 'Courses.Department', 'as', 'ID\nFROM', 'Students\nINNER', 'JOIN', 'Enrollments', 'ON', 'Students.NetId=Enrollments.NetId', '\nINNER', 'JOIN', 'Courses', 'ON', 'Enrollments.CRN', '=', 'Courses.CRN\nHAVING', 'Students.Department="ECE"', 'AND', '(', 'ID="CS"', 'OR', 'Students.FirstName', 'LIKE', '"T%")\n)', 'as', 'x']
({'queryNum': 546}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM (\nSELECT Students.FirstName, Students.LastName, Students.NetId, Students.Department, Courses.Department as ID\nFROM Students\nINNER JOIN Enrollments ON Students.NetId=Enrollments.NetId \nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nHAVING Students.Department="ECE" AND ( ID="CS" OR Students.FirstName LIKE "T%")\n)\nORDER BY NetId DESC'})
Query 5eaf1ffe334f483dd6bba055 has been updated
==============

['(SELECT', 's.FirstName,', 's.LastName,', 's.NetId,', 's.Department,', 'e.CRN\n', '', '', '', '', '', '', '', 'FROM', 'Students', 's', 'JOIN', 'Enrollments', 'e', 'ON', 's.NetId', '=', 'e.NetId)', 'as', 'temp']
['Courses', 'c']
({'queryNum': 547}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM\n    (SELECT s.FirstName, s.LastName, s.NetId, s.Department, e.CRN\n        FROM Students s JOIN Enrollments e ON s.NetId = e.NetId)\n    JOIN Courses ON CRN = CRN\nWHERE Department = "ECE" AND (Department = "CS" OR FirstName LIKE "T%")\nORDER BY \n    NetId DESC;'})
Query 5eaf1ffe334f483dd6bba056 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 548}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\n-- FROM Students, Enrollments e LEFT OUTER JOIN Courses ON CRN = CRN\nFROM Students, Enrollments e NATURAL JOIN Courses\nWHERE ((NetId = NetId) AND (Department = 'ECE') AND ((FirstName LIKE 'T%') \n                                                            OR (Department = 'CS')))\nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba057 has been updated
==============
['Students', 's']
({'queryNum': 549}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\n\nWHERE Department = 'ECE' AND \n\n(NetId IN (SELECT NetId \n    FROM Enrollments e JOIN Courses c ON e.CRN = c.CRN \n        WHERE c.Department LIKE 'CS')\n            \nOR FirstName LIKE 'T%')\n            \nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba058 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 550}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students LEFT OUTER JOIN Enrollments\n    ON NetId = NetId\n    LEFT OUTER JOIN Courses\n    ON CRN = CRN\n    \nWHERE (Department = 'ECE' \n       AND (FirstName LIKE 'T%' OR Department = 'CS'))\nORDER BY NetId DESC\n\n"})
Query 5eaf1ffe334f483dd6bba059 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 551}, {'parsedRemovedQuery': "SELECT distinct FirstName,LastName,Students.NetId\nFROM Students LEFT OUTER JOIN Enrollments\n    on Students.NetId = Enrollments.NetId\nWHERE Department = 'ECE' AND ((FirstName LIKE 'T%') or Students.NetId IN\n\n(SELECT distinct Enrollments.NetId\nFROM Enrollments left outer join Courses \n    ON Enrollments.CRN = Courses.CRN\nWHERE Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba05a has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 552}, {'parsedRemovedQuery': 'select distinct Students.FirstName, Students.LastNAME, Enrollments.NetId\nfrom Students  join Enrollments  join Courses\non Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN\nwhere  (Students.Department="ECE") and (Students.FirstName LIKE "T%" or Courses.Department="CS" )\norder by Enrollments.NetId DESC'})
Query 5eaf1ffe334f483dd6bba05b has been updated
==============
['(SELECT', '*', 'FROM', 'Students', 'st', 'NATURAL', 'JOIN', 'Enrollments', 'en', 'WHERE', 'st.Department', '=', '"ECE")', 'AS', 'temp']
({'queryNum': 553}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM (SELECT * FROM Students st NATURAL JOIN Enrollments en WHERE st.Department = "ECE") AS\nWHERE FirstName LIKE "T%" OR "CS" = ANY(SELECT Department FROM Courses cr WHERE cr.CRN = CRN)\nORDER BY NetId DESC;'})
Query 5eaf1ffe334f483dd6bba05c has been updated
==============
['Students', 's']
({'queryNum': 554}, {'parsedRemovedQuery': 'Select DISTINCT FirstName, LastName, NetId from Students where Department = "ECE"  and (Firstname like "T%" or  NetId in (select NetId from Enrollments e join Courses c on e.CRN = c.CRN where c.Department = "CS")) order by NetId desc'})
Query 5eaf1ffe334f483dd6bba05d has been updated
==============
({'queryNum': 555}, {'parsedRemovedQuery': "SELECT FirstName, LastName, Students.NetId\nFROM Students, Enrollments, (SELECT Students.NetId as id FROM Students, Courses, Enrollments WHERE Students.NetId = Enrollments.NetId AND Courses.CRN = Enrollments.CRN AND Courses.Department = 'CS') as temp\nWHERE Students.NetId = Enrollments.NetId AND Students.Department = 'ECE' AND (FirstName LIKE 'T%' OR Students.NetId = temp.id)\nGROUP BY FirstName, LastName, Students.NetId\nORDER BY Students.NetId DESC"})
Query 5eaf1ffe334f483dd6bba05e has been updated
==============
['Students']
['Students']
['Enrollments']
['Courses']
({'queryNum': 556}, {'parsedRemovedQuery': "select distinct Students.FirstName, Students.LastName, Students.NetId\nfrom Students\nwhere Students.Department='ECE' and Students.FirstName like 'T%'\n\nunion\n\nselect distinct Students.FirstName, Students.LastName, Students.NetId\nfrom Students\ninner join Enrollments on Enrollments.NetId=Students.NetId and Students.Department='ECE'\ninner join Courses on Enrollments.CRN=Courses.CRN and Courses.Department='CS'\norder by NetId desc"})
Query 5eaf1ffe334f483dd6bba05f has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 557}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students \nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE Department = 'ECE' AND (FirstName = 'T%' OR Department = 'CS')\nORDER BY NetId DESC;\n"})
Query 5eaf1ffe334f483dd6bba060 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 558}, {'parsedRemovedQuery': "select distinct\n    FirstName, LastName, NetId\nfrom\n    Students, Enrollments, Courses\nwhere (Department = 'ECE' AND FirstName like 'T%')\nor NetId in (\n    select NetId\n    from Students, Enrollments, Courses\n    where (Department = 'ECE' and NetId = NetId And CRN = CRN And Department = 'CS')\n    )\norder by\nNetId desc\n"})
Query 5eaf1ffe334f483dd6bba061 has been updated
==============
['((Select', 'DISTINCT', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId\nFROM', 'Enrollments', 'INNER', 'JOIN', 'Courses', 'ON', 'Enrollments.CRN', '=', 'Courses.CRN,', 'Students\n\nwhere', 'Students.NetId', '=', 'Enrollments.NetId', 'and', 'Courses.Department', '=', '"CS"', 'and', 'Students.Department', '=', '"ECE")\nUNION\n(SELECT', 'DISTINCT', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId\nfrom', 'Students\nwhere', 'Students.Department', '=', '"ECE"', 'and', 'Students.FirstName', 'Like', '"T%"))', 'as', 'T']
({'queryNum': 559}, {'parsedRemovedQuery': 'Select * from\n((Select DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Enrollments INNER JOIN Courses ON Enrollments.CRN = Courses.CRN, Students\n\nwhere Students.NetId = Enrollments.NetId and Courses.Department = "CS" and Students.Department = "ECE")\nUNION\n(SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nfrom Students\nwhere Students.Department = "ECE" and Students.FirstName Like "T%"))\nORDER BY NetId DESC\n'})
Query 5eaf1ffe334f483dd6bba062 has been updated
==============
['Students', 'S']
({'queryNum': 560}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND (FirstName Like 'T%' OR EXISTS (SELECT * \n                                                            FROM Enrollments E NATURAL JOIN Courses C\n                                                            WHERE NetId = E.NetId AND C.Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf1ffe334f483dd6bba063 has been updated
==============
['Courses', 'c']
({'queryNum': 561}, {'parsedRemovedQuery': "SELECT Distinct s.FirstName, s.LastName, s.NetId FROM\n\n(Students s left Join Enrollments e on s.NetId = e.NetId) right join Courses on e.CRN = CRN\n\nWHERE s.Department = 'ECE' and (left(s.FirstName, 1) = 'T' or Department = 'CS');"})
Query 5eaf1ffe334f483dd6bba064 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 562}, {'parsedRemovedQuery': 'SElECT FirstName, LastName, NetId\nFROM Students \nJOIN Enrollments on NetId = NetId\nJOIN Courses on CRN=CRN\nWHERE Department = "ECE" AND (FirstName="T%" OR department="CS")\nGROUP BY NetId\nORDER BY NetId DESC '})

Query 5eaf1ffe334f483dd6bba065 has been updated
==============
({'queryNum': 563}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students, Courses, Enrollments\nWHERE Students.NetId=Enrollments.NetId and Enrollments.CRN=Courses.CRN\nand Students.Department="ECE" and (Students.NetId LIKE \'T%\' or Courses.Department="CS")\nORDER BY Students.NetId DESC'})
Query 5eaf1ffe334f483dd6bba066 has been updated
==============
['Students', 'as', 'S']
['Enrollments', 'as', 'E']
['Courses', 'as', 'C']
({'queryNum': 564}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students as LEFT OUTER JOIN Enrollments as ON NetId = NetId\nLEFT OUTER JOIN Courses as ON CRN = CRN\nWHERE (Department = 'CS' AND Department = 'ECE') OR (FirstName LIKE 'T%' AND Department = 'ECE')\nORDER BY NetId DESC"})
Query 5eaf1ffe334f483dd6bba067 has been updated
==============
['Students', 's']
({'queryNum': 565}, {'parsedRemovedQuery': "select FirstName, LastName, NetId\nfrom Students\nwhere Department = 'ECE' and \n(FirstName like 'T%' or \nNetId in\n(select e.NetId\nfrom Enrollments e natural join Courses c\nwhere c.Department = 'CS'))\norder by NetId desc"})
Query 5eaf1ffe334f483dd6bba068 has been updated
==============
['Students', 'AS', 'S']
({'queryNum': 566}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students AS\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR\nNetId IN (SELECT E.NetId FROM Enrollments E, Courses C WHERE E.CRN = C.CRN AND C.Department = 'CS'))\nORDER BY NetId DESC;\n"})
Query 5eaf1ffe334f483dd6bba069 has been updated
==============
['Students', 'as', 'S']
['Enrollments', 'as', 'E']
['Courses', 'as', 'C']
({'queryNum': 567}, {'parsedRemovedQuery': 'select FirstName, LastName, NetID\nfrom Students\nleft join Enrollments as on NetId = NetId\nleft join Courses as on CRN = CRN\nwhere Department = "ECE" and (Department = "CS" or SUBSTRING(FirstName, 1, 1) = "T")\ngroup by NetId\norder by NetId desc'})
Query 5eaf1ffe334f483dd6bba06a has been updated
==============
['Students', 'stud']
['(SELECT', 'e.NetId,', 'c.Department', 'FROM', 'Enrollments', 'e', 'NATURAL', 'JOIN', 'Courses', 'c)', 'dept']
({'queryNum': 568}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nLEFT JOIN (SELECT e.NetId, c.Department FROM Enrollments e NATURAL JOIN Courses c)\nON NetId = NetId\nWHERE Department = 'ECE' AND (FIRSTNAME LIKE 'T*' OR Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf1ffe334f483dd6bba06b has been updated
==============
['Students']
['Enrollments']
({'queryNum': 569}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName, Students.NetId from Students join Enrollments on Students.NetId = Enrollments.NetId where (Enrollments.CRN in (select CRN from Courses where Department = "CS") and Students.Department = "ECE") or (Students.FirstName like "T%" and Students.Department = "ECE") group by Students.NetId order by Students.NetId desc'})
Query 5eaf1ffe334f483dd6bba06c has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 570}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students\nINNER JOIN Enrollments ON Enrollments.NetId = Students.NetId AND Students.Department = "ECE"\nINNER JOIN Courses ON Courses.CRN = Enrollments.CRN AND Courses.Department = "CS"\nOR Students.FirstName LIKE \'T%\' \nORDER BY Students.NetId DESC'})
Query 5eaf1ffe334f483dd6bba06d has been updated
==============
['Students']
({'queryNum': 571}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetId\nfrom Students    \nwhere (NetId in (select distinct NetId\n                from Enrollments\n                where CRN in (select CRN\n                             from Courses\n                             where Department = 'CS'))\n                or FirstName like 'T%') and Department = 'ECE'\norder by NetId desc"})
Query 5eaf1ffe334f483dd6bba06e has been updated
==============
['Students']
({'queryNum': 572}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\n    FROM Students\n    WHERE (DEPARTMENT = "ECE") AND (FirstName = "T%" OR NetId IN (\n        SELECT NetId \n            FROM Enrollments NATURAL JOIN Courses\n            WHERE Department = "CS"\n    ))\n    ORDER BY NetId DESC'})
Query 5eaf1ffe334f483dd6bba06f has been updated
==============
['Students', 'as', 'stu']
['Enrollments', 'as', 'enr']
['Courses', 'as', 'cou']
({'queryNum': 573}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students as join Enrollments as on NetId = NetId join Courses as on CRN = CRN\nWHERE Department = \'ECE\' AND (LEFT(FirstName, 1) = \'T"\' OR \n    NetId in (SELECT enr2.NetId FROM Enrollments as enr2 join Courses as cou2 on cou2.CRN = enr2.CRN where Department=\'CS\')\n    )\nORDER BY NetId DESC;'})
Query 5eaf1ffe334f483dd6bba070 has been updated
==============
['Students']
({'queryNum': 574}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (FirstName LIKE "T%" OR NetId IN (\n    SELECT NetId\n    FROM Enrollments\n    WHERE CRN IN (\n        SELECT CRN\n        FROM Courses\n        WHERE Department = "CS"\n    )\n))\nORDER BY NetId DESC'})
Query 5eaf1ffe334f483dd6bba071 has been updated
==============
['Students', 'as', 's']
['Enrollments', 'as', 'e']
['Courses', 'as', 'c']
({'queryNum': 575}, {'parsedRemovedQuery': "select DISTINCT FirstName, LastName, NetId from Students as \nJOIN Enrollments as ON NetId = NetId\nJOIN Courses as ON CRN = CRN \nwhere Department = 'ECE' \nand ((FirstName LIKE 'T%') OR \n\t\t(Department = 'ECE' and Department = 'CS'))\nORDER BY NetId DESC "})
Query 5eaf1ffe334f483dd6bba072 has been updated
==============
['(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId,', 'a.CRN,', 'a.Department', 'as', '"StuDept",', 'Courses.Department', 'as', '"CourseDept"\n', '', '', '', 'FROM\n', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'Students.NetId', 'as', '"NetId",', 'Department,', 'CRN\n', '', '', '', '', '', '', '', 'FROM', 'Students', 'RIGHT', 'JOIN', 'Enrollments', 'ON', 'Students.NetId', '=', 'Enrollments.NetId\n', '', '', '', ')', 'a\n', '', '', '', 'RIGHT', 'JOIN', 'Courses', 'ON', 'a.CRN', '=', 'Courses.CRN\n', '', '', '', 'WHERE', 'a.Department', '=', '"ECE"', 'and', '((Courses.Department', '=', '"CS")', 'or', '(FirstName', 'LIKE', "'T%'))\n", '', '', '', ')', '', 'as', 'T']
({'queryNum': 576}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFrom \n(\n    SELECT FirstName, LastName, NetId, a.CRN, a.Department as "StuDept", Courses.Department as "CourseDept"\n    FROM\n    (\n        SELECT FirstName, LastName, Students.NetId as "NetId", Department, CRN\n        FROM Students RIGHT JOIN Enrollments ON Students.NetId = Enrollments.NetId\n    ) a\n    RIGHT JOIN Courses ON a.CRN = Courses.CRN\n    WHERE a.Department = "ECE" and ((Courses.Department = "CS") or (FirstName LIKE \'T%\'))\n    ) \nGROUP BY NetId\nORDER BY NetId DESC;'})
Query 5eaf1ffe334f483dd6bba073 has been updated
==============
['Students']
({'queryNum': 577}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR NetId in (SELECT DISTINCT NetId FROM Enrollments NATURAL JOIN Courses WHERE Department = 'CS'))\nORDER BY NetID DESC;"})
Query 5eaf1ffe334f483dd6bba074 has been updated
==============
['(\n', '', '', '', 'SELECT', '*\n', '', '', '', 'FROM', 'Students', 's\n', '', '', '', 'NATURAL', 'JOIN', 'Enrollments', 'e\n', '', '', '', 'WHERE', 's.Department', '=', "'ECE'\n)", 'AS', 'se']
['Courses', 'c']
({'queryNum': 578}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM (\n    SELECT *\n    FROM Students s\n    NATURAL JOIN Enrollments e\n    WHERE s.Department = 'ECE'\n) AS\nJOIN Courses\nON CRN = CRN\nWHERE FirstName LIKE 'T%'\nOR Department = 'CS'\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba075 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 579}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId FROM Students\nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE Department = "ECE"\nAND (FirstName LIKE "T%" OR Department = "CS")\nORDER BY NetId DESC'})
Query 5eaf1fff334f483dd6bba076 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 580}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments\nWHERE Department = 'ECE' AND ( (FirstName LIKE 'T%') OR (Department = 'ECE' AND NetId = NetId AND CRN IN (SELECT CRN FROM Courses WHERE Department = 'CS')) )\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba077 has been updated
==============
['Students', 's']
({'queryNum': 581}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE (Department ='ECE' )\nAND (FirstName LIKE 'T%'  \nOR NetId IN\n(SELECT e.NetId\nFROM Enrollments e JOIN Courses c ON e.CRN = c.CRN \nWHERE c.Department='CS'))\nORDER BY NetId DESC;"})
Query 5eaf1fff334f483dd6bba078 has been updated
==============
['Courses', 'cour']
['Enrollments', 'enro']
['(SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Students\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'Department', '=', "'ECE')", 'as', 'ECEstud']
({'queryNum': 582}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Courses NATURAL JOIN Enrollments NATURAL JOIN (SELECT FirstName, LastName, NetId\n                                            FROM Students\n                                            WHERE Department = 'ECE')\nWHERE Department = 'CS' or FirstName LIKE 'T%'\nGROUP BY NetId\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba079 has been updated
==============

['Enrollments', 'as', 'E']
['Students', 'as', 'S']
({'queryNum': 583}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetID\nFROM Enrollments as \nINNER JOIN Students as on NetId = NetId\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR CRN IN \n(SELECT CRN \nFROM Enrollments as \nINNER JOIN Courses as C on C.CRN = CRN\nWHERE C.Department = 'CS'))\nGROUP BY NetId\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba07a has been updated
==============
['Students']
({'queryNum': 584}, {'parsedRemovedQuery': 'Select DISTINCT FirstName, LastName, NetId\nFrom Students\nWhere Department = "ECE" AND FirstName LIKE "T%" OR Department = "ECE" AND NetID in (\n                                                              Select DISTINCT NetID\n                                                              From Enrollments e Natural Join Courses c\n                                                              Where c.Department = "CS"\n                                                                                )\nOrder By NetID DESC;'})
Query 5eaf1fff334f483dd6bba07b has been updated
==============
['Students']
({'queryNum': 585}, {'parsedRemovedQuery': "select FirstName,LastName,NetId\nfrom Students\nwhere Department = 'ECE' and NetId in \n(select DISTINCT NetId from Enrollments as E inner join Courses as C on E.CRN = C.CRN where C.Department = 'CS')\norder by NetId DESC;"})
Query 5eaf1fff334f483dd6bba07c has been updated
==============
({'queryNum': 586}, {'parsedRemovedQuery': "Select Distinct FirstName, LastName, Students.NetId\nFrom Students,\n    (SELECT NetId\n     From   Enrollments, (SELECT CRN\n                          FROM Courses\n                          Where Department LIKE 'CS') as temp1\n     WHERE Enrollments.CRN LIKE temp1.CRN\n     ) as temp2\nWhere Students.NetID like temp2.NetID AND Students.Department like 'ECE'\nGROUP BY Students.NetId Desc;\n"})
Query 5eaf1fff334f483dd6bba07d has been updated
==============
['Students', 'S']
({'queryNum': 587}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND ((FirstName LIKE 'T%') OR EXISTS (\n    SELECT CRN\n    FROM Enrollments NATURAL JOIN Courses\n    WHERE NetId = NetId AND Department = 'CS'\n    )\n)\nORDER BY NetId desc;"})
Query 5eaf1fff334f483dd6bba07e has been updated
==============
['Students', 's']
({'queryNum': 588}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND EXISTS (SELECT *\nFROM Enrollments e, Courses c\nWHERE NetId = e.NetId AND e.CRN = c.CRN AND c.Department = 'CS')\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba07f has been updated
==============
['(SELECT', '*', 'FROM', 'Students', 'WHERE', 'Department', '=', "'ECE')", 'as', 'EStudents']
({'queryNum': 589}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM (SELECT * FROM Students WHERE Department = 'ECE')\nWHERE FirstName like 'T%' OR NetId in(\n    SELECT DISTINCT NetId from Enrollments where CRN in(\n        SELECT CRN from Courses WHERE Department = 'CS'\n        )\n)\nOrder BY NetId DESC"})
Query 5eaf1fff334f483dd6bba080 has been updated
==============
['Students']
({'queryNum': 590}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId \nfrom Students\nwhere Department="ECE" and (FirstName="T%" or NetID in\n(select NetID\nfrom Enrollments\nwhere CRN in (select CRN\nfrom Courses\nwhere Department="CS")))\nOrder by NetId desc'})
Query 5eaf1fff334f483dd6bba081 has been updated
==============
['Students']
({'queryNum': 591}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, Students.NetId\nFROM Students\nWHERE Department = 'ECE' AND (FirstName = 'T%' OR Students.NetId IN (\n    SELECT Enrollments.NetId\n    FROM Enrollments LEFT JOIN Courses\n    ON Enrollments.CRN = Courses.CRN\n    WHERE Courses.Department = 'CS'\n))\nORDER BY Students.NetId DESC"})
Query 5eaf1fff334f483dd6bba082 has been updated
==============
['Students', 'A']
['(Select', 'C.NetId', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Enrollments', 'C', 'Natural', 'Join', 'Courses', 'D\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Where', 'D.Department', '=', "'CS'\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Group', 'By', 'C.NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Having', 'COUNT(D.Department)', '>', '0)', 'as', 'temp2']
({'queryNum': 592}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetID\nFROM Students, (Select C.NetId \n                From Enrollments C Natural Join Courses D\n                Where D.Department = 'CS'\n                Group By C.NetId\n                Having COUNT(D.Department) > 0)\nWhere (Department = 'ECE' AND FirstName LIKE 'T%') or (Department = 'ECE' AND NetId = NetId)\nGROUP BY NETID\nORDER BY NetId DESC"})
Query 5eaf1fff334f483dd6bba083 has been updated
==============
['Students']
({'queryNum': 593}, {'parsedRemovedQuery': "select FirstName, LastName, NetId  from Students where (NetId in (select NetId from Enrollments natural join Courses where Courses.Department = 'CS') or Students.FirstName like 'T%' ) and Department = 'ECE'  order by NetId desc"})
Query 5eaf1fff334f483dd6bba084 has been updated
==============
['Students']
['Courses']
['Courses', '\n#WHERE']
['Department']
({'queryNum': 594}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetID, Courses.Department\nFROM Students NATURAL JOIN Courses \nWHERE Students.Department= 'ECE' AND (Students.FirstName LIKE 'T%'  or Courses.Department = \n                            ANY (SELECT Courses. Department\t\n                              FROM Courses\n                              WHERE Courses.Department='CS'))\nGROUP BY NetID \n#SELECT FirstName, LastName, NetID, Department\n#FROM Students NATURAL JOIN Courses Department = ANY  (SELECT Department\n #           FROM Courses\n#            WHERE Department= 'CS')\n#GROUP BY NetID"})
Query 5eaf1fff334f483dd6bba085 has been updated
==============
({'queryNum': 595}, {'parsedRemovedQuery': "select distinct S.FirstName, S.LastName, S.NetId\nfrom ((Enrollments E inner join Students S\n                                    on E.NetId = S.NetId) inner join Courses C\n                                    on E.CRN = C.CRN)\nwhere S.Department = 'ECE' and (S.FirstName like 'T%' or C.Department = 'CS')\norder by S.NetId desc;\n                   "})
Query 5eaf1fff334f483dd6bba086 has been updated
==============
['Students', 'S']
({'queryNum': 596}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId\nfrom Students\nwhere Department = "ECE" and (FirstName = "T%" or exists (select 1\n                                  from Enrollments E Natural Join Courses C\n                                  where E.NetId = NetId and C.Department = "CS"))\norder by Netid DESC;'})
Query 5eaf1fff334f483dd6bba087 has been updated
==============
['Students', 's2']
['Enrollments']
({'queryNum': 597}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments e2, Courses c2\nWHERE Department='ECE' AND NetId=e2.NetId AND e2.CRN=c2.CRN and c2.Department='CS'\nORDER BY NetId DESC; \n"})
Query 5eaf1fff334f483dd6bba088 has been updated
==============
({'queryNum': 598}, {'parsedRemovedQuery': "SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students, Enrollments, Courses\nWHERE (Students.NetId = Enrollments.NetId AND Students.Department = 'ECE' AND Students.FirstName LIKE 'T%') OR (Students.NetId = Enrollments.NetId AND Students.Department = 'ECE' AND Enrollments.CRN = Courses.CRN AND Courses.Department = 'CS')\nORDER BY Students.NetId DESC\n"})
Query 5eaf1fff334f483dd6bba089 has been updated
==============
['(SELECT', '*', 'FROM', '\n', '', '', '', '(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'FROM', 'Students\n', '', '', '', 'WHERE', 'FirstName', 'LIKE', "'T%'", 'AND', 'Department', '=', "'ECE'\n", '', '', '', ')', 'AS', 'T1\nUNION\nSELECT', '*', 'FROM\n', '', '', '', '(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'FROM', 'Students', '\n', '', '', '', 'WHERE', 'Department', '=', '"ECE"', 'AND\n', '', '', '', 'NetId', 'IN', '\n', '', '', '', '', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'NetId\n', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'E\n', '', '', '', '', '', '', '', 'NATURAL', 'JOIN', 'Courses', 'C\n', '', '', '', '', '', '', '', 'WHERE', 'C.Department', '=', '"CS"\n', '', '', '', '', '', '', '', ')\n', '', '', '', ')', 'AS', 'T2\n)', 'AS', 'T3']
({'queryNum': 599}, {'parsedRemovedQuery': 'SELECT DISTINCT * FROM \n(SELECT * FROM \n    (\n    SELECT FirstName, LastName, NetId\n    FROM Students\n    WHERE FirstName LIKE \'T%\' AND Department = \'ECE\'\n    ) AS T1\nUNION\nSELECT * FROM\n    (\n    SELECT FirstName, LastName, NetId\n    FROM Students \n    WHERE Department = "ECE" AND\n    NetId IN \n        (\n        SELECT NetId\n        FROM Enrollments E\n        NATURAL JOIN Courses C\n        WHERE C.Department = "CS"\n        )\n    ) AS T2\n) AS\nORDER BY NetId DESC'})
Query 5eaf1fff334f483dd6bba08a has been updated
==============
['Students']
({'queryNum': 600}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND \n\t\t(FirstName LIKE 'T%' OR \n        NetId IN (SELECT DISTINCT NetId\n\t\t\tFROM Enrollments JOIN Courses\n\t\t\t\tON Enrollments.CRN = Courses.CRN\n            WHERE Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1fff334f483dd6bba08b has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 601}, {'parsedRemovedQuery': "SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students \nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetId \nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department = 'ECE' AND ((Students.FirstName LIKE 'T%') OR Courses.Department = 'CS')\nORDER BY Students.NetId DESC;"})
Query 5eaf1fff334f483dd6bba08c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 602}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE ((Department = 'ECE') AND (FirstName LIKE 'T%'))\nOR (Department = 'ECE' AND NetId IN (SELECT e2.NetId FROM Enrollments e2, Courses c2\n                WHERE e2.CRN = c2.CRN AND c2.Department ='CS'))\nORDER BY NetId desc\n\n"})
Query 5eaf1fff334f483dd6bba08d has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 603}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students NATURAL JOIN Enrollments NATURAL JOIN Courses\nWHERE Department = "ECE" AND (FirstName LIKE "T%" OR Courses.Department = "CS")'})
Query 5eaf1fff334f483dd6bba08e has been updated
==============
({'queryNum': 604}, {'parsedRemovedQuery': "SELECT DISTINCT S1.FirstName, S1.LastName, S1.NetId\nFROM ((Enrollments E1\nINNER JOIN Courses C1 ON C1.CRN = E1.CRN)\nINNER JOIN Students S1 on S1.NetId = E1.NetId)\nWHERE S1.Department = 'ECE' AND (S1.FirstName LIKE 'T%' OR C1.Department = 'CS')\nORDER BY S1.NetId DESC;"})

Query 5eaf1fff334f483dd6bba08f has been updated
==============
['Enrollments', 'E']
['Students', 'S']
['Courses', 'C']
({'queryNum': 605}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Enrollments LEFT JOIN Students\nON NetID = NetId LEFT JOIN Courses\nON CRN = CRN\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf1fff334f483dd6bba090 has been updated
==============
['Students']
({'queryNum': 606}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId \nFROM Students \nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR NetID IN (SELECT e.NetId FROM Enrollments e NATURAL JOIN Courses c WHERE c.Department = 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf1fff334f483dd6bba091 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 607}, {'parsedRemovedQuery': 'SELECT DISTINCT\n    FirstName,\n    LastName,\n    NetId\nFROM\n    Students \n    JOIN Enrollments\n        ON NetId = NetId\n    JOIN Courses\n        ON CRN = CRN\nWHERE\n    Department = "ECE"\n    AND (\n        FirstName LIKE "T%"\n        OR\n        Department = "CS"\n    )\nORDER BY\n    NetId DESC '})
Query 5eaf1fff334f483dd6bba092 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 608}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students INNER JOIN Enrollments ON NetId = NetId\n       INNER JOIN Courses ON CRN = CRN\n\nWHERE Department = "ECE" AND (FirstName = "T%" OR Department = "CS")\nORDER BY NetId DESC\n\n'})
Query 5eaf1fff334f483dd6bba093 has been updated
==============
['Students', 'AS', 's']
['Enrollments', 'AS', 'e']
['Courses', 'as', 'c']
({'queryNum': 609}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students AS\nINNER JOIN Enrollments AS ON NetId = NetId\nINNER JOIN Courses as ON CRN = CRN\nWHERE FirstName LIKE \'T%\' AND Department = "ECE" OR Department = "ECE" AND Department = "CS"\nORDER BY NetId DESC;\n'})
Query 5eaf1fff334f483dd6bba094 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 610}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM Students JOIN Enrollments ON Students.NetId = Enrollments.NetId JOIN Courses ON Courses.CRN = Enrollments.CRN\nWHERE (Students.Department = \'ECE\' AND Students.FirstName LIKE "T%") OR (Students.Department = \'ECE\' AND Courses.Department = \'CS\')\nORDER BY Students.NetId DESC'})
Query 5eaf1fff334f483dd6bba095 has been updated
==============
['Students', 's']
['(SELECT', 'e.NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'e']
['Courses', 'c\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'e.CRN', '=', 'c.CRN', 'and', 'c.Department', '=', '"CS")', 'cs_NetIds']
({'queryNum': 611}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students,   (SELECT e.NetId\n                    FROM Enrollments e, Courses c\n                    WHERE e.CRN = c.CRN and c.Department = "CS") cs_NetIds\nWHERE Department = "ECE" AND\n(FirstName Like "T%" OR NetId = cs_NetIdNetId)\nORDER BY NetId  DESC\n\n'})
Query 5eaf1fff334f483dd6bba096 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 612}, {'parsedRemovedQuery': 'SELECT distinct FirstName, LastName, NetId\nFrom Students, Enrollments, Courses\nWHERE Department = "ECE" and ((FirstName LIKE "T%" ) OR (NetId = NetId and CRN = CRN and Department = "CS"))\nOrder by NetId DESC'})
Query 5eaf1fff334f483dd6bba097 has been updated
==============
({'queryNum': 613}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, Students.NetId\nFROM Students, Enrollments, Courses\nWHERE Students.Department = "ECE" AND (FirstName LIKE \'T%\' OR (Courses.Department = "CS" AND Courses.CRN = Enrollments.CRN AND Enrollments.NetId = Students.NetId))\nORDER BY Students.NetId DESC'})
Query 5eaf1fff334f483dd6bba098 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 614}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetID\nFROM Students, Enrollments, Courses\nWHERE Department = 'ECE' and (FirstName LIKE 'T%' or (NetId = NetID and CRN = CRN and Department = 'CS'))\nORDER BY NetID DESC\n"})
Query 5eaf2000334f483dd6bba099 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 615}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nJOIN Enrollments ON NetId = NetId\nJOIN Courses ON CRN = CRN\nWHERE Department = "ECE" AND LEFT(FirstName, 1) = "T" \nOR Department = "ECE" AND Department = "CS"\nORDER BY NetId;\n'})
Query 5eaf2000334f483dd6bba09a has been updated
==============
['Students', 'A']
['Enrollments', 'B']
['Courses', 'C']
({'queryNum': 616}, {'parsedRemovedQuery': 'SELECT Distinct FirstName, LastName, NetID\nFROM Students Natural Join Enrollments, Courses\nWHERE (FirstName LIKE \'T%\' AND Department = "ECE") OR (Department = "ECE" AND CRN = CRN AND  Department = "CS")\nORDER BY NetId DESC'})
Query 5eaf2000334f483dd6bba09b has been updated
==============
['(select', '*', 'from', 'Students', 'where', 'Department', '=', "'ECE')", 'ECEStudents']
({'queryNum': 617}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId \nfrom (select * from Students where Department = 'ECE')\nwhere FirstName like 'T%' or NetId in (\n  select DISTINCT NetId from Enrollments where CRN in (\n    select CRN from Courses where Department = 'CS'\n  )\n)\nOrder by NetId DESC"})
Query 5eaf2000334f483dd6bba09c has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 618}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR (NetId = NetId AND CRN = CRN AND Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf2000334f483dd6bba09d has been updated
==============
['(select', 'c.Department,', 'c.CRN', 'from', 'Courses', 'c)', 'x']
({'queryNum': 619}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetId \n    from (Students s Natural Join Enrollments e) \n    Join\n        -- Join Courses c on e.CRN = c.CRN\n        -- group by FirstName, LastName\n        (select c.Department, c.CRN from Courses c) on e.CRN = CRN\n    where s.Department = 'ECE' and (FirstName like 'T%' or Department = 'CS')\n    order by NetId desc\n    ;"})
Query 5eaf2000334f483dd6bba09e has been updated
==============
['Students']
({'queryNum': 620}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId\nfrom Students\nwhere NetId in (select distinct S.NetId\nfrom Students S, Enrollments E, Courses C\nwhere S.department = "ECE" && \n    ((S.NetId = E.NetId && E.crn = C.crn && C.Department = "CS") || S.FirstName like "T%"))'})
Query 5eaf2000334f483dd6bba09f has been updated
==============
['Students', 'S']
({'queryNum': 621}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' and (FirstName LIKE 'T%' or EXISTS (SELECT*\n                                    FROM Enrollments E, Courses C\n                                    WHERE E.NetId = NetID and E.CRN = C.CRN and C.Department = 'CS'\n                                                                ))  \nORDER BY NetId DESC;"})
Query 5eaf2000334f483dd6bba0a0 has been updated
==============
['Students', 's']
({'queryNum': 622}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department LIKE "ECE" AND (FirstName LIKE "T%" OR EXISTS (\nSELECT e.NetId\nFROM Enrollments e JOIN Courses c ON c.CRN = e.CRN\nWHERE c.Department LIKE "CS" AND e.NetId = NetId))\nORDER BY NetId DESC;\n'})
Query 5eaf2000334f483dd6bba0a1 has been updated
==============
['Students']
({'queryNum': 623}, {'parsedRemovedQuery': "SELECT DISTINCT Firstname, Lastname, NetId\nFROM Students\nWHERE (Department='ECE' AND Firstname LIKE 'T%') OR (Department='ECE' AND NetId in(SELECT NetId FROM Enrollments natural join Courses WHERE Department='CS'))\nORDER BY NetId DESC"})
Query 5eaf2000334f483dd6bba0a2 has been updated
==============
['Students']
({'queryNum': 624}, {'parsedRemovedQuery': "select Students.FirstName, Students.LastName, Students.NetId\nfrom Students\nwhere Students.Department = 'ECE' \nAND (Students.FirstName like 'T%'\nOR exists (\n  SELECT Enrollments.NetId, Enrollments.CRN\n  FROM Enrollments\n  inner join (\n    select Courses.CRN, Courses.Department\n    from Courses\n    where Courses.Department = 'CS'\n  ) as g on g.CRN = Enrollments.CRN\n  where Enrollments.NetId = Students.NetId\n))\norder by Students.NetId desc;"})

Query 5eaf2000334f483dd6bba0a3 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 625}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName, NetId FROM Students\nJOIN Enrollments ON NetId=NetId\nJOIN Courses ON CRN=CRN\nWHERE (FirstName LIKE \'T%\' AND Department = "ECE")\nOR (Department = "ECE" AND Department = \'CS\')\nORDER BY NetId DESC'})
Query 5eaf2000334f483dd6bba0a4 has been updated
==============
['Courses', 'c']
({'queryNum': 626}, {'parsedRemovedQuery': "SELECT DISTINCT ece.FirstName, ece.LastName, ece.NetId \nFROM ((SELECT * FROM Students WHERE Department = 'ECE') AS ece NATURAL JOIN Enrollments e) JOIN Courses ON e.CRN = CRN\nWHERE ece.NetId = ANY (SELECT DISTINCT e.NetId\n                                FROM Enrollments e NATURAL JOIN Courses\n                                WHERE Department = 'CS')\nORDER BY ece.NetId DESC\n\n\n\n\n"})
Query 5eaf2000334f483dd6bba0a5 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 627}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId \nFROM Students, Enrollments, Courses C \nWHERE Department = "ECE" AND FirstName LIKE "T%"\n    OR ( Department = "ECE" AND NetId = NetId AND CRN = CRN \n        AND Department = "CS")\nORDER BY NetId DESC'})
Query 5eaf2000334f483dd6bba0a6 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 628}, {'parsedRemovedQuery': "select distinct  FirstName, LastName, NetId from Students\n    left join Enrollments on NetId = NetId\n    left join Courses on CRN = CRN\n    where (Department='ECE' and Department='CS') or (left(FirstName,1)='T'and Department='ECE' )\n    order by NetId DESC"})
Query 5eaf2000334f483dd6bba0a7 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 629}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students INNER JOIN Enrollments ON NetId = NetId INNER JOIN Courses ON CRN = CRN\nWHERE (Department = 'ECE' AND FirstName LIKE 'T%') OR (Department = 'ECE' AND Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf2000334f483dd6bba0a8 has been updated
==============
['Students']
['Enrollments']
({'queryNum': 630}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students NATURAL JOIN Enrollments\nWHERE (FirstName LIKE "T%" AND Department = "ECE") or ( Department = "ECE" AND CRN IN (SELECT CRN\n                                          FROM Courses\n                                          WHERE Department = "CS"\n                                          ) \n                            )\nORDER BY NetId DESC;'})
Query 5eaf2000334f483dd6bba0a9 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 631}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId from Enrollments natural join Students join Courses on CRN = CRN where Department = "ECE" and (FirstName like \'T%\' or Department = "CS") order by NetId desc'})
Query 5eaf2000334f483dd6bba0aa has been updated
==============
['Courses']
({'queryNum': 632}, {'parsedRemovedQuery': "SELECT DISTINCT Students.FirstName, Students.LastName, Students.NetId\nFROM (Students\nNATURAL JOIN Enrollments)\nJOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department = 'ECE' AND (FirstName LIKE 'T%' OR Courses.Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf2000334f483dd6bba0ab has been updated
==============
['Students', 's']
({'queryNum': 633}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (FirstName LIKE "T%" OR NetId IN (SELECT s1.NetId FROM Students s1 NATURAL JOIN Enrollments e JOIN Courses c ON e.CRN = c.CRN WHERE c.Department = "CS"))\nORDER BY NetId DESC'})
Query 5eaf2000334f483dd6bba0ac has been updated
==============
['Students']
({'queryNum': 634}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (FirstName LIKE "T%" OR NetId IN \n    (SELECT NetId FROM Enrollments WHERE CRN IN \n        (SELECT CRN FROM Courses WHERE Department = "CS")\n    )\n) ORDER BY NetId DESC;'})
Query 5eaf2000334f483dd6bba0ad has been updated
==============
['Students', 's']
['Courses', 'c']
({'queryNum': 635}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId\nfrom Students \nwhere FirstName like "T%" and Department = "ECE"\nunion\nselect distinct FirstName, LastName, NetId\nfrom (Students natural join Enrollments e) inner join Courses on e.CRN = CRN \nwhere Department = "CS" and Department = "ECE"\norder by NetId desc \n'})
Query 5eaf2000334f483dd6bba0ae has been updated
==============
['Students', 'AS', 'S']
['Enrollments', 'AS', 'E']
['Courses', 'AS', 'C']
({'queryNum': 636}, {'parsedRemovedQuery': 'SELECT DISTINCT S.FirstName, S.LastName, S.NetId\nFROM Students AS S, Enrollments AS E, Courses AS C\nWHERE S.Department = "ECE" AND\n    (S.FirstName LIKE \'T%\' OR (S.NetId = E.NetId\n        AND E.CRN = C.CRN\n        AND C.Department = \'CS\'))\nORDER BY S.NetId DESC;'})
Query 5eaf2000334f483dd6bba0af has been updated
==============
['Enrollments', 'E']
['Students', 'S']
({'queryNum': 637}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Enrollments INNER JOIN Students ON NetId = NetId\nWHERE Department = "ECE" AND (FirstName LIKE "%T" OR CRN IN (\nSELECT CRN\nFROM Enrollments INNER JOIN Courses C on C.CRN = CRN\nWHERE C.Department = "CS" ))\nGROUP BY NetId\nORDER BY NetId DESC;'})
Query 5eaf2000334f483dd6bba0b0 has been updated
==============
['Students', 's']
({'queryNum': 638}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students \nWHERE Department = "ECE"\nAND (FirstName Like "T%"\nOR NetId IN  (SELECT e.NetId\n                FROM Enrollments e Natural Join Courses c\n                WHERE Department = "CS")\n)\nORDER BY NetId DESC\n\n'})
Query 5eaf2000334f483dd6bba0b1 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 639}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students JOIN Enrollments JOIN Courses ON NetId = NetId AND CRN = CRN\nWHERE (Department = 'ECE') AND (FirstName LIKE 'T%' OR Department = 'CS')\nORDER BY NetId DESC "})
Query 5eaf2000334f483dd6bba0b2 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 640}, {'parsedRemovedQuery': 'select FirstName, LastName, NetID\nfrom Students, Enrollments, Courses\nwhere Department = "ECE" and  NetID = NetID and CRN = CRN\ngroup by  NetID, FirstName, LastName\nHAVING left(FirstName, 1) = \'T\' or sum(Department = "CS") >= 1\norder by netid desc;'})
Query 5eaf2000334f483dd6bba0b3 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 641}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, Students.NetId \nFROM Students \nJOIN Enrollments ON Students.NetId = Enrollments.NetId\nJOIN Courses ON Courses.CRN = Enrollments.CRN\nWHERE \nStudents.Department = "ECE" AND (Courses.Department = "CS" OR FirstName LIKE \'T%\')\nORDER BY Students.NetId desc;\n'})
Query 5eaf2000334f483dd6bba0b4 has been updated
==============
['(SELECT', '*', 'FROM', 'Students', 'S', 'NATURAL', 'JOIN', 'Enrollments', 'E', 'WHERE', 'S.Department', '=', '"ECE")', 'as', 'temp']
['Courses', 'C']
({'queryNum': 642}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId FROM (SELECT * FROM Students S NATURAL JOIN Enrollments E WHERE S.Department = "ECE") as JOIN Courses ON CRN = CRN WHERE Department = "CS" OR FirstName = "T%"'})
Query 5eaf2000334f483dd6bba0b5 has been updated
==============
({'queryNum': 643}, {'parsedRemovedQuery': "select distinct FirstName, LastName, Students.NetId \nfrom ((Students\ninner join Enrollments on Students.netId = Enrollments.NetId)\ninner join Courses on Enrollments.CRN = Courses.CRN)\nwhere FirstName like 't%'\nand Students.Department = 'ECE' or \nCourses.Department Like 'CS'\nand Students.Department = 'ECE' \norder by NetId desc;"})
Query 5eaf2000334f483dd6bba0b6 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 644}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetID\nfrom Students, Enrollments, Courses\nwhere Department = 'ECE' and (FirstName like 'T%' or (NetId = NetId and CRN=CRN and Department = 'CS'))\norder by NetId desc;"})

Query 5eaf2000334f483dd6bba0b7 has been updated
==============
['Students']
({'queryNum': 645}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, Students.NetId\nFROM Students\nWHERE Department = 'ECE' \nAND (FirstName LIKE 'T%' \nOR NetId IN (\nSELECT Enrollments.NetId \nFROM Enrollments NATURAL JOIN Courses\nWHERE Courses.Department = 'CS'\n)\n)\nORDER BY NetId DESC"})
Query 5eaf2000334f483dd6bba0b8 has been updated
==============
['Students']
({'queryNum': 646}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students\nWHERE (NetId IN\n    (SELECT DISTINCT NetId /*Select Netids of students taking CS Courses*/\n    FROM Enrollments\n    WHERE CRN IN \n        (SELECT CRN  /*Select CS Courses*/\n        FROM Courses\n        WHERE Department = 'CS')) AND Students.Department = 'ECE') OR (Students.Department = 'ECE' AND Students.FirstName = 'T%')\nORDER BY NetId DESC"})
Query 5eaf2000334f483dd6bba0b9 has been updated
==============
({'queryNum': 647}, {'parsedRemovedQuery': "SELECT FirstName, LastName, T.NetId\nFROM(\nSELECT DISTINCT NetID\nFROM(SELECT T.NetId, E.CRN \nFROM (SELECT NetId \nFROM Students \nWHERE Department = 'ECE') as T, Enrollments E\nWHERE E.NetId = T.NetId) as T, Courses C\nWHERE C.CRN = T.CRN and C.Department = 'CS') as T, Students S\nWHERE T.NetId = S.NetId\nORDER BY NetId DESC\n\n\n"})
Query 5eaf2000334f483dd6bba0ba has been updated
==============
['Students']
({'queryNum': 648}, {'parsedRemovedQuery': "select FirstName, LastName, NetId\nfrom Students\nwhere Department = 'ECE' AND \n    (FirstName like 'T%' OR EXISTS (select * from Enrollments natural join Courses where Department = 'CS' and NetId = Students.NetId))\norder by NetId DESC;\n"})
Query 5eaf2000334f483dd6bba0bb has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'NetId,', 'CRN,', 'Department\nFROM', 'Enrollments', 'e', 'NATURAL', 'JOIN', 'Students', 's\nWHERE', 'Department', '=', '"ECE"', 'AND', '(FirstName', 'LIKE', '"T%"', 'OR', 'CRN', '=', 'ANY', '(SELECT', 'CRN', 'FROM', 'Courses', 'WHERE', 'Department', '=', '"CS")))', 'AS', 'temp']
({'queryNum': 649}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM \n(SELECT FirstName, LastName, NetId, CRN, Department\nFROM Enrollments e NATURAL JOIN Students s\nWHERE Department = "ECE" AND (FirstName LIKE "T%" OR CRN = ANY (SELECT CRN FROM Courses WHERE Department = "CS"))) AS\nORDER BY NetID DESC\n\n'})
Query 5eaf2000334f483dd6bba0bc has been updated
==============
['Students', 'S']
({'queryNum': 650}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetID \nFrom Students\nWhere Department = "ECE" AND (Firstname LIKE \'T%\' OR EXISTS (\nSELECT *\nFROM Enrollments E LEFT OUTER JOIN Courses C ON E.CRN = C.CRN\nWhere C.Department = "CS" AND E.NetID = NetID))\nORDER BY NetID DESC;'})
Query 5eaf2001334f483dd6bba0bd has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 651}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR \n(NetId = NetId AND CRN = CRN AND Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0be has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 652}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nNATURAL JOIN Enrollments\nLEFT OUTER JOIN Courses ON CRN = CRN\nWHERE (FirstName LIKE 'T%' AND Department LIKE 'ECE')\n    OR (Department LIKE 'ECE' AND Department LIKE 'CS')\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0bf has been updated
==============
['Students', 's']
({'queryNum': 653}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = 'ECE' AND (FirstName LIKE 'T%' OR NetId IN (SELECT e.NetId FROM Enrollments e NATURAL JOIN Courses c WHERE c.Department = 'CS'))\norder by NetId desc\n\n\n\n    "})
Query 5eaf2001334f483dd6bba0c0 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 654}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\n     JOIN Enrollments ON NetId = NetId\n     JOIN Courses ON CRN = CRN\nWHERE Department = 'ECE' AND (Department = 'CS' OR FirstName LIKE 'T%')\nORDER BY NetID DESC"})
Query 5eaf2001334f483dd6bba0c1 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 655}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, NetId\nfrom Students inner join Enrollments on NetId = NetId inner join Courses on CRN = CRN\nwhere Department = "ECE" and (Department = "CS" or FirstName like "T%")\norder by NetId desc'})
Query 5eaf2001334f483dd6bba0c2 has been updated
==============
['(SELECT', 'FirstName,', 'LastName,', 'NetId', 'FROM', 'Students', 'WHERE', 'Department', '=', "'ECE')", 'AS', 'ECEStudents']
({'queryNum': 656}, {'parsedRemovedQuery': "SELECT  DISTINCT FirstName, LastName, NetId\nFROM (SELECT FirstName, LastName, NetId FROM Students WHERE Department = 'ECE') AS\nWHERE NetId IN (SELECT NetId FROM (SELECT NetId, CRN FROM (SELECT NetId FROM Students WHERE Department = 'ECE') AS ECEStuNetId NATURAL JOIN Enrollments WHERE ECEStuNetId.NetId = Enrollments.NetId) AS ECEStuEnroll NATURAL JOIN (SELECT CRN FROM Courses WHERE Department = 'CS') AS CSCourses WHERE ECEStuEnroll.CRN = CSCourses.CRN) OR FirstName LIKE 'T%'\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0c3 has been updated
==============
['Students', 's']
({'queryNum': 657}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetID\nFROM Students JOIN (Enrollments e JOIN Courses c ON e.CRN = c.CRN) ON NetID = e.NetID\nWHERE Department = "ECE" AND (c.Department = "CS" OR FirstName LIKE \'T%\')\nORDER BY NetID DESC'})
Query 5eaf2001334f483dd6bba0c4 has been updated
==============
['Students']
({'queryNum': 658}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId\nfrom Students\nwhere Department = "ECE"\nand (\n    FirstName like "T%"\n    or NetId in (\n        select NetId\n        from Enrollments natural join (\n            select *\n            from Courses\n            where Department = "CS"\n        ) t1\n    )\n)\norder by NetId desc'})
Query 5eaf2001334f483dd6bba0c5 has been updated
==============
({'queryNum': 659}, {'parsedRemovedQuery': 'select distinct Students.FirstName, Students.LastName, Students.NetID\nfrom Students, Courses, Enrollments\nwhere Students.FirstName like \'T%\' and Students.Department = "ECE" or Students.Department = "ECE" and Students.NetID = Enrollments.NetID and Enrollments.CRN = Courses.CRN and Courses.Department = "CS"\norder by Students.NetID DESC\n-- in  or Courses.Department = "CS" '})
Query 5eaf2001334f483dd6bba0c6 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 660}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName,LastName,NetID \nFROM Students,Enrollments, Courses\nWhere Department='ECE' and (FirstName like 'T%' or NetId=NetId and CRN=CRN and Department='CS'\n)\nORDER by NetID DESC"})
Query 5eaf2001334f483dd6bba0c7 has been updated
==============
['(\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId,', 'CRN', 'FROM\n', '', '', '', '(\n', '', '', '', '', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId,', 'CRN,', 'Department\n', '', '', '', '', '', '', '', 'FROM', 'Students', 'NATURAL', 'JOIN', 'Enrollments\n', '', '', '', '', '', '', '', 'WHERE', 'Department', '=', '"ECE"\n', '', '', '', ')', 'as', 'ECE\n', '', '', '', 'WHERE', 'EXISTS', '(SELECT', 'Department,', 'CRN', 'FROM', 'Courses', 'WHERE', '(ECE.CRN', '=', 'CRN', 'AND', 'Department', '=', '"CS")', 'OR', 'ECE.FirstName', '=', '"T%")\n)', 'as', 'names']
({'queryNum': 661}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId FROM \n(\n    SELECT FirstName, LastName, NetId, CRN FROM\n    (\n        SELECT FirstName, LastName, NetId, CRN, Department\n        FROM Students NATURAL JOIN Enrollments\n        WHERE Department = "ECE"\n    ) as ECE\n    WHERE EXISTS (SELECT Department, CRN FROM Courses WHERE (ECE.CRN = CRN AND Department = "CS") OR ECE.FirstName = "T%")\n)\nORDER BY NetId DESC\n    '})
Query 5eaf2001334f483dd6bba0c8 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 662}, {'parsedRemovedQuery': "SELECT Students.FirstName, Students.LastName, Students.NetId\nFROM Students\nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetID\nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department = 'ECE' AND (Students.NetId LIKE 'T%' OR Courses.Department = 'CS')\nGROUP BY Students.NetId\nORDER BY Students.NetId DESC;"})
Query 5eaf2001334f483dd6bba0c9 has been updated
==============
['Students', 'AS', 's']
['(SELECT', 'Enrollments.NetId,', 'Courses.Department\n', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', 'JOIN', 'Courses\n', '', '', '', '', '', 'ON', 'Enrollments.CRN', '=', 'Courses.CRN)', 'AS', 'c']
({'queryNum': 663}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students AS\nJOIN (SELECT EnrollmentNetId, CourseDepartment\n      FROM Enrollments\n      JOIN Courses\n      ON EnrollmentCRN = CourseCRN) AS\nON NetId = NetId\nWHERE (Department = 'ECE' AND (FirstName LIKE 'T%' OR Department = 'CS'))\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0ca has been updated
==============
['Students', 's']
['Courses', 'c']
['Enrollments', 'e']
({'queryNum': 664}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetId\nfrom Students, Courses c join Enrollments on CRN = CRN\nwhere NetId = NetId AND Department = 'ECE' AND (FirstName like 'T%' OR Department = 'CS')\norder by NetId DESC"})
Query 5eaf2001334f483dd6bba0cb has been updated
==============

['Students', 'stu']
({'queryNum': 665}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (FirstName like "T%" OR EXISTS(SELECT NetId FROM Enrollments NATURAL JOIN Courses\nWHERE Department = "CS" AND NetId = NetId))\nORDER BY NetId desc'})
Query 5eaf2001334f483dd6bba0cc has been updated
==============
['(\n\n', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'NetId\n', '', '', '', 'FROM', 'Students\n', '', '', '', 'WHERE', 'Department', '=', '"ECE"', 'and', 'FirstName', '=', '"T%"\n', '', '', '', '\n', '', '', '', 'UNION\n', '', '', '', '\n', '', '', '', 'SELECT', '', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId\n', '', '', '', 'FROM', 'Students,', 'Enrollments,', 'Courses\n', '', '', '', 'WHERE', 'Students.Department', '=', '"ECE"', 'and', 'Students.NetId', '=', 'Enrollments.NetId', 'and', 'Enrollments.CRN', '=', 'Courses.CRN', 'and', 'Courses.Department', '=', '"CS"\n', '', '', '', ')', '\n', '', '', '', '\n', '', '', '', 'as', 'C']
({'queryNum': 666}, {'parsedRemovedQuery': 'SELECT *\nFROM (\n\n    SELECT FirstName, LastName, NetId\n    FROM Students\n    WHERE Department = "ECE" and FirstName = "T%"\n    \n    UNION\n    \n    SELECT  Students.FirstName, Students.LastName, Students.NetId\n    FROM Students, Enrollments, Courses\n    WHERE Students.Department = "ECE" and Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department = "CS"\n    ) \n    \n   \n    \nORDER BY NetId DESC    \n\n\n\n'})
Query 5eaf2001334f483dd6bba0cd has been updated
==============
['(SELECT', 'a.FirstName,', 'a.LastName,', 'a.NetId,', 'c.Department\n', '', '', '', '', 'FROM', '(', 'SELECT', '*\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Students', 's\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 's.Department', '=', "'ECE'\n", '', '', '', ')', 'AS', 'a,', 'Enrollments', 'AS', 'e,', 'Courses', 'AS', 'c\n', '', '', '', 'WHERE', 'a.NetId', '=', 'e.NetId', 'and', 'e.CRN', '=', 'c.CRN\n', '', '', '', ')AS', 'b']
({'queryNum': 667}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM(SELECT a.FirstName, a.LastName, a.NetId, c.Department\n     FROM ( SELECT *\n            FROM Students s\n            WHERE s.Department = 'ECE'\n    ) AS a, Enrollments AS e, Courses AS c\n    WHERE a.NetId = e.NetId and e.CRN = c.CRN\n    )AS\nWHERE (FirstName Like 'T%') or Department = 'CS'\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0ce has been updated
==============
['Students']
['Courses']
['Students']
['Courses']
({'queryNum': 668}, {'parsedRemovedQuery': 'Select FirstName,LastName,NetId\nfrom Students NATURAL JOIN Courses\nwhere Department LIKE "ECE" and FirstName LIKE "T%"\ngroup by NetId DESC\n\nUNION\n\nSelect FirstName,LastName,NetId\nfrom Students NATURAL JOIN Courses\nwhere Department LIKE "ECE" and NetId IN (\nSelect DISTINCT NetId \nfrom Enrollments NATURAL JOIN Courses \nwhere Department LIKE "CS" \n)\ngroup by NetId DESC\n\n'})
Query 5eaf2001334f483dd6bba0cf has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 669}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM  Students JOIN Enrollments ON NetId = NetId JOIN Courses ON CRN = CRN\nWHERE (FirstName LIKE 'T%' and Department = 'ECE') or (Department = 'ECE' and Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf2001334f483dd6bba0d0 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 670}, {'parsedRemovedQuery': 'SELECT \n    DISTINCT FirstName, LastName, NetId\nFROM \n    Students JOIN Enrollments ON NetId = NetId\n    JOIN Courses ON CRN = CRN\nWHERE \n    Department = "ECE"\n    AND\n    (SUBSTRING(FirstName, 1, 1) = "T"\n    OR\n    Department = "CS")\nORDER BY\n    NetId DESC'})
Query 5eaf2001334f483dd6bba0d1 has been updated
==============
['Students', 's']
({'queryNum': 671}, {'parsedRemovedQuery': 'SELECT FirstName, LastName L, NetId\nFROM Students\nWHERE (FirstName LIKE \'T%\' OR EXISTS (SELECT NetId FROM Enrollments NATURAL JOIN Courses WHERE CourseDepartment = "CS" AND NetId = EnrollmentNetId)) AND Department = "ECE"\nORDER BY NetId DESC'})
Query 5eaf2001334f483dd6bba0d2 has been updated
==============
['Students']
({'queryNum': 672}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId \n    FROM Students \n    WHERE Department = "ECE" AND \n        (LEFT(FirstName, 1) = "T" OR \n        NetId IN \n            (SELECT e.NetId \n            FROM Enrollments e \n            JOIN Courses c ON e.CRN = c.CRN \n            WHERE c.Department = "CS")\n        )\n    ORDER BY NetId DESC;\n'})
Query 5eaf2001334f483dd6bba0d3 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 673}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND LEFT(Department, 3) = 'ECE' AND (LEFT(FirstName, 1) = 'T'OR LEFT(Department, 2) = 'CS')\nGROUP BY NetId DESC;\n"})
Query 5eaf2001334f483dd6bba0d4 has been updated
==============
({'queryNum': 674}, {'parsedRemovedQuery': 'select distinct FirstName, LastName, Students.NetId from Students, Enrollments, Courses where Students.Department="ECE" and (Students.FirstName like "T%" OR (Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department = "CS")) order by Students.NetId DESC'})
Query 5eaf2001334f483dd6bba0d5 has been updated
==============
['Students', 's']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'e.NetId,', 'Department', 'AS', 'classDept\n', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'e\n', '', '', '', '', '', '', '', 'LEFT', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'CRN,', 'Department\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Courses\n', '', '', '', '', '', '', '', ')', 'AS', 'c\n', '', '', '', '', '', '', '', 'ON', 'c.CRN', '=', 'e.CRN\n', '', '', '', ')', 'AS', 'enr']
({'queryNum': 675}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nLEFT JOIN (\n        SELECT e.NetId, Department AS classDept\n        FROM Enrollments e\n        LEFT JOIN (\n            SELECT CRN, Department\n            FROM Courses\n        ) AS c\n        ON c.CRN = e.CRN\n    ) AS\nON NetId = NetId\nWHERE Department = 'ECE' \nAND (FirstName LIKE 'T%' \nOR classDept = 'CS')\nORDER BY NetId DESC\n"})
Query 5eaf2001334f483dd6bba0d6 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 676}, {'parsedRemovedQuery': "select distinct FirstName, LastName, NetId \nfrom Students, Enrollments, Courses\nwhere Department = 'ECE' and (FirstName like 'T%' or NetId in (select ei.NetId from Enrollments ei, Courses ci where ei.CRN = ci.CRN and ci.Department = 'CS'))\norder by NetId desc\n;"})
Query 5eaf2001334f483dd6bba0d7 has been updated
==============
['(select', '*', 'from', 'Students', 'where', 'Students.Department', '=', '"ECE")', 'as', 'ECE']
({'queryNum': 677}, {'parsedRemovedQuery': 'select FirstName, LastName, NetId\nfrom (select * from Students where Students.Department = "ECE")\nwhere NetId in (select distinct Enrollments.NetId\n                  from Enrollments\n                  where Enrollments.CRN in (select CRN from Courses where Department = "CS") and Enrollments.NetId in (select NetId  from Students where Students.Department = "ECE")) or FirstName like \'T%\'\nOrder by NetId DESC'})
Query 5eaf2001334f483dd6bba0d8 has been updated
==============
['Students']
({'queryNum': 678}, {'parsedRemovedQuery': 'SELECT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND (\n    FirstName = "T%"\n    OR\n    NetId IN (\n        SELECT NetId\n        FROM Enrollments NATURAL JOIN Courses\n        WHERE Department = "CS"\n    )\n)\nORDER BY NetId DESC;'})
Query 5eaf2001334f483dd6bba0d9 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 679}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students NATURAL JOIN Enrollments\nWHERE (Department LIKE 'ECE') AND (FirstName LIKE 'T%' OR CRN IN (SELECT c.CRN FROM Courses c WHERE c.Department LIKE 'CS'))\nORDER BY NetId DESC;"})
Query 5eaf2001334f483dd6bba0da has been updated
==============

['(SELECT*', '\n', '', '', '', 'FROM', 'Students\n', '', '', '', 'WHERE', 'Department', '=', "'ECE')", '\n', '', '', '', '', '', '', '', 'ECEStudents']
({'queryNum': 680}, {'parsedRemovedQuery': "SELECT FirstName, LastName, NetId\nFROM (SELECT* \n    FROM Students\n    WHERE Department = 'ECE') \n       \n    WHERE FirstName like 'T%' or NetId in (\n        SELECT DISTINCT NetId FROM Enrollments \n        WHERE CRN in (\n        SELECT CRN FROM Courses WHERE Department = 'CS'\n        )\n)\nORDER by NetId DESC"})
Query 5eaf2001334f483dd6bba0db has been updated
==============
({'queryNum': 681}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName, Students.NetId\nfrom Students, Enrollments, Courses\nwhere Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Students.Department = "ECE"\nand (Students.NetId like \'T%\' or Courses.Department = "CS")\ngroup by Students.NetId\norder by Students.NetId desc\n\n'})
Query 5eaf2001334f483dd6bba0dc has been updated
==============
['Courses', 'c']
['Enrollments', 'e']
['Students', 's']
({'queryNum': 682}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Courses JOIN Enrollments ON CRN = CRN JOIN Students ON NetId = NetId\nWHERE Department = 'ECE' AND (Department = 'CS' OR FirstName LIKE 'T%')\nORDER BY NetId DESC"})
Query 5eaf2001334f483dd6bba0dd has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 683}, {'parsedRemovedQuery': "SELECT DISTINCT FirstName, LastName, NetId\nFROM Students, Enrollments, Courses\nWHERE (Department = 'ECE' AND FirstName = 'T%') OR (Department = 'ECE' AND NetId = NetId AND CRN = CRN AND Department = 'CS')\nORDER BY NetId DESC;"})
Query 5eaf2001334f483dd6bba0de has been updated
==============
['Enrollments', 'e']
['Courses', 'c']
['Students', 's']
({'queryNum': 684}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Enrollments \nJOIN Courses ON (CRN = CRN)\nJOIN Students ON (NetId = NetId)  \nWHERE ((SUBSTRING(FirstName, 1, 1) = \'T\' AND Department = "ECE") OR ((Department = "CS") AND (Department = "ECE") AND (NetId = NetId)))\nORDER BY NetId DESC\n\n-- QUERY TO FIND ECE STUDENTS WHOSE FIRST NAME STARTS WITH T\n-- SELECT *\n-- FROM Students\n-- WHERE(SUBSTRING(FirstName, 1, 1) = \'T\' AND Department = "ECE")\n\n-- QUERY TO FIND ECE STUDENTS TAKING AT LEAST ONE COURSE IN CS DEPARTMENT\n-- SELECT * \n-- FROM Enrollments \n-- JOIN Courses ON (CRN = CRN)\n-- JOIN Students ON (NetId = NetId)  \n-- WHERE(Department = "CS") AND (Department = "ECE") AND (NetId = NetId)\n\n'})
Query 5eaf2002334f483dd6bba0df has been updated
==============
['Students']
({'queryNum': 685}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName, NetId\nFROM Students\nWHERE Department = "ECE" AND ((FirstName LIKE \'T%\') OR (NetId IN (SELECT NetId FROM Enrollments WHERE CRN IN (SELECT CRN FROM Courses WHERE Department = "CS"))))\nORDER BY NetId DESC'})
Query 5eaf2002334f483dd6bba0e0 has been updated
==============
['Products', 'A']
['Purchases', 'T']
({'queryNum': 686}, {'parsedRemovedQuery': "select ProductName,count(CustomerId)\nfrom Products,Purchases\nwhere PurchaseId in\n(select F.PurchaseId from Customers B,Purchases F\nwhere (B.FirstName like 'J%' or (B.PhoneNumber-4)%10=0 or B.CustomerId in \n    (select CustomerId from Products Pr,Purchases Pu where Pr.ProductId = Pu.ProductId and (Pr.BrandName = 'Apple' or Pr.BrandName = 'Google'))\n    ) and F.CustomerId=B.CustomerId)\nand BrandName='Samsung'\nand ProductId = ProductId\ngroup by ProductId\norder by ProductName asc;"})
Query 5eaf2002334f483dd6bba0e1 has been updated
==============
['Products', 'p1']
['Purchases', 'p2']
({'queryNum': 687}, {'parsedRemovedQuery': "select ProductName, count(CustomerId)\nfrom Products natural join Purchases\nwhere BrandName='Samsung' and CustomerId in (select cc.CustomerId as cid \n     from Customers cc natural join Purchases pp1 natural join Products pp2 \n     where cc.FirstName like 'J%' or CAST(cc.PhoneNumber as CHAR) like '%4' or pBrandName = 'Apple' or pBrandName = 'Google')\ngroup by ProductName\norder by ProductName;"})
Query 5eaf2002334f483dd6bba0e2 has been updated
==============
['Products', 'p']
['Purchases', 'h']
['Customers', 'c']
({'queryNum': 688}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Products INNER JOIN Purchases ON ProductId = ProductId\n                INNER JOIN Customers ON CustomerId = CustomerId\nWHERE BrandName = \'Samsung\' AND\n      (FirstName LIKE "J%" OR\n       PhoneNumber LIKE "%4" OR \n       CustomerId IN (SELECT h2.CustomerId\n                        FROM Purchases h2 INNER JOIN Products p2 ON h2.ProductId = p2.ProductId\n                        WHERE p2.BrandName = \'Google\' or p2.BrandName = \'Apple\'))\n       \nGROUP BY ProductName\nORDER BY ProductName ASC'})
Query 5eaf2002334f483dd6bba0e3 has been updated
==============
['Products']
['Purchases', 'as', 'total']
({'queryNum': 689}, {'parsedRemovedQuery': "select ProductName, count(*)\nfrom Products natural join Purchases\nwhere BrandName = 'Samsung' and (CustomerId in (\n                                            select CustomerId\n                                            from Customers\n                                            where SUBSTRING(FirstName, 1, 1) = 'J'\n                                            )\n                                or\n                                 CustomerId in (\n                                            select CustomerId\n                                            from Customers\n                                            where PhoneNumber like '%4'\n                                              )\n                                or\n                                CustomerId in (\n                                            select CustomerId\n                                            from Purchases\n                                            where CustomerId = CustomerId and \n                                                     ProductId in (\n                                                                   select ProductId\n                                                                   from Products\n                                                                   where BrandName = 'Apple' or 'Google'\n                                                                  )\n                                            )\n                            )\n                     \n                            \ngroup by ProductName\n-- select right('ss1234',1)"})
Query 5eaf2002334f483dd6bba0e4 has been updated
==============
['Products', 'pr']
['Purchases', 'pu']
['Customers', 'cu']
({'queryNum': 690}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE BrandName = "Samsung" AND (PhoneNumber LIKE "%4" OR FirstName LIKE "J%" OR CustomerId IN(\n    SELECT pur.CustomerID\n    FROM Products pro NATURAL JOIN Purchases pur\n    WHERE pro.BrandName = "Google" or pro.BrandName = "Apple"\n))\nGroup By ProductName'})
Query 5eaf2002334f483dd6bba0e5 has been updated
==============
['Products', 'p']
['Purchases', 'pu']
['Customers', 'c']
({'queryNum': 691}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE BrandName = "Samsung" \n\nAND (FirstName LIKE "J%" \nOR PhoneNumber LIKE "%4"\nOR CustomerId IN (SELECT CustomerId FROM Customers NATURAL JOIN Purchases NATURAL JOIN Products WHERE BrandName = "Google" OR BrandName = "Apple")\n)\n\nGROUP BY ProductName\n\n'})
Query 5eaf2002334f483dd6bba0e6 has been updated
==============
['Products', 'P']
({'queryNum': 692}, {'parsedRemovedQuery': "Select ProductName, (Select COUNT(*) \n    From Purchases Pr Natural Join Customers C \n    Where Pr.ProductId = ProductId And (C.FirstName Like 'J%' Or CAST(C.PhoneNumber As Char) Like '%4' Or C.CustomerId In(Select P2.CustomerId \n            From   Purchases P2 Natural Join Products Pro \n            Where  Pro.BrandName = 'Apple' Or Pro.BrandName = 'Google') )) CS\n     \nFrom Products \nWhere BrandName = 'Samsung' \nOrder By ProductName "})
Query 5eaf2002334f483dd6bba0e7 has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 693}, {'parsedRemovedQuery': 'select ProductName, count(ProductID) \nfrom Products natural join Purchases natural join Customers\nwhere (BrandName = "Samsung" and FirstName = "j%") or (BrandName = "Samsung" and PhoneNumber = "%4") or (BrandName = "Samsung" and CustomerId in (select CustomerId\nfrom Products natural join Purchases natural join Customers\nwhere (BrandName = "Apple" or BrandName = "Google")\n))\ngroup by ProductName\n\n\n'})
Query 5eaf2002334f483dd6bba0e8 has been updated
==============
['Products', 'Prod']
({'queryNum': 694}, {'parsedRemovedQuery': "Select ProductName, (Select Count(C.CustomerId) From Purchases Pur\n                        Join Customers C on C.CustomerId = Pur.CustomerId\n                        Join Products Pr on Pr.ProductId = Pur.ProductId\n                        Where ProductId = Pur.ProductId and (C.FirstName like 'J%' Or C.PhoneNumber%10 = 4 or (C.CustomerId in (\n                        Select AP.CustomerId From Purchases AP Join Products Ppp On AP.ProductId = Ppp.ProductId Where (Ppp.BrandName = 'Apple' or Ppp.BrandName = 'Google'))))) as num\nFrom Products\nWhere (BrandName = 'Samsung')\nOrder by ProductName Asc;"})

Query 5eaf2002334f483dd6bba0e9 has been updated
==============
['Products', 'p']
['Purchases', 'd']
({'queryNum': 695}, {'parsedRemovedQuery': "SELECT ProductName, Count(*)\nFROM Products INNER JOIN Purchases ON ProductId = ProductId\nWHERE BrandName = 'Samsung' \nand ((Select FirstName FROM Customers c WHERE c.CustomerId = CustomerId) LIKE 'J%' \nor  (Select PhoneNumber FROM Customers c WHERE c.CustomerId = CustomerId) LIKE '%4'\nor (Select Count(*) FROM Purchases x WHERE CustomerId = x.CustomerId and (SELECT BrandName FROM Products y WHERE x.ProductId = y.ProductId) IN ('Google', 'Apple')) >= 1)\nGROUP BY ProductName\nORDER BY ProductName"})
Query 5eaf2002334f483dd6bba0ea has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 696}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE BrandName = 'Samsung' AND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId IN \n(SELECT CustomerId \nFROM Purchases NATURAL JOIN Products\nWHERE BrandName = 'Apple' OR BrandName = 'Google'))\nGROUP BY ProductName"})
Query 5eaf2002334f483dd6bba0eb has been updated
==============
['Purchases', 'pu']
['Products', 'p']
({'queryNum': 697}, {'parsedRemovedQuery': 'select ProductName, count(*)\nfrom Purchases, Products\nwhere ProductId = ProductId\nand BrandName like "Samsung%"\nand (CustomerId in (select CustomerId from Customers\n                        where FirstName like "J%"\n                        or PhoneNumber like "%4")\n    or\n    CustomerId in (select c.CustomerId from Customers c, Purchases, Products\n                        where c.CustomerId = CustomerId\n                        and ProductId = ProductId\n                        and BrandName in ("Apple", "Google"))\n    )\ngroup by ProductName\norder by ProductName;'})
Query 5eaf2002334f483dd6bba0ec has been updated
==============
['Customers', 'c1']
['Products', 'p1']
({'queryNum': 698}, {'parsedRemovedQuery': 'Select ProductName, count(ProductId)+1\nfrom Customers, Products\nwhere \n   ProductID in (\n                                Select ProductId from Products\n                                where brandName="Samsung")\n   and\n   CustomerId in ( Select CustomerId from Purchases p2\n                              where ProductId = p2.ProductId)\n    and (FirstName LIKE "J%" \n      or MOD(PhoneNumber, 10) = 4\n      or CustomerId in (Select p2.CustomerId \n                            from Purchases p2, Products pr2\n                            where p2.ProductId = pr2.ProductId and \n                                  (pr2.BrandName = "Apple" or pr2.BrandName="Google")))\n                              \n   \ngroup by ProductId\norder by ProductName ASC'})
Query 5eaf2002334f483dd6bba0ed has been updated
==============
['Products', 'pro']
['Purchases', 'pur']
({'queryNum': 699}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(PurchaseId)\nFROM Products NATURAL JOIN Purchases\nWHERE BrandName = 'Samsung'\nAND (CustomerId IN (SELECT pu.CustomerId\n                        FROM Purchases pu NATURAL JOIN Products pr\n                        WHERE pr.BrandName = 'Apple' OR pr.BrandName = 'Google')\n    OR CustomerId IN ( SELECT c1.CustomerId\n                            FROM Customers c1\n                            WHERE c1.FirstName LIKE 'J%' OR c1.PhoneNumber LIKE '%4'))\nGROUP BY ProductName;\n"})
Query 5eaf2002334f483dd6bba0ee has been updated
==============
['Products', 'pr']
['Purchases', 'pu']
({'queryNum': 700}, {'parsedRemovedQuery': 'Select ProductName, count(PurchaseId)\nFrom Products, Purchases\nWhere BrandName = "Samsung" and ProductId = ProductId\nand (CustomerId in (Select c.CustomerId\nFrom Customers c\nWhere c.FirstName = "J%" or c.PhoneNumber = "%4")\nor CustomerId in (Select pu1.CustomerId\nFrom Purchases pu1\nWhere pu1.ProductId in (Select b.ProductId\nFrom Products b\nWhere b.BrandName = "Apple" or b.BrandName = "Google")))\nGroup By ProductId\nOrder By ProductName'})
Query 5eaf2002334f483dd6bba0ef has been updated
==============
['Purchases', 'pr']
['Products', 'pd']
({'queryNum': 701}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Purchases JOIN Products\nWHERE ProductId = ProductId\nAND\n(CustomerId IN (SELECT CustomerId FROM Customers WHERE FirstName LIKE "J%" OR PhoneNumber LIKE "%4") \nOR CustomerId IN (SELECT CustomerId FROM Purchases a JOIN Products b WHERE a.ProductId = b.ProductId AND b.BrandName IN ("Apple", "Google"))\n)\nAND BrandName = "Samsung"\nGROUP BY ProductName'})
Query 5eaf2002334f483dd6bba0f0 has been updated
==============
({'queryNum': 702}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(Purchases.CustomerId)\nFROM Products, Purchases, Customers\nWHERE BrandName = "Samsung" AND Products.ProductId = Purchases.ProductId\nAND Purchases.CustomerId = Customers.CustomerId \nAND (\n    Customers.FirstName LIKE "J%" \n    OR CAST(Customers.PhoneNumber as Char) LIKE "%4" \n    OR Customers.CustomerId IN \n    (SELECT Purchases.CustomerId FROM Purchases WHERE Purchases.ProductId IN\n        (\n        SELECT Products.ProductId FROM Products WHERE BrandName = "APPLE" OR BrandName = "Google"\n        )\n    )\n)\nGROUP BY ProductName\nORDER BY ProductName ASC\n\n-- SELECT pr.ProductName, COUNT(pr.ProductName)\n-- FROM(SELECT c.CustomerId\n--     FROM Customers c\n--     WHERE c.FirstName LIKE \'J%\' \n--           OR CAST(c.PhoneNumber as Char) LIKE \'%4\' \n--           OR (c.CustomerId in (SELECT c.CustomerId\n--                               FROM  Products pr, Purchases pu, Customers c\n--                               WHERE c.CustomerId = pu.CustomerId \n--                                      and pu.ProductId = pr.ProductId \n--                                      and (pr.BrandName = \'Apple\' or pr.BrandName = \'Google\')\n--                               )\n--               )\n--     )AS a, Purchases pu, Products pr\n-- WHERE a.CustomerId = pu.CustomerId and pu.ProductId = pr.ProductId and pr.BrandName = \'Samsung\'\n-- GROUP BY pr.ProductName'})
Query 5eaf2002334f483dd6bba0f1 has been updated
==============
['(\nSELECT', 'P.ProductId', 'AS', 'ProductId,', 'COUNT(P.CustomerId)', 'AS', 'CustomerCount\nFROM', '(Purchases', 'P', 'JOIN', 'Customers', 'C', 'USING', '(CustomerId))\nWHERE', 'C.FirstName', 'LIKE', '"J%"', '\n', '', '', '', 'OR', 'C.PhoneNumber', 'LIKE', '"%4"', '\n', '', '', '', 'OR', 'EXISTS', '(\n', '', '', '', '', '', '', '', '(SELECT', '*', 'FROM', 'Purchases', 'P2', 'NATURAL', 'JOIN', 'Products', 'Pr2\n', '', '', '', '', '', '', '', '', 'WHERE', 'P2.CustomerId', '=', 'C.CustomerId', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'AND', 'Pr2.BrandName', 'IN', '("Apple",', '"Google"))\n', '', '', '', '', '', '', '', ')\nGROUP', 'BY', 'P.ProductId\n)', 'T']
['Products', 'Pr']
({'queryNum': 703}, {'parsedRemovedQuery': 'SELECT ProductName, CustomerCount\nFROM\n(\nSELECT P.ProductId AS ProductId, COUNT(P.CustomerId) AS CustomerCount\nFROM (Purchases P JOIN Customers C USING (CustomerId))\nWHERE C.FirstName LIKE "J%" \n    OR C.PhoneNumber LIKE "%4" \n    OR EXISTS (\n        (SELECT * FROM Purchases P2 NATURAL JOIN Products Pr2\n         WHERE P2.CustomerId = C.CustomerId \n                AND Pr2.BrandName IN ("Apple", "Google"))\n        )\nGROUP BY P.ProductId\n)\nJOIN\nProducts\nUSING (ProductId)\n\nWHERE BrandName="Samsung" \nORDER BY ProductName\n\n        -- (SELECT ProductId FROM Purchases WHERE CustomerId = C.CustomerId)\n        -- INTERSECT \n        -- (SELECT ProductId FROM Products WHERE BrandName IN ("Apple", "Google"))\n'})
Query 5eaf2002334f483dd6bba0f2 has been updated
==============
['Products', 'prod']
['Purchases', 'pur']
['Customers', 'c']
({'queryNum': 704}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(PurchaseId)\nFROM Products\n    NATURAL JOIN Purchases\n    NATURAL JOIN Customers\nWHERE BrandName=\'Samsung\'\n    AND (\n        PhoneNumber LIKE "%4"\n        OR FirstName LIKE "j%"\n        OR CustomerId IN (\n            SELECT pur2.CustomerId\n            FROM Purchases pur2\n            NATURAL JOIN Products prod2\n            WHERE prod2.BrandName = "apple"\n                OR prod2.BrandName = "google"\n        )\n    )\nGROUP BY ProductId\nORDER BY ProductName;'})

Query 5eaf2002334f483dd6bba0f3 has been updated
==============
['Customers']
['Purchases']
['Products']
['Brands']
({'queryNum': 705}, {'parsedRemovedQuery': "SELECT ProductName, count(Customers.CustomerId)\nFROM  Customers  NATURAL JOIN Purchases \n                 NATURAL JOIN Products \n                 NATURAL JOIN Brands \nWHERE Products.BrandName = 'Samsung'  AND (FirstName LIKE 'J%' \n                                OR PhoneNumber LIKE '%4'\n                                OR Purchases.CustomerId IN (\n                                  SELECT Purchases.CustomerId\n                                  FROM Purchases NATURAL JOIN Products \n                                  WHERE Products.BrandName = 'Apple' OR Products.BrandName = 'Google'))\n                                  GROUP BY Products.ProductId\n                                  ORDER BY ProductName"})
Query 5eaf2002334f483dd6bba0f4 has been updated
==============
['Customers', 'C']
['Purchases', 'Pu']
['Products', 'P']
({'queryNum': 706}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Customers, Purchases Pu JOIN Products ON ProductId = ProductId\nWHERE CustomerId = CustomerId AND BrandName = 'Samsung' AND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId IN\n    (SELECT CustomerID\n    FROM Purchases Pu NATURAL JOIN Products\n    WHERE BrandName = 'Apple' OR BrandName = 'Google'))\nGROUP BY ProductId\nORDER BY ProductName;"})
Query 5eaf2002334f483dd6bba0f5 has been updated
==============
['Products', 'p1']
['Purchases']
['Customers', 'c1']
({'queryNum': 707}, {'parsedRemovedQuery': 'SELECT ProductName, count(*)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE\n(FirstName LIKE "J%" OR PhoneNumber LIKE "%4" OR CustomerId IN (SELECT CustomerId FROM (Customers NATURAL JOIN Purchases NATURAL JOIN Products) WHERE BrandName = "Google" OR BrandName = "Apple")) AND BrandName = "Samsung"\n\nGROUP BY ProductName\nORDER BY ProductName\n'})
Query 5eaf2002334f483dd6bba0f6 has been updated
==============
['Products']
['Purchases', 'p']
({'queryNum': 708}, {'parsedRemovedQuery': 'select distinct ProductName, count(*)\nfrom Products Natural Join Purchases\nwhere BrandName = "Samsung" and ((CustomerId = any (select CustomerId from Customers where (FirstName like \'J%\' or PhoneNumber like \'%4\'))) or (CustomerId = any (select CustomerId from Purchases where ProductId = any(select ProductId from Products where BrandName = "Apple" or "Google"))))\ngroup by ProductName\norder by ProductName\n;'})
Query 5eaf2002334f483dd6bba0f7 has been updated
==============
['(select', 'customerId,', 'pr.ProductName\nfrom', 'Purchases', 'pu', 'join', 'Products', 'pr\non', 'pu.ProductId', '=', 'pr.ProductId', '\nwhere', 'pr.BrandName', '=', '"Samsung")', 'as', 'sc']
({'queryNum': 709}, {'parsedRemovedQuery': 'select ProductName, count(customerId)\n\nfrom (select customerId, pr.ProductName\nfrom Purchases pu join Products pr\non pu.ProductId = pr.ProductId \nwhere pr.BrandName = "Samsung")\n\nwhere customerId in \n(select customerId\nfrom Purchases pu join Products pr\non pu.ProductId = pr.ProductId\nwhere pr.BrandName = "Apple" or pr.BrandName = "Google")\n\nor customerId in \n(select customerId\nfrom Customers\nwhere FirstName like "J%"\nor PhoneNumber like "%4")\n\ngroup by ProductName\norder by ProductName'})
Query 5eaf2002334f483dd6bba0f8 has been updated
==============
['Products', 'Prod']
({'queryNum': 710}, {'parsedRemovedQuery': "Select ProductName, (Select Count(C.CustomerId) From Purchases Pur\n                        Join Customers C on C.CustomerId = Pur.CustomerId\n                        Join Products Pr on Pr.ProductId = Pur.ProductId\n                        Where (C.FirstName like 'J%' Or C.PhoneNumber%10 = 4 or (C.CustomerId in (\n                        Select Pu.CustomerId From Purchases Pu Join Products Pr On Pu.ProductId = Pr.ProductId Where (Pr.BrandName = 'Apple' or Pr.BrandName = 'Google'))))and ProductId = Pur.ProductId) as a\nFrom Products\nWhere (BrandName = 'Samsung')\nhaving a > 0\nOrder by ProductName Asc;"})
Query 5eaf2002334f483dd6bba0f9 has been updated
==============
['Products', 'p']
({'queryNum': 711}, {'parsedRemovedQuery': "Select ProductName, (Select Count(c.customerid)\nFrom Purchases pu, Customers c\nWhere pu.ProductID = productID && c.customerid = pu.customerid && (c.Firstname LIKE 'J%' OR c.phoneNumber LIKE '%4' OR Exists (Select* \nFrom Purchases p2,Products p3\nWhere p2.Customerid = c.customerid && p2.productid = p3.productid && (p3.Brandname = 'Apple' OR  p3.Brandname = 'Google'))\n) \n)AS sub1\nFrom Products\nWhere BrandName = 'Samsung'\n\nOrder by ProductName\n"})
Query 5eaf2002334f483dd6bba0fa has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 712}, {'parsedRemovedQuery': 'SELECT Products.ProductName, COUNT(Purchases.CustomerId)\nFROM Products\nJOIN Purchases ON Purchases.ProductId = Products.ProductId\nJOIN Customers ON Customers.CustomerId = Purchases.CustomerId\nWHERE Products.BrandName = "Samsung" AND \n    (Customers.FirstName LIKE "J%" OR\n    MOD(Customers.PhoneNumber, 10) = 4 OR \n    Customers.CustomerId IN (\n        SELECT Customers.CustomerId \n        FROM Customers\n        JOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\n        JOIN Products ON Purchases.ProductId = Products.ProductId\n        WHERE Products.BrandName LIKE "Google" OR Products.BrandName LIKE "Apple"))\nGROUP BY Products.ProductName'})
Query 5eaf2002334f483dd6bba0fb has been updated
==============
({'queryNum': 713}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Purchases, Products\nWHERE Purchases.ProductId = Products.ProductId\n    AND Products.BrandName = "Samsung"\n    AND (\n        Purchases.CustomerId IN (\n            SELECT CustomerId\n            FROM Purchases\n            WHERE ProductId IN (\n                SELECT ProductId\n                FROM Products\n                WHERE BrandName = "Apple" OR BrandName = "Google"\n    )\n        )\n        OR\n        Purchases.CustomerId IN (\n            SELECT CustomerId\n            FROM Customers\n            WHERE FirstName LIKE "J%" OR PhoneNumber LIKE "%4"\n        )\n    )\nGROUP BY Products.ProductId, ProductName\nORDER BY ProductName'})
Query 5eaf2002334f483dd6bba0fc has been updated
==============
({'queryNum': 714}, {'parsedRemovedQuery': "SELECT ProductName, NumBuyers\nFROM Products, (\n                SELECT ProductId, COUNT(*) AS NumBuyers\n                FROM Purchases NATURAL JOIN Customers \n                WHERE Customers.FirstName LIKE 'J%' OR Customers.PhoneNumber LIKE '%4' OR Customers.CustomerId IN (SELECT CustomerId FROM Purchases NATURAL JOIN Products WHERE BrandName = 'Apple' OR BrandName = 'Google')\n                GROUP BY ProductId\n               ) AS ConditionalProductTally\nWHERE Products.ProductId = ConditionalProductTally.ProductId AND Products.BrandName = 'Samsung'\nORDER BY ProductName ASC;"})
Query 5eaf2002334f483dd6bba0fd has been updated
==============
['Customers', 'c']
['Purchases']
['Products']
['Brands']
({'queryNum': 715}, {'parsedRemovedQuery': 'SELECT Products.ProductName, COUNT(Products.ProductName)\nFROM Customers\nINNER JOIN Purchases\nON CustomerId = Purchases.CustomerId\nINNER JOIN Products\nON Products.ProductId = Purchases.ProductId\nINNER JOIN Brands\nON Brands.BrandName = Products.BrandName\nWHERE Brands.BrandName = "Samsung" \nAND (FirstName LIKE "J%"\nOR CAST(PhoneNumber as CHAR) LIKE "%4.0"\nOR EXISTS(SELECT * FROM Customers \nINNER JOIN Purchases\nON Customers.CustomerId = Purchases.CustomerId\nINNER JOIN Products\nON Products.ProductId = Purchases.ProductId\nWHERE (Products.BrandName = "Apple" OR Products.BrandName = "Google") AND (CustomerId = Customers.CustomerId)))\nGROUP BY Products.ProductName\nORDER BY Products.ProductName ASC'})
Query 5eaf2002334f483dd6bba0fe has been updated
==============
['Purchases', 'p']
['Customers', 'c']
['Products', 'pr']
({'queryNum': 716}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Purchases JOIN Customers ON CustomerId = CustomerId JOIN Products ON ProductId = ProductId\nWHERE BrandName = "SamSung"\n      AND\n    (  \n        (\n        /*who purchase samsung products*/\n      CustomerId IN (SELECT CustomerId \n                        FROM Purchases \n                        WHERE ProductId IN (SELECT ProductId FROM Products WHERE BrandName = "Samsung")\n                        )\n                        \n      AND ((CustomerId IN (SElECT CustomerId FROM Customers WHERE FirstName LIKE \'j%\' OR PhoneNumber LIKE \'%4\')\n          ) OR (CustomerId IN (SELECT CustomerId \n                                FROM Purchases \n                                WHERE ProductId IN (SELECT ProductId FROM Products WHERE BrandName IN ("Apple", "Google"))\n                                )\n                )\n            )\n        ) \n      \n    )\nGROUP BY ProductName\nORDER BY ProductName\n        \n    \n    \n    \n   \n\n \n        \n\n\n'})
Query 5eaf2002334f483dd6bba0ff has been updated
==============
['Products', 'a']
['Purchases', 'b']
({'queryNum': 717}, {'parsedRemovedQuery': 'select ProductName, count(*)\nfrom Products, Purchases\nwhere BrandName = "Samsung"\n    and ProductId = ProductId\n\nand ((CustomerId in (select x.CustomerId \n    from Customers x where x.FirstName like "J%"))\nor (CustomerId in (select x.CustomerId \n    from Customers x where x.PhoneNumber like "%4"))\nor (CustomerId in (select x.CustomerId \n    from Customers x, Purchases, Products\n            where CustomerId = x.CustomerId\n                and ProductId = ProductId\n                        and (BrandName = "Apple" or BrandName = "Google")))\n\n)\n\ngroup by ProductName'})
Query 5eaf2002334f483dd6bba100 has been updated
==============

['Purchases', 'pur1']
['Products', 'prod1']
['Customers', 'c1']
({'queryNum': 718}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductID)\nFROM Purchases\nJOIN Products ON ProductId = ProductId\nJOIN Customers ON CustomerId = CustomerId\nWHERE BrandName = "Samsung" AND (CustomerId IN\n(SELECT c.CustomerId\nFROM Customers c\nWHERE c.FirstName LIKE "J%" OR\nc.PhoneNumber LIKE "%4" OR\nEXISTS(\nSELECT *\nFROM Purchases pur2\nJOIN Products prod2\nWHERE pur2.CustomerId = c.CustomerId AND (\nprod2.BrandName = "Apple" OR\nprod2.BrandName = "Google"))) )\nGROUP BY ProductID\nORDER BY ProductName\n'})
Query 5eaf2002334f483dd6bba101 has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 719}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(Purchases.PurchaseId)\nFROM Products JOIN Purchases ON Purchases.ProductId = Products.ProductId JOIN Customers ON Customers.CustomerId\n= Purchases.CustomerId\nWHERE BrandName = "Samsung" AND (Customers.FirstName LIKE "J%" OR Customers.PhoneNumber = "%4" OR Customers.CustomerId IN (SELECT Customers.CustomerId FROM Products JOIN Purchases ON Purchases.ProductId = Products.ProductId JOIN Customers ON Customers.CustomerId\n= Purchases.CustomerId WHERE Products.BrandName = "Google" OR Products.BrandName="Apple" GROUP BY Customers.CustomerId))\nGROUP BY ProductName\nORDER BY ProductName;'})
Query 5eaf2002334f483dd6bba102 has been updated
==============
['Purchases', 'p1']
['Customers', 'c']
['Products', 'p2']
['Brands', 'b']
({'queryNum': 720}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Purchases\nNATURAL JOIN Customers\nNATURAL JOIN Products\nNATURAL JOIN Brands\nWHERE BrandName = 'Samsung' AND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId IN\n(SELECT CustomerId\nFROM Customers\nNATURAL JOIN Products\nWHERE BrandName = 'Apple' OR 'Google')\n)\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2002334f483dd6bba103 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 721}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE BrandName = "Samsung" AND (FirstName LIKE "J%" OR PhoneNumber % 10 = 4 OR\nCustomerId IN (SELECT CustomerId FROM Customers NATURAL JOIN Purchases NATURAL JOIN Products WHERE BrandName IN ("Apple", "Google")))\nGROUP BY ProductId\nORDER BY ProductName\n'})
Query 5eaf2003334f483dd6bba104 has been updated
==============
['Customers', 'c']
['Purchases', 'pur']
['Products', 'pro']
({'queryNum': 722}, {'parsedRemovedQuery': 'Select ProductName, count(*)\nfrom Customers join Purchases on CustomerID = CustomerID join Products\non ProductID = ProductID\nwhere (BrandName = "Samsung") AND (FirstName LIKE \'J%\' OR PhoneNumber LIKE \'%4\' \nOR EXISTS(\n    Select *\n    from Products as p2\n    inner join Purchases p3\n    on p3.ProductID = p2.ProductID\n    where CustomerID = p3.CustomerID AND (p2.BrandName = "Apple" OR p2.BrandName = "Google")\n))\ngroup by ProductName'})
Query 5eaf2003334f483dd6bba105 has been updated
==============
['(Select', 'distinct', 'samsungBuyers.ProductName,', 'samsungBuyers.CustomerId,', 'samsungBuyers.PurchaseId\n', '', '', '', 'From', '(Select', 'distinct', 'cu.CustomerId\n', '', '', '', '', '', '', '', 'From', '((Products', 'po', 'inner', 'join', 'Purchases', 'pu', 'on', 'po.ProductId', '=', 'pu.ProductId)', 'inner', 'join', 'Customers', 'cu', 'on', 'cu.CustomerId', '=', 'pu.CustomerId)', '\n', '', '', '', '', '', '', '', 'Where', '(', 'po.BrandName', '=', '"Apple"', 'or', 'po.BrandName', '=', '"Google"', ')\n', '', '', '', '', '', '', '', 'order', 'by', 'cu.CustomerId)', 'agBuyers,\n', '', '', '', '', '', '', '', '\n', '', '', '', '', '', '', '', '(Select', 'distinct', 'cu.CustomerId,', 'cu.FirstName,', 'cu.PhoneNumber,', 'po.ProductName,', 'pu.PurchaseId\n', '', '', '', '', '', '', '', 'From', '((Products', 'po', 'inner', 'join', 'Purchases', 'pu', 'on', 'po.ProductId', '=', 'pu.ProductId)', 'inner', 'join', 'Customers', 'cu', 'on', 'cu.CustomerId', '=', 'pu.CustomerId)', '\n', '', '', '', '', '', '', '', 'Where', '(', 'po.BrandName', '=', '"Samsung")\n', '', '', '', '', '', '', '', 'order', 'by', 'cu.CustomerId)', 'samsungBuyers,\n', '', '', '', '', '', '', '', '\n', '', '', '', '', '', '', '', '(Select', 'CustomerId\n', '', '', '', '', '', '', '', 'From', 'Customers\n', '', '', '', '', '', '', '', 'Where', 'Firstname', 'like', '"J%"', 'or', 'PhoneNumber', 'like', '"%4")', 'nameMatches\n', '', '', '', 'Where', 'samsungBuyers.CustomerId', '=', 'agBuyers.CustomerId', 'or', 'samsungBuyers.FirstName', 'Like', '"J%"', 'or', 'samsungBuyers.PhoneNumber', 'Like', '"%4")', 'ans']
({'queryNum': 723}, {'parsedRemovedQuery': 'Select ProductName, count(Productname)        \nFrom (Select distinct samsungBuyers.ProductName, samsungBuyers.CustomerId, samsungBuyers.PurchaseId\n    From (Select distinct cu.CustomerId\n        From ((Products po inner join Purchases pu on po.ProductId = pu.ProductId) inner join Customers cu on cu.CustomerId = pu.CustomerId) \n        Where ( po.BrandName = "Apple" or po.BrandName = "Google" )\n        order by cu.CustomerId) agBuyers,\n        \n        (Select distinct cu.CustomerId, cu.FirstName, cu.PhoneNumber, po.ProductName, pu.PurchaseId\n        From ((Products po inner join Purchases pu on po.ProductId = pu.ProductId) inner join Customers cu on cu.CustomerId = pu.CustomerId) \n        Where ( po.BrandName = "Samsung")\n        order by cu.CustomerId) samsungBuyers,\n        \n        (Select CustomerId\n        From Customers\n        Where Firstname like "J%" or PhoneNumber like "%4") nameMatches\n    Where samsungBuyers.CustomerId = agBuyers.CustomerId or samsungBuyers.FirstName Like "J%" or samsungBuyers.PhoneNumber Like "%4")\nGroup by ProductName'})
Query 5eaf2003334f483dd6bba106 has been updated
==============
['Purchases']
['Products']
({'queryNum': 724}, {'parsedRemovedQuery': "SELECT DISTINCT ProductName,COUNT(CustomerId)\nFROM Purchases NATURAL JOIN Products\nWHERE BrandName='Samsung' AND \n    ((CustomerId IN (SELECT DISTINCT CustomerId    FROM Customers  WHERE FirstName='J%')) \n    OR (CustomerId IN (SELECT DISTINCT CustomerId   FROM Customers  WHERE PhoneNumber='%4')) \n    OR \n    (CustomerId IN (SELECT DISTINCT P.CustomerId     \n        FROM Purchases P\n        WHERE EXISTS(SELECT *\n                     FROM Products NATURAL JOIN Brands\n                     WHERE P.ProductId=ProductId AND (BrandName='Apple'OR BrandName='Google')))\n                     ))\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2003334f483dd6bba107 has been updated
==============
['(SELECT', 'custs.FirstName,', 'Products.ProductName\nFROM', 'Purchases\nINNER', 'JOIN', 'Products', 'ON', 'Purchases.ProductId=Products.ProductId\nINNER', 'JOIN', '(SELECT', '*\n\tFROM', 'Customers\n\tWHERE', 'Customers.FirstName="J%"', 'OR', 'Customers.PhoneNumber', '%', '10', '=', '4\n\tUNION', '\n\tSELECT', 'Customers.CustomerId,', 'Customers.FirstName,', 'Customers.LastName,', 'Customers.PhoneNumber\n\tFROM', 'Customers\n\tINNER', 'JOIN', 'Purchases', 'ON', 'Customers.CustomerId', '=', 'Purchases.CustomerId', '\n\tINNER', 'JOIN', 'Products', 'ON', 'Purchases.ProductId', '=', 'Products.ProductId\n\tWHERE', 'Products.BrandName="Apple"', 'OR', 'Products.BrandName="Google")', 'as', 'custs', '\nON', 'Purchases.CustomerId=custs.CustomerId\nWHERE', 'Products.BrandName', '=', '"Samsung")', 'as', 'subq']
({'queryNum': 725}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM (SELECT custs.FirstName, Products.ProductName\nFROM Purchases\nINNER JOIN Products ON Purchases.ProductId=Products.ProductId\nINNER JOIN (SELECT *\n\tFROM Customers\n\tWHERE Customers.FirstName="J%" OR Customers.PhoneNumber % 10 = 4\n\tUNION \n\tSELECT Customers.CustomerId, Customers.FirstName, Customers.LastName, Customers.PhoneNumber\n\tFROM Customers\n\tINNER JOIN Purchases ON Customers.CustomerId = Purchases.CustomerId \n\tINNER JOIN Products ON Purchases.ProductId = Products.ProductId\n\tWHERE Products.BrandName="Apple" OR Products.BrandName="Google") as custs \nON Purchases.CustomerId=custs.CustomerId\nWHERE Products.BrandName = "Samsung")\nGROUP BY ProductName'})
Query 5eaf2003334f483dd6bba108 has been updated
==============
['((SELECT', 'cu.CustomerId\n', '', '', '', 'FROM', 'Customers', 'cu\n', '', '', '', 'WHERE', 'cu.FirstName', 'LIKE', '"J%"', 'OR', 'cu.PhoneNumber', 'LIKE', '"%4")', '\n', '', '', '', '\n', '', '', '', 'UNION\n', '', '', '', '\n', '', '', '', '(SELECT', 'pu.CustomerId\n', '', '', '', 'FROM', 'Purchases', 'pu', 'JOIN', 'Products', 'pr', 'ON', 'pu.ProductId', '=', 'pr.ProductId\n', '', '', '', 'WHERE', 'pr.BrandName', '=', '"Apple"', 'OR', 'pr.BrandName', '=', '"Google"))', 'other']
['(SELECT', 'pu.CustomerId,', 'pu.ProductId,', 'pr.ProductName\n', '', '', '', 'FROM', 'Purchases', 'pu', 'JOIN', 'Products', 'pr', 'ON', 'pu.ProductId', '=', 'pr.ProductId\n', '', '', '', 'WHERE', 'pr.BrandName', '=', '"Samsung")', 'samsung']
({'queryNum': 726}, {'parsedRemovedQuery': 'SELECT ProductName, count(*)\nFROM \n    \n    ((SELECT cu.CustomerId\n    FROM Customers cu\n    WHERE cu.FirstName LIKE "J%" OR cu.PhoneNumber LIKE "%4") \n    \n    UNION\n    \n    (SELECT pu.CustomerId\n    FROM Purchases pu JOIN Products pr ON pu.ProductId = pr.ProductId\n    WHERE pr.BrandName = "Apple" OR pr.BrandName = "Google")) \n\n    JOIN\n   \n    (SELECT pu.CustomerId, pu.ProductId, pr.ProductName\n    FROM Purchases pu JOIN Products pr ON pu.ProductId = pr.ProductId\n    WHERE pr.BrandName = "Samsung")\n    \n    ON CustomerId = CustomerId\nGROUP BY ProductName; \n\n\n'})

Query 5eaf2003334f483dd6bba109 has been updated
==============
['Customers', 'c']
['Purchases', 'pr']
['Products', 'pt']
({'queryNum': 727}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE (BrandName = 'Samsung') AND ((FirstName LIKE 'J%') OR (PhoneNumber LIKE '%4')  OR (EXISTS(SELECT * \n            FROM Customers c2 NATURAL JOIN Purchases pr2 NATURAL JOIN Products pt2 \n            WHERE (pt2.BrandName = 'Apple') AND (c2.CustomerId = CustomerId))) OR (EXISTS(\n            SELECT *\n            FROM Customers c2 NATURAL JOIN Purchases pr2 NATURAL JOIN Products pt2 \n            WHERE (pt2.BrandName = 'Google') AND (c2.CustomerId = CustomerId))))\nGROUP BY ProductName, BrandName\nORDER BY ProductName"})
Query 5eaf2003334f483dd6bba10a has been updated
==============
['Products', 'prod']
['Purchases', 'pur']
['Customers', 'c']
({'queryNum': 728}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerID)\nFROM Products\nJOIN Purchases ON ProductId = ProductId\nJOIN Customers ON CustomerId = CustomerId\nWHERE BrandName = 'Samsung' AND (FirstName LIKE 'J%' \nOR PhoneNumber LIKE '%4' \nOR CustomerId IN (\nSELECT p.CustomerId\nFROM Purchases p\nJOIN Products ON p.ProductId = ProductId\nWHERE BrandName = 'Apple' OR BrandName = 'Google'\nGROUP BY p.CustomerId\n)\n)\nGROUP BY ProductName\nORDER BY ProductName ASC\n;\n"})
Query 5eaf2003334f483dd6bba10b has been updated
==============
['Purchases', 'Pur']
['Customers', 'C']
['Products', 'Pro']
({'queryNum': 729}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Purchases NATURAL JOIN Customers NATURAL JOIN Products\n\nWHERE (BrandName = 'Samsung' AND \n    (FirstName Like 'J%'\n    OR PhoneNumber Like '%4'\n    OR CustomerId IN \n                    (SELECT CustomerId\n                    FROM Purchases NATURAL JOIN Customers NATURAL JOIN Products\n                    WHERE ProductId=ProductId AND \n                    (BrandName='Apple' OR BrandName='Google'))\n    ))\n\nGROUP BY ProductName\nORDER BY ProductName\n"})
Query 5eaf2003334f483dd6bba10c has been updated
==============
({'queryNum': 730}, {'parsedRemovedQuery': "select Products.ProductName, count(*)\n\nFROM Products,Customers,Purchases\nWHERE (Products.BrandName = 'Samsung') AND (Customers.CustomerId = Purchases.CustomerId) AND (Purchases.ProductId = Products.ProductId) AND\nCustomers.FirstName IN (SELECT DISTINCT FirstName\n                  FROM Customers c, Purchases p1, Products p2\n                  WHERE (c.FirstName LIKE 'J%') OR (c.PhoneNumber LIKE '%4') OR ((p2.BrandName = 'Apple' OR p2.BrandName='Google') AND (c.CustomerId = p1.CustomerId AND p1.ProductId = p2.ProductId) ))\n\nGROUP BY Products.ProductName\n\n"})
Query 5eaf2003334f483dd6bba10d has been updated
==============
['Purchases', 'p1']
['Products', 'p2']
({'queryNum': 731}, {'parsedRemovedQuery': "Select ProductName, count(*) from Purchases join Products \non ProductId = ProductId\nwhere BrandName='Samsung' and CustomerId in \n(\nSelect Customers.CustomerId from \nCustomers join Purchases join Products \non Customers.CustomerId = Purchases.CustomerId and Products.ProductId = Purchases.ProductId\nwhere Customers.FirstName like 'J%' or Customers.PhoneNumber='%4' or Products.BrandName='Apple' or \nProducts.BrandName='Google')\ngroup by ProductId\norder by ProductName"})
Query 5eaf2003334f483dd6bba10e has been updated
==============
({'queryNum': 732}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(QualifiedCustomers.CustomerId)\nFROM\n\n(SELECT DISTINCT c.CustomerId FROM Purchases pur, Customers c, Products pr WHERE c.CustomerId = pur.CustomerId AND pr.ProductId = pur.ProductId AND (c.FirstName LIKE "J%" OR c.PhoneNumber LIKE "%4" OR pr.BrandName = "Apple" OR pr.BrandName = "Google")) AS QualifiedCustomers, Purchases pp, Products prr\n\nWHERE prr.BrandName = "Samsung" AND QualifiedCustomers.CustomerId = pp.CustomerId AND pp.ProductId = prr.ProductId\nGROUP BY ProductName\nORDER BY ProductName'})
Query 5eaf2003334f483dd6bba10f has been updated
==============
['Customers', 'c']
['(select', 'p.CustomerId,', 'pr.ProductName', 'from', 'Purchases', 'p', 'join', 'Products', 'pr', 'on', 'p.ProductId', '=', 'pr.ProductId', 'where', 'p.ProductId', 'in', '(select', 'ProductId', 'from', 'Products', 'where', 'BrandName', '=', '"Samsung"))', 'a']
({'queryNum': 733}, {'parsedRemovedQuery': 'select ProductName, count(1) from Customers join (select p.CustomerId, pr.ProductName from Purchases p join Products pr on p.ProductId = pr.ProductId where p.ProductId in (select ProductId from Products where BrandName = "Samsung")) on CustomerId = CustomerId where FirstName like "J%" or PhoneNumber like "%4" or CustomerId in (select distinct p.CustomerId from Purchases p where p.ProductId in ( select ProductId from Products where BrandName in ("Apple","Google"))) group by CustomerId,ProductName'})
Query 5eaf2003334f483dd6bba110 has been updated
==============
['Products', 'p1']
['Purchases']
({'queryNum': 734}, {'parsedRemovedQuery': 'SELECT ProductName, count(*)\nFROM Products, Purchases\nWHERE BrandName = "Samsung"\nAND Purchases.ProductId = ProductId\nAND (\n    EXISTS (\n        SELECT CustomerId\n        FROM Customers\n        WHERE Customers.CustomerId = Purchases.CustomerId\n        AND Customers.FirstName LIKE \'J%\' OR MOD(Customers.PhoneNumber, 10) = 4\n    )\n    OR EXISTS (\n        SELECT Products.ProductId\n        FROM Products\n        JOIN Purchases p2 ON p2.ProductId = Products.ProductId\n        WHERE Purchases.CustomerId = p2.CustomerId\n        AND Products.BrandName in ("Apple", "Google")\n    )\n)\nGROUP BY ProductName'})
Query 5eaf2003334f483dd6bba111 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 735}, {'parsedRemovedQuery': "select Products.ProductName, count(*)\nfrom Customers\ninner join Purchases on Purchases.CustomerId=Customers.CustomerId \ninner join Products on Products.BrandName='Samsung' and Products.ProductId=Purchases.ProductId and (Customers.FirstName like 'J%' or Customers.PhoneNumber like '%4' \nor exists(\n        select * \n        from Products p \n        inner join Purchases pur on p.ProductId=pur.ProductId\n        where Customers.CustomerId=pur.CustomerId and p.BrandName in ('Apple', 'Google')\n        group by ProductName\n    )\n)\ngroup by ProductName\norder by ProductName;"})
Query 5eaf2003334f483dd6bba112 has been updated
==============
['Products', 'pro']
['Purchases', 'pur']
['Customers', 'c']
({'queryNum': 736}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products\nINNER JOIN Purchases ON ProductId = ProductId\nINNER JOIN Customers ON CustomerId = CustomerId\nWHERE (BrandName = 'SAMSUNG') AND  (\n    (FirstName LIKE 'J%') OR\n    (PhoneNumber LIKE '%4') OR\n    exists (\n        SELECT * FROM Products pro2\n        INNER JOIN Purchases pur2 ON pro2.ProductId = pur2.ProductId\n        INNER JOIN Customers c2 ON pur2.CustomerId = c2.CustomerId\n        WHERE c2.CustomerId = CustomerId AND (\n            (pro2.BrandName = 'Apple') OR (pro2.BrandName = 'Google')\n        )\n    )\n)\nGROUP BY ProductName\nORDER BY ProductName;\n"})
Query 5eaf2003334f483dd6bba113 has been updated
==============
['(select\n', '', '', '', 'count(*)', 'cnt,', 'pu.ProductId', 'pid\nfrom\n', '', '', '', 'Purchases', 'pu,', 'Products', 'pr,', 'Customers', 'c\nwhere', '((pr.BrandName', '=', "'Samsung'", 'and', 'pu.ProductId', '=', 'pr.ProductId', 'and', 'c.CustomerId', '=', 'pu.CustomerId)\n', '', '', '', 'and', '(\n', '', '', '', '', '', '', '', '(c.FirstName', 'like', "'J%'", 'and', 'c.CustomerId', '=', 'pu.CustomerId)\n', '', '', '', '', '', '', '', 'or', '(c.PhoneNumber', 'like', "'%4'", 'and', 'c.CustomerId', '=', 'pu.CustomerId)\n', '', '', '', '', '', '', '', 'or', '(pu.CustomerId', 'in', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'select\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'pu.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', 'from\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Purchases', 'pu,', 'Products', 'pr\n', '', '', '', '', '', '', '', '', '', '', '', 'where', '(pu.ProductId', '=', 'pr.ProductId', 'and', 'pr.BrandName', 'in', '("Apple",', '"Google"))\n', '', '', '', '', '', '', '', '', '', '', '', '))\n', '', '', '', '', '', '', '', ')\n', '', '', '', ')\ngroup', 'by', 'pu.ProductId)', 'cond']
({'queryNum': 737}, {'parsedRemovedQuery': 'select distinct\n    pr.ProductName, cnt\nfrom\n    (Purchases pu, Products pr)\ninner join\n(select\n    count(*) cnt, pu.ProductId pid\nfrom\n    Purchases pu, Products pr, Customers c\nwhere ((pr.BrandName = \'Samsung\' and pu.ProductId = pr.ProductId and c.CustomerId = pu.CustomerId)\n    and (\n        (c.FirstName like \'J%\' and c.CustomerId = pu.CustomerId)\n        or (c.PhoneNumber like \'%4\' and c.CustomerId = pu.CustomerId)\n        or (pu.CustomerId in (\n            select\n                pu.CustomerId\n            from\n                Purchases pu, Products pr\n            where (pu.ProductId = pr.ProductId and pr.BrandName in ("Apple", "Google"))\n            ))\n        )\n    )\ngroup by pu.ProductId)\non pid = pr.ProductId\nwhere pr.ProductId = pid\norder by pr.ProductName'})
Query 5eaf2003334f483dd6bba114 has been updated
==============
['Products', 'prod']
({'queryNum': 738}, {'parsedRemovedQuery': 'select ProductName, (\n    select count(cust.CustomerId)\n    from Purchases purch\n    join Customers cust \n    on (purch.CustomerId = cust.CustomerId)\n    where (purch.ProductId=ProductId) and\n    (cust.PhoneNumber%10=4 or \n    cust.FirstName LIKE "J%" or\n    (cust.CustomerId in (\n        select purch_2.CustomerId\n        from Purchases purch_2\n        join Products Pro\n        on (Pro.ProductId = purch_2.ProductId)\n        where Pro.BrandName="Google" or\n        Pro.BrandName="Apple" )))) as num\nfrom Products\nwhere BrandName = "Samsung"\norder by ProductName asc;'})
Query 5eaf2003334f483dd6bba115 has been updated
==============
['Purchases', 'pc']
['Products', 'pd']
['Customers', 'c']
({'queryNum': 739}, {'parsedRemovedQuery': "select ProductName, Count(CustomerId)\nfrom Purchases join Products on ProductId = ProductId join Customers on CustomerId = CustomerId\nwhere BrandName = 'Samsung'and (FirstName like 'J%' or CAST(PhoneNumber as CHAR) like '%4' or  CustomerId in (select pc2.CustomerId from Products pd2 join Purchases pc2 on pd2.ProductId = pc2.ProductId where pd2.BrandName = 'Apple' or pd2.BrandName = 'Google'))\ngroup by ProductId\norder by ProductName"})
Query 5eaf2003334f483dd6bba116 has been updated
==============

['Products']
['Brands', 'B']
({'queryNum': 740}, {'parsedRemovedQuery': "select ProductName, count(Customers.CustomerId) from (Purchases left join Customers on Purchases.CustomerId = Customers.CustomerId)\n    left join Products on Purchases.ProductId = Products.ProductId\n    left join Brands on Products.BrandName = BrandName\n    where BrandName = 'Samsung' and ((FirstName like 'J%') or (PhoneNumber like '%4')\n       or Customers.CustomerId in\n          (select CustomerId from Purchases left join Products P on Purchases.ProductId = P.ProductId\n            where P.BrandName = 'Google' or P.BrandName = 'Apple')) group by Purchases.ProductId order by ProductName;"})
Query 5eaf2003334f483dd6bba117 has been updated
==============
['((Products\nINNER', 'JOIN', 'Purchases', 'ON', 'Products.ProductId', '=', 'Purchases.ProductId)\nINNER', 'JOIN', 'Customers', 'ON', 'Purchases.CustomerId', '=', 'Customers.CustomerId)\n#made']
({'queryNum': 741}, {'parsedRemovedQuery': "SELECT Products.ProductName, COUNT(Customers.CustomerId)\nFROM ((Products\nINNER JOIN Purchases ON Products.ProductId = Purchases.ProductId)\nINNER JOIN Customers ON Purchases.CustomerId = by samsun\nWHERE Products.BrandName = 'Samsung' AND (\n    #starts with J\n    Customers.FirstName LIKE 'J%'\n    OR\n    #phone number ends w 4\n    Customers.PhoneNumber LIKE '%4'\n    OR\n    #also purchased apple or google product\n    Customers.CustomerId IN (\n    #returns list of customers who have bought google or apple products\n        SELECT Customers.CustomerId\n    FROM ((Products\n    INNER JOIN Purchases ON Products.ProductId = Purchases.ProductId)\n    INNER JOIN Customers ON Purchases.CustomerId = Customers.CustomerId)\n    WHERE BrandName = 'Google' OR BrandName = 'Apple')\n    )\nGROUP BY Products.ProductName\nORDER BY Products.ProductName"})
Query 5eaf2003334f483dd6bba118 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 742}, {'parsedRemovedQuery': "select Products.ProductName, count(Customers.CustomerId)\nfrom Customers join Purchases on Purchases.CustomerId = Customers.CustomerId\njoin Products on Purchases.ProductId = Products.ProductId\nwhere Products.BrandName = 'Samsung' and (Customers.FirstName like 'J%' or Customers.PhoneNumber like '%4' or exists(select * from Products join Purchases on Products.ProductId = Purchases.ProductId where Customers.CustomerId = Purchases.CustomerId and (Products.BrandName = 'Apple' or Products.BrandName = 'Google')))\ngroup by Products.ProductId\norder by Products.ProductName;"})
Query 5eaf2003334f483dd6bba119 has been updated
==============
['Products', 'Ps']
({'queryNum': 743}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT count(C.CustomerId)\nFROM Purchases P\nJOIN Customers C ON (P.CustomerId = C.CustomerId)\nWHERE (P.ProductId=ProductId) AND (C.FirstName LIKE "J%" OR C.PhoneNumber%10=4 OR (C.CustomerId IN \n    (\n        SELECT purch.CustomerId\n        FROM Purchases purch\n        JOIN Products Pro ON (Pro.ProductId = purch.ProductId)\n        WHERE Pro.BrandName="Google" OR Pro.BrandName="Apple" )))) as cnt\nFROM Products\nWHERE BrandName = "Samsung"\nHAVING cnt > 0\nORDER BY ProductName;'})
Query 5eaf2003334f483dd6bba11a has been updated
==============
['Products']
['Purchases']
({'queryNum': 744}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products\nJOIN Purchases ON Purchases.ProductId = Products.ProductId\nWHERE Products.BrandName = "Samsung" \nAND ( \n    EXISTS (\n        SELECT CustomerId\n        FROM Customers\n        WHERE Customers.CustomerId = Purchases.CustomerId AND (Customers.FirstName LIKE \'J%\' OR MOD(Customers.PhoneNumber, 10) = 4)\n    )\n    OR (\n        EXISTS (\n            SELECT Products.ProductId\n            FROM Products\n            JOIN Purchases p2 ON p2.ProductId = Products.ProductId\n            WHERE Purchases.CustomerId = p2.CustomerId\n            AND Products.BrandName in ("Apple", "Google")\n        \n        ) \n    )\n)\nGROUP by ProductName\nORDER by ProductName'})
Query 5eaf2003334f483dd6bba11b has been updated
==============
['Products']
['Purchases']
({'queryNum': 745}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products NATURAL JOIN Purchases\nWHERE BrandName = 'Samsung' AND (CustomerId IN\n(\nSELECT DISTINCT CustomerId\nFROM Customers\nWHERE FirstName LIKE 'J%' OR PhoneNumber LIKE '%4'\n)\nOR CustomerId IN\n(\nSELECT DISTINCT CustomerId\nFROM Purchases NATURAL JOIN Products\nWHERE BrandName = 'Apple' OR BrandName = 'Google'\n))\nGROUP BY ProductId\nORDER BY ProductName"})
Query 5eaf2003334f483dd6bba11c has been updated
==============
['Products']
({'queryNum': 746}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products NATURAL JOIN (Purchases NATURAL JOIN Customers)\nWHERE BrandName = 'Samsung' AND (\n    CustomerId IN (SELECT CustomerId \n        FROM Products NATURAL JOIN (Purchases NATURAL JOIN Customers) \n        WHERE BrandName = 'Apple' OR BrandName = 'GOOGLE') \n    OR MOD(PhoneNumber, 10) = 4.0 OR FirstName LIKE 'J%')\nGROUP BY ProductName\nORDER BY ProductName"})
Query 5eaf2003334f483dd6bba11d has been updated
==============
['Purchases']
['Products']
({'queryNum': 747}, {'parsedRemovedQuery': 'select ProductName, count(ProductName) from Purchases\nleft join Products on Purchases.ProductId = Products.ProductId\nwhere BrandName = "Samsung" and CustomerId in \n(select Customers.CustomerId as CustomerId from Purchases\nleft join Customers on Purchases.CustomerId = Customers.CustomerId\nleft join Products on Purchases.ProductId = Products.ProductId\nwhere BrandName = "Apple" or BrandName = "Google" or\nsubstring(Customers.FirstName, 1, 1) = "J" or\nCustomers.PhoneNumber % 10 = 4)\ngroup by ProductName'})
Query 5eaf2003334f483dd6bba11e has been updated
==============
['ProductName', 'AS', 'pn']
['COUNT(pur.CustomerId)']
['Customers', 'cus']
({'queryNum': 748}, {'parsedRemovedQuery': 'SELECT DISTINCT ProductName AS pn, COUNT(pur.CustomerId)\nFROM (Purchases pur JOIN Products pro ON pur.ProductId = pro.ProductId) JOIN Customers ON pur.CustomerId = CustomerId\nWHERE pro.BrandName = \'Samsung\' AND (FirstName LIKE \'J%\' OR MOD(PhoneNumber, 10) = 9 OR EXISTS(SELECT p.CustomerId AS cid FROM Purchases p JOIN Products pr ON p.ProductId = pr.ProductId WHERE p.CustomerId = pur.CustomerId AND (pr.BrandName = \'Apple\' OR pr.BrandName = "Google")))\nGROUP BY pur.ProductId\nORDER BY ProductName;'})
Query 5eaf2003334f483dd6bba11f has been updated
==============
['Purchases']
['Products']
({'queryNum': 749}, {'parsedRemovedQuery': 'select Products.ProductName, count(*) from Purchases left join Products on Products.ProductId = Purchases.ProductId where CustomerId in (\n\nselect Customers.CustomerId from Customers left outer join Purchases on Purchases.CustomerId = Customers.CustomerId left join Products on Products.ProductId = Purchases.ProductId where (FirstName like "J%") or (PhoneNumber % 10 = 4) or (BrandName in ("Apple", "Google"))\n\n) and Products.BrandName = "Samsung" group by Products.ProductName, CustomerId'})
Query 5eaf2003334f483dd6bba120 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 750}, {'parsedRemovedQuery': "SELECT Products.ProductName, COUNT(*) \nFROM Customers\nJOIN Purchases ON Customers.CustomerId = Purchases.CustomerId\nJOIN Products ON Purchases.ProductId = Products.ProductId\nWHERE Products.BrandName = 'Samsung' \nAND (Customers.FirstName LIKE 'J%' \nOR Customers.PhoneNumber LIKE '%4' \nOR EXISTS (SELECT * FROM Products JOIN Purchases ON Purchases.ProductId = Products.ProductId WHERE Customers.CustomerId = Purchases.CustomerId AND (Products.BrandName = 'Apple' OR Products.BrandName = 'Google')))\nGROUP BY Products.ProductId\nORDER BY Products.ProductName;"})
Query 5eaf2003334f483dd6bba121 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 751}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\n    FROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\n    WHERE BrandName = "Samsung" AND (FirstName LIKE "J%" OR PhoneNumber LIKE "%4" OR CustomerId IN (\n            SELECT CustomerId\n                FROM Purchases NATURAL JOIN Products\n                WHERE BrandName = "Apple" OR BrandName = "Google"\n        ))\n    GROUP BY ProductName\n    ORDER BY ProductName'})
Query 5eaf2003334f483dd6bba122 has been updated
==============
['Purchases', 'pur']
['Products', 'prod']
['Customers', 'cust']
({'queryNum': 752}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Purchases JOIN Products on ProductId = ProductId \nJOIN Customers on CustomerId = CustomerId\nwhere BrandName = 'Samsung' \n    AND (LEFT(FirstName, 1) = 'J' \n    OR RIGHT(PhoneNumber, 1) = 4\n    OR CustomerId in (\n        SELECT CustomerId \n        FROM Purchases JOIN Products on ProductId = ProductId\n        where BrandName = 'Google' or BrandName = 'Apple'\n    ))\nGROUP BY ProductName;"})
Query 5eaf2003334f483dd6bba123 has been updated
==============
['Products']
['Purchases']
({'queryNum': 753}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products\nJOIN Purchases ON Products.ProductId = Purchases.ProductId\nWHERE BrandName = "Samsung" AND Purchases.CustomerId IN (\n    SELECT CustomerId\n    FROM Customers\n    WHERE FirstName LIKE "J%" OR PhoneNumber LIKE "%4"\n)\nGROUP BY ProductName\nORDER BY ProductName;\n'})
Query 5eaf2003334f483dd6bba124 has been updated
==============
['Customers', 'c']
['Purchases', 'pu']
['Products', 'pr']
({'queryNum': 754}, {'parsedRemovedQuery': "SELECT DISTINCT ProductName, count(CustomerId) from Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE BrandName = 'Samsung' \nAND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR (SELECT DISTINCT count(*) from Customers c1 NATURAL JOIN Purchases pu1 NATURAL JOIN Products pr1 WHERE (pr1.BrandName = 'Apple' or pr1.BrandName = 'Google') AND c1.CustomerId = CustomerId) > 0) \n\nGROUP BY ProductName\nORDER BY ProductName ASC"})

Query 5eaf2003334f483dd6bba125 has been updated
==============
['Purchases']
['Products']
({'queryNum': 755}, {'parsedRemovedQuery': "SELECT ProductName, count(CustomerId)\nFROM Purchases NATURAL JOIN Products\nWHERE BrandName = 'Samsung' AND CustomerId IN (SELECT CustomerId FROM Customers WHERE FirstName LIKE 'J%' OR MOD(PhoneNumber, 10) = 4 OR CustomerId In (SELECT DISTINCT CustomerId FROM Purchases NATURAL JOIN Products WHERE BrandName = 'Apple' OR BrandName = 'Google'))\nGROUP BY ProductName \nORDER BY ProductName ASC;"})
Query 5eaf2003334f483dd6bba126 has been updated
==============
['Customers', 'c1']
['Purchases', 'pc1']
['Products', 'p1']
({'queryNum': 756}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Customers\nNATURAL JOIN Purchases\nNATURAL JOIN Products\nWHERE BrandName = 'Samsung'\nAND (FirstName LIKE 'J%' OR PhoneNumber % 10 = 4\nOR CustomerId IN (\n        SELECT DISTINCT c2.CustomerId \n        FROM Customers c2\n        NATURAL JOIN Purchases pc2\n        NATURAL JOIN Products p2\n        WHERE p2.BrandName = 'Apple' OR p2.BrandName = 'Google'\n    )\n)\nGROUP BY ProductName\nORDER BY ProductName ASC\n"})
Query 5eaf2003334f483dd6bba127 has been updated
==============
['(\n', '', '', '', 'SELECT', 'C1.CustomerId,', 'Pr1.ProductId,', 'Pr1.ProductName\n', '', '', '', 'FROM', 'Customers', 'C1\n', '', '', '', 'INNER', 'JOIN', 'Purchases', 'P1', 'ON', 'P1.CustomerId', '=', 'C1.CustomerId\n', '', '', '', 'INNER', 'JOIN', 'Products', 'Pr1', 'ON', 'Pr1.ProductId', '=', 'P1.ProductId\n', '', '', '', 'WHERE', 'Pr1.BrandName', '=', '"Samsung"\n', '', '', '', 'AND\n', '', '', '', '(\n', '', '', '', '', '', '', '', 'EXISTS', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', '*\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Customers', 'C2\n', '', '', '', '', '', '', '', '', '', '', '', 'INNER', 'JOIN', 'Purchases', 'P2', 'ON', 'P2.CustomerId', '=', 'C2.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', 'INNER', 'JOIN', 'Products', 'Pr2', 'ON', 'Pr2.ProductId', '=', 'P2.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'C2.CustomerId', '=', 'C1.CustomerId', 'AND', 'Pr2.BrandName', 'IN', '("Apple",', '"Google")\n', '', '', '', '', '', '', '', ')\n', '', '', '', '', '', '', '', 'OR', 'C1.FirstName', 'LIKE', '"J%"\n', '', '', '', '', '', '', '', 'OR', 'C1.PhoneNumber', 'LIKE', '"%4"\n', '', '', '', ')\n)', 'XXX']
({'queryNum': 757}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM (\n    SELECT C1.CustomerId, Pr1.ProductId, Pr1.ProductName\n    FROM Customers C1\n    INNER JOIN Purchases P1 ON P1.CustomerId = C1.CustomerId\n    INNER JOIN Products Pr1 ON Pr1.ProductId = P1.ProductId\n    WHERE Pr1.BrandName = "Samsung"\n    AND\n    (\n        EXISTS (\n            SELECT *\n            FROM Customers C2\n            INNER JOIN Purchases P2 ON P2.CustomerId = C2.CustomerId\n            INNER JOIN Products Pr2 ON Pr2.ProductId = P2.ProductId\n            WHERE C2.CustomerId = C1.CustomerId AND Pr2.BrandName IN ("Apple", "Google")\n        )\n        OR C1.FirstName LIKE "J%"\n        OR C1.PhoneNumber LIKE "%4"\n    )\n)\nGROUP BY ProductId\nORDER BY ProductName'})
Query 5eaf2004334f483dd6bba128 has been updated
==============
['Customers', 'c']
({'queryNum': 758}, {'parsedRemovedQuery': "SELECT DISTINCT Products.ProductName, COUNT(*)\nFROM Products, Purchases NATURAL JOIN Customers\nWHERE Purchases.ProductId = Products.ProductId \n    AND Products.BrandName = 'Samsung'\n    AND ( (Purchases.CustomerId = CustomerId AND FirstName LIKE 'J%') OR (Purchases.CustomerId = CustomerId AND PhoneNumber % 10 = 4.0) OR (Purchases.CustomerId IN \n                                    (SELECT DISTINCT Purchases.CustomerId \n                                    FROM Purchases, Products \n                                    WHERE Purchases.ProductId = Products.ProductId AND (BrandName = 'Apple' or BrandName = 'Google') ) )\n        )\nGROUP BY Products.ProductName\nORDER BY Products.ProductName"})
Query 5eaf2004334f483dd6bba129 has been updated
==============
['Products', 'Mpd']
['Purchases', 'Mpr']
({'queryNum': 759}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products INNER JOIN Purchases ON ProductId = ProductId\nWHERE BrandName = 'Samsung' AND CustomerId IN (\n\n    SELECT c.CustomerId\n    FROM Customers c INNER JOIN Purchases pr ON c.CustomerId = pr.CustomerId\n    WHERE c.FirstName LIKE 'J%' OR c.PhoneNumber LIKE '%4' OR c.CustomerId IN \n\n        (SELECT p.CustomerId\n        FROM Purchases p  INNER JOIN Products pd ON p.ProductId = pd.ProductId\n        WHERE BrandName = 'Apple' OR BrandName='Google')\n    )\nGROUP BY (ProductId)\nORDER BY ProductName\n\n;"})
Query 5eaf2004334f483dd6bba12a has been updated
==============
['Customers']
['(SELECT', 'CustomerId,', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'ProductId', '=', 'ANY', '(SELECT', 'ProductId', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Products', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'BrandName', '=', "'Samsung'))", 'SamsungCustomers']
['Products']
({'queryNum': 760}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Customers NATURAL JOIN (SELECT CustomerId, ProductId\n                             FROM Purchases\n                             WHERE ProductId = ANY (SELECT ProductId \n                                                    FROM Products \n                                                    WHERE BrandName = 'Samsung'))\n               NATURAL JOIN Products\nWHERE FirstName = 'J%' OR \n      PhoneNumber % 10 = 4 OR \n      CustomerId = ANY(SELECT CustomerId\n                       FROM Purchases\n                       WHERE ProductId = ANY (SELECT ProductId \n                                              FROM Products \n                                              WHERE BrandName = 'Apple' OR \n                                                    BrandName = 'Google')) \nGROUP BY ProductName\nORDER BY ProductName"})
Query 5eaf2004334f483dd6bba12b has been updated
==============
['Products', 'as', 'Pro']
({'queryNum': 761}, {'parsedRemovedQuery': "SELECT ProductName, (SELECT COUNT(*)\nFROM Purchases as Pur\nWHERE ProductId = Pur.ProductId AND Pur.CustomerId IN\n(SELECT Cu.CustomerId\nFROM Customers as Cu\nWHERE Cu.FirstName LIKE 'J%' OR Cu.PhoneNumber LIKE '%4' OR Cu.CustomerId IN\n(SELECT Purr.CustomerId FROM Purchases as Purr WHERE Purr.ProductId IN\n(SELECT PPP.ProductId FROM Products as PPP WHERE PPP.BrandName = 'Apple' OR PPP.BrandName = 'Google'\n)))\n) \nAS CCC\nFROM Products\nWHERE BrandName = 'Samsung'\nORDER BY ProductName"})
Query 5eaf2004334f483dd6bba12c has been updated
==============
['Products', 'p']
['Customers']
['Purchases', 'as', 'temp']
({'queryNum': 762}, {'parsedRemovedQuery': 'SELECT ProductName, count(productName)\nFrom Products, Customers Natural Join Purchases\nWhere BrandName = "Samsung" AND (productId = temProductId AND \n                                    (FirstName LIKE "J%" OR PhoneNumber LIKE \'%4\' OR \n                                    temCustomerId in (Select CustomerId \n                                    From Purchases Natural Join Products \n                                    Where BrandName = "Apple" OR BrandName = "Google")\n                                    )\n                                )    \nGroup by ProductName'})
Query 5eaf2004334f483dd6bba12d has been updated
==============
['Purchases', 'as', 'pur']
['Products', 'as', 'pro']
({'queryNum': 763}, {'parsedRemovedQuery': 'select ProductName, count(CustomerId)\nfrom Purchases as left join Products as on ProductId = ProductId\nwhere BrandName = "Samsung" and (CustomerId in \n(select CustomerId from Customers where FirstName like "J%" or ("" + PhoneNumber like "%4")) or \nCustomerId in (select distinct CustomerId from Purchases left join Products on Purchases.ProductId = Products.ProductId where Products.BrandName = "Apple" or Products.BrandName = "Google"))\ngroup by ProductId\norder by ProductName'})

Query 5eaf2004334f483dd6bba12e has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 764}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE BrandName = 'Samsung'\n    AND (FirstName LIKE 'J%' OR PhoneNumber % 10 = 4 OR CustomerId IN (\n            SELECT CustomerId\n            FROM Purchases NATURAL JOIN Products\n            WHERE BrandName IN ('Apple', 'Google')\n            )\n        )\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2004334f483dd6bba12f has been updated
==============
['(SELECT', '\n', '', '', '', '', '', '', '', 'a.ProductId,\n', '', '', '', '', '', '', '', '', '', '', '', 'a.ProductName,\n', '', '', '', '', '', '', '', '', '', '', '', 'c.CustomerId,\n', '', '', '', '', '', '', '', '', '', '', '', 'c.FirstName,\n', '', '', '', '', '', '', '', '', '', '', '', 'c.LastName,\n', '', '', '', '', '', '', '', '', '', '', '', 'c.PhoneNumber\n', '', '', '', 'FROM\n', '', '', '', '', '', '', '', 'Products', 'a\n', '', '', '', 'JOIN', 'Purchases', 'b\n', '', '', '', 'JOIN', 'Customers', 'c\n', '', '', '', 'WHERE\n', '', '', '', '', '', '', '', 'brandname', '=', "'Samsung'\n", '', '', '', '', '', '', '', '', '', '', '', 'AND', 'a.ProductId', '=', 'b.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', 'AND', 'b.CustomerId', '=', 'c.CustomerId)', 'd']
({'queryNum': 765}, {'parsedRemovedQuery': "SELECT \n    ProductName, COUNT(CustomerId) AS number\nFROM\n    (SELECT \n        a.ProductId,\n            a.ProductName,\n            c.CustomerId,\n            c.FirstName,\n            c.LastName,\n            c.PhoneNumber\n    FROM\n        Products a\n    JOIN Purchases b\n    JOIN Customers c\n    WHERE\n        brandname = 'Samsung'\n            AND a.ProductId = b.ProductId\n            AND b.CustomerId = c.CustomerId)\nWHERE\n    FirstName LIKE 'Z%'\n        OR PhoneNumber LIKE '%5'\n        OR CustomerId IN (SELECT DISTINCT\n            CustomerId\n        FROM\n            Purchases\n        WHERE\n            ProductId IN (SELECT \n                    ProductId\n                FROM\n                    Products\n                WHERE\n                    BrandName = 'Apple'\n                        OR BrandName = 'Google'))\nGROUP BY ProductName\nORDER BY ProductName\n\n\n\n"})
Query 5eaf2004334f483dd6bba130 has been updated
==============
['Customers', 'C']
['(select', 'ProductName,CustomerId\n', '', '', '', '', '', '', '', 'from', 'Purchases', 'P', 'join\n', '', '', '', '', '', '', '', '', '', '', '', '(select', 'ProductName,', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', 'from', 'Products\n', '', '', '', '', '', '', '', '', '', '', '', 'where', 'BrandName="Samsung")', 'as', 'T\n', '', '', '', '', '', '', '', 'on', 'T.ProductId', '=', 'P.ProductId)', 'as', 'T1']
({'queryNum': 766}, {'parsedRemovedQuery': 'select ProductName, count(CustomerId)\nfrom Customers join \n        (select ProductName,CustomerId\n        from Purchases P join\n            (select ProductName, ProductId\n            from Products\n            where BrandName="Samsung") as T\n        on T.ProductId = P.ProductId)\n    on CustomerId = CustomerId\nwhere FirstName like "J%" or PhoneNumber like "%4" or CustomerId in\n    (select CustomerId\n    from Purchases P1 join\n        (select ProductId\n        from Products\n        where BrandName="Apple" or BrandName="Google") as T2\n    on T2.ProductId = P1.ProductId)\ngroup by ProductName\norder by ProductName asc'})
Query 5eaf2004334f483dd6bba131 has been updated
==============
({'queryNum': 767}, {'parsedRemovedQuery': 'Select temp.ProductName, Count(temp.PurchaseId)\nFrom (Select * \n    From Products Prod Natural Join Purchases Purch) as temp, Customers C\nWhere (temp.BrandName = "Samsung") and (C.CustomerId = temp.CustomerId) and\n     (C.FirstName Like \'J%\' or C.PhoneNumber Like \'%4\' \n        or temp.CustomerId In (Select Cus.CustomerId\n                                From (Select * \n                                      From Products Prod Natural Join Purchases Purch) as temp2, Customers Cus\n                                      Where (Cus.CustomerId = temp2.CustomerId) and (temp2.BrandName = "Apple" or temp2.BrandName = "Google")\n                                      ))\nGroup By temp.ProductName\nOrder By temp.ProductName;\n'})
Query 5eaf2004334f483dd6bba132 has been updated
==============
['(select', 'PurchaseId,', 'CustomerId,', 'tb1.ProductId,', 'ProductName,', 'BrandName', 'from', '(select', '*', 'from', 'Products', 'where', 'BrandName', '=', "'Samsung')", 'as', 'tb1', 'join', 'Purchases', 'pur1', 'on', 'pur1.ProductId', '=', 'tb1.ProductId)', 'as', 'tb3']
['Customers', 'c1']
({'queryNum': 768}, {'parsedRemovedQuery': 'select ProductName, count(CustomerId) from (select PurchaseId, CustomerId, tb1.ProductId, ProductName, BrandName from (select * from Products where BrandName = \'Samsung\') as tb1 join Purchases pur1 on pur1.ProductId = tb1.ProductId) as join Customers on CustomerId = CustomerId where (FirstName like \'J%\' or PhoneNumber like "%4" or CustomerId in (select tb4.CustomerId from (select pur2.ProductId, pur2.CustomerId, pro2.BrandName from Purchases pur2 join Products pro2 on pro2.ProductId = pur2.ProductId) as tb4 where tb4.BrandName = \'Apple\' or tb4.BrandName = "Google")) group by ProductName order by ProductName '})
Query 5eaf2004334f483dd6bba133 has been updated
==============
({'queryNum': 769}, {'parsedRemovedQuery': "select PR.ProductName, count(C.CustomerId)\nfrom ((Customers C inner join Purchases PU on C.CustomerId  = PU.CustomerId) inner join Products PR on     PR.ProductId = PU.ProductId)\nwhere PR.BrandName = 'Samsung' and (C.FirstName like 'J%' or C.PhoneNumber like '%4' \n     or exists( select PU2.CustomerId\n                from  (Products PR2 inner join Purchases PU2 on PR2.ProductId = PU2.ProductId)\n                where (PR2.BrandName = 'Apple' or PR2.BrandName = 'Google') \n                and C.CustomerId = PU2.CustomerId ))\ngroup by  PR.ProductName order by  PR.ProductName;"})
Query 5eaf2004334f483dd6bba134 has been updated
==============
['Products', 'Pr']
({'queryNum': 770}, {'parsedRemovedQuery': 'select ProductName, (\n    select count(*)\n    from Customers C Natural Join (Purchases P Natural Join Products PB)\n    where P.ProductId = ProductId and (\n        C.FirstName LIKE "J%" or\n        CAST(C.PhoneNumber AS CHAR) LIKE "%4" or\n        C.CustomerId in (\n            select PA.CustomerId\n            from Purchases PA Natural Join Products PrA\n            where PrA.BrandName = "Apple"\n        )\n        or\n        C.CustomerId in (\n            select PG.CustomerId\n            from Purchases PG Natural Join Products PrG\n            where PrG.BrandName = "Google"\n        )\n    )\n) as _count\nfrom Products\nwhere BrandName = "Samsung"\norder by ProductName\n'})
Query 5eaf2004334f483dd6bba135 has been updated
==============
['Customers', 'c1']
['Purchases', 'purc1']
['Products', 'prod1']
({'queryNum': 771}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Customers, Purchases, Products\nWHERE BrandName = 'Samsung'\nAND CustomerId=purCustomerId\nAND purProductId=ProductId\nAND FirstName IN (   SELECT DISTINCT c2.FirstName\n                    FROM Customers c2, Purchases purc2, Products prod2\n                    WHERE c2.PhoneNumber LIKE'%4'\n                    OR c2.FirstName LIKE 'J%'\n                    OR ((prod2.BrandName='Google'\n                        OR prod2.BrandName='Apple')\n                        AND (c2.CustomerId=purc2.CustomerId AND purc2.ProductId=prod2.ProductId)))\n\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2004334f483dd6bba136 has been updated
==============
['Products']
['Purchases']
({'queryNum': 772}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products\nJOIN Purchases ON Purchases.ProductId = Products.ProductId\nWHERE Products.BrandName = "Samsung" \nAND ( \n    EXISTS (\n        SELECT CustomerId\n        FROM Customers\n        WHERE Customers.CustomerId = Purchases.CustomerId AND (Customers.FirstName LIKE \'J%\' OR MOD(Customers.PhoneNumber, 10) = 4)\n    )\n    OR (\n        EXISTS (\n            SELECT Products.ProductId\n            FROM Products\n            JOIN Purchases p2 ON p2.ProductId = Products.ProductId\n            WHERE Purchases.CustomerId = p2.CustomerId\n            AND Products.BrandName in ("Apple", "Google")\n        \n        ) \n    )\n)\nGROUP by ProductName\nORDER by ProductName'})
Query 5eaf2004334f483dd6bba137 has been updated
==============
['Products', 'p1']
({'queryNum': 773}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(*) \n    FROM Customers c NATURAL JOIN Purchases NATURAL JOIN Products p2 \n    WHERE p2.ProductName = ProductName \n    AND (\n    c.FirstName LIKE "J%"\n    OR c.PhoneNumber LIKE "%4"\n    OR c.CustomerId IN \n        (SELECT CustomerId \n        FROM Purchases \n        NATURAL JOIN Products \n        WHERE BrandName = "Google" OR BrandName = "Apple") \n    )) AS counts\nFROM Products\nWHERE BrandName = "Samsung" \nORDER BY ProductName'})
Query 5eaf2004334f483dd6bba138 has been updated
==============
['Customers', 'C2']
['Purchases', 'P2']
['Products', 'P3']
({'queryNum': 774}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(ProductId)\nFROM Customers JOIN Purchases ON CustomerId = CustomerId JOIN Products ON ProductId = ProductId\nWHERE BrandName = 'Samsung' AND (FirstName LIKE 'J%' OR PhoneNumber % 10 = 4 OR CustomerId = ANY(SELECT C4.CustomerId\nFROM Customers C4 JOIN Purchases P5 ON C4.CustomerId = P5.CustomerId JOIN Products P6 ON P6.ProductId = P5.ProductId\nWHERE P6.BrandName = 'Apple' OR P6.BrandName = 'Google'))\nGROUP BY ProductId\nORDER BY ProductName;"})
Query 5eaf2004334f483dd6bba139 has been updated
==============
['Customers', 'c']
['Products', 'pr']
['Purchases', 'pu']
({'queryNum': 775}, {'parsedRemovedQuery': "SELECT DISTINCT ProductName, COUNT(CustomerId)\nFROM Customers, Products, Purchases\nWHERE BrandName = 'Samsung'\nAND ProductId = ProductId\nAND CustomerId = CustomerId\nAND (FirstName LIKE 'J%'\n    OR PhoneNumber LIKE '%4.0'\n    OR CustomerId in  \n        (SELECT CustomerId \n        FROM Customers, Products, Purchases\n        WHERE ProductId = ProductId\n        AND BrandName IN ('Apple', 'Google')\n        AND CustomerId = CustomerId\n        )\n    )\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2004334f483dd6bba13a has been updated
==============

['(SELECT', 'DISTINCT', 'tmp1.ProductName,', 'tmp1.CustomerId\n', '', '', '', '', '', 'FROM', '(SELECT', 'p2.ProductName,', 'p1.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'p1', 'NATURAL', 'JOIN', 'Products', 'p2\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'p2.BrandName', '=', '"Samsung")', 'AS', 'tmp1\n', '', '', '', '', '', '', '', '', '', '', '', 'INNER', 'JOIN\n', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'p4.ProductName,', 'p3.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Customers', 'c', 'NATURAL', 'JOIN', 'Purchases', 'p3', 'NATURAL', 'JOIN', 'Products', 'p4\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'c.FirstName', 'LIKE', '"J%"', 'OR', 'c.PhoneNumber', 'LIKE', '"%4"', 'OR', 'p4.BrandName', '=', '"Apple"', 'OR', 'p4.BrandName', '=', '"Google")', 'AS', 'tmp2\n', '', '', '', '', '', '', '', '', '', '', '', 'ON', 'tmp1.CustomerId', '=', 'tmp2.CustomerId)', 'AS', 'tmp3']
({'queryNum': 776}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM (SELECT DISTINCT tmp1.ProductName, tmp1.CustomerId\n      FROM (SELECT p2.ProductName, p1.CustomerId\n            FROM Purchases p1 NATURAL JOIN Products p2\n            WHERE p2.BrandName = "Samsung") AS tmp1\n            INNER JOIN\n           (SELECT p4.ProductName, p3.CustomerId\n            FROM Customers c NATURAL JOIN Purchases p3 NATURAL JOIN Products p4\n            WHERE c.FirstName LIKE "J%" OR c.PhoneNumber LIKE "%4" OR p4.BrandName = "Apple" OR p4.BrandName = "Google") AS tmp2\n            ON tmp1.CustomerId = tmp2.CustomerId) AS\nGROUP BY ProductName\n\n\n\n\n'})
Query 5eaf2004334f483dd6bba13b has been updated
==============
({'queryNum': 777}, {'parsedRemovedQuery': "SELECT Prod1.ProductName, COUNT(Cus1.CustomerId)\nFROM ((Products Prod1 INNER JOIN Purchases Pur1 ON Prod1.ProductId = Pur1.ProductId) INNER JOIN Customers Cus1 ON Pur1.CustomerId = Cus1.CustomerId)\nWHERE Prod1.BrandName = 'Samsung' AND (Cus1.FirstName LIKE 'j%' Or Cus1.PhoneNumber LIKE '%4' OR EXISTS (\n    SELECT Pur2.CustomerId\n    FROM (Products Prod2 INNER JOIN Purchases Pur2 ON Prod2.ProductId = Pur2.ProductId)\n    WHERE (Prod2.BrandName = 'Apple' OR Prod2.BrandName = 'Google') AND Cus1.CustomerId = Pur2.CustomerId\n))\nGROUP BY Prod1.ProductName\nORDER BY Prod1.ProductName"})
Query 5eaf2004334f483dd6bba13c has been updated
==============
['Purchases', 'Pu']
['Products', 'P']
['Customers', 'C']
({'queryNum': 778}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Purchases, Products, Customers\nWHERE BrandName = 'Samsung' AND ProductId = ProductId AND CustomerId = CustomerId AND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId IN (\n        SELECT CustomerId\n        FROM Purchases Pu1, Products P1\n        WHERE Pu1.ProductId = P1.ProductId AND (P1.BrandName = 'Apple' OR P1.BrandName = 'Google'))\n        )\nGROUP BY ProductName\nORDER BY ProductName;"})
Query 5eaf2004334f483dd6bba13d has been updated
==============
['Customers', 'cs1']
['Products', 'pd1']
['Purchases', 'ps1']
({'queryNum': 779}, {'parsedRemovedQuery': 'SELECT DISTINCT ProductName, COUNT(CustomerId)\nFROM Customers NATURAL JOIN Products NATURAL JOIN Purchases\nWHERE BrandName = \'Samsung\' and (FirstName LIKE "J%" or PhoneNumber LIKE "%4" or CustomerId IN\n                                        (SELECT ps2.CustomerId\n                                        FROM Products pd2 NATURAL JOIN Purchases ps2\n                                        WHERE pd2.BrandName = \'Apple\' or pd2.BrandName = \'Google\'))\nGROUP BY ProductName\nORDER BY ProductName ASC'})
Query 5eaf2004334f483dd6bba13e has been updated
==============
['Customers']
['(SELECT', '*', 'FROM', 'Purchases', 'NATURAL', 'JOIN', 'Products', 'WHERE', 'BrandName', '=', '"Samsung")', 'as', 'P']
({'queryNum': 780}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Customers NATURAL JOIN (SELECT * FROM Purchases NATURAL JOIN Products WHERE BrandName = "Samsung")\nWHERE FirstName LIKE \'J%\' OR PhoneNumber LIKE \'%4\' OR CustomerId IN (SELECT CustomerId FROM Purchases NATURAL JOIN Products WHERE BrandName = \'Apple\' OR BrandName = \'Google\' )\nGROUP BY (ProductId)\nORDER BY ProductName ASC;\n\n\n    '})
Query 5eaf2004334f483dd6bba13f has been updated
==============
['Products', 'P']
['(\n', '', '', '', '', '', '', '', 'SELECT\n', '', '', '', '', '', '', '', '', '', '', '', 'PC.ProductId,', '\n', '', '', '', '', '', '', '', '', '', '', '', 'count(PC.CustomerId)', 'as', 'cnt\n', '', '', '', '', '', '', '', 'FROM\n', '', '', '', '', '', '', '', '', '', '', '', 'Purchases', 'PC\n', '', '', '', '', '', '', '', '', '', '', '', 'NATURAL', 'JOIN\n', '', '', '', '', '', '', '', '', '', '', '', 'Products', 'PD\n', '', '', '', '', '', '', '', '', '', '', '', 'NATURAL', 'JOIN\n', '', '', '', '', '', '', '', '', '', '', '', 'Customers', 'CT\n', '', '', '', '', '', '', '', 'WHERE\n', '', '', '', '', '', '', '', '', '', '', '', 'PD.BrandName', '=', "'Samsung'\n", '', '', '', '', '', '', '', '', '', '', '', 'AND', '(\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'CT.FirstName', 'LIKE', "'J%'\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'OR\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'CAST(CT.PhoneNumber', 'as', 'CHAR)', 'LIKE', "'%4'\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'OR\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'PC.CustomerId', 'IN', '(\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'SELECT\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'pcc.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Purchases', 'pcc\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'NATURAL', 'JOIN\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Products', 'pdd\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'pdd.BrandName', 'IN', "('Apple',", "'Google')\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ')\n', '', '', '', '', '', '', '', '', '', '', '', ')\n', '', '', '', '', '', '', '', 'GROUP', 'by', 'PC.ProductId\n', '', '', '', ')', 'as', 't']
({'queryNum': 781}, {'parsedRemovedQuery': "SELECT\n    ProductName,\n    cnt\nFROM \n    Products\n    JOIN (\n        SELECT\n            PC.ProductId, \n            count(PC.CustomerId) as cnt\n        FROM\n            Purchases PC\n            NATURAL JOIN\n            Products PD\n            NATURAL JOIN\n            Customers CT\n        WHERE\n            PD.BrandName = 'Samsung'\n            AND (\n                CT.FirstName LIKE 'J%'\n                OR\n                CAST(CT.PhoneNumber as CHAR) LIKE '%4'\n                OR\n                PC.CustomerId IN (\n                    SELECT\n                        pcc.CustomerId\n                    FROM \n                        Purchases pcc\n                        NATURAL JOIN\n                        Products pdd\n                    WHERE\n                        pdd.BrandName IN ('Apple', 'Google')\n                )\n            )\n        GROUP by PC.ProductId\n    )\n        on ProductId = ProductId\nORDER by ProductName"})
Query 5eaf2004334f483dd6bba140 has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 782}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(PurchaseId)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE BrandName = "Samsung" AND (FirstName = "J%" OR PhoneNumber = "%4" OR CustomerId IN (SELECT CustomerId\n                  FROM Purchases b NATURAL JOIN Products p\n                  WHERE BrandName = "Apple" OR BrandName = "Google"))\nGROUP BY ProductName\nORDER BY ProductName'})
Query 5eaf2004334f483dd6bba141 has been updated
==============
['Purchases', 'AS', 'p']
['Products', 'AS', 'pro']
({'queryNum': 783}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Purchases AS\nINNER JOIN Products AS ON ProductId = ProductId\nWHERE CustomerId IN \n(SELECT DISTINCT CustomerId\nFROM Customers AS c\nWHERE c.FirstName LIKE \'J%\' OR c.PhoneNumber LIKE \'%4\'\nUNION\nSELECT DISTINCT c.CustomerId\nFROM Customers AS c\nINNER JOIN Purchases AS pur ON c.CustomerId = pur.CustomerId\nINNER JOIN Products as ON pur.ProductId = ProductId\nWHERE BrandName = \'Apple\' OR BrandName = \'Google\') AND BrandName = "SAMSUNG"\nGROUP BY ProductName\nORDER BY ProductName ASC;\n'})
Query 5eaf2004334f483dd6bba142 has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 784}, {'parsedRemovedQuery': 'SELECT Products.ProductName, COUNT(Customers.CustomerId)\nFROM Products JOIN Purchases ON Products.ProductId = Purchases.ProductId JOIN Customers ON Purchases.CustomerId = Customers.CustomerId\nWHERE Products.BrandName = \'Samsung\' AND\n    (Customers.FirstName LIKE \'J%\' OR \n     Customers.PhoneNumber LIKE \'%4\' OR \n     Customers.CustomerId IN \n        (SELECT Customers.CustomerId\n         FROM Products JOIN Purchases ON Products.ProductId = Purchases.ProductId JOIN Customers ON Purchases.CustomerId = Customers.CustomerId\n         WHERE Products.BrandName = "Apple" OR Products.BrandName = "Google"))\nGROUP BY Products.ProductName\nORDER BY Products.ProductName ASC'})

Query 5eaf2004334f483dd6bba143 has been updated
==============
['Customers', 'c']
['Purchases', 'p1']
['Products', 'ppp']
({'queryNum': 785}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Customers \nJOIN Purchases ON (CustomerId = CustomerId) \nJOIN Products ON (ProductId = ProductId)\nWHERE ProductId in (SELECT p2.ProductId FROM Products p2 WHERE p2.BrandName = "Samsung") AND (CustomerId in (SELECT pp.CustomerId FROM Purchases pp WHERE pp.ProductId IN (SELECT p3.ProductId FROM Products p3 WHERE p3.BrandName = "Apple" OR p3.BrandName = "Google")) OR FirstName Like "J%" OR MOD(PhoneNumber,10) = 4)\nGROUP BY ProductName'})
Query 5eaf2004334f483dd6bba144 has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 786}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products\nJOIN Purchases ON Purchases.ProductId = Products.ProductId\nJOIN Customers ON Customers.CustomerId = Purchases.CustomerId\nWHERE Products.BrandName = "Samsung"\nAND (\n    LEFT(Customers.FirstName, 1) = "J" \n    OR RIGHT(Customers.PhoneNumber, 1) = 4\n    OR EXISTS (\n        SELECT *\n        FROM Purchases JOIN Products ON Purchases.ProductId = Products.ProductId\n        WHERE Customers.CustomerId = Purchases.CustomerId\n        AND Products.BrandName IN ("Apple", "Google")\n    )\n)\nGROUP BY Products.ProductId\nORDER BY Products.ProductName;'})
Query 5eaf2004334f483dd6bba145 has been updated
==============
['Products', 'A']
['Purchases', 'B']
['Customers', 'C']
({'queryNum': 787}, {'parsedRemovedQuery': 'select ProductName, count(*)\nfrom Products, Purchases, Customers\nwhere ProductId = ProductId AND CustomerId = CustomerId AND BrandName = "Samsung" AND (FirstName = "J%" OR PhoneNumber %10 = 4 \n    OR CustomerId in \n    (\n    select x.CustomerId\n    from Purchases x, Products y\n    where x.ProductId = y.ProductId AND (y.BrandName = "Apple" OR y.BrandName="Google")\n    )   \n\n    )\ngroup by ProductName'})
Query 5eaf2004334f483dd6bba146 has been updated
==============
['Products', 'P1']
({'queryNum': 788}, {'parsedRemovedQuery': "select ProductName, (\n  select count(*) \n  from Customers\n  where (PhoneNumber like '%4' or FirstName like 'J%' or CustomerId in (\n    select P2.CustomerId \n    from (select * from Purchases natural join Products) P2\n    where P2.BrandName = 'Apple' or P2.BrandName = 'Google'\n  )) and CustomerId in ( \n    select CustomerId from Purchases P3 where P3.ProductId = ProductId\n  )\n) + 1 as num\nfrom Products\nwhere BrandName = 'Samsung'\nOrder by ProductName"})
Query 5eaf2004334f483dd6bba147 has been updated
==============
['Products']
['Purchases']
({'queryNum': 789}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products\nJOIN Purchases ON Purchases.ProductId = Products.ProductId\nWHERE Products.BrandName = "Samsung" AND (\n    EXISTS (\n        SELECT CustomerId\n        FROM Customers\n        WHERE Customers.CustomerId = Purchases.CustomerId AND (Customers.FirstName LIKE \'J%\' OR Customers.PhoneNumber LIKE \'%4\')\n    ) OR EXISTS (\n        SELECT Products.ProductId\n        FROM Products\n        JOIN Purchases P ON P.ProductId = Products.ProductId\n        WHERE Purchases.CustomerId = P.CustomerId AND \n            Products.BrandName IN ("Apple", "Google")\n    )\n)\nGROUP BY ProductName\nORDER BY ProductName'})
Query 5eaf2004334f483dd6bba148 has been updated
==============
['Products', 'p']
['(\nselect', 'productid']
['count(*)', 'as', 'num\nfrom', 'Purchases', 'p1', 'join', 'Customers', 'c', 'on', 'c.customerid=p1.customerid\nwhere', 'p1.productid', 'in', '\n', '', '(select', 'pro.productid\n', '', 'from', 'Products', 'pro', 'join', 'Purchases', 'pur', '\n', '', 'on', 'pro.productid=pur.productid', '\n', '', 'where', 'brandname="Samsung")', '\nand', '(c.firstname', 'like', '"J%"', 'or', 'phonenumber', 'like', '"%4"', '\n', '', '', '', '', '', '', '', 'or', 'c.customerid', 'in', '(', '', 'select', 'customerid\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'from', 'Purchases', 'p', 'join', 'Products', 'p2\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'on', 'p.productid=p2.productid', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'where', 'p2.brandName="Google"', 'or', 'p2.brandName="Apple"))\n', '', 'group', 'by', 'p1.productid', '', '', '', '', '', '', '\n)', 'as', 'ps']
({'queryNum': 790}, {'parsedRemovedQuery': 'select productName, num\nfrom Products, \n(\nselect, count(*) Purchases p1 join Customers c on c.customerid=p1.customerid\nwhere p1.productid in \n  (select pro.productid\n  from Products pro join Purchases pur \n  on pro.productid=pur.productid \n  where brandname="Samsung") \nand (c.firstname like "J%" or phonenumber like "%4" \n        or c.customerid in (  select customerid\n                          from Purchases p join Products p2\n                          on productid=p2.productid \n                          where p2.brandName="Google" or p2.brandName="Apple"))\n  group by p1.productid       \n)\nwhere productid=productid\norder by productname'})
Query 5eaf2004334f483dd6bba149 has been updated
==============
['Products', 'P']
['Customers', 'C']
['Purchases', 'P1']
({'queryNum': 791}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products, Customers, Purchases\nWHERE BrandName = 'Samsung' AND ProductId = ProductId AND CustomerId = CustomerId \n      AND (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId \n                                                IN (SELECT P3.CustomerId\n                                                    FROM Purchases P3, Products P4\n                                                    WHERE P3.ProductId = P4.ProductId AND (P4.BrandName = 'Apple' OR P4.BrandName = 'Google')) )\nGROUP BY ProductName\nORDER BY ProductName\n\n\n"})
Query 5eaf2004334f483dd6bba14a has been updated
==============
['Products', 'pr']
['Purchases', 'pu']
['(select', 'c.Customerid\n', '', '', '', '', '', '', '', 'from', 'Customers', 'c\n', '', '', '', '', '', '', '', 'join', 'Purchases', 'pu', '\n', '', '', '', '', '', '', '', 'on', 'pu.CustomerId', '=', 'c.CustomerId\n', '', '', '', '', '', '', '', 'inner', 'join', 'Products', 'pr\n', '', '', '', '', '', '', '', 'on', 'pr.ProductId', '=', 'pu.ProductId\n', '', '', '', '', '', '', '', 'where', 'c.FirstName', 'LIKE', "'J%'", '\n', '', '', '', '', '', '', '', 'OR', 'c.PhoneNumber', 'LIKE', "'%4'\n", '', '', '', '', '', '', '', 'OR', 'pr.BrandName', 'IN', "('Apple',", "'Google'))", 'c']
({'queryNum': 792}, {'parsedRemovedQuery': "select ProductName, count(distinct PurchaseId)\nfrom Products\njoin Purchases\non ProductId = ProductId\njoin (select Customerid\n        from Customers\n        join Purchases \n        on CustomerId = CustomerId\n        inner join Products\n        on ProductId = ProductId\n        where FirstName LIKE 'J%' \n        OR PhoneNumber LIKE '%4'\n        OR BrandName IN ('Apple', 'Google'))\non CustomerId = CustomerId\nwhere BrandName = 'Samsung'\ngroup by ProductName\norder by ProductName\n\n"})
Query 5eaf2004334f483dd6bba14b has been updated
==============
['Products']
({'queryNum': 793}, {'parsedRemovedQuery': 'select ProductName, (\n    select count(CustomerId)\n    from Purchases natural join Customers as PC\n    where ProductId=Products.ProductId\n    and (\n        FirstName like "J%"\n        or PhoneNumber % 10 = 4\n        or exists (\n            select *\n            from Purchases natural join Products\n            where CustomerId=PC.CustomerId\n            and BrandName in ("Apple", "Google")\n        )\n    )\n) as Num\nfrom Products\nwhere BrandName="Samsung"\norder by ProductName;'})
Query 5eaf2004334f483dd6bba14c has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 794}, {'parsedRemovedQuery': 'select Products.ProductName, count(Purchases.CustomerId)\nfrom Products\njoin Purchases on Purchases.ProductId = Products.ProductId\njoin Customers on Purchases.CustomerId = Customers.CustomerId\nwhere Products.BrandName = "Samsung" \nand (\n  Customers.CustomerId in (\n    select Customers.CustomerId \n    from Customers\n    join Purchases on Customers.CustomerId = Purchases.CustomerId\n    join Products on Products.ProductId = Purchases.ProductId\n    where Products.BrandName = "Google" or Products.BrandName = "Apple"\n  )\n  or Customers.FirstName like "J%"\n  or mod(Customers.PhoneNumber, 10) = 4\n)\ngroup by Products.ProductName'})
Query 5eaf2005334f483dd6bba14d has been updated
==============
['Products']
['Customers']
['Purchases']
({'queryNum': 795}, {'parsedRemovedQuery': "SELECT Products.ProductName, COUNT(*) FROM Products\nNATURAL JOIN Customers\nNATURAL JOIN Purchases\nWHERE Products.BrandName = 'Samsung'\n    AND (Customers.FirstName LIKE 'J%'\n    OR Customers.PhoneNumber LIKE '%4'\n    OR Customers.CustomerId IN (Select Customers.CustomerId From Customers NATURAL JOIN Purchases where Purchases.ProductId IN (Select Products.ProductId FROM Products where Products.BrandName = 'Apple' OR Products.BrandName = 'Google')))\nGROUP BY Products.ProductName\n    \n    \n    "})
Query 5eaf2005334f483dd6bba14e has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 796}, {'parsedRemovedQuery': "SELECT ProductName, count(DISTINCT CustomerId)\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE BrandName = 'Samsung' \n    AND \n    (FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR\n    (CustomerId IN (\n        SELECT DISTINCT CustomerId\n        FROM Purchases NATURAL JOIN Products\n        WHERE BrandName = 'Google' or BrandName = 'Apple'\n        )\n    ))\nGROUP BY ProductName\nHAVING count(DISTINCT CustomerId) > 0"})
Query 5eaf2005334f483dd6bba14f has been updated
==============
['Products', 'Pro']
['Customers', 'C']
['Purchases', 'Pur']
({'queryNum': 797}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Products, Customers, Purchases\nWHERE CustomerId = CustomerId AND ProductId = ProductId \n    AND BrandName = \'Samsung\' AND (FirstName LIKE \'J%\' OR PhoneNumber LIKE \'%4\' \n        OR EXISTS (SELECT Pur2.CustomerId FROM Products Pro2, Purchases Pur2 \n        WHERE Pur2.CustomerId = CustomerId AND Pro2.ProductId = Pur2.ProductId \n        AND (Pro2.BrandName = \'Apple\' OR Pro2.BrandName = \'Google\')  ) ) \nGROUP BY ProductName\n\n\n-- SELECT DISTINCT ProductName, FirstName, PhoneNumber,  (SELECT\n--     COUNT(*) FROM Customers, Purchases, Products\n--     WHERE CustomerId = CustomerId AND ProductId = ProductId\n--         AND (FirstName LIKE "J%" OR PhoneNumber LIKE "%4.0")\n--     )\n-- FROM Customers, Purchases, Products\n-- WHERE BrandName = "Samsung"\n-- GROUP BY ProductName, FirstName, PhoneNumber\n-- ORDER BY ProductName\n\n\n-- SELECT DISTINCT ProductName, FirstName, PhoneNumber,  (SELECT\n--     COUNT(*) FROM Customers, Purchases, Products\n--     WHERE CustomerId = CustomerId AND ProductId = ProductId\n--         AND (FirstName LIKE "J%" OR PhoneNumber LIKE "%4.%"\n--             -- OR EXISTS ( SELECT * FROM Customers C2, Purchases Pur2, Products Pro2\n--             --             WHERE C2.CustomerId = Pur2.CustomerId AND Pur2.ProductId = Pro2.ProductId\n--             --             AND (Pro2.BrandName = "Apple" OR Pro2.BrandName = "Google")\n--             --             )\n--             )\n--     )\n-- FROM Customers, Purchases, Products\n-- WHERE BrandName = "Samsung"\n-- GROUP BY ProductName, FirstName, PhoneNumber\n-- ORDER BY ProductName\n\n\n\n-- SELECT DISTINCT ProductName, (SELECT\n--     COUNT(*) FROM Customers, Purchases, Products\n--     WHERE CustomerId = CustomerId AND ProductId = ProductId\n--         AND ((FirstName LIKE "J%" OR PhoneNumber LIKE "%4")\n--             -- OR EXISTS( SELECT BrandName FROM Products\n--             --             WHERE (BrandName = "Apple" OR BrandName = "Google")\n--             -- )\n--         )\n--     )\n-- FROM Customers, Purchases, Products\n-- WHERE BrandName = "Samsung"\n-- GROUP BY ProductName\n-- ORDER BY ProductName\n\n\n\n-- SELECT DISTINCT ProductName\n-- FROM Customers, Purchases, Products\n-- WHERE BrandName = "Samsung"\n--         AND (CustomerId = CustomerId AND ProductId = ProductId \n--             AND (FirstName LIKE "J%" OR PhoneNumber LIKE "%4"))\n--             OR EXISTS( SELECT BrandName FROM Products\n--                             WHERE (BrandName = "Apple" OR BrandName = "Google"))\n--             -- OR EXISTS (SELECT BrandName \n--             --     FROM Customers, Purchases, Products\n--             --     WHERE CustomerId = CustomerId AND ProductId = ProductId \n--             --         AND (BrandName = "Apple" OR BrandName = "Google")\n--             --     )\n-- ORDER BY ProductName\n'})

Query 5eaf2005334f483dd6bba150 has been updated
==============
['Products', 'pr']
['Purchases', 'p']
['Customers', 'c']
({'queryNum': 798}, {'parsedRemovedQuery': 'SELECT DISTINCT ProductName, COUNT(*)\nFROM Products\n    JOIN Purchases ON (ProductId = ProductId)\n    JOIN Customers ON (CustomerId = CustomerId)\nWHERE BrandName = "Samsung" AND (FirstName LIKE "J%" OR PhoneNumber LIKE "%4" OR CustomerId IN (\n    SELECT CustomerId\n    FROM Purchases purch JOIN Products prods ON (purch.ProductId = prods.ProductId)\n    WHERE prods.BrandName = "Apple" OR prods.BrandName = "Google"\n))\nGROUP BY ProductName\nORDER BY ProductName'})
Query 5eaf2005334f483dd6bba151 has been updated
==============
['Products', 'p2']
({'queryNum': 799}, {'parsedRemovedQuery': "SELECT ProductName, (SELECT COUNT(*) FROM Customers c INNER JOIN Purchases p ON c.CustomerId = p.CustomerId INNER JOIN Products r on p.ProductId = r.ProductId WHERE r.ProductName = ProductName and (c.FirstName like 'J%' OR MOD(c.PhoneNumber,10) = 4 OR c.CustomerId IN (SELECT c3.CustomerId FROM Customers c3 INNER JOIN Purchases p3 ON c3.CustomerId = p3.CustomerId INNER JOIN Products r3 ON p3.ProductId = r3.ProductId WHERE r3.BrandName = 'Apple' OR r3.BrandName = 'Google'))) as cnt\nFROM Products\nWHERE BrandName = 'Samsung'\nORDER BY ProductName"})
Query 5eaf2005334f483dd6bba152 has been updated
==============
['(SELECT', 'ProductName\n', '', '', '', '', '', 'FROM', 'Customers', 'C', 'inner', 'join', 'Purchases', 'P', 'on', 'C.CustomerId', '=', 'P.CustomerId', 'inner', 'join', 'Products', 'Pr', 'on', 'P.ProductId', '=', 'Pr.ProductId\n', '', '', '', '', 'WHERE', 'BrandName', '=', '"Samsung"', '', 'AND', '(FirstName', 'LIKE', '"J%"', 'or', 'PhoneNumber', 'LIKE', '"%4"\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'or', 'P.CustomerId', 'in', '(SELECT', 'A.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'A\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'A.ProductId', 'in', '(SELECT', 'ProductId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Products', 'B\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'BrandName', '=', '"Apple"\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'or', 'BrandName', '=', '"Google")\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ')))', 'AS', 'G']
({'queryNum': 800}, {'parsedRemovedQuery': 'SELECT ProductName, count(*)\nFROM (SELECT ProductName\n      FROM Customers C inner join Purchases P on C.CustomerId = P.CustomerId inner join Products Pr on P.ProductId = Pr.ProductId\n     WHERE BrandName = "Samsung"  AND (FirstName LIKE "J%" or PhoneNumber LIKE "%4"\n                                  or P.CustomerId in (SELECT A.CustomerId\n                                                    FROM Purchases A\n                                                    WHERE A.ProductId in (SELECT ProductId\n                                                                        FROM Products B\n                                                                        WHERE BrandName = "Apple"\n                                                                        or BrandName = "Google")\n                                                                        ))) AS\nGROUP BY ProductName\n\n                                                            \n                                            \n    '})
Query 5eaf2005334f483dd6bba153 has been updated
==============
['Products', 'p']
({'queryNum': 801}, {'parsedRemovedQuery': 'select ProductName, (select count(*) from Customers c natural join Purchases natural join Products pp where pProductName = ProductName and (c.FirstName like \'J%\' or c.CustomerId in (select CustomerId from Purchases natural join Products where BrandName = "Google" or BrandName = "Apple") or c.PhoneNumber like \'%4\')) as cnt from Products where BrandName = "Samsung" order by ProductName'})
Query 5eaf2005334f483dd6bba154 has been updated
==============
['Customers']
['(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', '*\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Products\n', '', '', '', '', '', '', '', '', '', '', '', 'NATURAL', 'JOIN', 'Purchases\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'BrandName', '=', "'Samsung'\n", '', '', '', '', '', '', '', '', '', '', '', ')\n', '', '', '', 'AS', 'joined']
({'queryNum': 802}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Customers\nNATURAL JOIN (\n            SELECT *\n            FROM Products\n            NATURAL JOIN Purchases\n            WHERE BrandName = 'Samsung'\n            )\n    AS\nWHERE CustomerId IN (\n                    SELECT CustomerId\n                    FROM Products\n                    NATURAL JOIN Purchases\n                    WHERE BrandName = 'Google'\n                        OR BrandName = 'Apple'\n                    )\n    OR PhoneNumber LIKE '%4'\n    OR FirstName LIKE 'J%'\nGROUP BY ProductId\nORDER BY ProductName ASC;"})
Query 5eaf2005334f483dd6bba155 has been updated
==============
['Customers', 'c']
['Products', 'd']
['Purchases', 'p']
({'queryNum': 803}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(CustomerId)\nFROM Customers NATURAL JOIN Products NATURAL JOIN Purchases\nWHERE BrandName = "Samsung" AND (FirstName LIKE "J%" OR PhoneNumber mod 10 = 4 OR FirstName in (SELECT FirstName FROM Customers c1 NATURAL JOIN Purchases p1 NATURAL JOIN Products d1 WHERE BrandName = "Google" OR BrandName = "Apple"))\nGROUP by ProductName\nORDER BY ProductName'})
Query 5eaf2005334f483dd6bba156 has been updated
==============
['(\n\nSELECT', 'DISTINCT', 'prod.ProductName,', 'pur.CustomerId\nFROM', 'Purchases', 'pur,', 'Products', 'prod,', 'Customers', 'cus\nWHERE', '(pur.CustomerId', '=', 'cus.CustomerId', 'AND', 'pur.ProductId', '=', 'prod.ProductId', 'AND', 'prod.BrandName', '=', '"Samsung")\n', '', '', '', 'AND', '(cus.FirstName', 'LIKE', '"J%"', 'OR', 'cus.PhoneNumber', 'LIKE', '"%4"', 'OR', 'cus.CustomerId', 'IN', '(SELECT', 'CustomerId', 'FROM', 'Purchases', 'WHERE', 'ProductId', 'IN', '(SELECT', 'ProductId', 'FROM', 'Products', 'WHERE', 'BrandName', '=', '"Apple"', 'OR', 'BrandName', '=', '"Google")))\n\n)', 'AS', 'products_and_customers']
({'queryNum': 804}, {'parsedRemovedQuery': 'SELECT DISTINCT ProductName, COUNT(CustomerId)\nFROM (\n\nSELECT DISTINCT prod.ProductName, pur.CustomerId\nFROM Purchases pur, Products prod, Customers cus\nWHERE (pur.CustomerId = cus.CustomerId AND pur.ProductId = prod.ProductId AND prod.BrandName = "Samsung")\n    AND (cus.FirstName LIKE "J%" OR cus.PhoneNumber LIKE "%4" OR cus.CustomerId IN (SELECT CustomerId FROM Purchases WHERE ProductId IN (SELECT ProductId FROM Products WHERE BrandName = "Apple" OR BrandName = "Google")))\n\n) AS\nGROUP BY ProductName'})
Query 5eaf2005334f483dd6bba157 has been updated
==============
['Purchases', 'pur']
['Products', 'pro']
['Customers', 'c']
({'queryNum': 805}, {'parsedRemovedQuery': 'select ProductName,count(*)\n\nfrom  Purchases natural join Products natural join Customers\n\nwhere BrandName = \'Samsung\' and \n\n        (FirstName like "J%" or PhoneNumber like "%4" or CustomerId in (\n\n    select C.CustomerId \n    from Customers C natural join Products P\n    where P.BrandName = \'Apple\' or P.BrandName = \'Google\'\n\n))\n\n\ngroup by ProductName\norder by ProductName asc'})
Query 5eaf2005334f483dd6bba158 has been updated
==============
['Customers', 'AS', 'C1']
['Purchases', 'AS', 'PU1']
['Products', 'AS', 'PR1']
({'queryNum': 806}, {'parsedRemovedQuery': "SELECT PR1.ProductName, COUNT(C1.CustomerId)\nFROM Customers AS C1, Purchases AS PU1, Products AS PR1\nWHERE C1.CustomerId = PU1.CustomerId\n    AND PU1.ProductId = PR1.ProductId\n    AND PR1.BrandName = 'Samsung'\n    AND (C1.FirstName LIKE 'J%'\n        OR C1.PhoneNumber LIKE '%4'\n        OR C1.CustomerId IN (SELECT C2.CustomerId\n            FROM Customers AS C2, Purchases AS PU2, Products AS PR2\n            WHERE C2.CustomerId = PU2.CustomerId\n                AND PU2.ProductId = PR2.ProductId\n                AND (PR2.BrandName = 'Apple'\n                    OR PR2.BrandName = 'Google')))\nGROUP BY PR1.ProductId\nORDER BY PR1.ProductName;"})

Query 5eaf2005334f483dd6bba159 has been updated
==============
['Customers', 'c1']
['Purchases', 'p11']
['Products', 'p12']
({'queryNum': 807}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Customers \nLEFT JOIN Purchases ON CustomerId = CustomerId\nLEFT JOIN Products ON ProductId = ProductId\nWHERE BrandName = "Samsung"\nAND CustomerId IN \n(\nSELECT c.CustomerId\nFROM Customers c \nLEFT JOIN Purchases p1 ON c.CustomerId = p1.CustomerId\nLEFT JOIN Products p2 ON p1.ProductId = p2.ProductId\nWHERE \nc.FirstName LIKE "J%"\nOR MOD(c.PhoneNumber, 10) = 4\nOR p2.BrandName = "Apple" \nOR p2.BrandName = "Google"\n)\nGROUP BY ProductName\nORDER BY ProductName\n'})
Query 5eaf2005334f483dd6bba15a has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 808}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\nWHERE BrandName = 'Samsung' AND (Firstname LIKE 'J%' OR PhoneNumber LIKE '%4' OR CustomerId in \n                                                (SELECT CustomerId\n                                                FROM Products NATURAL JOIN Purchases NATURAL JOIN Customers\n                                                WHERE BrandName IN ('Apple', 'Google')))\nGROUP BY ProductId\nORDER BY ProductName"})
Query 5eaf2005334f483dd6bba15b has been updated
==============
({'queryNum': 809}, {'parsedRemovedQuery': 'select table2.pro_name, count(table1.cid)  from\n(SELECT distinct c.customerid cid\nFrom Purchases pur, Customers c, Products pro\nwhere (left(c.Firstname, 1) = "J" or right(c.phonenumber ,1) = 4 or pro.brandname = "Google" \n    or pro.brandname = "Apple") \nand c.customerid = pur.customerid and pur.ProductID = pro.productId\n) \nas table1,\n\n(SELECT  c.customerid cid, pro.productname pro_name\nFrom Customers c, Purchases pur, Products pro\nWhere c.customerid = pur.customerid and pur.ProductID = pro.productId and pro.brandname = "Samsung")\nas table2\nwhere table1.cid = table2.cid\ngroup by table2.pro_name'})
Query 5eaf2005334f483dd6bba15c has been updated
==============
['Products']
['Customers']
['Purchases']
({'queryNum': 810}, {'parsedRemovedQuery': "select Products.ProductName, count(Products.ProductId)\nfrom Products natural join Customers natural join Purchases\n \nwhere Products.BrandName = 'Samsung' AND ( Customers.FirstName like 'J%' OR Customers.PhoneNumber like '%4' OR  Customers.CustomerId IN \n\n(select Customers.CustomerId\nfrom ((Products\ninner join Purchases on Purchases.ProductId = Products.ProductId)\ninner join Customers on Purchases.CustomerId = Customers.CustomerId)\nwhere Products.BrandName = 'Apple' or Products.BrandName = 'Google')\n\n)\ngroup by Products.ProductName\n\n\norder by Products.ProductName\n"})
Query 5eaf2005334f483dd6bba15d has been updated
==============
['Products', 'pr1']
['(\n', '', '', '', 'SELECT', 'p1.ProductId,', 'count(*)', 'as', 'num', '\n', '', '', '', 'FROM', 'Purchases', 'p1\n', '', '', '', 'WHERE', 'p1.CustomerId', 'IN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'Customers.CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Customers\n', '', '', '', '', '', '', '', 'WHERE', 'FirstName', 'LIKE', "'J%'", 'OR', 'PhoneNumber', 'LIKE', "'%4'\n", '', '', '', ')', 'OR', 'p1.CustomerId', 'IN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'p2.CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'p2', 'NATURAL', 'JOIN', 'Products', 'pr2\n', '', '', '', '', '', '', '', 'WHERE', 'pr2.BrandName', '=', "'Apple'", 'OR', 'pr2.BrandName', '=', "'Google'\n", '', '', '', ')\nGROUP', 'BY', 'p1.ProductId)', 'as', 'NumBought']
({'queryNum': 811}, {'parsedRemovedQuery': "SELECT ProductName, num\nFROM Products NATURAL JOIN (\n    SELECT p1.ProductId, count(*) as num \n    FROM Purchases p1\n    WHERE p1.CustomerId IN (\n        SELECT Customers.CustomerId\n        FROM Customers\n        WHERE FirstName LIKE 'J%' OR PhoneNumber LIKE '%4'\n    ) OR p1.CustomerId IN (\n        SELECT p2.CustomerId\n        FROM Purchases p2 NATURAL JOIN Products pr2\n        WHERE pr2.BrandName = 'Apple' OR pr2.BrandName = 'Google'\n    )\nGROUP BY p1.ProductId)\nWHERE BrandName = 'Samsung'\nORDER BY ProductName"})
Query 5eaf2005334f483dd6bba15e has been updated
==============
['Products', 'p']
['(SELECT', 'p1.ProductId', '\nFROM', 'Purchases', 'p1\nWHERE', 'p1.CustomerId', 'IN\n', '', '', '', '(SELECT', 'c.CustomerId', 'FROM', 'Customers', 'c', 'WHERE', 'c.FirstName', 'LIKE', "'J%'", 'OR', 'c.PhoneNumber', 'LIKE', "'%4'", 'OR', 'c.CustomerId', 'IN', '(SELECT', 'p2.CustomerId', 'FROM', 'Purchases', 'p2', 'WHERE', 'p2.ProductId', 'IN', '\n', '', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'p3.ProductId', 'FROM', 'Products', 'p3', 'WHERE', 'p3.BrandName', '=', "'Google'", 'OR', 'p3.BrandName', '=', "'Apple')", '\n', '', '', '', '', '', '', '', ')\n', '', '', '', ')\n)', 'AS', 'X']
({'queryNum': 812}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Products NATURAL JOIN \n(SELECT p1.ProductId \nFROM Purchases p1\nWHERE p1.CustomerId IN\n    (SELECT c.CustomerId FROM Customers c WHERE c.FirstName LIKE 'J%' OR c.PhoneNumber LIKE '%4' OR c.CustomerId IN (SELECT p2.CustomerId FROM Purchases p2 WHERE p2.ProductId IN \n            (SELECT p3.ProductId FROM Products p3 WHERE p3.BrandName = 'Google' OR p3.BrandName = 'Apple') \n        )\n    )\n) AS\nWHERE BrandName = 'Samsung'\nGROUP BY ProductName"})
Query 5eaf2005334f483dd6bba15f has been updated
==============
['(\nSELECT', 'CustomerId,', 'ProductName\nFROM', 'Purchases', 'P,', '(SELECT', 'ProductName,', 'ProductId', 'FROM', 'Products', 'WHERE', 'BrandName', '=', "'Samsung')", 'as', 'T\nWHERE', 'P.ProductId', '=', 'T.ProductId)', 'as', 'T']
({'queryNum': 813}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(ProductName)\nFROM (\nSELECT CustomerId, ProductName\nFROM Purchases P, (SELECT ProductName, ProductId FROM Products WHERE BrandName = 'Samsung')\nWHERE P.ProductId = ProductId)\nGROUP BY ProductName\n\n\n\n"})
Query 5eaf2005334f483dd6bba160 has been updated
==============
({'queryNum': 814}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM ((Products natural join Purchases) natural join Customers)\nWHERE BrandName = 'Samsung' AND \n(FirstName LIKE 'J%' OR PhoneNumber % 10 = 4 OR\nCustomerId IN (SELECT CustomerId FROM Products natural join Purchases where BrandName = 'Apple' OR BrandName = 'Google'))\nGROUP BY ProductName\nORDER BY ProductName ASC;"})
Query 5eaf2005334f483dd6bba161 has been updated
==============
['Customers', 'd1']
['Purchases', 'd2']
['Products', 'd3']
({'queryNum': 815}, {'parsedRemovedQuery': "SELECT ProductName,COUNT(*)\nFROM Customers, Purchases, Products\nWHERE BrandName = 'Samsung'AND\nFirstName IN ( SELECT DISTINCT FirstName\n                  FROM Customers c, Purchases p1, Products p2\n                  WHERE c.FirstName LIKE 'J%'OR c.PhoneNumber LIKE '%4' OR ((p2.BrandName = 'Apple' OR p2.BrandName='Google') AND (c.CustomerId = p1.CustomerId AND p1.ProductId = p2.ProductId) ))\nAND CustomerId = CustomerId AND ProductId = ProductId\nGROUP BY ProductName\nORDER BY ProductName\n\n"})
Query 5eaf2005334f483dd6bba162 has been updated
==============
['Purchases']
['Products']
({'queryNum': 816}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Purchases\nNATURAL JOIN Products\nWHERE BrandName = 'Samsung' AND CustomerId IN (SELECT DISTINCT CustomerId\n    FROM Customers\n    NATURAL JOIN Purchases\n    NATURAL JOIN Products\n    WHERE FirstName LIKE 'J%' OR PhoneNumber LIKE '%4' OR BrandName IN ('Apple', 'Google'))\nGROUP BY ProductName\nORDER BY ProductName"})
Query 5eaf2005334f483dd6bba163 has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 817}, {'parsedRemovedQuery': 'select Products.ProductName, Count(*)\nfrom Customers join Purchases on Customers.CustomerId = Purchases.CustomerId join Products on Purchases.ProductId = Products.ProductId\nwhere Products.BrandName = \'Samsung\' and (Customers.FirstName like \'%J\' or Customers.PhoneNumber like \'%4\' or Customers.CustomerId in \n\n(select Customers.CustomerId \nfrom Customers join Purchases on Customers.CustomerId = Purchases.CustomerId join Products on Purchases.ProductId = Products.ProductId \nwhere Products.BrandName = "Apple" or Products.BrandName = "Google"))\n\ngroup by Products.ProductName'})
Query 5eaf2005334f483dd6bba164 has been updated
==============
['Products', 'P']
['(SELECT', 'P2.ProductId,', 'COUNT(*)', 'AS', 'CC\n', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'P2\n', '', '', '', '', '', '', '', '', '', 'RIGHT', 'JOIN', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '(SELECT', 'DISTINCT', 'C.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'P2\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'JOIN', 'Products', 'P', 'ON', 'P.ProductId', '=', 'P2.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'JOIN', 'Customers', 'C', 'ON', 'P2.CustomerId', '=', 'C.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'C.FirstName', 'LIKE', "'J%'", 'OR', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'C.PhoneNumber', '%', '10', '=', '4', 'OR\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'P.BrandName', '=', "'Google'", 'OR\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'P.BrandName', '=', "'Apple')\n", '', '', '', '', '', '', '', '', '', 'AS', 'Conditions', 'ON', 'P2.CustomerId', '=', 'Conditions.CustomerId\n', '', '', '', '', '', '', '', '', '', 'GROUP', 'BY', 'P2.ProductId\n', '', '', '', '', ')', 'AS', 'B']
({'queryNum': 818}, {'parsedRemovedQuery': "SELECT ProductName, CC\nFROM Products\n     JOIN (SELECT P2.ProductId, COUNT(*) AS CC\n          FROM Purchases P2\n          RIGHT JOIN \n                (SELECT DISTINCT C.CustomerId\n                FROM Purchases P2\n                JOIN Products ON ProductId = P2.ProductId\n                JOIN Customers C ON P2.CustomerId = C.CustomerId\n                WHERE C.FirstName LIKE 'J%' OR \n                      C.PhoneNumber % 10 = 4 OR\n                      BrandName = 'Google' OR\n                      BrandName = 'Apple')\n          AS Conditions ON P2.CustomerId = Conditions.CustomerId\n          GROUP BY P2.ProductId\n     ) AS ON ProductId = ProductId\nWHERE BrandName = 'Samsung' \nORDER BY ProductName"})
Query 5eaf2005334f483dd6bba165 has been updated
==============
['(select', 'pr.ProductName,', 'count(p.ProductId)', 'as', 'productCount\n', '', '', '', 'from', 'Purchases', 'p', 'inner', 'join', 'Products', 'pr', 'on', 'p.ProductId', '=', 'pr.ProductId', 'inner', 'join', 'Customers', 'c', 'on', 'p.CustomerId', '=', 'c.CustomerId\n', '', '', '', 'group', 'by', 'pr.ProductName,', 'pr.BrandName,', 'c.FirstName,', 'c.CustomerId,', 'c.PhoneNumber', 'having', 'pr.BrandName', '=', '"Samsung"', 'and', '(c.FirstName', 'like', '"J*"', 'or', 'c.PhoneNumber', 'like', '"%4"', 'or', 'c.CustomerId', 'in', '(select', 'p2.CustomerId', 'from', 'Purchases', 'p2', 'inner', 'join', 'Products', 'pr2', 'on', 'p2.ProductId', '=', 'pr2.ProductId', 'where', '(pr2.BrandName', '=', '"Apple"', 'or', 'pr2.BrandName', '=', '"Google"))))', 'as', 'newTable']
({'queryNum': 819}, {'parsedRemovedQuery': 'select ProductName, sum(productCount)\n    from (select pr.ProductName, count(p.ProductId) as productCount\n    from Purchases p inner join Products pr on p.ProductId = pr.ProductId inner join Customers c on p.CustomerId = c.CustomerId\n    group by pr.ProductName, pr.BrandName, c.FirstName, c.CustomerId, c.PhoneNumber having pr.BrandName = "Samsung" and (c.FirstName like "J*" or c.PhoneNumber like "%4" or c.CustomerId in (select p2.CustomerId from Purchases p2 inner join Products pr2 on p2.ProductId = pr2.ProductId where (pr2.BrandName = "Apple" or pr2.BrandName = "Google"))))\ngroup by ProductName;'})
Query 5eaf2005334f483dd6bba166 has been updated
==============
['(SELECT', 'pr.ProductName,', 'COUNT(*)', 'AS', 'numCust', '\n', '', '', '', '', '', 'FROM', 'Customers', 'cust,', 'Products', 'pr,', 'Purchases', 'pu\n', '', '', '', '', '', 'WHERE', 'pr.BrandName', '=', '"Samsung"', 'AND', 'cust.CustomerId', '=', 'pu.CustomerId', 'AND', 'pr.ProductId', '=', 'pu.ProductId', 'AND', 'cust.FirstName', 'IN', '(SELECT', 'DISTINCT', 'cust1.FirstName', 'FROM', 'Customers', 'cust1,', 'Products', 'pr1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ',', 'Purchases', 'pu1\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'cust1.FirstName', 'LIKE', "'J%'\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'OR', 'cust1.PhoneNumber', 'LIKE', "'%4'\n", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'OR', '((pu1.ProductId', '=', 'pr1.ProductId', 'AND', 'cust1.CustomerId', '=', 'pu1.CustomerId)', 'AND', '(pr1.BrandName', '=', '"Apple"', 'OR', 'pr1.BrandName', '=', '"Google")))', '\n', '', '', '', '', '', 'GROUP', 'BY', 'pr.ProductName)', 'AS', 'T']
({'queryNum': 820}, {'parsedRemovedQuery': 'SELECT ProductName, numCust\nFROM (SELECT pr.ProductName, COUNT(*) AS numCust \n      FROM Customers cust, Products pr, Purchases pu\n      WHERE pr.BrandName = "Samsung" AND cust.CustomerId = pu.CustomerId AND pr.ProductId = pu.ProductId AND cust.FirstName IN (SELECT DISTINCT cust1.FirstName FROM Customers cust1, Products pr1                                   , Purchases pu1\n                                            WHERE cust1.FirstName LIKE \'J%\'\n                                            OR cust1.PhoneNumber LIKE \'%4\'\n                                            OR ((pu1.ProductId = pr1.ProductId AND cust1.CustomerId = pu1.CustomerId) AND (pr1.BrandName = "Apple" OR pr1.BrandName = "Google"))) \n      GROUP BY pr.ProductName) AS \nORDER BY ProductName ASC;\n        \n        '})

Query 5eaf2005334f483dd6bba167 has been updated
==============
['Purchases']
['Products']
['Customers']
({'queryNum': 821}, {'parsedRemovedQuery': 'select ProductName, count(*)\nfrom Purchases natural join Products natural join Customers\nwhere BrandName = "Samsung"\nand (\n    FirstName like "J%"\n    or PhoneNumber like "%4"\n    or CustomerId in (\n        select CustomerId\n        from Purchases natural join Products\n        where BrandName = "Apple"\n        or BrandName = "Google"\n    )\n)\ngroup by ProductName\norder by ProductName;'})
Query 5eaf2005334f483dd6bba168 has been updated
==============
['Products']
['Purchases']
({'queryNum': 822}, {'parsedRemovedQuery': "SELECT ProductName, Count(CustomerId)\nFROM Products NATURAL JOIN Purchases\nWHERE BrandName = 'Samsung' AND (CustomerId IN(SELECT CustomerId FROM Customers WHERE SUBSTRING(FirstName, 1, 1) = 'J') OR CustomerId IN(SELECT CustomerId FROM Purchases NATURAL JOIN Products WHERE BrandName = 'Apple' OR BrandName = 'Google') OR CustomerId IN(SELECT CustomerId FROM Customers WHERE Right(PhoneNumber, 1) = '4'))\nGROUP BY ProductName\nORDER BY ProductName;\n"})
Query 5eaf2005334f483dd6bba169 has been updated
==============
['Purchases', 'P']
['Customers', 'C']
['Products', 'Prod']
({'queryNum': 823}, {'parsedRemovedQuery': "SELECT DISTINCT ProductName, Count(CustomerId)\nFROM Purchases inner join Customers on CustomerId=CustomerId inner join Products on ProductId = ProductId\nWHERE BrandName = 'Samsung' and CustomerId IN (SELECT DISTINCT CustomerId\nFROM Purchases inner join Customers on CustomerId=CustomerId inner join Products on ProductId = ProductId\nWHERE FirstName LIKE 'J%' or PhoneNumber LIKE '%4' or BrandName = 'Apple' or BrandName = 'Google')\nGROUP BY (ProductName)"})
Query 5eaf2005334f483dd6bba16a has been updated
==============
['(\n', '', '', '', 'SELECT', 'ProductName,', 'ProductId,', '(SELECT', 'COUNT(CustomerId)', '\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'NATURAL', 'JOIN', 'Customers\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'p.ProductId=ProductId', 'AND', '(FirstName', 'LIKE', '"%J"', 'OR', 'PhoneNumber', 'LIKE', '"%4"', 'OR', '(CustomerId', 'IN', '(SELECT', 'CustomerId', 'FROM', 'Purchases', 'NATURAL', 'JOIN', 'Products', 'WHERE', 'BrandName="Google"', 'OR', 'BrandName="Apple"))))', 'as', 'counts\n', '', '', '', 'FROM', 'Products', 'AS', 'p\n', '', '', '', 'WHERE', 'BrandName="Samsung"\n)', 'as', 'samsung']
({'queryNum': 824}, {'parsedRemovedQuery': 'SELECT ProductName, counts FROM\n(\n    SELECT ProductName, ProductId, (SELECT COUNT(CustomerId) \n                                FROM Purchases NATURAL JOIN Customers\n                                WHERE p.ProductId=ProductId AND (FirstName LIKE "%J" OR PhoneNumber LIKE "%4" OR (CustomerId IN (SELECT CustomerId FROM Purchases NATURAL JOIN Products WHERE BrandName="Google" OR BrandName="Apple")))) as counts\n    FROM Products AS p\n    WHERE BrandName="Samsung"\n)\nORDER BY ProductName\n'})
Query 5eaf2005334f483dd6bba16b has been updated
==============
['(\n', '', '', '', '(SELECT', 'Purchases.CustomerId\n', '', '', '', 'FROM', 'Purchases', 'JOIN', 'Products', 'ON', 'Purchases.ProductId', '=', 'Products.ProductId\n', '', '', '', 'WHERE', 'Products.BrandName', '=', '"Apple"', 'OR', 'Products.BrandName', '=', '"Google")', 'UNION\n', '', '', '', '(SELECT', 'Customers.CustomerId\n', '', '', '', 'FROM', 'Customers\n', '', '', '', 'WHERE', 'Customers.FirstName', 'LIKE', '"J%"', 'OR', 'Customers.PhoneNumber', 'LIKE', '"%4"))', 'AS', 'ST']
['(SELECT', 'Purchases.CustomerId,', 'Purchases.ProductId,', 'Products.ProductName,', 'Purchases.PurchaseId\n', '', '', '', 'FROM', 'Purchases', 'JOIN', 'Products', 'ON', 'Purchases.ProductId', '=', 'Products.ProductId\n', '', '', '', 'WHERE', 'Products.BrandName', '=', '"Samsung")', 'AS', 'BT']
({'queryNum': 825}, {'parsedRemovedQuery': 'SELECT ProductName, count(CustomerId)\nFROM(\n    (SELECT Purchases.CustomerId\n    FROM Purchases JOIN Products ON Purchases.ProductId = Products.ProductId\n    WHERE Products.BrandName = "Apple" OR Products.BrandName = "Google") UNION\n    (SELECT Customers.CustomerId\n    FROM Customers\n    WHERE Customers.FirstName LIKE "J%" OR Customers.PhoneNumber LIKE "%4")) AS JOIN\n    (SELECT Purchases.CustomerId, Purchases.ProductId, Products.ProductName, Purchases.PurchaseId\n    FROM Purchases JOIN Products ON Purchases.ProductId = Products.ProductId\n    WHERE Products.BrandName = "Samsung") AS\n    ON CustomerId = CustomerId\nGROUP BY ProductName;\n   \n\n\n'})
Query 5eaf2005334f483dd6bba16c has been updated
==============
['Products']
['Purchases']
['Customers']
({'queryNum': 826}, {'parsedRemovedQuery': "SELECT Products.ProductName, COUNT(Purchases.CustomerId)\nFROM Products\nINNER JOIN Purchases ON Purchases.ProductId = Products.ProductId\nINNER JOIN Customers ON Customers.CustomerId = Purchases.CustomerId\nWHERE Products.BrandName = 'Samsung' \nAND Customers.CustomerId IN\n(SELECT C.CustomerId\nFROM Customers C, Purchases P\nWHERE C.CustomerId = P.CustomerId\nAND ((C.FirstName LIKE 'J%' OR RIGHT(C.PhoneNumber, 1) = 4) OR (P.CustomerId IN (SELECT P2.CustomerId FROM Purchases P2, Products Pr WHERE (Pr.BrandName = 'Apple' or Pr.BrandName = 'Google') AND P2.ProductId = Pr.ProductId))))\nGROUP BY Products.ProductId\nORDER BY Products.ProductName ASC;\n"})
Query 5eaf2005334f483dd6bba16d has been updated
==============
['(\n\tSELECT', 'Products.BrandName,', 'Products.ProductName,', 'res.CustomerId\n\tFROM', 'Products\n\tJOIN\n\t(\n\t\tSELECT', '*\n\t\tFROM', 'Purchases\n\t\tWHERE', '\n\t\t(CustomerId', 'IN(\n\t\t\tSELECT', 'CustomerId\n\t\t\tFROM', 'Purchases\n\t\t\tWHERE', 'ProductId', 'IN\n\t\t\t(SELECT', 'ProductId\n\t\t\tFROM', 'Products\n\t\t\tWHERE', 'BrandName', '=', "'Apple'", 'OR', 'BrandName', '=', "'Google')\n\t\t))", 'OR\n\t\t(CustomerId', 'IN\n\t\t\t(SELECT', 'CustomerId\n\t\t\t', 'FROM', '(SELECT', 'Customers.CustomerId,', 'Customers.FirstName,', 'Customers.PhoneNumber,', 'Purchases.PurchaseId\n\t\t\t\t\t\tFROM', 'Customers', '\n\t\t\t\t\t\tJOIN', 'Purchases\n\t\t\t\t\t\tON', 'Customers.CustomerId', '=', 'Purchases.CustomerId)', 'AS', 'l\n\t\t\t', 'WHERE', 'l.FirstName', 'LIKE', "'J%'", 'OR', 'l.PhoneNumber', 'LIKE', "'%4')\n\t\t)\n\t)", 'AS', 'res\n\tON', 'res.ProductId', '=', 'Products.ProductId\n)', 'AS', 'list1']
({'queryNum': 827}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(CustomerId)\nFROM\n(\n\tSELECT Products.BrandName, Products.ProductName, res.CustomerId\n\tFROM Products\n\tJOIN\n\t(\n\t\tSELECT *\n\t\tFROM Purchases\n\t\tWHERE \n\t\t(CustomerId IN(\n\t\t\tSELECT CustomerId\n\t\t\tFROM Purchases\n\t\t\tWHERE ProductId IN\n\t\t\t(SELECT ProductId\n\t\t\tFROM Products\n\t\t\tWHERE BrandName = 'Apple' OR BrandName = 'Google')\n\t\t)) OR\n\t\t(CustomerId IN\n\t\t\t(SELECT CustomerId\n\t\t\t FROM (SELECT Customers.CustomerId, Customers.FirstName, Customers.PhoneNumber, Purchases.PurchaseId\n\t\t\t\t\t\tFROM Customers \n\t\t\t\t\t\tJOIN Purchases\n\t\t\t\t\t\tON Customers.CustomerId = Purchases.CustomerId) AS l\n\t\t\t WHERE l.FirstName LIKE 'J%' OR l.PhoneNumber LIKE '%4')\n\t\t)\n\t) AS res\n\tON res.ProductId = Products.ProductId\n) AS\nWHERE BrandName = 'Samsung'\nGROUP By ProductName\nORDER BY ProductName ASC"})
Query 5eaf2005334f483dd6bba16e has been updated
==============
['Products', 'p']
({'queryNum': 828}, {'parsedRemovedQuery': "select ProductName, \n    (select count(c.CustomerId) \n    from Purchases pr left join Customers c on c.CustomerId = pr.CustomerId\n    where (pr.ProductId = ProductId and (c.CustomerId in (\n      select pr2.CustomerId from Purchases pr2\n        left join Products p2 on pr2.ProductId = p2.ProductId\n     where p2.BrandName = 'Apple' or p2.BrandName = 'Google') \n     or c.FirstName like 'J%' or c.PhoneNumber % 10 = 4))) \n     as variable\nfrom Products where BrandName = 'Samsung'\nhaving variable > 0\norder by ProductName;"})
Query 5eaf2005334f483dd6bba16f has been updated
==============
['Customers']
['Purchases']
['Products']
({'queryNum': 829}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(ProductName)\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE BrandName = 'Samsung' AND CustomerId IN (SELECT CustomerId\nFROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\nWHERE FirstName = 'J%' OR PhoneNumber LIKE '%4' OR BrandName = 'APPLE' OR BrandName = 'Google')\nGROUP BY ProductName\nORDER BY ProductName ASC"})
Query 5eaf2005334f483dd6bba170 has been updated
==============

({'queryNum': 830}, {'parsedRemovedQuery': 'SELECT Products.ProductName, Count(Purchases.CustomerId)\nFROM Purchases, Products,\n    (SELECT CustomerId\n    FROM Customers\n    WHERE FirstName LIKE "J%"\n    UNION\n    SELECT CustomerId\n    FROM Customers\n    WHERE PhoneNumber LIKE "%4"\n    UNION\n    SELECT Purchases.CustomerId\n    FROM Purchases, Products\n    WHERE Purchases.ProductId = Products.ProductId and (Products.BrandName = "Apple" or Products.BrandName = "Google"))\n    as STRANGE\nWHERE  Purchases.ProductId = Products.ProductId and Products.BrandName = "Samsung" \n    and Purchases.CustomerId IN (STRANGE.CustomerId)\nGROUP BY Products.ProductName\nORDER BY Products.ProductName\n\n'})
Query 5eaf2006334f483dd6bba171 has been updated
==============
({'queryNum': 831}, {'parsedRemovedQuery': "SELECT pr.ProductName, COUNT(pr.ProductName)\nFROM(SELECT c.CustomerId\n    FROM Customers c\n    WHERE c.FirstName LIKE 'J%' \n          OR CAST(c.PhoneNumber as Char) LIKE '%4' \n          OR (c.CustomerId in (SELECT c.CustomerId\n                               FROM  Products pr, Purchases pu, Customers c\n                               WHERE c.CustomerId = pu.CustomerId \n                                     and pu.ProductId = pr.ProductId \n                                     and (pr.BrandName = 'Apple' or pr.BrandName = 'Google')\n                               )\n              )\n    )AS a, Purchases pu, Products pr\nWHERE a.CustomerId = pu.CustomerId and pu.ProductId = pr.ProductId and pr.BrandName = 'Samsung'\nGROUP BY pr.ProductName\n\n"})
Query 5eaf2006334f483dd6bba172 has been updated
==============
['Products']
['Purchases']
({'queryNum': 832}, {'parsedRemovedQuery': 'Select ProductName,count(*)\nfrom Products Natural Join Purchases\nwhere BrandName="Samsung" and CustomerId  IN \n(\nSelect DISTINCT C.CustomerId\nfrom Customers C,Purchases P, Products P1\nwhere C.CustomerId=P.CustomerId and P.ProductId=P1.ProductId and (C.Firstname LIKE "J%" or C.PhoneNumber LIKE "%4" or C.Customerid IN \n(\nSelect DISTINCT X.CustomerId\nfrom Purchases X,Products Y\nwhere X.ProductId=Y.ProductId and (Y.Brandname="Apple" or Y.BrandName="Google")\n)\n)\n)\ngroup by ProductName\norder by ProductName\n'})
Query 5eaf2006334f483dd6bba173 has been updated
==============
['Products', 'pr']
['Purchases', 'pu']
['Brands', 'b']
['Customers', 'c']
({'queryNum': 833}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*)\nFROM Products\n    JOIN Purchases \n      ON ProductID = ProductID\n    JOIN Brands\n      ON BrandName = Brandname\n    JOIN Customers\n      ON CustomerId = CustomerId\nWHERE \n    Brandname = "Samsung"\n    AND \n    (SUBSTRING(FirstName, 1, 1) = "J"\n        OR PhoneNumber % 10 = 4\n        OR CustomerId IN (SELECT CustomerId \n                             FROM Products\n                                 JOIN Purchases \n                                   ON ProductID = ProductID\n                                 JOIN Brands\n                                   ON BrandName = Brandname\n                                 JOIN Customers\n                                   ON CustomerId = CustomerId\n                            WHERE BrandName = "Google"\n                               OR BrandName = "Apple")\n        )\nGROUP BY ProductName\nORDER BY ProductName\n    \n    '})
Query 5eaf2006334f483dd6bba174 has been updated
==============
['Customers', 'a']
['Purchases', 'b']
['Products', 'c']
({'queryNum': 834}, {'parsedRemovedQuery': "SELECT ProductName,COUNT(*)\nFROM Customers, Purchases, Products\nWHERE BrandName = 'Samsung'AND\nFirstName IN ( SELECT DISTINCT FirstName\n                  FROM Customers, Purchases p1, Products p2\n                  WHERE FirstName LIKE 'J%'OR PhoneNumber LIKE '%4' OR ((p2.BrandName = 'Apple' OR p2.BrandName='Google') AND (CustomerId = p1.CustomerId AND p1.ProductId = p2.ProductId) ))\nAND CustomerId = CustomerId AND ProductId = ProductId\nGROUP BY ProductName"})
Query 5eaf2006334f483dd6bba175 has been updated
==============
['Products', 'as', 'Pr']
['(\n', '', '', '', 'SELECT', 'ProductId,', 'COUNT(*)', 'as', 'Total', '\n', '', '', '', 'FROM', 'Purchases\n', '', '', '', 'INNER', 'JOIN', '(\n', '', '', '', '', '', '', '', 'SELECT', '*', 'FROM', 'Customers\n', '', '', '', ')', 'AS', 'c', 'ON', 'c.CustomerId=Purchases.CustomerId\n', '', '', '', 'WHERE', 'c.FirstName', 'LIKE', "'J%'", 'OR', 'c.PhoneNumber', 'LIKE', "'%4'", 'OR', 'EXISTS', '(\n', '', '', '', '', '', '', '', 'SELECT', '*', 'FROM', 'Purchases\n', '', '', '', '', '', '', '', 'INNER', 'JOIN', 'Products', 'ON', 'Purchases.ProductId=Products.ProductId\n', '', '', '', '', '', '', '', 'WHERE', 'Purchases.CustomerId=c.CustomerId', 'AND', '(Products.BrandName', '=', "'Apple'", 'OR', 'Products.BrandName', '=', "'Google')\n", '', '', '', ')\n', '', '', '', 'GROUP', 'BY', 'ProductId\n)', 'AS', 'ProductCounts']
({'queryNum': 835}, {'parsedRemovedQuery': 'SELECT ProductName, Total\nFROM Products\nINNER JOIN (\n    SELECT ProductId, COUNT(*) as Total \n    FROM Purchases\n    INNER JOIN (\n        SELECT * FROM Customers\n    ) AS c ON c.CustomerId=Purchases.CustomerId\n    WHERE c.FirstName LIKE \'J%\' OR c.PhoneNumber LIKE \'%4\' OR EXISTS (\n        SELECT * FROM Purchases\n        INNER JOIN Products ON Purchases.ProductId=Products.ProductId\n        WHERE Purchases.CustomerId=c.CustomerId AND (Products.BrandName = \'Apple\' OR Products.BrandName = \'Google\')\n    )\n    GROUP BY ProductId\n) AS ON ProductId=ProductId\nWHERE BrandName="Samsung" AND Total <> 0\nORDER BY ProductName '})
Query 5eaf2006334f483dd6bba176 has been updated
==============
['Products', 'products']
['(\n', '', '', '', 'SELECT', 'pt.ProductId,', 'count(pt.CustomerId)', 'AS', 'countCustomer\n', '', '', '', 'FROM', 'Purchases', 'pt\n', '', '', '', 'WHERE', 'pt.CustomerId', '=', 'ANY', '(\n', '', '', '', '', '', '', '', 'SELECT', 'c.CustomerId\n', '', '', '', '', '', '', '', 'FROM', 'Customers', 'c\n', '', '', '', '', '', '', '', 'WHERE', 'c.FirstName', 'LIKE', '"%J"\n', '', '', '', '', '', '', '', 'OR', 'c.PhoneNumber', 'LIKE', '"%4"\n', '', '', '', '', '', '', '', 'OR', 'c.CustomerId', '=', 'ANY(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'pur.CustomerId\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Purchases', 'pur\n', '', '', '', '', '', '', '', '', '', '', '', 'JOIN', 'Products', 'pro\n', '', '', '', '', '', '', '', '', '', '', '', 'ON', 'pro.ProductId', '=', 'pur.ProductId\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'BrandName', '=', '"Google"\n', '', '', '', '', '', '', '', '', '', '', '', 'OR', 'BrandName', '=', '"Apple"\n', '', '', '', '', '', '', '', ')\n', '', '', '', ')\n', '', '', '', 'GROUP', 'BY', 'pt.ProductId\n)', 'AS', 'ppur']
({'queryNum': 836}, {'parsedRemovedQuery': 'SELECT ProductName, countCustomer\nFROM Products\nJOIN (\n    SELECT pt.ProductId, count(pt.CustomerId) AS countCustomer\n    FROM Purchases pt\n    WHERE pt.CustomerId = ANY (\n        SELECT c.CustomerId\n        FROM Customers c\n        WHERE c.FirstName LIKE "%J"\n        OR c.PhoneNumber LIKE "%4"\n        OR c.CustomerId = ANY(\n            SELECT pur.CustomerId\n            FROM Purchases pur\n            JOIN Products pro\n            ON pro.ProductId = pur.ProductId\n            WHERE BrandName = "Google"\n            OR BrandName = "Apple"\n        )\n    )\n    GROUP BY pt.ProductId\n) AS\nON ProductId = ProductId\nWHERE BrandName = "Samsung"\nORDER BY ProductName'})
Query 5eaf2006334f483dd6bba177 has been updated
==============
['Products', 'r']
['Purchases']
({'queryNum': 837}, {'parsedRemovedQuery': "select ProductName, count(Purchases.CustomerId)\nfrom Products, Purchases\nwhere Purchases.CustomerId in (select c.CustomerId from Customers c where c.FirstName like 'J%' or cast(PhoneNumber as char) like '%4' or c.CustomerId in (select CustomerId from Purchases where ProductId in (select ProductId from Products where BrandName = 'Apple' or BrandName = 'Google'))) and ProductId = Purchases.ProductId and BrandName = 'Samsung'\ngroup by ProductName\norder by ProductName asc;"})
Query 5eaf2006334f483dd6bba178 has been updated
==============
['Products', 'p']
['Purchases']
['Customers']
({'queryNum': 838}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products, Purchases NATURAL JOIN Customers\nWHERE BrandName = "Samsung" AND ProductId = Purchases.ProductId AND (Customers.FirstName LIKE "J%" OR Customers.PhoneNumber % 4 = 0 OR Customers.CustomerId IN(\n        SELECT CustomerId\n        FROM Purchases NATURAL JOIN Products\n        WHERE BrandName = "Apple" OR BrandName = "Google"\n    ))\nGROUP BY ProductName\nORDER BY ProductName;'})
Query 5eaf2006334f483dd6bba179 has been updated
==============
['Products', 'P1']
({'queryNum': 839}, {'parsedRemovedQuery': "SELECT ProductName, (\nSELECT count(*)\nFROM Customers\nWHERE (PhoneNumber Like '%4' OR FirstName like 'J%' OR CustomerId IN (\nSELECT P2.CustomerId \nFROM (SELECT *\n    FROM Purchases natural join Products) P2\n    WHERE P2.BrandName = 'Apple' OR P2.BrandName = 'Google'\n    )) and CustomerId in (\n    SELECT CustomerId FROM Purchases P3 WHERE P3.ProductId = ProductId)\n    ) + 1 as num\nFROM Products\nWHERE BrandName = 'Samsung'\nORDER by ProductName"})

Query 5eaf2006334f483dd6bba17a has been updated
==============
['Products', 'pr']
({'queryNum': 840}, {'parsedRemovedQuery': "SELECT ProductName,  (SELECT COUNT(*) \n                        FROM Purchases pu NATURAL JOIN Customers c \n                        WHERE pu.ProductId = ProductId \n                            AND (c.FirstName LIKE 'J%' OR \n                                CAST(c.PhoneNumber as CHAR) LIKE '%4' OR \n                                c.CustomerId IN(SELECT pu2.CustomerId \n                                                FROM Purchases pu2 NATURAL JOIN Products pr2 \n                                                WHERE pr2.BrandName = 'Apple' OR pr2.BrandName = 'Google'))) blah\nFROM Products\nWHERE BrandName = 'Samsung'\nORDER BY ProductName\n/*SELECT ProductName, (SELECT COUNT(pu.CustomerId) \n                        FROM Purchases pu NATURAL JOIN Customers c \n                        WHERE (c.FirstName LIKE 'J%' OR \n                                CAST(c.PhoneNumber as CHAR) LIKE '%4' OR \n                                c.CustomerId IN(SELECT pu2.CustomerId \n                                                FROM Purchases pu2 NATURAL JOIN Products pr2 \n                                                WHERE pr2.BrandName LIKE 'Apple' OR pr2.BrandName LIKE 'Google')))\nFROM Products pr*/\n                        "})
Query 5eaf2006334f483dd6bba17b has been updated
==============
['Purchases', 'ps']
['Customers', 'cs']
['Products', 'pd']
({'queryNum': 841}, {'parsedRemovedQuery': "SELECT ProductName, COUNT(*)\nFROM Purchases \nLEFT JOIN Customers ON (CustomerId = CustomerId)\nLEFT JOIN Products ON (ProductId = ProductId)\nWHERE BrandName = 'Samsung'\n    AND ((FirstName LIKE 'J%') OR\n         (PhoneNumber LIKE '%4') OR\n         ('Apple' IN (SELECT BrandName\n                      FROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\n                      WHERE FirstName = FirstName AND LastName = LastName\n                     )\n         ) OR\n         ('Google' IN (SELECT BrandName\n                      FROM Customers NATURAL JOIN Purchases NATURAL JOIN Products\n                      WHERE FirstName = FirstName AND LastName = LastName\n                     )\n         )\n        )\nGROUP BY ProductName;\n\n\n"})
Query 5eaf2006334f483dd6bba17c has been updated
==============
['Products', 'p']
['Purchases', 'p1']
({'queryNum': 842}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(PurchaseId)\nFROM Products JOIN Purchases ON ProductId = ProductId\nWHERE BrandName = "Samsung" \nAND CustomerId IN (SELECT c.CustomerId\n                        FROM Customers c\n                        WHERE (SUBSTRING(c.FirstName, 1, 1) = "J" ) OR c.PhoneNumber LIKE \'%4\' OR c.CustomerId IN \n                        (SELECT pur.CustomerId\n                        FROM Purchases pur \n                        JOIN Products p2 ON (p2.ProductId = pur.ProductId)\n                        WHERE (p2.BrandName = "Google" OR p2.BrandName = "Apple")))\nGROUP BY ProductName\nORDER BY ProductName ASC\n\n'})
Query 5eaf2006334f483dd6bba17d has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 843}, {'parsedRemovedQuery': 'select empName\nfrom Employee, Department, Salary_Grade\nwhere deptID = deptID\nAnd (deptLocation = "London" or deptLocation = "New York")\nAnd salary Between minSalary And maxSalary \nAnd (grade IN (Select s1.grade\n        from Employee e1, Salary_Grade s1 \n        where e1.salary Between s1.minSalary And s1.minSalary \n        And e1.empName = "Harry")\n    or hireDate < (Select hireDate \n    From Employee\n    Where empName = "Newt"))'})
Query 5eaf2006334f483dd6bba17e has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 844}, {'parsedRemovedQuery': "SELECT empName\nFROM Employee\nNATURAL JOIN Department\nJOIN Salary_Grade ON salary >= minSalary AND salary <= maxSalary\n\nWHERE grade = \n\n(SELECT grade\nFROM Salary_Grade\nJOIN Employee ON salary >= minSalary AND salary <= maxSalary\nWHERE empName = 'Harry')\n\nOR hireDate <\n(SELECT hireDate\nFROM Employee\nWHERE empName LIKE 'Newt%')\nAND deptLocation in ('London', 'New York')"})
Query 5eaf2006334f483dd6bba17f has been updated
==============
['Employee']
['deptID', 'ASC']
['comission', 'ASC']
({'queryNum': 845}, {'parsedRemovedQuery': "SELECT empName\nFROM Employee E1\nWHERE (SELECT grade FROM Employee E2, Salary_Grade SG WHERE E2.salary <= SG.maxSalary AND E2.salary >= SG.minSalary AND E1.empID = E2.empID) = (SELECT grade FROM Employee E2, Salary_Grade SG WHERE E2.salary <= SG.maxSalary AND E2.salary >= SG.minSalary AND E2.empName = 'Harry') OR E1.hireDate < (SELECT hireDate FROM Employee E3 WHERE E3.empName = 'Newt') AND E1.empID IN (SELECT DISTINCT empID FROM Department NATURAL JOIN Employee WHERE deptLocation = 'London' OR deptLocation = 'New York')\nORDER BY deptID ASC, comission ASC;"})
Query 5eaf2006334f483dd6bba180 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 846}, {'parsedRemovedQuery': 'SELECT empName\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID AND\n      (deptLocation = "London" or deptLocation = "NEW YORK") AND\n      salary BETWEEN minSalary AND maxSalary AND\n      (grade IN (SELECT s1.grade\n                   FROM Employee e1, Salary_Grade s1\n                   WHERE e1.salary BETWEEN s1.minSalary AND s1.maxSalary AND\n                         e1.empName = "HARRY") OR\n      hireDate < (SELECT hireDate\n                    FROM Employee\n                    WHERE empName = \'NEWT\'))'})
Query 5eaf2006334f483dd6bba181 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 847}, {'parsedRemovedQuery': 'SELECT empName\nFROM Employee, Department, Salary_Grade s WHERE deptID = deptID\nAND (deptLocation = "London" or deptLocation = "NEW YORK") AND salary BETWEEN minSalary AND maxSalary\nAND (grade IN (SELECT s1.grade\nFROM Employee e1, Salary_Grade s1\nWHERE e1.salary BETWEEN s1.minSalary AND s1.maxSalary AND e1.empName = "HARRY")\nOR hireDate < (SELECT hireDate FROM Employee\nWHERE empName = \'NEWT\'))'})
Query 5eaf2006334f483dd6bba182 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 'sg']
({'queryNum': 848}, {'parsedRemovedQuery': 'SELECT empName\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary) AND (grade = (SELECT sg1.grade\n                            FROM Employee e1, Salary_Grade sg1\n                            WHERE e1.empName = "Harry" AND e1.salary BETWEEN sg1.minSalary AND sg1.maxSalary)\nOR hireDate < (SELECT hireDate\n                FROM Employee\n                WHERE empName = "Newt"))\nAND deptLocation IN ("London", "New York")'})
Query 5eaf2006334f483dd6bba183 has been updated
==============
['Employee', 'E']
['Department', 'D']
['Salary_Grade', 'S']
({'queryNum': 849}, {'parsedRemovedQuery': "Select DISTINCT empName\nfrom Employee, Department, Salary_Grade\nwhere deptID = deptID and \nsalary >= minSalary and salary <= maxSalary \nand\n(\ngrade IN (Select grade from Employee,Salary_Grade where empName LIKE 'Harry' and salary >= minSalary and salary <= maxSalary ) \nor \nhireDate < (Select hireDate from Employee where empName LIKE 'Newt')\n)\nand \n(\ndeptLocation LIKE 'London'\nor\ndeptLocation LIKE 'New York'\n)\n\n\n"})
Query 5eaf2006334f483dd6bba184 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 850}, {'parsedRemovedQuery': 'SELECT empName\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID\n    AND (deptLocation = \'London\' OR deptLocation = \'New York\')\n    AND salary BETWEEN minSalary AND maxSalary\n    AND (grade IN (SELECT s1.grade\n                     FROM Employee e1, Salary_Grade s1\n                     WHERE e1.salary BETWEEN s1.minSalary AND s1.maxSalary\n                     AND e1.empName = "Harry")\n        OR hireDate < (SELECT hireDate\n                         FROM Employee\n                         WHERE empName = \'Newt\')\n        );'})
Query 5eaf2006334f483dd6bba185 has been updated
==============
['Employee', 'e']
({'queryNum': 851}, {'parsedRemovedQuery': 'SELECT * FROM Employee WHERE empID IN (SELECT DISTINCT managerID FROM Employee) \nAND salary > (SELECT AVG(salary) FROM Employee WHERE managerID=empID)'})
Query 5eaf2006334f483dd6bba186 has been updated
==============
['Employee', 'e']
({'queryNum': 852}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT DISTINCT(managerID) FROM Employee)\nAND salary > \n(SELECT AVG(e1.salary)\nFROM Employee e1\nWHERE empID = e1.managerID)'})
Query 5eaf2006334f483dd6bba187 has been updated
==============
['(\n', '', '', '', 'SELECT', '*', '\n', '', '', '', 'FROM', 'Employee', 'e\n', '', '', '', 'WHERE', 'empId', 'IN', '(\n', '', '', '', '', '', '', '', 'SELECT', 'managerID', '\n', '', '', '', '', '', '', '', 'FROM', 'Employee)\n', '', '', '', ')', 'as', 'manager']
({'queryNum': 853}, {'parsedRemovedQuery': 'SELECT * \nFROM (\n    SELECT * \n    FROM Employee e\n    WHERE empId IN (\n        SELECT managerID \n        FROM Employee)\n    )\nWHERE salary >= (\n    SELECT AVG(salary) \n    FROM Employee \n    WHERE managerId = empId\n);'})

Query 5eaf2006334f483dd6bba188 has been updated
==============
['Employee']
({'queryNum': 854}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\nWHERE empID in (SELECT t1.empID FROM\n(SELECT empID, salary\nFROM Employee \nWHERE jobTitle LIKE '%Manager') as t1\nJOIN\n(SELECT managerID, AVG(salary) as avgSalary\nFROM Employee\nGROUP BY managerID) as t2\nON t1.empID = t2.managerID)\n"})
Query 5eaf2006334f483dd6bba189 has been updated
==============
['Employee', 'e']
({'queryNum': 855}, {'parsedRemovedQuery': 'SELECT * \nFROM Employee\nWHERE jobTitle LIKE "%Manager%" AND salary > (SELECT AVG(x.salary) FROM Employee x WHERE x.ManagerId = empId)\n\n\n\n'})
Query 5eaf2006334f483dd6bba18a has been updated
==============
['Employee']
({'queryNum': 856}, {'parsedRemovedQuery': 'SELECT * \nFROM Employee e1\nWHERE salary > (SELECT AVG(salary) FROM Employee WHERE managerID = e1.empID)'})
Query 5eaf2006334f483dd6bba18b has been updated
==============
['Employee', 'e']
({'queryNum': 857}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE salary > (SELECT AVG(e2.salary)\n                  FROM Employee e2 \n                  WHERE (e2.managerID = empID) AND (e2.empID != empID))\n-- WHERE (empID = ANY(SELECT DISTINCT e2.managerID\n--                      FROM Employee e2)) AND \n--       (salary > (SELECT AVG(e3.salary)\n--                   FROM Employee e3\n--                   WHERE (e3.empID != empID) AND (e3.managerID = empID)))'})
Query 5eaf2006334f483dd6bba18c has been updated
==============
['Employee', 'E']
({'queryNum': 858}, {'parsedRemovedQuery': "SELECT * \nFROM Employee\nWHERE jobTitle LIKE '%Manager%' AND salary > (SELECT AVG(salary) FROM Employee NATURAL JOIN Department WHERE deptID = deptID);"})
Query 5eaf2006334f483dd6bba18d has been updated
==============
['Employee', 'ee']
({'queryNum': 859}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID\nIN (SELECT DISTINCT managerID FROM Employee)\nAND salary > (\n    SELECT AVG(salary)\n    FROM Employee e\n    WHERE e.managerID = empID\n)'})
Query 5eaf2006334f483dd6bba18e has been updated
==============
['Employee', 'e']
({'queryNum': 860}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT managerID\n                  FROM Employee) AND\n                 salary > (SELECT\tAVG(salary)\n                             FROM Employee e2\n                             WHERE e2.managerID = empID)'})
Query 5eaf2006334f483dd6bba18f has been updated
==============
['Employee', 'e']
['(SELECT', 'e1.managerID']
['avg(e1.salary)', 'as', 'avg_salary\n', '', '', '', '', 'FROM', 'Employee', 'e1\n', '', '', '', '', 'GROUP', 'BY', 'e1.managerID)', 'avg_Sals']
({'queryNum': 861}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, (SELECT e1.managerID, avg(e1.salary)     FROM Employee e1\n     GROUP BY e1.managerID) avg_Sals\nWHERE empID = avg_Sals.managerID and salary > avg_Sals.avg_salary\n    '})
Query 5eaf2006334f483dd6bba190 has been updated
==============
['Employee', 'e']
({'queryNum': 862}, {'parsedRemovedQuery': 'SELECT *\nFrom Employee\nWHERE jobTitle Like "%Manager" and salary > (SELECT AVG(salary) FROM Employee WHERE empID = managerID)\n\n-- SELECT *\n-- From Employee NATURAL JOIN (SELECT managerID, AVG(salary) as avgsalary FROM Employee Group by managerID) tmp \n-- WHERE jobTitle Like "%Manager" and salary > tmp.avgsalary\n\n\n'})
Query 5eaf2006334f483dd6bba191 has been updated
==============
['Employee', 'E']
({'queryNum': 863}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE (empID IN (SELECT DISTINCT managerID FROM Employee)) \n    AND (salary > (\n        SELECT AVG(salary)\n        FROM Employee\n        WHERE empID = managerID\n    ))\n'})
Query 5eaf2006334f483dd6bba192 has been updated
==============
['Employee', 'e']
({'queryNum': 864}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND salary > (SELECT AVG(salary) FROM Employee e2 WHERE e2.managerID = empID)'})
Query 5eaf2006334f483dd6bba193 has been updated
==============
['Employee', 'E']
({'queryNum': 865}, {'parsedRemovedQuery': 'select * \nfrom Employee\nwhere empID in (select distinct managerID\n            from Employee ) and salary > ( select AVG(salary)\n                                            from Employee\n                                            where managerID = empID\n                                            )\n\n\n\n-- average employee salary\n-- select *\n-- null as \n-- from (select managerID, AVG(salary) as hahaha\n-- from Employee\n-- group by managerID) as temp inner join Employee EE on EempID = temp.managerID\n-- where salary > hahaha\n\n'})
Query 5eaf2006334f483dd6bba194 has been updated
==============
['Employee', 'e']
({'queryNum': 866}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\n    salary > (SELECT AVG(e2.salary)\n                FROM Employee e2\n                WHERE e2.managerID = empID)'})
Query 5eaf2006334f483dd6bba195 has been updated
==============
['Employee', 'e']
({'queryNum': 867}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nWHERE empID IN (SELECT DISTINCT managerID from Employee) AND salary > \n    (SELECT AVG(salary)\n     FROM Employee el\n     WHERE managerID = empID)\n\n\n-- SELECT managerID, AVG(salary)\n-- FROM Employee\n-- GROUP BY managerID\n'})
Query 5eaf2007334f483dd6bba196 has been updated
==============
['Employee', 'E']
({'queryNum': 868}, {'parsedRemovedQuery': "Select *\nfrom Employee\nwhere jobTitle LIKE '%Manager' and salary > (\nSelect avg(D.salary)\nfrom Employee D\nwhere D.managerID = empID\ngroup by D.managerID\n)\n"})
Query 5eaf2007334f483dd6bba197 has been updated
==============
['Cafe']
({'queryNum': 869}, {'parsedRemovedQuery': 'select * from Cafe'})
Query 5eaf2007334f483dd6bba198 has been updated
==============
['Likes']
({'queryNum': 870}, {'parsedRemovedQuery': 'SELECT customer, drink FROM Likes'})
Query 5eaf2007334f483dd6bba199 has been updated
==============
['Sells']
({'queryNum': 871}, {'parsedRemovedQuery': 'SELECT *\n    FROM Sells'})
Query 5eaf2007334f483dd6bba19a has been updated
==============
['Drinks']
['Sells']
({'queryNum': 872}, {'parsedRemovedQuery': "SELECT name, drink, price * 110 AS 'price in yen' FROM Drinks NATURAL JOIN Sells WHERE EXISTS (SELECT * FROM Sells WHERE cafe LIKE 'C%' AND price >= 3.80);"})
Query 5eaf2007334f483dd6bba19b has been updated
==============
['Sells']
({'queryNum': 873}, {'parsedRemovedQuery': 'select cafe, drink, price \nfrom Sells\n'})
Query 5eaf2007334f483dd6bba19c has been updated
==============
['Sells']
({'queryNum': 874}, {'parsedRemovedQuery': "SELECT * FROM Sells WHERE cafe = 'Aroma' "})
Query 5eaf2007334f483dd6bba19d has been updated
==============
['Sells']
({'queryNum': 875}, {'parsedRemovedQuery': "Select *\nFROM Sells\nWhere cafe='c%'"})
Query 5eaf2007334f483dd6bba19e has been updated
==============
['Cafe']
({'queryNum': 876}, {'parsedRemovedQuery': 'SELECT name\nFROM Cafe\n'})
Query 5eaf2007334f483dd6bba19f has been updated
==============
['Customer']
({'queryNum': 877}, {'parsedRemovedQuery': 'SELECT name\nFROM Customer'})
Query 5eaf2007334f483dd6bba1a0 has been updated
==============
['Customer']
['Frequents']
({'queryNum': 878}, {'parsedRemovedQuery': 'SELECT * \nfrom Customer NATURAL JOIN Frequents'})
Query 5eaf2007334f483dd6bba1a1 has been updated
==============
['Cafe']
['Customer']
({'queryNum': 879}, {'parsedRemovedQuery': 'select *\nfrom Cafe\nright join Customer on Cafe.name = Customer.name'})
Query 5eaf2007334f483dd6bba1a2 has been updated
==============
['Sells']
({'queryNum': 880}, {'parsedRemovedQuery': 'select cafe \nfrom Sells'})
Query 5eaf2007334f483dd6bba1a3 has been updated
==============
['Cafe']
({'queryNum': 881}, {'parsedRemovedQuery': 'SELECT * FROM Cafe'})
Query 5eaf2007334f483dd6bba1a4 has been updated
==============
['Sells']
({'queryNum': 882}, {'parsedRemovedQuery': 'select *\nfrom Sells\nwhere price > 1'})
Query 5eaf2007334f483dd6bba1a5 has been updated
==============
['Cafe']
({'queryNum': 883}, {'parsedRemovedQuery': 'SELECT name \nFROM Cafe;'})
Query 5eaf2007334f483dd6bba1a6 has been updated
==============
['Sells']
({'queryNum': 884}, {'parsedRemovedQuery': 'select *\nfrom Sells'})
Query 5eaf2007334f483dd6bba1a7 has been updated
==============
['Cafe']
({'queryNum': 885}, {'parsedRemovedQuery': 'SELECT * FROM Cafe;'})
Query 5eaf2007334f483dd6bba1a8 has been updated
==============
['Likes']
['Sells']
({'queryNum': 886}, {'parsedRemovedQuery': 'SELECT customer, drink, Min(price)\nFROM Likes NATURAL JOIN Sells\nGROUP BY customer, drink'})

Query 5eaf2007334f483dd6bba1a9 has been updated
==============
['Cafe', 'c']
['Frequents', 'f']
({'queryNum': 887}, {'parsedRemovedQuery': 'SELECT * FROM Cafe\nLEFT OUTER JOIN Frequents\nON name = cafe'})
Query 5eaf2007334f483dd6bba1aa has been updated
==============
['information_schema.tables']
({'queryNum': 888}, {'parsedRemovedQuery': "SELECT 1,2,3,concat(table_name) FROM information_schema.tables WHERE table_schema = 'student'"})
Query 5eaf2007334f483dd6bba1ab has been updated
==============
['Sells']
({'queryNum': 889}, {'parsedRemovedQuery': 'SELECT *\nFROM Sells\nWhere price <> 0'})
Query 5eaf2007334f483dd6bba1ac has been updated
==============
['Sells']
({'queryNum': 890}, {'parsedRemovedQuery': 'select drink\nfrom Sells\nGROUP BY drink'})
Query 5eaf2007334f483dd6bba1ad has been updated
==============
({'queryNum': 891}, {'parsedRemovedQuery': 'select customer, Cafe.name as Cafename from Cafe, Frequents where Cafe.name=Frequents.cafe'})
Query 5eaf2007334f483dd6bba1ae has been updated
==============
['Sells']
({'queryNum': 892}, {'parsedRemovedQuery': 'SELECT cafe\nFROM Sells'})
Query 5eaf2007334f483dd6bba1af has been updated
==============
['Cafe', 'c']
['Frequents', 'f']
['Sells', 's']
({'queryNum': 893}, {'parsedRemovedQuery': 'SELECT name, addr\nFROM Cafe Natural Join Frequents Natural Join Sells\nWhere customer like "D%" and price > 4'})
Query 5eaf2007334f483dd6bba1b0 has been updated
==============
['Customer', 'C']
['Frequents', 'F']
({'queryNum': 894}, {'parsedRemovedQuery': 'SELECT name, addr,Phone, cafe\nFROM Customer, Frequents\nWHERE name =  customer\nORDER BY Phone DESC, name;'})
Query 5eaf2007334f483dd6bba1b1 has been updated
==============
['Customer']
({'queryNum': 895}, {'parsedRemovedQuery': 'select name from Customer;'})
Query 5eaf2007334f483dd6bba1b2 has been updated
==============
['Sells']
({'queryNum': 896}, {'parsedRemovedQuery': 'select * from Sells;\n'})
Query 5eaf2007334f483dd6bba1b3 has been updated
==============
['Likes', 'L']
['Sells', 'S']
({'queryNum': 897}, {'parsedRemovedQuery': 'select *\nfrom Likes join Sells on drink = drink'})
Query 5eaf2007334f483dd6bba1b4 has been updated
==============
['Likes']
['Sells']
({'queryNum': 898}, {'parsedRemovedQuery': 'SELECT *\nFROM Likes Natural Join Sells\nWHERE price > 10'})
Query 5eaf2007334f483dd6bba1b5 has been updated
==============
['Likes']
({'queryNum': 899}, {'parsedRemovedQuery': 'SELECT * FROM Likes'})
Query 5eaf2007334f483dd6bba1b6 has been updated
==============
['Sells']
({'queryNum': 900}, {'parsedRemovedQuery': 'SELECT * FROM Sells'})
Query 5eaf2007334f483dd6bba1b7 has been updated
==============
['Sells']
({'queryNum': 901}, {'parsedRemovedQuery': 'SELECT cafe FROM Sells'})
Query 5eaf2007334f483dd6bba1b8 has been updated
==============
['Sells', 'P']
({'queryNum': 902}, {'parsedRemovedQuery': 'SELECT drink, MIN(price) AS MinPrice\nFROM Sells\nGROUP BY drink;'})
Query 5eaf2007334f483dd6bba1b9 has been updated
==============
['Sells']
({'queryNum': 903}, {'parsedRemovedQuery': 'SELECT cafe, drink\nFROM Sells\nWHERE price = 3.39'})
Query 5eaf2007334f483dd6bba1ba has been updated
==============
['Sells']
['Frequents']
({'queryNum': 904}, {'parsedRemovedQuery': 'select *\nfrom Sells\nnatural join Frequents;'})
Query 5eaf2007334f483dd6bba1bb has been updated
==============
['Likes']
['Drinks']
({'queryNum': 905}, {'parsedRemovedQuery': 'SELECT *\nFROM Likes NATURAL JOIN Drinks\n'})
Query 5eaf2008334f483dd6bba1bc has been updated
==============
['Cafe']
({'queryNum': 906}, {'parsedRemovedQuery': 'select name from Cafe;'})
Query 5eaf2008334f483dd6bba1bd has been updated
==============
['Sells', 's']
({'queryNum': 907}, {'parsedRemovedQuery': 'SELECT cafe\nFROM Sells\nWHERE price > 0'})
Query 5eaf2008334f483dd6bba1be has been updated
==============
['Sells']
({'queryNum': 908}, {'parsedRemovedQuery': 'SELECT *\nFROM Sells'})
Query 5eaf2008334f483dd6bba1bf has been updated
==============
['Sells']
({'queryNum': 909}, {'parsedRemovedQuery': "SELECT cafe\nFROM Sells\nWHERE drink = 'Latte' AND \n    price = (\n        SELECT price\n        FROM Sells\n        WHERE cafe = 'Espresso Royal'\n        AND drink = 'Cappuccino'\n    );"})
Query 5eaf2008334f483dd6bba1c0 has been updated
==============
['Employee', 'e']
({'queryNum': 910}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\n salary * comission > (SELECT e2.salary * e2.comission as sac\nFROM Employee e2\nWHERE e2.jobTitle="IT Manager")'})
Query 5eaf2008334f483dd6bba1c1 has been updated
==============
['Employee']
({'queryNum': 911}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as sac\nFROM Employee\nWHERE empID IN\n(SELECT DISTINCT managerID\nFROM Employee)\n\nAND salary * comission\n\n>\n(\nSELECT salary*comission as sac\nFROM Employee\nWHERE jobTitle = "IT Manager"\n)\n\n-- WHERE \n\n\n-- SELECT e.empName, d.deptName\n-- FROM Employee e JOIN Department d ON (e.deptID = d.deptID)\n-- WHERE e.salary >= (\n-- SELECT minSalary\n-- FROM Salary_Grade\n-- WHERE grade=15\n-- )\n-- AND\n-- e.salary <= (\n-- SELECT maxSalary\n-- FROM Salary_Grade\n-- WHERE grade=15\n-- )'})
Query 5eaf2008334f483dd6bba1c2 has been updated
==============
['Employee']
({'queryNum': 912}, {'parsedRemovedQuery': "SELECT empName, salary*comission as salary FROM Employee WHERE salary * comission > (SELECT salary * comission FROM Employee WHERE jobTitle='IT Manager') AND jobTitle LIKE '%Manager%'"})
Query 5eaf2008334f483dd6bba1c3 has been updated
==============
['Employee']
({'queryNum': 913}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM Employee\nWHERE Employee.salary * Employee.comission > (SELECT salary * comission\nFROM Employee\nWHERE jobTitle = "IT Manager") AND (Employee.jobTitle = "General Manager" OR Employee.jobTitle = "IT Manager" OR Employee.jobTitle = "Operations Manager" OR Employee.jobTitle = "Sales Manager")'})
Query 5eaf2008334f483dd6bba1c4 has been updated
==============
['(Select', '*', 'FROM', 'Employee', 'c', 'WHERE', 'c.empID', 'IN', '(Select', 'f.managerID', 'FROM', 'Employee', 'f))', 'as', 'a']
({'queryNum': 914}, {'parsedRemovedQuery': 'SELECT empName, (salary*comission)\nFROM (Select * FROM Employee c WHERE c.empID IN (Select f.managerID FROM Employee f))\nWHERE salary*comission > (SELECT b.salary*b.comission FROM Employee b WHERE b.jobTitle = "IT Manager")'})
Query 5eaf2008334f483dd6bba1c5 has been updated
==============
['Employee']
({'queryNum': 915}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM Employee\nWHERE jobTitle LIKE "%Manager%"\nAND salary * comission >\n(SELECT salary * comission\nFROM Employee\nWHERE jobTitle = "IT Manager")'})
Query 5eaf2008334f483dd6bba1c6 has been updated
==============
['Employee', 'a']
['Employee', 'b']
({'queryNum': 916}, {'parsedRemovedQuery': "SELECT DISTINCT empName, salary * comission\nFROM Employee JOIN Employee ON managerID = empID\nWHERE salary * comission > (SELECT salary * comission\n                                FROM Employee\n                                WHERE jobTitle = 'IT Manager')\n"})
Query 5eaf2008334f483dd6bba1c7 has been updated
==============
['Employee', 'E']
({'queryNum': 917}, {'parsedRemovedQuery': "Select empName, salary*comission\nFrom Employee\nWhere empID IN (Select managerID From Employee) && \n(salary*comission) > (\nSelect salary*comission\nFrom Employee\nWhere jobTitle = 'IT Manager')\n\n"})
Query 5eaf2008334f483dd6bba1c8 has been updated
==============
['Employee']
({'queryNum': 918}, {'parsedRemovedQuery': 'SELECT  empName, salary * comission\nFROM    Employee \nWHERE   (salary * comission) > \n        (\n        SELECT salary * comission\n        FROM Employee\n        WHERE jobTitle = "IT Manager"\n        ) AND \n        (jobTitle LIKE \'%Manager%\')'})
Query 5eaf2008334f483dd6bba1c9 has been updated
==============
['Employee', 'e']
({'queryNum': 919}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID from Employee)\nAND salary * comission >(SELECT e2.salary * e2.comission from Employee e2 WHERE e2.jobTitle = "IT Manager")'})
Query 5eaf2008334f483dd6bba1ca has been updated
==============
['Employee']
({'queryNum': 920}, {'parsedRemovedQuery': "SELECT empName, salary*comission\nFROM Employee\nWHERE salary*comission > (SELECT salary*comission FROM Employee WHERE jobTitle = 'IT Manager')\nAND jobTitle LIKE '%Manager'"})
Query 5eaf2008334f483dd6bba1cb has been updated
==============
['Employee']
({'queryNum': 921}, {'parsedRemovedQuery': 'SELECT Employee.empName, (Employee.salary * Employee.comission) as mul\nFROM Employee\nWHERE Employee.jobTitle LIKE "%Manager%"  AND (Employee.salary * Employee.comission) > (SELECT (Employee.salary * Employee.comission) FROM Employee WHERE Employee.jobTitle LIKE "%IT Manager%")\n\n'})
Query 5eaf2008334f483dd6bba1cc has been updated
==============
['Employee']
({'queryNum': 922}, {'parsedRemovedQuery': 'SELECT empName, salary*comission\nFROM Employee\nWHERE salary*comission > (SELECT salary*comission FROM Employee WHERE jobTitle = "IT Manager")\nAND jobTitle LIKE "%Manager"\n'})

Query 5eaf2008334f483dd6bba1cd has been updated
==============
['Employee', 'e']
({'queryNum': 923}, {'parsedRemovedQuery': "SELECT empName, salary*comission\nFROM Employee\nWHERE (empID = ANY(SELECT DISTINCT e3.managerID\n                     FROM Employee e3)) AND \n      ((salary*comission) > (SELECT e2.Salary*e2.comission\n                                 FROM Employee e2\n                                 WHERE e2.jobTitle = 'IT Manager'))"})
Query 5eaf2008334f483dd6bba1ce has been updated
==============
['Employee']
({'queryNum': 924}, {'parsedRemovedQuery': "select empName, salary * comission as sac\nfrom Employee\nwhere empID in (select distinct managerID\n              from Employee) \n              and \nsalary * comission > (select salary * comission as sac\n                      from Employee \n                      where jobTitle = 'IT Manager')\n\n\n\n\n-- select salary * comission as sac\n-- from Employee \n-- where jobTitle = 'IT Manager'"})
Query 5eaf2008334f483dd6bba1cf has been updated
==============
['Employee', 'e']
({'queryNum': 925}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com FROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\nsalary * comission > (SELECT e2.salary * e2.comission as sac FROM Employee e2\nWHERE e2.jobTitle="IT Manager")'})
Query 5eaf2008334f483dd6bba1d0 has been updated
==============
['Employee']
({'queryNum': 926}, {'parsedRemovedQuery': "select empName, salary * comission as sac\nfrom Employee\nwhere empID in (select distinct managerID\n                from Employee) and salary * comission > (select salary * comission as sac\n                                                        from Employee\n                                                        where jobTitle = 'IT Manager')\n\n\n"})
Query 5eaf2008334f483dd6bba1d1 has been updated
==============
['Employee']
({'queryNum': 927}, {'parsedRemovedQuery': "SELECT empName, salary * comission AS salary_after_commision\nFROM Employee\nWHERE (salary * comission) > (SELECT salary * comission FROM Employee WHERE jobTitle = 'IT Manager') AND  jobTitle LIKE '%Manager%'"})
Query 5eaf2008334f483dd6bba1d2 has been updated
==============
['Employee', 'e']
({'queryNum': 928}, {'parsedRemovedQuery': "SELECT empName, salary * comission\nFROM Employee \nWHERE empID IN (\n    SELECT managerID FROM Employee\n) AND salary * comission > (\n    SELECT salary * comission FROM Employee WHERE jobTitle = 'IT Manager'\n)"})
Query 5eaf2008334f483dd6bba1d3 has been updated
==============
['Employee']
({'queryNum': 929}, {'parsedRemovedQuery': 'SELECT empName, (salary * comission) AS Salary_after_Com\nFROM Employee\nWHERE (salary * comission) > (SELECT (salary * comission) AS benchmark FROM Employee WHERE jobTitle = "IT Manager") AND empID IN (SELECT managerID FROM Employee)'})
Query 5eaf2008334f483dd6bba1d4 has been updated
==============
['Employee', 'e']
({'queryNum': 930}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com FROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\nsalary * comission > (SELECT e2.salary * e2.comission as sac FROM Employee e2\nWHERE e2.jobTitle="IT Manager")\n'})
Query 5eaf2008334f483dd6bba1d5 has been updated
==============
['Employee']
({'queryNum': 931}, {'parsedRemovedQuery': "SELECT empName, salary * comission as sac\nFROM Employee\nWHERE empID IN (SELECT DISTINCT managerID\nFROM Employee) AND salary * comission > (SELECT salary *comission\n                                        FROM Employee\n                                        WHERE jobTitle= 'IT Manager')"})
Query 5eaf2008334f483dd6bba1d6 has been updated
==============
['Employee']
({'queryNum': 932}, {'parsedRemovedQuery': "SELECT empName, salary*comission\nFROM Employee\nWHERE salary*comission>\n(SELECT salary*comission\nFROM Employee\nWHERE jobTitle='IT Manager'\n) AND jobTitle LIKE ('%Manager')\n"})
Query 5eaf2008334f483dd6bba1d7 has been updated
==============
['Employee', 'e']
({'queryNum': 933}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\n salary * comission > (SELECT e2.salary * e2.comission as sac\nFROM Employee e2\nWHERE e2.jobTitle="IT Manager")'})
Query 5eaf2008334f483dd6bba1d8 has been updated
==============
['Department', 'dept']
['Employee', 'emp']
({'queryNum': 934}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM Department NATURAL JOIN Employee\nWHERE jobTitle LIKE "%manager" AND salary * comission > (SELECT salary * comission\n                                                     FROM Department NATURAL JOIN Employee\n                                                     WHERE jobTitle = "IT Manager")'})
Query 5eaf2008334f483dd6bba1d9 has been updated
==============
['(SELECT', '*', '\n', '', '', '', 'FROM', 'Employee\n', '', '', '', 'WHERE', 'Employee.empID', 'in', '(SELECT', 'Employee.managerID', 'From', 'Employee))', 'as', 'Employee']
({'queryNum': 935}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM (SELECT * \n    FROM\n    WHERE empID in (SELECT managerID From Employee))\nWHERE salary * comission > (SELECT salary * comission FROM WHERE jobTitle = \'IT Manager\')\n\n/* \nAnother attempt: \n\nSELECT empName, salary * comission\nFROM (SELECT * \n    FROM\n    WHERE jobTitle like "%Manager%")\nWHERE salary * comission > (SELECT salary * comission FROM WHERE jobTitle = \'IT Manager\')\n*/\n'})
Query 5eaf2008334f483dd6bba1da has been updated
==============
['Employee']
({'queryNum': 936}, {'parsedRemovedQuery': "SELECT empName, salary * comission as sac \nFROM Employee\nWHERE empID IN (SELECT DISTINCT managerID FROM Employee) AND salary * comission > (SELECT salary * comission FROM Employee WHERE jobTitle = 'IT Manager');"})
Query 5eaf2008334f483dd6bba1db has been updated
==============
['Employee']
({'queryNum': 937}, {'parsedRemovedQuery': "SELECT Employee.empName, Employee.salary * Employee.comission\nFROM Employee\nWHERE (Employee.jobTitle = 'General Manager' OR \n       Employee.jobTitle = 'Operations Manager' OR \n       Employee.jobTitle = 'Sales Manager') AND \n       ((Employee.salary * Employee.comission) > \n       (SELECT Employee.salary * Employee.comission\n        FROM Employee\n        WHERE Employee.jobTitle = 'IT Manager'))\n        "})
Query 5eaf2008334f483dd6bba1dc has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 938}, {'parsedRemovedQuery': 'SELECT empName, salary*comission as Salary_after_Com\nFROM Employee natural join Department\nWHERE empID IN (SELECT managerID FROM Employee) AND\nsalary * comission > \n            (SELECT e2.salary * e2.comission as sac \n            FROM Employee e2\n            WHERE e2.jobTitle="IT Manager")'})
Query 5eaf2008334f483dd6bba1dd has been updated
==============
['Employee']
({'queryNum': 939}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as ManagerSalary\nFROM Employee\nWHERE jobTitle LIKE "%Manager" and salary * comission > (SELECT salary * comission as Salary FROM Employee WHERE jobTitle = "IT Manager")'})
Query 5eaf2008334f483dd6bba1de has been updated
==============
['Employee', 'e']
['Employee']
({'queryNum': 940}, {'parsedRemovedQuery': "SELECT e2.empName, e2.salary* e2.comission FROM Employee, Employee e2 WHERE comission * salary < e2.comission * e2.salary and (jobTitle = 'IT Manager' and e2.jobTitle <> 'IT Manager') and e2.jobTitle Like '%Manager'; \n"})
Query 5eaf2008334f483dd6bba1df has been updated
==============
['Employee']
({'queryNum': 941}, {'parsedRemovedQuery': 'SELECT empName, salary * comission from Employee WHERE jobTitle LIKE "%Manager%" AND (salary * comission) > ALL(\n    SELECT (salary * comission) FROM Employee WHERE jobTitle="IT Manager"\n);'})
Query 5eaf2008334f483dd6bba1e0 has been updated
==============
['Employee']
({'queryNum': 942}, {'parsedRemovedQuery': "SELECT empName, salary * comission as sac\nFROM Employee\nWHERE empID in (SELECT DISTINCT managerID\n                FROM Employee) AND \n                salary * comission > (SELECT salary * comission as sac\n                                        FROM Employee\n                                        WHERE jobTitle = 'IT Manager')\n\n\n-- -- salary after commision of IT Manager\n-- SELECT salary * comission as sac\n-- FROM Employee\n-- WHERE jobTitle = 'IT Manager'\n\n-- -- list of managers\n-- SELECT DISTINCT managerID\n-- FROM Employee e\n\n-- -- salary after commision of managers\n-- SELECT salary * commision as sac\n-- FROM Employee\n-- WHERE empID IN (SELECT DISTINCT managerID\n--                 FROM Employee)\n"})
Query 5eaf2009334f483dd6bba1e1 has been updated
==============
['Employee']
({'queryNum': 943}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM Employee\nWHERE (jobTitle LIKE "%Manager%") AND (salary * comission > (\n    SELECT salary * comission\n    FROM Employee\n    WHERE jobTitle = "IT Manager"\n))'})
Query 5eaf2009334f483dd6bba1e2 has been updated
==============
['Employee', 'e']
({'queryNum': 944}, {'parsedRemovedQuery': 'SELECT empName, salary*comission as Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND salary*comission > (SELECT e2.salary*e2.comission as sac FROM Employee e2 WHERE jobTitle="IT Manager")\n\n'})
Query 5eaf2009334f483dd6bba1e3 has been updated
==============
['Employee', 'e']
({'queryNum': 945}, {'parsedRemovedQuery': 'SELECT empName, (salary*comission) AS Salary_after_Com\nFROM Employee\nWHERE jobTitle LIKE "%Manager" AND (salary*comission) > \n    (SELECT m.salary*m.comission FROM Employee m WHERE m.jobTitle = "IT Manager")'})

Query 5eaf2009334f483dd6bba1e4 has been updated
==============
['Employee', 'emp']
({'queryNum': 946}, {'parsedRemovedQuery': 'SELECT empName, salary * comission AS Salary_After_Com\nFROM Employee \nWHERE empID in (SELECT managerID FROM Employee) AND salary* comission > (SELECT emp2.salary * emp2                                 .comission FROM Employee emp2 WHERE emp2.jobTitle = "IT Manager")'})
Query 5eaf2009334f483dd6bba1e5 has been updated
==============
['Employee']
({'queryNum': 947}, {'parsedRemovedQuery': "SELECT empName, comission*salary\nFROM Employee\nWHERE jobTitle LIKE '%Manager' and comission*salary > (SELECT comission*salary FROM Employee WHERE jobTitle='IT Manager')"})
Query 5eaf2009334f483dd6bba1e6 has been updated
==============
['Employee']
({'queryNum': 948}, {'parsedRemovedQuery': 'SELECT empName, salary* comission\nFROM Employee\nWHERE Employee.salary * Employee.comission > (SELECT salary * comission FROM Employee WHERE jobTitle = "IT Manager" ) and deptID = 3'})
Query 5eaf2009334f483dd6bba1e7 has been updated
==============
['Employee']
({'queryNum': 949}, {'parsedRemovedQuery': "SELECT empName, salary*comission \nFROM Employee\nWHERE salary*comission > (SELECT salary * comission\n                          FROM Employee\n                          WHERE jobTitle = 'IT Manager')\n      AND empID IN (SELECT managerID FROM Employee) \n\n"})
Query 5eaf2009334f483dd6bba1e8 has been updated
==============
['Employee']
({'queryNum': 950}, {'parsedRemovedQuery': "SELECT empName, salary * comission as total_compensation\nFROM Employee\nWHERE (salary * comission) > (SELECT (salary * comission) as total_compensation\n                            FROM Employee\n                            WHERE jobTitle LIKE 'IT Manager')\n    AND jobTitle LIKE '%Manager%'"})
Query 5eaf2009334f483dd6bba1e9 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 951}, {'parsedRemovedQuery': "SELECT empName, salary * comission\nFROM Employee\n     JOIN Department ON deptID = deptID\nWHERE jobTitle LIKE '%Manager'\n      AND \n      (SELECT salary * comission\n       FROM Employee WHERE jobTitle LIKE 'IT Manager')\n       < \n       (salary * comission)"})
Query 5eaf2009334f483dd6bba1ea has been updated
==============
['Employee']
({'queryNum': 952}, {'parsedRemovedQuery': 'select empName, salary * comission as Salary_after_Com\nfrom Employee\nwhere jobTitle like "%Manager" and salary * comission > (\n    select salary * comission\n    from Employee\n    where jobTitle = "IT Manager"\n)'})
Query 5eaf2009334f483dd6bba1eb has been updated
==============
['Employee']
({'queryNum': 953}, {'parsedRemovedQuery': 'Select empName,salary*comission\nFrom Employee \nwhere jobTitle LIKE "%Manager" and jobTitle NOT LIKE "IT Manager" and salary*comission >ALL\n(Select E.salary*E.comission\nfrom Employee E\nwhere E.jobTitle LIKE "IT Manager" )\n'})
Query 5eaf2009334f483dd6bba1ec has been updated
==============
['Employee']
({'queryNum': 954}, {'parsedRemovedQuery': "SELECT empName, salary*comission as sac\nFROM Employee\nWHERE empID IN (SELECT DISTINCT managerID\n                FROM Employee) AND salary*comission > (SELECT salary*comission as sac\n                                                       FROM Employee\n                                                       WHERE jobTitle = 'IT Manager')"})
Query 5eaf2009334f483dd6bba1ed has been updated
==============
['Employee', 'e']
({'queryNum': 955}, {'parsedRemovedQuery': 'SELECT empName, salary * comission as Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) AND\n salary * comission > (SELECT e2.salary * e2.comission as sac\nFROM Employee e2\nWHERE e2.jobTitle="IT Manager")'})
Query 5eaf2009334f483dd6bba1ee has been updated
==============
['Employee']
({'queryNum': 956}, {'parsedRemovedQuery': 'SELECT empName, salary * comission\nFROM Employee\nWHERE (salary * comission) > (SELECT (salary * comission) AS salaryAfterComission\nFROM Employee\nWHERE jobTitle = "IT Manager") AND jobTitle LIKE "%Manager%"'})
Query 5eaf2009334f483dd6bba1ef has been updated
==============
['Employee', 'e']
({'queryNum': 957}, {'parsedRemovedQuery': "SELECT empName, salary * comission AS Salary_after_Com\nFROM Employee\nWHERE empID IN (SELECT managerID FROM Employee) \n    AND salary * comission > (SELECT e2.salary * e2.comission AS sac\n                                  FROM Employee e2\n                                  WHERE e2.jobTitle = 'IT Manager');"})
Query 5eaf2009334f483dd6bba1f0 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 958}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Employee natural join Department\nwhere salary > (\n    select minSalary\n    from Salary_Grade\n    where grade = 15\n    )\n    and salary < (\n    select maxSalary\n    from Salary_Grade\n    where grade = 15\n    );'})
Query 5eaf2009334f483dd6bba1f1 has been updated
==============
['Employee']
['Department']
['Salary_Grade']
({'queryNum': 959}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee\nINNER JOIN Department ON Employee.deptID = Department.deptID\nINNER JOIN Salary_Grade on Salary_Grade.grade = 15\nWHERE salary > minSalary AND salary < maxSalary'})
Query 5eaf2009334f483dd6bba1f2 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 960}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON (deptID = deptID)\nWHERE salary >= (\nSELECT minSalary\nFROM Salary_Grade\nWHERE grade=15\n)\nAND\nsalary <= (\nSELECT maxSalary\nFROM Salary_Grade\nWHERE grade=15\n)\n\n'})
Query 5eaf2009334f483dd6bba1f3 has been updated
==============
['Department']
['Employee']
({'queryNum': 961}, {'parsedRemovedQuery': 'SELECT empName, deptName FROM Department NATURAL JOIN Employee WHERE Employee.salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15) and Employee.salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15)'})
Query 5eaf2009334f483dd6bba1f4 has been updated
==============
['Employee']
['Department']
({'queryNum': 962}, {'parsedRemovedQuery': 'SELECT empName, deptName FROM Employee\nINNER JOIN Department ON Employee.deptID = Department.deptID\nWHERE salary > (SELECT minSalary FROM Salary_Grade\nWHERE grade = 15) \nAND salary < (SELECT maxSalary FROM Salary_Grade\nWHERE grade = 15);'})
Query 5eaf2009334f483dd6bba1f5 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 963}, {'parsedRemovedQuery': 'Select empName, deptName\nFrom Employee, Department\nwhere deptId = deptId and salary <= (Select maxSalary from Salary_Grade where grade = 15) and salary >= (Select minSalary from Salary_Grade where grade = 15)\n'})
Query 5eaf2009334f483dd6bba1f6 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 964}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Department JOIN Employee on deptID = deptID\nWHERE salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15) && salary > (SELECT minSalary FROM Salary_Grade WHERE grade = 15) '})
Query 5eaf2009334f483dd6bba1f7 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 965}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary >= \n(SELECT minSalary \nFROM Salary_Grade \nWHERE grade = 15)\nAND salary <=\n(SELECT maxSalary \nFROM Salary_Grade \nWHERE grade = 15)'})
Query 5eaf2009334f483dd6bba1f8 has been updated
==============
['(SELECT', '*', 'FROM', 'Employee', 'NATURAL', 'JOIN', 'Department)', 'AS', 'E']
({'queryNum': 966}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM (SELECT * FROM Employee NATURAL JOIN Department) AS\nWHERE salary > (SELECT minSalary FROM Salary_Grade WHERE grade = 15 ) AND salary < (SELECT maxSalary FROM Salary_Grade WHERE grade = 15 )'})
Query 5eaf2009334f483dd6bba1f9 has been updated
==============
['Department', 'd']
['Employee', 'e']
({'queryNum': 967}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Department JOIN Employee ON deptID = deptID\nWHERE salary BETWEEN (SELECT minSalary FROM Salary_Grade WHERE grade = 15) AND (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf2009334f483dd6bba1fa has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 968}, {'parsedRemovedQuery': 'Select empName, deptName\nFrom Employee, Department\nWhere salary >= (Select minSalary\nFrom Salary_Grade\nWhere grade = 15) \n&& salary <= (Select maxSalary\nFrom Salary_Grade\nWhere grade = 15)\n&&  deptID =  deptID'})
Query 5eaf2009334f483dd6bba1fb has been updated
==============
['Employee', 'emp']
['Department', 'dept']
({'queryNum': 969}, {'parsedRemovedQuery': 'SELECT  DISTINCT empName, deptName\nFROM    Employee, Department\nWHERE   (\n        SELECT  sal.grade\n        FROM    Salary_Grade sal\n        WHERE   salary < sal.maxSalary AND salary > sal.minSalary AND sal.grade = 15\n        ) AND (\n        deptID = deptID\n        )'})

Query 5eaf2009334f483dd6bba1fc has been updated
==============
({'queryNum': 970}, {'parsedRemovedQuery': 'SELECT Employee.empName, Department.deptName FROM Employee, Salary_Grade, Department\n   WHERE Salary_Grade.grade = 15\n   AND Employee.salary > Salary_Grade.minSalary\n   AND Employee.salary < Salary_Grade.maxSalary\n   AND Employee.deptID = Department.deptID\n\n   '})
Query 5eaf2009334f483dd6bba1fd has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 971}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15)\n'})
Query 5eaf2009334f483dd6bba1fe has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 972}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 15) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf2009334f483dd6bba1ff has been updated
==============
['Employee']
({'queryNum': 973}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department, Salary_Grade\nWHERE (Employee.Salary > Salary_Grade.minSalary AND Employee.Salary < Salary_Grade.maxSalary) AND Salary_Grade.grade = 15\n\n\n-- SELECT Salary_Grade.grade\n-- FROM Salary_Grade\n-- WHERE 60000 > Salary_Grade.minSalary AND 60000 < Salary_Grade.maxSalary\n\n\n\n'})
Query 5eaf2009334f483dd6bba200 has been updated
==============
['Employee']
['Department']
({'queryNum': 974}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 15)\nAND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)\n    '})
Query 5eaf2009334f483dd6bba201 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 975}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee Natural JOIN Department\nWHERE (Salary >= (SElECT minSalary\n                    FROM Salary_Grade s\n                    WHERE s.grade = 15)) AND (Salary <= (SELECT maxSalary\n                                                           FROM Salary_Grade s\n                                                           WHERE s.grade = 15));'})
Query 5eaf2009334f483dd6bba202 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 976}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Employee natural join Department\nwhere salary >= (select minSalary\n                  from Salary_Grade\n                  where grade = 15) and\n      salary <= (select maxSalary\n                   from Salary_Grade\n                   where grade = 15)\n                   \n                   \n-- from Employee join Department on (deptID = deptID)\n\n-- select minSalary\n-- from Salary_Grade\n-- where grade = 15\n\n-- select maxSalary\n-- from Salary_Grade\n-- where grade = 15'})
Query 5eaf2009334f483dd6bba203 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 977}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15) AND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15)'})
Query 5eaf2009334f483dd6bba204 has been updated
==============
['Employee', 'as', 'A']
['Salary_Grade']
['Department', 'as', 'B']
({'queryNum': 978}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Employee\nleft join Salary_Grade on salary >= minSalary and salary <= maxSalary\nleft join Department as on deptID = deptID\nwhere grade = 15'})
Query 5eaf2009334f483dd6bba205 has been updated
==============
['Employee']
['Department']
({'queryNum': 979}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Employee natural join Department\nwhere salary >= (select minSalary\n                from Salary_Grade\n                where grade = 15) and \n        salary <= (select maxSalary\n                from Salary_Grade\n                where grade = 15) \n\n-- from Employee e join Department d on e.deptID = d.deptID\n\n\n-- select minSalary, maxSalary\n-- from Salary_Grade\n-- where grade = 15;'})
Query 5eaf2009334f483dd6bba206 has been updated
==============
({'queryNum': 980}, {'parsedRemovedQuery': 'SELECT Employee.empName, Department.deptName FROM Employee, Department, Salary_Grade\n    WHERE Employee.deptID = Department.deptID AND Salary_Grade.grade = 15 AND \n    Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary'})
Query 5eaf200a334f483dd6bba207 has been updated
==============
['Employee', 'emp']
['Department', 'dep']
({'queryNum': 981}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee join Department on deptID = deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15) AND \nsalary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15);'})
Query 5eaf200a334f483dd6bba208 has been updated
==============
['Department', 'dep']
['Employee', 'em']
({'queryNum': 982}, {'parsedRemovedQuery': 'SELECT EmpName, deptName\nFROM Department NATURAL JOIN Employee\nWHERE salary <= (SELECT maxSalary from Salary_Grade where grade = 15) AND salary >= (SELECT minSalary from Salary_Grade where grade = 15);'})
Query 5eaf200a334f483dd6bba209 has been updated
==============
({'queryNum': 983}, {'parsedRemovedQuery': 'SELECT e.empName, d.deptName\nFROM (Employee e) NATURAL JOIN (Department d)\nWHERE e.salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 15) AND e.salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba20a has been updated
==============
['Employee', 'emp']
['Department', 'dept']
({'queryNum': 984}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary < (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)\n  AND salary > (SELECT minSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba20b has been updated
==============
['Employee']
['Department']
({'queryNum': 985}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Employee natural join Department\nwhere salary >= (select minSalary from Salary_Grade where grade=15)\nand salary <= (select maxSalary from Salary_Grade where grade=15)'})
Query 5eaf200a334f483dd6bba20c has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 986}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary >= (SELECT minSalary\n                    FROM Salary_Grade\n                    WHERE grade=15) AND\n                   salary<= (SELECT maxSalary\n                    FROM Salary_Grade\n                    WHERE grade=15)'})
Query 5eaf200a334f483dd6bba20d has been updated
==============
['Employee', 'emp']
['Department', 'dept']
['Salary_Grade', 'sal']
({'queryNum': 987}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee, Department, Salary_Grade\nWHERE deptID=deptID AND grade=15 AND salary<=maxSalary AND salary>=minSalary'})
Query 5eaf200a334f483dd6bba20e has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 988}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON deptID=deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15) AND \nsalary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15)'})
Query 5eaf200a334f483dd6bba20f has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 989}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade=15)\nAND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade=15)'})
Query 5eaf200a334f483dd6bba210 has been updated
==============
['Department', 'dept']
['Employee', 'emp']
({'queryNum': 990}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Department NATURAL JOIN Employee\nwhere \n    salary >= (SELECT minSalary\n                    FROM Salary_Grade sg\n                    WHERE sg.grade = 15) AND\n    salary <= (SELECT maxSalary\n                    FROM Salary_Grade sg\n                    WHERE sg.grade = 15)'})
Query 5eaf200a334f483dd6bba211 has been updated
==============

({'queryNum': 991}, {'parsedRemovedQuery': 'SELECT Employee.empName, Department.deptName\nFROM Department, Employee, Salary_Grade\nWHERE Employee.Salary < Salary_Grade.maxSalary and Salary_Grade.grade = 15 and Employee.Salary > Salary_Grade.minSalary and Employee.deptID = Department.deptID'})
Query 5eaf200a334f483dd6bba212 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 992}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 15) \nAND salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba213 has been updated
==============
['Department', 'd']
({'queryNum': 993}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM  Salary_Grade g, Employee e natural join Department \nWHERE (e.salary > g.minSalary and e.salary < g.maxSalary) and (g.grade=15)'})
Query 5eaf200a334f483dd6bba214 has been updated
==============
['Department', 'A']
['Employee', 'B']
({'queryNum': 994}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Department, Employee\nWHERE deptID = deptID and salary <= (SELECT maxSalary from Salary_Grade WHERE grade = 15) and salary >= (SELECT minSalary from Salary_Grade WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba215 has been updated
==============
['Salary_Grade']
({'queryNum': 995}, {'parsedRemovedQuery': 'select empName, deptName from (Employee emp JOIN Department dept on emp.deptID = dept.deptID), Salary_Grade where grade = 15 and salary >= minSalary and salary <= maxSalary;'})
Query 5eaf200a334f483dd6bba216 has been updated
==============
({'queryNum': 996}, {'parsedRemovedQuery': 'SELECT empName, deptName from (Employee NATURAL JOIN Department as ED) WHERE EXISTS (SELECT * FROM Salary_Grade where grade=15 AND minSalary <= salary AND maxSalary >= salary);\n'})
Query 5eaf200a334f483dd6bba217 has been updated
==============
['Employee']
['Department']
({'queryNum': 997}, {'parsedRemovedQuery': 'SELECT Employee.empName, Department.deptName \nFROM Employee\nNATURAL JOIN Department\nWHERE salary >= (SELECT minSalary\n                        FROM Salary_Grade\n                        WHERE grade = 15)\n    AND salary <= (SELECT maxSalary\n                        FROM Salary_Grade\n                        WHERE grade = 15); \n\n'})
Query 5eaf200a334f483dd6bba218 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 998}, {'parsedRemovedQuery': 'SELECT empName, deptName \nFROM Employee NATURAL JOIN Department JOIN Salary_Grade ON salary > minSalary AND salary < maxSalary\nWHERE grade = 15'})
Query 5eaf200a334f483dd6bba219 has been updated
==============
['Employee', 'e']
['Department', 'd']
['Salary_Grade', 's']
({'queryNum': 999}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee, Department, Salary_Grade\nWHERE deptID = deptID AND grade = 15 AND (salary > MinSalary AND salary < maxSalary)'})
Query 5eaf200a334f483dd6bba21a has been updated
==============
['Employee', 'e']
['Department', 'as', 'd']
({'queryNum': 1000}, {'parsedRemovedQuery': 'select empName,deptName\nfrom Employee natural join Department\nwhere salary >= (\n        select minSalary from Salary_Grade where grade=15\n)\nand salary <= (\n        select maxSalary from Salary_Grade where grade=15\n)'})
Query 5eaf200a334f483dd6bba21b has been updated
==============
['Employee']
['Department']
({'queryNum': 1001}, {'parsedRemovedQuery': 'SELECT empName,  deptname\nFROM Employee NATURAL JOIN Department\nWHERE salary \n    BETWEEN (SELECT minSalary FROM Salary_Grade WHERE grade = 15) \n    AND (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)\n\n/*\nSELECT empName,  deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary > 0*/\n'})
Query 5eaf200a334f483dd6bba21c has been updated
==============
['Employee', 'emp']
['Department', 'dpt']
({'queryNum': 1002}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department \nWHERE salary >= (SELECT minSalary FROM Salary_Grade WHERE grade = 15) AND\n      salary <= (SELECT maxSalary FROM Salary_Grade WHERE grade = 15) \n'})
Query 5eaf200a334f483dd6bba21d has been updated
==============
['Employee']
({'queryNum': 1003}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department, (\n    SELECT * FROM Salary_Grade WHERE grade = 15\n) as grade_15\nWHERE Employee.salary >= grade_15.minSalary AND Employee.salary <= grade_15.maxSalary'})
Query 5eaf200a334f483dd6bba21e has been updated
==============
({'queryNum': 1004}, {'parsedRemovedQuery': 'SELECT  empName, deptName\nFROM Department, Employee\nWHERE (Department.deptID = Employee.deptID) and Employee.salary > (SELECT minSalary FROM Salary_Grade WHERE grade = 15)and Employee.salary < (SELECT maxSalary FROM Salary_Grade WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba21f has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 1005}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee\nLEFT OUTER JOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary\n                 FROM Salary_Grade\n                 WHERE grade = 15)\n    AND salary <= (select maxSalary\n                     FROM Salary_Grade\n                     WHERE grade = 15)'})
Query 5eaf200a334f483dd6bba220 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 1006}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee\n     JOIN Department ON deptID = deptID\nWHERE salary BETWEEN (SELECT S.minSalary \n                        FROM Salary_Grade S\n                        WHERE S.grade = 15)\n                        AND\n                        (SELECT S.maxSalary\n                        FROM Salary_Grade S\n                        WHERE S.grade = 15)'})
Query 5eaf200a334f483dd6bba221 has been updated
==============
['Department']
['Employee']
({'queryNum': 1007}, {'parsedRemovedQuery': 'select empName, deptName\nfrom Department natural join Employee\nwhere salary >= (\n    select minSalary\n    from Salary_Grade\n    where grade = 15\n) and salary <= (\n    select maxSalary\n    from Salary_Grade\n    where grade = 15\n)'})
Query 5eaf200a334f483dd6bba222 has been updated
==============
({'queryNum': 1008}, {'parsedRemovedQuery': 'Select empName, deptName\nfrom Department,Employee,Salary_Grade\nwhere Department.deptID=Employee.deptID and salary>=minSalary and salary<=maxSalary and grade = 15\n'})
Query 5eaf200a334f483dd6bba223 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 1009}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee NATURAL JOIN Department\nWHERE salary >= (SELECT minSalary\n                   FROM Salary_Grade\n                   WHERE grade=15) AND\n      salary <= (SELECT maxSalary\n                   FROM Salary_Grade\n                   WHERE grade=15)\n\n-- FROM Employee JOIN Department ON (deptID = deptID) -- join bc we want data from both tables'})
Query 5eaf200a334f483dd6bba224 has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
['Department', 'D']
({'queryNum': 1010}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee, Salary_Grade, Department\nWHERE salary < maxSalary AND salary > minSalary AND grade = 15 AND deptID = deptID;'})
Query 5eaf200a334f483dd6bba225 has been updated
==============
({'queryNum': 1011}, {'parsedRemovedQuery': 'select empName, deptName from Department, Employee where Employee.deptID = Department.deptID and salary >= (select minSalary from Salary_Grade where grade = 15) and salary <= (select maxSalary from Salary_Grade where grade=15)'})
Query 5eaf200a334f483dd6bba226 has been updated
==============
['Employee', 'E']
['Department', 'D']
({'queryNum': 1012}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee \nLEFT JOIN Department \nON deptID = deptID\nWHERE salary <= (SELECT maxSalary\n                    FROM Salary_Grade sg\n                    WHERE sg.grade = 15)\n    AND salary >= (SELECT minSalary\n                    FROM Salary_Grade sg\n                    WHERE sg.grade = 15)\n'})
Query 5eaf200a334f483dd6bba227 has been updated
==============
['Department']
({'queryNum': 1013}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Department NATURAL JOIN Employee, \n    (SELECT minSalary, maxSalary\n    FROM Salary_Grade\n    WHERE grade = 15) AS temp\nWHERE salary >= temp.minSalary AND salary <= temp.maxSalary'})
Query 5eaf200a334f483dd6bba228 has been updated
==============

['Employee', 'e']
['Department', 'd']
({'queryNum': 1014}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee\nJOIN Department ON deptID = deptID\nWHERE salary >= (SELECT minSalary\n                   FROM Salary_Grade\n                   WHERE grade = 15) \n      AND salary <= (SELECT maxSalary\n                       FROM Salary_Grade\n                       WHERE grade = 15);\n      '})
Query 5eaf200a334f483dd6bba229 has been updated
==============
['Employee', 'e']
['Department', 'd']
({'queryNum': 1015}, {'parsedRemovedQuery': 'SELECT empName, deptName\nFROM Employee JOIN Department ON (deptID = deptID)\nWHERE salary >= (SELECT minSalary\n                    FROM Salary_Grade\n                    WHERE grade=15) AND \nsalary <= (SELECT maxSalary\n            FROM Salary_Grade\n            WHERE grade = 15)\n'})
Query 5eaf200a334f483dd6bba22a has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1016}, {'parsedRemovedQuery': "SELECT * FROM Employee JOIN Salary_Grade ON (grade=13 OR grade=12) AND salary <= maxSalary AND salary>= minSalary WHERE jobTitle= 'IT Support' or jobTitle='Sales Rep.'"})
Query 5eaf200a334f483dd6bba22b has been updated
==============
['Employee']
['Salary_Grade']
({'queryNum': 1017}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee JOIN Salary_Grade \n    ON Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary \nWHERE (grade = 12 OR grade = 13) AND (Employee.jobTitle = "IT Support" OR Employee.jobTitle = "Sales Rep.")'})
Query 5eaf200b334f483dd6bba22c has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1018}, {'parsedRemovedQuery': "SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\nAND grade IN (12, 13)\nAND empID IN\n(SELECT empID\nFROM Employee \nWHERE jobTitle IN ('IT Support', 'Sales Rep.'))\n"})
Query 5eaf200b334f483dd6bba22d has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1019}, {'parsedRemovedQuery': "SELECT *\nFROM Employee JOIN Salary_Grade ON (salary > minSalary AND salary < maxSalary)\nWHERE (grade = 12 OR grade = 13) AND (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.')"})
Query 5eaf200b334f483dd6bba22e has been updated
==============
['Employee', 'e']
['Salary_Grade', 'sal']
({'queryNum': 1020}, {'parsedRemovedQuery': "SELECT  *\nFROM    Employee, Salary_Grade\nWHERE   (\n   salary < maxSalary AND salary > minSalary AND (grade = 12 OR grade = 13)\n        )\n        AND \n        (\n        jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.'    \n        )"})
Query 5eaf200b334f483dd6bba22f has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1021}, {'parsedRemovedQuery': "SELECT *\nFROM Employee JOIN Salary_Grade\nON salary <= maxSalary AND salary >= minSalary\nWHERE (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.') AND (grade = 12 OR grade = 13)"})
Query 5eaf200b334f483dd6bba230 has been updated
==============
({'queryNum': 1022}, {'parsedRemovedQuery': 'SELECT * \nFROM Employee, Salary_Grade\nWHERE \n(Employee.salary > Salary_Grade.minSalary AND Employee.salary < Salary_Grade.maxSalary)\nAND (Salary_Grade.grade = 12 OR Salary_Grade.grade = 13) AND (Employee.jobTitle LIKE "%IT Support%" OR Employee.jobTitle LIKE "%Sales Rep.%")\n'})
Query 5eaf200b334f483dd6bba231 has been updated
==============
({'queryNum': 1023}, {'parsedRemovedQuery': 'SELECT * \nFROM Employee, Salary_Grade\nWHERE grade IN (12, 13)\nAND salary >= minSalary \nAND salary <= maxSalary\nAND jobTitle IN ("IT Support", "Sales Rep.")\n'})
Query 5eaf200b334f483dd6bba232 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1024}, {'parsedRemovedQuery': "SELECT *\nFROM Employee LEFT JOIN Salary_Grade ON ((Salary >= minSalary) AND (Salary <= maxSalary))\nWHERE (Grade = 12 OR Grade = 13) AND (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.')"})
Query 5eaf200b334f483dd6bba233 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1025}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary) AND grade IN (12,13)\nAND empID IN (SELECT e2.empID\nFROM Employee e2\nWHERE JobTitle IN ("IT Support", "Sales Rep."))'})
Query 5eaf200b334f483dd6bba234 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1026}, {'parsedRemovedQuery': "select *\nfrom Employee join Salary_Grade on (salary >= minSalary and salary <= maxSalary)\nwhere (grade = 12 or grade = 13) and (jobTitle = 'IT Support' or jobTitle = 'Sales Rep.')"})
Query 5eaf200b334f483dd6bba235 has been updated
==============
['Employee', 'E']
['Salary_Grade', 'SG']
({'queryNum': 1027}, {'parsedRemovedQuery': "SELECT *, *\nFROM Employee, Salary_Grade\nWHERE (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.') AND (salary <= (SELECT maxSalary from Salary_Grade where grade = 13) AND salary >= (SELECT minSalary from Salary_Grade where grade = 12)) AND (minSalary <= salary AND maxSalary >= salary)\nORDER BY hireDate;"})
Query 5eaf200b334f483dd6bba236 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1028}, {'parsedRemovedQuery': 'select *\nfrom Employee,Salary_Grade\nwhere (jobTitle in ("IT Support", "Sales Rep.")) and (grade in (12, 13)) \nand (salary between minSalary and maxSalary)'})
Query 5eaf200b334f483dd6bba237 has been updated
==============
({'queryNum': 1029}, {'parsedRemovedQuery': "SELECT DISTINCT empID, empName, jobTitle, managerID, hireDate, salary, comission, deptID, grade, minSalary, maxSalary\nFROM Employee, Salary_Grade\nWHERE grade IN (12,13) AND jobTitle IN ('IT Support', 'Sales Rep.') AND salary<=maxSalary AND salary>=minSalary"})
Query 5eaf200b334f483dd6bba238 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1030}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\nAND grade IN (12,13)\nAND JobTitle IN ("IT Support", "Sales Rep.")'})
Query 5eaf200b334f483dd6bba239 has been updated
==============
['Employee']
['Salary_Grade']
({'queryNum': 1031}, {'parsedRemovedQuery': 'SELECT DISTINCT *\nFROM Employee NATURAL JOIN Salary_Grade\nWHERE ((grade = 12 AND salary >= minSalary AND salary <= maxSalary) OR\n      (grade = 13 AND salary >= minSalary AND salary <= maxSalary)) AND\n      (jobTitle = "IT Support" OR jobTitle = "Sales Rep.")'})
Query 5eaf200b334f483dd6bba23a has been updated
==============
['Employee']
['Salary_Grade']
({'queryNum': 1032}, {'parsedRemovedQuery': "SELECT * \nFROM Employee JOIN Salary_Grade ON salary <= maxSalary AND salary >= minSalary\nWHERE (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.') AND (grade = 12 OR grade = 13);"})
Query 5eaf200b334f483dd6bba23b has been updated
==============
['Employee', 'e']
['Salary_Grade', 'g']
({'queryNum': 1033}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\n    AND grade in (12,13) \n    AND jobTitle in ("IT Support", "Sales Rep.")'})
Query 5eaf200b334f483dd6bba23c has been updated
==============
['Employee', 'ee']
['Salary_Grade', 'sg']
({'queryNum': 1034}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee Join Salary_Grade ON (grade = 12 OR grade = 13) AND salary Between minSalary and maxSalary\nWHERE JobTitle = "IT Support" or JobTitle = "Sales Rep."'})
Query 5eaf200b334f483dd6bba23d has been updated
==============
({'queryNum': 1035}, {'parsedRemovedQuery': "select * from Employee, Salary_Grade where ((grade = 12 or grade = 13) and (salary >= minSalary and salary <= maxSalary)) and (jobTitle = 'IT Support' or jobTitle = 'Sales Rep.');"})
Query 5eaf200b334f483dd6bba23e has been updated
==============
['Employee', 'e']
['Salary_Grade', 'sg']
({'queryNum': 1036}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee JOIN Salary_Grade ON (salary >= minSalary) AND (salary <= maxSalary)\nWHERE (jobTitle = "IT Support" OR jobTitle = "Sales Rep.") AND (grade = 12 OR grade = 13)\n    '})
Query 5eaf200b334f483dd6bba23f has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1037}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\nAND grade IN (12,13)\nAND (jobTitle = "IT Support" or jobTitle="Sales Rep.")'})

Query 5eaf200b334f483dd6bba240 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1038}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE ((grade = 12 AND salary > minSalary AND salary < maxSalary) OR (grade = 13 AND salary > minSalary AND salary < maxSalary)) AND (jobTitle = "IT Support" OR jobTitle = "Sales Rep.")'})
Query 5eaf200b334f483dd6bba241 has been updated
==============
['Employee', 'e']
['Salary_Grade', 'sg']
({'queryNum': 1039}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE jobTitle IN ("IT Support", "Sales Rep.") AND salary BETWEEN minSalary AND maxSalary AND grade in (12, 13)\n      '})
Query 5eaf200b334f483dd6bba242 has been updated
==============
['Employee']
['(SELECT', '*', 'FROM', 'Salary_Grade', 'WHERE', 'grade', '=', '13)', 'AS', 'grade_13']
['Employee']
['(SELECT', '*', 'FROM', 'Salary_Grade', 'WHERE', 'grade', '=', '12)', 'AS', 'grade_12']
({'queryNum': 1040}, {'parsedRemovedQuery': 'SELECT DISTINCT *\nFROM Employee \nINNER JOIN (SELECT * FROM Salary_Grade WHERE grade = 13) AS\nON salary > minSalary\nAND salary < maxSalary\nWHERE jobTitle = \'IT Support\' OR jobTitle = "Sales Rep."\nUNION\nSELECT DISTINCT *\nFROM Employee \nINNER JOIN (SELECT * FROM Salary_Grade WHERE grade = 12) AS\nON salary > minSalary\nAND salary < maxSalary\nWHERE jobTitle = \'IT Support\' OR jobTitle = "Sales Rep."\n'})
Query 5eaf200b334f483dd6bba243 has been updated
==============
['(SELECT', '*\nFROM', 'Employee,', 'Salary_Grade\nWHERE', 'jobTitle', '=', '"Sales', 'Rep."or', 'jobTitle', '=', '"IT', 'Support")', 'as', 'Result']
({'queryNum': 1041}, {'parsedRemovedQuery': 'SELECT *\nFROM (SELECT *\nFROM Employee, Salary_Grade\nWHERE jobTitle = "Sales Rep."or jobTitle = "IT Support")\nWHERE (grade = 12 or grade = 13)  and salary > minSalary and salary < maxSalary'})
Query 5eaf200b334f483dd6bba244 has been updated
==============
({'queryNum': 1042}, {'parsedRemovedQuery': "select * \nfrom Employee, Salary_Grade\nWHERE \n    salary >= minSalary AND salary <= maxSalary AND (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.') AND (grade = 12 OR grade = 13);\n"})
Query 5eaf200b334f483dd6bba245 has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
({'queryNum': 1043}, {'parsedRemovedQuery': "SELECT *\nFROM Employee LEFT OUTER JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary \nWHERE jobTitle IN ('IT Support', 'Sales Rep.') AND grade IN (12, 13)\nORDER BY empId"})
Query 5eaf200b334f483dd6bba246 has been updated
==============
['Employee', 'E']
['Salary_Grade', 'S']
({'queryNum': 1044}, {'parsedRemovedQuery': "SELECT *\nFROM Employee\n     JOIN Salary_Grade ON salary BETWEEN minSalary AND maxSalary\nWHERE (jobTitle = 'IT Support' OR jobTitle = 'Sales Rep.')\n      AND \n      salary BETWEEN (SELECT minSalary \n                        FROM Salary_Grade\n                        WHERE grade = 12)\n                        AND\n                        (SELECT maxSalary\n                        FROM Salary_Grade\n                        WHERE grade = 13)\nORDER BY empID"})
Query 5eaf200b334f483dd6bba247 has been updated
==============
['Employee']
['Salary_Grade']
({'queryNum': 1045}, {'parsedRemovedQuery': 'select *\nfrom Employee join Salary_Grade\non salary >= minSalary and salary <= maxSalary\nwhere (grade = 12 or grade = 13)\nand (jobTitle = "IT Support" or jobTitle = "Sales Rep.")'})
Query 5eaf200b334f483dd6bba248 has been updated
==============
({'queryNum': 1046}, {'parsedRemovedQuery': "Select * \nfrom Employee,Salary_Grade\nwhere grade IN (12,13) and (jobTitle LIKE 'IT Support' or jobTitle LIKE 'Sales Rep.') and (salary>=minSalary and salary <= maxSalary)"})
Query 5eaf200b334f483dd6bba249 has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1047}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\n    AND grade IN (12,13)\n    AND empID IN (SELECT e2.empID\n                    FROM Employee e2\n                    WHERE JobTitle IN ("IT Support", "Sales Rep."))'})
Query 5eaf200b334f483dd6bba24a has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1048}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\nAND grade IN (12,13)\nAND empID IN (SELECT e2.empID\nFROM Employee e2\nWHERE JobTitle IN ("IT Support", "Sales Rep."))'})
Query 5eaf200b334f483dd6bba24b has been updated
==============
['Employee', 'e']
['Salary_Grade', 'sg']
({'queryNum': 1049}, {'parsedRemovedQuery': 'SELECT *\nFROM Employee\nJOIN Salary_Grade\nON salary < maxSalary AND salary > minSalary\nWHERE (jobTitle = "IT Support" OR jobTitle = "Sales Rep.") AND (grade = 12 OR grade = 13)'})
Query 5eaf200b334f483dd6bba24c has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1050}, {'parsedRemovedQuery': "SELECT *\nFROM Employee, Salary_Grade\nWHERE jobTitle IN ('IT Support', 'Sales Rep.')\n    AND ((\n        grade = 12 AND\n        salary >= minSalary AND\n        salary <= maxSalary\n    )\n    OR\n    (\n        grade = 13 AND\n        salary >= minSalary AND\n        salary <= maxSalary\n    )\n    )"})
Query 5eaf200c334f483dd6bba24d has been updated
==============
['Employee', 'e']
['Salary_Grade', 's']
({'queryNum': 1051}, {'parsedRemovedQuery': "SELECT *\nFROM Employee, Salary_Grade\nWHERE (salary BETWEEN minSalary AND maxSalary)\n    AND grade IN (12, 13)\n    AND empID IN (SELECT e2.empID\n                    FROM Employee e2\n                    WHERE JobTitle IN ('IT Support', 'Sales Rep.'));"})
Query 5eaf200c334f483dd6bba24e has been updated
==============
['Students']
['Enrollments']
({'queryNum': 1052}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName,LastName\nFROM Students NATURAL JOIN Enrollments\nWHERE EXISTS(SELECT * FROM Courses WHERE Enrollments.CRN = Courses.CRN AND Students.Department <> Courses.Department);'})
Query 5eaf200c334f483dd6bba24f has been updated
==============
['Students', 'ss']
['Enrollments', 'ee']
['Courses', 'cc']
({'queryNum': 1053}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN=CRN and Department != Department;'})
Query 5eaf200c334f483dd6bba250 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1054}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFrom Students\nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetId\nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department <> Courses.Department'})
Query 5eaf200c334f483dd6bba251 has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 1055}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students natural join Enrollments\nWHERE CRN in \n(\nSelect CRN\nFROM Courses\nWHERE Department <> Department\n)\n\norder by FirstName'})
Query 5eaf200c334f483dd6bba252 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1056}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM \nStudents JOIN Enrollments ON NetId = NetId JOIN Courses ON CRN = CRN\nWHERE (Department != Department)\n'})
Query 5eaf200c334f483dd6bba253 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1057}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students NATURAL JOIN Enrollments JOIN Courses on CRN = CRN\nWHERE Department != Department'})
Query 5eaf200c334f483dd6bba254 has been updated
==============
['Students', 'S']
({'queryNum': 1058}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFrom Students\nWhere Exists (Select *\n    From Enrollments E Natural Join Courses C\n    Where E.NetId = NetId And C.Department <> Department)\n'})
Query 5eaf200c334f483dd6bba255 has been updated
==============
['Students']
({'queryNum': 1059}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE (SELECT COUNT(CRN) FROM Courses WHERE Courses.Department<>Students.Department AND CRN IN (SELECT CRN FROM Enrollments WHERE Enrollments.NetId=Students.NetId))'})
Query 5eaf200c334f483dd6bba256 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1060}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nJOIN Enrollments ON NetId = NetId\nJOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf200c334f483dd6bba257 has been updated
==============
['Students', 's']
({'queryNum': 1061}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS (SELECT e.NetId FROM Enrollments e WHERE e.NetId = NetId AND EXISTS (SELECT c.CRN FROM Courses c WHERE c.CRN = e.CRN AND Department <> c.Department));'})

Query 5eaf200c334f483dd6bba258 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1062}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Students\nnatural join Enrollments inner join Courses\non CRN = CRN\nwhere  (department <> department)\n'})
Query 5eaf200c334f483dd6bba259 has been updated
==============
['Students', 'Stu']
['Enrollments', 'En']
['Courses', 'Cn']
({'queryNum': 1063}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName \nFrom Students\nJoin Enrollments on NetId = NetId\nJoin Courses on CRN = CRN\nWhere Department <> Department'})
Query 5eaf200c334f483dd6bba25a has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 1064}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students INNER JOIN Enrollments ON NetId = NetId\nWHERE department != (Select Department From Courses c Where c.CRN = CRN)'})
Query 5eaf200c334f483dd6bba25b has been updated
==============
['Students', 'T1']
({'queryNum': 1065}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM Students\nWHERE ((\nSELECT COUNT(*) \nFROM Enrollments NATURAL JOIN Courses\nWHERE Department != Department AND NetId = NetId) != 0)\n'})
Query 5eaf200c334f483dd6bba25c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1066}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN = CRN and Department <> Department;\n'})
Query 5eaf200c334f483dd6bba25d has been updated
==============
['Students', 's']
({'queryNum': 1067}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students \nWHERE EXISTS (\n    SELECT e.NetId\n    FROM Enrollments e NATURAL JOIN Courses c\n    WHERE e.NetId = NetId AND Department <> c.Department\n    )'})
Query 5eaf200c334f483dd6bba25e has been updated
==============
['Students', 'S']
({'queryNum': 1068}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS ( SELECT *\n               FROM Enrollments, Courses\n               WHERE Enrollments.NetId = NetId AND\n                     Courses.CRN = Enrollments.CRN AND\n                     Courses.Department <> Department\n             )'})
Query 5eaf200c334f483dd6bba25f has been updated
==============
({'queryNum': 1069}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFrom (Select FirstName, LastName,  Students.NetId, Courses.Department as course, Students.Department as dept\n    From Students, Enrollments, Courses\n    Where Students.NetId = Enrollments.NetId and Courses.CRN = Enrollments.CRN  ) as merge\nWhere merge.dept != merge.course;'})
Query 5eaf200c334f483dd6bba260 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1070}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFrom Students,  Enrollments e Natural join Courses\nWhere NetId = NetId and Department <> Department '})
Query 5eaf200c334f483dd6bba261 has been updated
==============
['Students']
({'queryNum': 1071}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE NetID IN\n(SELECT DISTINCT(s.NetID)\nFROM Students s, Enrollments e, Courses c\nWHERE s.NetId = e.NetId\nAND e.CRN = c.CRN\nAND s.Department <> c.Department)'})
Query 5eaf200c334f483dd6bba262 has been updated
==============
['Students', 's']
['(SELECT', 'NetId']
['Department\n', '', '', '', 'FROM', 'Enrollments', 'e', 'JOIN', 'Courses', 'c', 'ON', 'e.CRN', '=', 'c.CRN)', 'ic']
({'queryNum': 1072}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students,\n    (SELECT, Department\n    FROM Enrollments e JOIN Courses c ON e.CRN = c.CRN) ic\nWHERE NetId = ic.NetId AND Department <> ic.Department;'})
Query 5eaf200c334f483dd6bba263 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1073}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM \nStudents JOIN Enrollments\n    ON NetId = NetId\nJOIN Courses\n    ON CRN = CRN\n\nWHERE Department <> Department\n'})
Query 5eaf200c334f483dd6bba264 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 1074}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments\nNATURAL JOIN Students\nLEFT JOIN Courses\nON CRN=CRN\nWHERE Department <> Department;'})
Query 5eaf200c334f483dd6bba265 has been updated
==============
['Students', 'S']
({'queryNum': 1075}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE NetId IN (\n    SELECT DISTINCT NetId FROM Enrollments WHERE CRN IN(\n    SELECT CRN FROM Courses WHERE Department <> Department))'})
Query 5eaf200c334f483dd6bba266 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1076}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND Department <> Department;'})
Query 5eaf200c334f483dd6bba267 has been updated
==============
({'queryNum': 1077}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students, Enrollments, Courses\nWHERE Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department <> Students.Department'})
Query 5eaf200c334f483dd6bba268 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1078}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName,LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND Department <> Department'})
Query 5eaf200c334f483dd6bba269 has been updated
==============
({'queryNum': 1079}, {'parsedRemovedQuery': 'SELECT DISTINCT\n    Students.FirstName,\n    Students.LastName\n\nFROM\n    Students, Enrollments, Courses\n\nWHERE\n    Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department <> Students.Department'})
Query 5eaf200c334f483dd6bba26a has been updated
==============
({'queryNum': 1080}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFrom  Students, Enrollments , Courses\nwhere Students.Department <> Courses.Department and Enrollments.CRN = Courses.CRN and Students.NetId = Enrollments.NetId;\n'})
Query 5eaf200c334f483dd6bba26b has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1081}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN = CRN and Department <> Department \ngroup by NetId'})
Query 5eaf200c334f483dd6bba26c has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1082}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students left join Enrollments \non NetId = NetId left join Courses\non CRN = CRN\nwhere Department != Department\ngroup by NetId'})
Query 5eaf200c334f483dd6bba26d has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1083}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students\njoin Enrollments on NetId=NetId\njoin Courses on CRN=CRN\nwhere Department<>Department'})
Query 5eaf200c334f483dd6bba26e has been updated
==============
['Students', 's']
({'queryNum': 1084}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFrom Students\nWhere EXISTS \n  (Select*\nFrom Enrollments e, Courses c\nWhere netID = e.NetID and e.CRN = c.CRN and c.Department <> Department\n  )'})
Query 5eaf200c334f483dd6bba26f has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1085}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students\nJOIN Enrollments ON Students.NetId = Enrollments.NetId\nJoin Courses ON Courses.CRN = Enrollments.CRN\nWHERE Students.Department NOT LIKE Courses.Department'})
Query 5eaf200d334f483dd6bba270 has been updated
==============
({'queryNum': 1086}, {'parsedRemovedQuery': 'SELECT DISTINCT  s.FirstName, s.LastName\nFROM    (\n        SELECT DISTINCT c.Department, e.NetId\n        FROM     Enrollments e LEFT JOIN Courses c ON e.CRN = c.CRN\n        ) AS joined, Students s\nWHERE   s.Department <> joined.Department AND joined.NetId = s.NetId\n\n-- SELECT DISTINCT s.FirstName, s.LastName\n-- FROM    Students as s,\n--         (\n--         SELECT DISTINCT e.NetId, c.Department\n--         FROM Enrollments as e, Courses as c\n--         WHERE e.CRN = c.CRN\n--         ) as e_dept\n-- WHERE s.NetId = e_dept.NetId AND s.Department <> e_dept.Department'})
Query 5eaf200d334f483dd6bba271 has been updated
==============
({'queryNum': 1087}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, (SELECT NetId, Department FROM Enrollments INNER JOIN Courses ON Enrollments.CRN = Courses.CRN) AS DepsOfStudents\nWHERE Students.NetId = DepsOfStudents.NetID AND Students.Department <> DepsOfStudents.Department;'})
Query 5eaf200d334f483dd6bba272 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1088}, {'parsedRemovedQuery': 'SELECT FirstName, LastName FROM Students INNER JOIN Enrollments ON Students.NetId = Enrollments.NetId INNER JOIN Courses ON Enrollments.CRN = Courses.CRN WHERE Courses.Department <> Students.Department\nGROUP BY Students.NetId'})
Query 5eaf200d334f483dd6bba273 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 1089}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments INNER JOIN Students ON NetId = NetId INNER JOIN Courses ON CRN = CRN\nWHERE Department <> Department\n'})
Query 5eaf200d334f483dd6bba274 has been updated
==============
({'queryNum': 1090}, {'parsedRemovedQuery': 'SELECT DISTINCT s.FirstName, s.LastName\nFROM (Students s JOIN  Enrollments e ON s.NetId = e.NetId )\nWHERE e.CRN IN (SELECT CRN FROM Courses c WHERE c.Department != s.Department)\n'})

Query 5eaf200d334f483dd6bba275 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1091}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN = CRN and Department <> Department'})
Query 5eaf200d334f483dd6bba276 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1092}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students \nJOIN Enrollments ON NetId = NetId\nJOIN Courses on CRN = CRN\nWHERE Department <> Department;'})
Query 5eaf200d334f483dd6bba277 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 1093}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments JOIN Students ON NetId = NetId JOIN Courses ON CRN = CRN\nWHERE NetId = NetId AND CRN = CRN AND Department != Department;'})
Query 5eaf200d334f483dd6bba278 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1094}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nNATURAL JOIN Enrollments\nLEFT JOIN Courses ON CRN = CRN\nWHERE Department != Department'})
Query 5eaf200d334f483dd6bba279 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1095}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\n\nFROM Students JOIN Enrollments ON Enrollments.NetId = Students.NetId JOIN Courses ON Courses.CRN = Enrollments.CRN\nWHERE Students.Department != Courses.Department\n-- ORDER BY temp.FirstName'})
Query 5eaf200d334f483dd6bba27a has been updated
==============
['Enrollments', 'E']
['Students', 'S']
['Courses', 'C']
({'queryNum': 1096}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments LEFT JOIN Students\nON NetId = NetId LEFT JOIN Courses ON CRN=CRN\nWHERE Department <> Department'})
Query 5eaf200d334f483dd6bba27b has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1097}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND Department <> Department'})
Query 5eaf200d334f483dd6bba27c has been updated
==============
['Courses']
({'queryNum': 1098}, {'parsedRemovedQuery': 'SELECT Distinct Students.FirstName, Students.LastName\nFROM Students, Enrollments Natural Join Courses\nWHERE Students.NetId = Enrollments.NetId And Students.Department != Courses.Department'})
Query 5eaf200d334f483dd6bba27d has been updated
==============
['Students', 'S']
({'queryNum': 1099}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS (  SELECT *\n                FROM  Enrollments NATURAL JOIN Courses \n                WHERE NetId=NetId AND Department<>Department     );\n'})
Query 5eaf200d334f483dd6bba27e has been updated
==============
['(\nSELECT', 'Students.FirstName,', 'Students.LastName,', 'Students.NetId,', 'Students.Department,', 'Courses.Department', 'as', 'ID\nFROM', 'Students\nINNER', 'JOIN', 'Enrollments', 'ON', 'Students.NetId=Enrollments.NetId', '\nINNER', 'JOIN', 'Courses', 'ON', 'Enrollments.CRN', '=', 'Courses.CRN\nHAVING', 'Students.Department!=ID', ')', 'as', 'x']
({'queryNum': 1100}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (\nSELECT Students.FirstName, Students.LastName, Students.NetId, Students.Department, Courses.Department as ID\nFROM Students\nINNER JOIN Enrollments ON Students.NetId=Enrollments.NetId \nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nHAVING Students.Department!=ID ) as x'})
Query 5eaf200d334f483dd6bba27f has been updated
==============
['(SELECT', 's.FirstName,', 's.LastName,', 's.Department,', 's.NetId,', 'e.CRN\n', '', '', '', '', '', '', '', 'FROM', 'Students', 's', 'JOIN', 'Enrollments', 'e', 'ON', 's.NetId', '=', 'e.NetId)', 'as', 'temp']
['Courses', 'c']
({'queryNum': 1101}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (SELECT s.FirstName, s.LastName, s.Department, s.NetId, e.CRN\n        FROM Students s JOIN Enrollments e ON s.NetId = e.NetId)\n    INNER JOIN Courses ON CRN = CRN\nWHERE Department <> Department\n'})
Query 5eaf200d334f483dd6bba280 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1102}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments e NATURAL JOIN Courses\nWHERE (NetId = NetId) AND EXISTS(SELECT * FROM Courses WHERE Department <> CourseDepartment)'})
Query 5eaf200d334f483dd6bba281 has been updated
==============
['Students', 's']
({'queryNum': 1103}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE NetId IN \n    (SELECT NetId\n        FROM Enrollments e JOIN Courses c\n            ON e.CRN = c.CRN\n                WHERE Department <> c.Department)'})
Query 5eaf200d334f483dd6bba282 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1104}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students LEFT OUTER JOIN Enrollments\n    ON Students.NetId = Enrollments.NetId\n    LEFT OUTER JOIN Courses\n    ON Students.Department <> Courses.Department\nWHERE Enrollments.CRN = Courses.CRN;\n'})
Query 5eaf200d334f483dd6bba283 has been updated
==============
['Students']
({'queryNum': 1105}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students  \nWHERE EXISTS(\n\nSELECT NetId \nFROM Enrollments Natural JOIN Courses\nWHERE (Courses.department != Students.department) AND Students.NetId = Enrollments.NetId\n);\n\n'})
Query 5eaf200d334f483dd6bba284 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1106}, {'parsedRemovedQuery': 'select distinct Students.FirstName, Students.LastName\nfrom Students  join Enrollments  join Courses\non Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN\nwhere   Courses.Department != Students.Department\n'})
Query 5eaf200d334f483dd6bba285 has been updated
==============
({'queryNum': 1107}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (SELECT * FROM Students st NATURAL JOIN Enrollments en ) AS temp, Courses\nWHERE temp.Department <> Courses.Department AND temp.CRN = Courses.CRN'})
Query 5eaf200d334f483dd6bba286 has been updated
==============
['Students', 's']
['(select', 'e.NetId,', 'c.Department', 'from', 'Enrollments', 'e', 'join', 'Courses', 'c', 'on', 'e.CRN', '=', 'c.CRN)', 'as', 'ec']
({'queryNum': 1108}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Students join (select e.NetId, c.Department from Enrollments e join Courses c on e.CRN = c.CRN) as on NetId = NetId where Department <> Department'})
Query 5eaf200d334f483dd6bba287 has been updated
==============
({'queryNum': 1109}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE Students.NetId = Enrollments.NetId AND Courses.CRN = Enrollments.CRN AND Courses.Department != Students.Department\nGROUP BY FirstName, LastName'})
Query 5eaf200d334f483dd6bba288 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1110}, {'parsedRemovedQuery': 'select distinct Students.FirstName, Students.LastName\nfrom Students\ninner join Enrollments on Students.NetId=Enrollments.NetId\ninner join Courses on Enrollments.CRN=Courses.CRN and Courses.Department!=Students.Department'})
Query 5eaf200d334f483dd6bba289 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1111}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE NOT Department = Department;'})
Query 5eaf200d334f483dd6bba28a has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1112}, {'parsedRemovedQuery': 'select distinct\n    FirstName, LastName\nfrom\n    Students, Enrollments, Courses\nwhere (NetId = NetId and CRN = CRN and Department not like Department)\n'})
Query 5eaf200d334f483dd6bba28b has been updated
==============
['Enrollments']
['Courses']
({'queryNum': 1113}, {'parsedRemovedQuery': 'Select DISTINCT Students.FirstName, Students.LastName\nFROM Enrollments INNER JOIN Courses ON Enrollments.CRN = Courses.CRN, Students\nwhere Students.NetId = Enrollments.NetId and Courses.Department <> Students.Department'})

Query 5eaf200d334f483dd6bba28c has been updated
==============
['Courses', 'c']
({'queryNum': 1114}, {'parsedRemovedQuery': 'SELECT Distinct s.FirstName, s.LastName FROM\n\n(Students s left Join Enrollments e on s.NetId = e.NetId) right join Courses on e.CRN = CRN\n\nWHERE s.Department != Department;'})
Query 5eaf200d334f483dd6bba28d has been updated
==============
['Courses', 'c']
['Students', 's']
({'queryNum': 1115}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Courses join Students on Department = Department\nwhere exists (select * from Courses natural join Enrollments \n       where Department <> Courses .Department and NetId = EnrollmentNetId)\n'})
Query 5eaf200d334f483dd6bba28e has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1116}, {'parsedRemovedQuery': 'SElECT FirstName, LastName\nFROM Students \nJOIN Enrollments on NetId = NetId\nJOIN Courses on CRN = CRN\nWHERE Department <> Department\nGROUP BY NetId'})
Query 5eaf200d334f483dd6bba28f has been updated
==============
({'queryNum': 1117}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students, Courses, Enrollments\nWHERE Students.NetId=Enrollments.NetId and Enrollments.CRN=Courses.CRN\nand Students.Department <> Courses.Department\n'})
Query 5eaf200e334f483dd6bba290 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1118}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students LEFT OUTER JOIN Enrollments ON NetId = NetId\nLEFT OUTER JOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf200e334f483dd6bba291 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1119}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN = CRN and Department <> Department'})
Query 5eaf200e334f483dd6bba292 has been updated
==============
['Students', 'AS', 'S']
({'queryNum': 1120}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students AS\nWHERE NetId IN \n    (SELECT E.NetId\n    FROM Students S, Enrollments E, Courses C \n    WHERE NetId = E.NetId AND E.CRN = C.CRN AND C.Department <> Department);'})
Query 5eaf200e334f483dd6bba293 has been updated
==============
['Students', 'as', 'S']
['Enrollments', 'as', 'E']
['Courses', 'as', 'C']
({'queryNum': 1121}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nleft join Enrollments as on NetId = NetId\nleft join Courses as on CRN = CRN\nwhere Department != Department\ngroup by NetId'})
Query 5eaf200e334f483dd6bba294 has been updated
==============
['Students', 'stud']
['(SELECT', 'e.NetId,', 'c.Department', 'FROM', 'Enrollments', 'e', 'NATURAL', 'JOIN', 'Courses', 'c)', 'dept']
({'queryNum': 1122}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nLEFT JOIN (SELECT e.NetId, c.Department FROM Enrollments e NATURAL JOIN Courses c)\nON NetId = NetId\nWHERE Department <> Department;\n'})
Query 5eaf200e334f483dd6bba295 has been updated
==============
['Students']
({'queryNum': 1123}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName from Students where Students.NetId in (select Students.NetId from Enrollments left join Courses on Courses.CRN = Enrollments.CRN left join Students on Students.NetId = Enrollments.NetId where Students.Department != Courses.Department) group by Students.NetId'})
Query 5eaf200e334f483dd6bba296 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1124}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students\nINNER JOIN Enrollments on Enrollments.NetId = Students.NetId\nINNER JOIN Courses on Courses.CRN = Enrollments.CRN\nWHERE Students.Department <> Courses.Department'})
Query 5eaf200e334f483dd6bba297 has been updated
==============
['Courses', 'c']
({'queryNum': 1125}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom (Students s natural join Enrollments e) join Courses on e.CRN = CRN\nwhere s.Department != Department'})
Query 5eaf200e334f483dd6bba298 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1126}, {'parsedRemovedQuery': 'SELECT distinct FirstName, LastName\nFrom Students natural join Enrollments join Courses on CRN = CRN\nwhere Department <> Department'})
Query 5eaf200e334f483dd6bba299 has been updated
==============
['Students']
({'queryNum': 1127}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\n    FROM Students\n    WHERE NetId IN (\n        SELECT NetId \n        FROM Enrollments NATURAL JOIN Courses\n        WHERE Students.Department <> Department\n    )'})
Query 5eaf200e334f483dd6bba29a has been updated
==============
['Students', 'as', 'stu']
['Enrollments', 'as', 'enr']
['Courses', 'as', 'cou']
({'queryNum': 1128}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students as join Enrollments as on NetId = NetId join Courses as on CRN = CRN\nWHERE NetId in (SELECT enr2.NetId FROM Enrollments as enr2 join Courses as cou2 on cou2.CRN = enr2.CRN where Department <> Department);'})
Query 5eaf200e334f483dd6bba29b has been updated
==============
['Students', 'S']
({'queryNum': 1129}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE EXISTS (\n    SELECT *\n    FROM Enrollments E\n    WHERE NetId = E.NetId AND E.CRN IN (\n        SELECT C.CRN\n        FROM Courses C\n        WHERE C.Department <> Department\n    )\n)'})
Query 5eaf200e334f483dd6bba29c has been updated
==============
['Students', 'v']
['Enrollments', 'as', 'e1']
['Courses', 'as', 'c1']
({'queryNum': 1130}, {'parsedRemovedQuery': 'select DISTINCT FirstName, LastName from Students\n\t\tJOIN Enrollments as on NetID = NetId\n\t\tJOIN Courses as on CRN = CRN\n\t\twhere Department != Department'})
Query 5eaf200e334f483dd6bba29d has been updated
==============
['(\n', '', '', '', '', '', '', '', 'SELECT', 'FirstName,', 'LastName,', 'Students.NetId', 'as', '"NetId",', 'Department,', 'CRN\n', '', '', '', '', '', '', '', 'FROM', 'Students', 'RIGHT', 'JOIN', 'Enrollments', 'ON', 'Students.NetId', '=', 'Enrollments.NetId\n', '', '', '', ')', 'a']
['Courses']
({'queryNum': 1131}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\n    FROM\n    (\n        SELECT FirstName, LastName, Students.NetId as "NetId", Department, CRN\n        FROM Students RIGHT JOIN Enrollments ON Students.NetId = Enrollments.NetId\n    )\nRIGHT JOIN Courses ON CRN = Courses.CRN\nWHERE Department <> Courses.Department\nGroup BY NetId\n'})
Query 5eaf200e334f483dd6bba29e has been updated
==============
['Students']
['(SELECT', 'NetId,', 'Department', 'as', 'course_dept', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Courses)', 'AS', 'Course_Dept_Table']
({'queryNum': 1132}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students NATURAL JOIN (SELECT NetId, Department as course_dept FROM Enrollments NATURAL JOIN Courses) AS\nWHERE Department != course_dept;'})
Query 5eaf200e334f483dd6bba29f has been updated
==============
['(\n', '', '', '', 'SELECT', '*\n', '', '', '', 'FROM', 'Students', 's\n', '', '', '', 'NATURAL', 'JOIN', 'Enrollments', 'e\n)', 'AS', 'se']
['Courses', 'c']
({'queryNum': 1133}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (\n    SELECT *\n    FROM Students s\n    NATURAL JOIN Enrollments e\n) AS\nJOIN Courses\nON CRN = CRN\nWHERE Department != Department'})
Query 5eaf200e334f483dd6bba2a0 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1134}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName FROM Students\nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf200e334f483dd6bba2a1 has been updated
==============
['Courses', 'c']
['(SELECT', '*', 'FROM', 'Students)', 's']
['(SELECT', 'NetId,', 'CRN', 'FROM', 'Enrollments)', 'e']
({'queryNum': 1135}, {'parsedRemovedQuery': 'SELECT DISTINCT s.FirstName, s.LastName\nFROM Courses, (SELECT * FROM Students) s Natural Join (SELECT NetId, CRN FROM Enrollments)\nWHERE CRN = CRN AND s.Department <> Department'})
Query 5eaf200e334f483dd6bba2a2 has been updated
==============
['Students', 'AS', 's']
['Enrollments', 'AS', 'e']
['Courses', 'AS', 'c']
({'queryNum': 1136}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM Students AS\nJOIN Enrollments AS ON NetId = NetId\nJOIN Courses AS ON CRN = CRN \nWHERE Department <> Department;\n'})

Query 5eaf200e334f483dd6bba2a3 has been updated
==============
['Students', 'stud']
['(SELECT', 'NetId,', 'Department\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'enro', 'JOIN', 'Courses', 'cour', 'ON', 'enro.CRN', '=', 'cour.CRN)', 'as', 'EnroCour']
({'queryNum': 1137}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students JOIN (SELECT NetId, Department\n                         FROM Enrollments enro JOIN Courses cour ON enro.CRN = cour.CRN) as \n                   ON NetId = NetId\nWHERE Department <> Department\nGROUP BY NetId'})
Query 5eaf200e334f483dd6bba2a4 has been updated
==============
['Enrollments', 'as', 'E']
['Students', 'as', 'S']
['Courses', 'as', 'C']
({'queryNum': 1138}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Enrollments as \nINNER JOIN Students as on NetId = NetId\nINNER JOIN Courses as on CRN = CRN\nWHERE Department <> Department\nGROUP BY NetId'})
Query 5eaf200e334f483dd6bba2a5 has been updated
==============
['Students', 's']
['(Select', 'NetId,', 'Department\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Enrollments', 'e', 'Natural', 'Join', 'Courses', 'c)', 'as', 'temp']
({'queryNum': 1139}, {'parsedRemovedQuery': 'Select DISTINCT FirstName, LastName\nFrom Students Join (Select NetId, Department\n                      From Enrollments e Natural Join Courses c)\n    ON NetId = NetId\nWhere Department <> Department'})
Query 5eaf200e334f483dd6bba2a6 has been updated
==============
['Students']
({'queryNum': 1140}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere NetId in(\nselect distinct S.NetId\nfrom (Enrollments as E inner join Courses as C on E.CRN = C.CRN) left join Students as S on S.NetId = E.NetId and S.Department != C.Department);'})
Query 5eaf200e334f483dd6bba2a7 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1141}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName FROM Students JOIN Enrollments ON\nEnrollments.NetId = Students.NetId JOIN Courses ON Enrollments.CRN = Courses.CRN \nWHERE Courses.Department <> Students.Department;\n'})
Query 5eaf200e334f483dd6bba2a8 has been updated
==============
({'queryNum': 1142}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFrom Students,\n    (SELECT NetId, Department\n     From   Enrollments, (SELECT CRN, Department\n                          FROM Courses) as temp1\n     WHERE Enrollments.CRN LIKE temp1.CRN\n     ) as temp2\nWhere Students.NetID like temp2.NetID AND Students.Department Not like temp2.Department'})
Query 5eaf200e334f483dd6bba2a9 has been updated
==============
['Students', 'S']
({'queryNum': 1143}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students JOIN (Enrollments E NATURAL JOIN Courses C)\n    ON NetId = E.NetId\nWHERE Department <> C.Department\nGROUP BY NetId;'})
Query 5eaf200e334f483dd6bba2aa has been updated
==============
['Students', 's']
({'queryNum': 1144}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS(SELECT c.Department FROM Courses c, Enrollments e WHERE NetId = e.NetId AND e.CRN = c.CRN AND c.Department <> Department)'})
Query 5eaf200e334f483dd6bba2ab has been updated
==============
['Students', 'AS', 's']
['(select', 'Department', 'as', 'cd,', 'NetId', 'from', 'Enrollments', 'natural', 'join', 'Courses)', 'AS', 'D']
({'queryNum': 1145}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students AS natural join (select Department as cd, NetId from Enrollments natural join Courses) AS\nWhere Department <> cd\n'})
Query 5eaf200e334f483dd6bba2ac has been updated
==============
['Students', 'S']
['(select', 'distinct', 'NetId,', 'Department\nfrom', 'Courses', 'natural', 'join', 'Enrollments)', 'as', 'T']
({'queryNum': 1146}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students join\n(select distinct NetId, Department\nfrom Courses natural join Enrollments)\non NetId=NetId and Department<>Department\n'})
Query 5eaf200e334f483dd6bba2ad has been updated
==============
['Students']
['Enrollments']
({'queryNum': 1147}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students right JOIN Enrollments ON Students.NetId = Enrollments.NetId\nWHERE Enrollments.CRN IN (\n    SELECT CRN\n    FROM Courses\n    WHERE Courses.Department <> Students.Department\n)\n    \n    \n\n'})
Query 5eaf200e334f483dd6bba2ae has been updated
==============
['Students', 'A']
['(Select', 'B.NetId\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'From', 'Students', 'D']
['Enrollments', 'B', 'Natural', 'Join', 'Courses', 'C\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Where', 'C.Department', '!=', 'D.Department)', 'as', 'temp1']
({'queryNum': 1148}, {'parsedRemovedQuery': 'Select FirstName, LastName\nFrom Students, (Select B.NetId\n                  From Students D,Enrollments B Natural Join Courses C\n                  Where C.Department != D.Department)\nWhere NetId = NetId\nGroup By NetId'})
Query 5eaf200e334f483dd6bba2af has been updated
==============
['(select', 't1.NetId,t1.FirstName,t1.LastName,t1.Department', 'as', 'd1,', 't1.CRN,', 'c.Department', 'as', 'd2', 'from', '(select', 's.NetId,', 's.FirstName,', 's.LastName,s.Department,e.CRN', 'from', 'Students', 's', 'join', 'Enrollments', 'e', 'on', 's.NetId', '=', 'e.NetId)as', 't1', 'join', 'Courses', 'c', 'on', 't1.CRN', '=', 'c.CRN)as', 't2']
({'queryNum': 1149}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from (select t1.NetId,t1.FirstName,t1.LastName,t1.Department as d1, t1.CRN, c.Department as d2 from (select s.NetId, s.FirstName, s.LastName,s.Department,e.CRN from Students s join Enrollments e on s.NetId = e.NetId)as t1 join Courses c on t1.CRN = c.CRN)as  where d1 <>d2'})
Query 5eaf200e334f483dd6bba2b0 has been updated
==============
({'queryNum': 1150}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Enrollments, Courses, Students where Enrollments.CRN = Courses.CRN and Students.NetId=Enrollments.NetId and Courses.Department<>Students.Department'})
Query 5eaf200e334f483dd6bba2b1 has been updated
==============
({'queryNum': 1151}, {'parsedRemovedQuery': 'select distinct S.FirstName, S.LastName\nfrom ((Enrollments E inner join Students S\n                                    on E.NetId = S.NetId) inner join Courses C\n                                    on E.CRN = C.CRN)\nwhere S.Department <> C.Department'})
Query 5eaf200f334f483dd6bba2b2 has been updated
==============
['Students', 'S']
({'queryNum': 1152}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere exists (select 1\n              from Enrollments E Natural Join Courses C\n              where E.NetId = NetId and Department <> C.Department)\n'})
Query 5eaf200f334f483dd6bba2b3 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1153}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId=NetId and CRN=CRN and Department<>Department;'})
Query 5eaf200f334f483dd6bba2b4 has been updated
==============
({'queryNum': 1154}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students, Enrollments, Courses\nWHERE Students.NetId = Enrollments.NetId AND Enrollments.CRN = Courses.CRN AND Courses.Department <> Students.Department'})
Query 5eaf200f334f483dd6bba2b5 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1155}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName FROM Students NATURAL JOIN Enrollments JOIN Courses ON Enrollments.CRN = Courses.CRN WHERE Students.Department != Courses.Department'})
Query 5eaf200f334f483dd6bba2b6 has been updated
==============
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1156}, {'parsedRemovedQuery': 'SELECT DISTINCT S.FirstName, S.LastName\nFROM Enrollments JOIN Courses ON CRN = CRN, Students S\nWHERE S.NetId = NetId AND S.Department <> Department'})
Query 5eaf200f334f483dd6bba2b7 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1157}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nINNER JOIN Enrollments on Students.NetId = Enrollments.NetId\nINNER JOIN Courses on Enrollments.CRN = Courses.CRN\nWHERE Students.Department <> Courses.Department;'})
Query 5eaf200f334f483dd6bba2b8 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1158}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN\nAND Department Not LIKE Department;'})

Query 5eaf200f334f483dd6bba2b9 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['(SELECT', 'c.Department,', 'c.CRN', 'FROM', 'Courses', 'c)', 'tmp']
({'queryNum': 1159}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students NATURAL JOIN Enrollments JOIN (SELECT c.Department, c.CRN FROM Courses c) ON CRN = CRN\nWHERE Department != Department'})
Query 5eaf200f334f483dd6bba2ba has been updated
==============
({'queryNum': 1160}, {'parsedRemovedQuery': 'SELECT DISTINCT S1.FirstName, S1.LastName\nFROM ((Enrollments E1\nINNER JOIN Courses C1 ON C1.CRN = E1.CRN)\nINNER JOIN Students S1 on S1.NetId = E1.NetId)\nWHERE S1.Department != C1.Department'})
Query 5eaf200f334f483dd6bba2bb has been updated
==============
['Enrollments', 'E']
['Students', 'S']
['Courses', 'C']
({'queryNum': 1161}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments LEFT JOIN Students\nON NetId = NetId LEFT JOIN Courses ON CRN = CRN\nWHERE Department <> Department;'})
Query 5eaf200f334f483dd6bba2bc has been updated
==============
['(SELECT', '*', '\n', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Courses)', 'as', 'temp']
['Students']
({'queryNum': 1162}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM \n(SELECT * \n FROM Enrollments NATURAL JOIN Courses) as JOIN Students\n ON Students.NetId = NetId\nWHERE Department != Students.Department'})
Query 5eaf200f334f483dd6bba2bd has been updated
==============
['Students', 's']
['(SELECT', '*', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Courses)', 'as', 'd']
({'queryNum': 1163}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM Students, (SELECT * FROM Enrollments NATURAL JOIN Courses)\nWHERE NetId = NetId AND Department != Department;\n'})
Query 5eaf200f334f483dd6bba2be has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1164}, {'parsedRemovedQuery': 'SELECT DISTINCT \n    FirstName,\n    LastName\nFROM\n    Students\n    JOIN Enrollments \n        on NetId = NetId\n    JOIN Courses\n        on CRN = CRN\nWHERE\n    Department <> Department'})
Query 5eaf200f334f483dd6bba2bf has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1165}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students INNER JOIN Enrollments ON NetId = NetId\n       INNER JOIN Courses ON CRN = CRN\nWHERE Department != Department'})
Query 5eaf200f334f483dd6bba2c0 has been updated
==============
['Students', 'AS', 's']
['Enrollments', 'AS', 'e']
['Courses', 'AS', 'c']
({'queryNum': 1166}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students AS\nINNER JOIN Enrollments AS ON NetId = NetId\nINNER JOIN Courses AS ON CRN = CRN\nWHERE Department != Department;'})
Query 5eaf200f334f483dd6bba2c1 has been updated
==============
['Students']
({'queryNum': 1167}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE (SELECT COUNT(Courses.Department)\n       FROM Courses, Enrollments\n       WHERE Courses.CRN = Enrollments.CRN AND \n           Students.NetId = Enrollments.NetId AND \n           Students.Department <> Courses.Department) > 0\n\n'})
Query 5eaf200f334f483dd6bba2c2 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1168}, {'parsedRemovedQuery': 'Select Distinct FirstName, LastName\nFROM Students Natural Join Enrollments, Courses\nWHERE CRN = CRN and Department != Department '})
Query 5eaf200f334f483dd6bba2c3 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1169}, {'parsedRemovedQuery': 'SELECT distinct FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId and CRN = CRN and Department <> Department\n'})
Query 5eaf200f334f483dd6bba2c4 has been updated
==============
({'queryNum': 1170}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE Students.NetId = Enrollments.NetId AND Enrollments.CRN = Courses.CRN AND Students.Department <> Courses.Department\n'})
Query 5eaf200f334f483dd6bba2c5 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1171}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetID and CRN = CRN and Department <> Department\n\n'})
Query 5eaf200f334f483dd6bba2c6 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1172}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nJOIN Enrollments ON NetId = NetId\nJOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf200f334f483dd6bba2c7 has been updated
==============
['Students', 'A']
['Enrollments', 'B']
['Courses', 'C']
({'queryNum': 1173}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND (Department <> Department) AND CRN = CRN\n'})
Query 5eaf200f334f483dd6bba2c8 has been updated
==============
['Students', 's']
['(select', 'Department', 'as', 'course_dep,', 'NetId', 'from', 'Enrollments', 'natural', 'join', 'Courses)', 'c']
({'queryNum': 1174}, {'parsedRemovedQuery': 'select DISTINCT FirstName, LastName\nfrom Students natural join (select Department as course_dep, NetId from Enrollments natural join Courses)\nwhere Department <> course_dep '})
Query 5eaf200f334f483dd6bba2c9 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1175}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND Department <> Department'})
Query 5eaf200f334f483dd6bba2ca has been updated
==============
['Students', 's']
['Enrollments', 'e']
['(select', 'c.Department,', 'c.CRN', 'from', 'Courses', 'c)', 'x']
({'queryNum': 1176}, {'parsedRemovedQuery': 'select DISTINCT FirstName, LastName\n    from Students Natural Join Enrollments \n    Join\n        -- Join Courses c on CRN = c.CRN\n        -- group by FirstName, LastName\n        (select c.Department, c.CRN from Courses c) on CRN = CRN\n    where Department <> Department\n    ;'})
Query 5eaf200f334f483dd6bba2cb has been updated
==============
['Students', 'S2']
({'queryNum': 1177}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere NetId in (select distinct S.NetId\nfrom Students S, Enrollments E, Courses C\nwhere S.netid = E.netid && E.crn = C.crn && S.department != C.department)'})
Query 5eaf200f334f483dd6bba2cc has been updated
==============
['Students', 'S']
({'queryNum': 1178}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS(SELECT * \n             FROM Enrollments E JOIN Courses C \n             ON E.CRN = C.CRN\n             WHERE E.NetId = NetId AND Department <> C.Department)\n'})
Query 5eaf200f334f483dd6bba2cd has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1179}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nINNER JOIN Enrollments ON NetId = NetId\nINNER JOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf200f334f483dd6bba2ce has been updated
==============
['Students', 'S1']
({'queryNum': 1180}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE Department<> ANY(SELECT Department FROM Enrollments NATURAL JOIN Courses WHERE NetId=NetId)'})
Query 5eaf200f334f483dd6bba2cf has been updated
==============
['Students', 's']
({'queryNum': 1181}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere NetId in\n                (select distinct s1.NetId\n                from Students s1, (select distinct e.NetId, c.CRN, c.Department\n                                    from Enrollments e join Courses c on (e.CRN=c.CRN)\n                                    order by e.NetId) as classes\n                where s1.NetId = classeNetId and s1.Department <> classeDepartment\n                )'})
Query 5eaf200f334f483dd6bba2d0 has been updated
==============

['Students']
({'queryNum': 1182}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Students where exists (\n    select * from Enrollments natural join Courses where Department!=Students.Department and NetId=Students.NetId\n);'})
Query 5eaf200f334f483dd6bba2d1 has been updated
==============
['Students']
({'queryNum': 1183}, {'parsedRemovedQuery': 'select Students.FirstName, Students.LastName\nfrom Students\nwhere exists (\n  SELECT Enrollments.NetId, Enrollments.CRN\n  FROM Enrollments\n  join (\n    select Courses.CRN, Courses.Department\n    from Courses\n  ) as g on g.CRN = Enrollments.CRN\n  where Enrollments.NetId = Students.NetId and g.Department <> Students.Department\n);'})
Query 5eaf200f334f483dd6bba2d2 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1184}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName FROM Students\nJOIN Enrollments ON NetId=NetId\nJOIN Courses ON CRN=CRN\nWHERE Department <> Department\n\n \n\n\n'})
Query 5eaf200f334f483dd6bba2d3 has been updated
==============
['Courses', 'c']
({'queryNum': 1185}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (Students s NATURAL JOIN Enrollments e) JOIN Courses ON e.CRN = CRN\nWHERE 0 < (SELECT COUNT(Department)\n                            FROM Enrollments e NATURAL JOIN Courses\n                            WHERE e.NetId = s.NetId AND Department <> s.Department)'})
Query 5eaf200f334f483dd6bba2d4 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1186}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND (Department <> Department)'})
Query 5eaf200f334f483dd6bba2d5 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1187}, {'parsedRemovedQuery': 'select distinct  FirstName, LastName from Students\n    left join Enrollments on NetId = NetId\n    left join Courses on CRN = CRN\n    where (Department <> Department)'})
Query 5eaf200f334f483dd6bba2d6 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1188}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students \n    JOIN Enrollments ON (NetId = NetId)\n    JOIN Courses ON (CRN = CRN)\nWHERE Department <> Department'})
Query 5eaf2010334f483dd6bba2d7 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1189}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students INNER JOIN Enrollments ON NetId = NetId INNER JOIN Courses ON CRN = CRN\nWHERE Department != Department'})
Query 5eaf2010334f483dd6bba2d8 has been updated
==============
['Courses', 'C']
['Enrollments', 'E']
['Students', 'S']
({'queryNum': 1190}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Courses INNER JOIN Enrollments on CRN = CRN INNER JOIN Students on NetId = NetId\nWHERE Department <> Department'})
Query 5eaf2010334f483dd6bba2d9 has been updated
==============
['Enrollments', 'e']
['Students', 's']
['Courses', 'c']
({'queryNum': 1191}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Enrollments natural join Students join Courses on CRN = CRN where Department <> Department'})
Query 5eaf2010334f483dd6bba2da has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1192}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students\nNATURAL JOIN Enrollments\nJOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department != Courses.Department'})
Query 5eaf2010334f483dd6bba2db has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1193}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM Students NATURAL JOIN Enrollments JOIN Courses on CRN = CRN\nWHERE Department <> Department'})
Query 5eaf2010334f483dd6bba2dc has been updated
==============
['Courses', 'c']
['Students', 's']
['Enrollments', 'e']
({'queryNum': 1194}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Courses, Students, Enrollments\nWHERE Department != Department AND CRN = CRN AND NetId = NetId ORDER BY FirstName'})
Query 5eaf2010334f483dd6bba2dd has been updated
==============
['Courses', 'C']
({'queryNum': 1195}, {'parsedRemovedQuery': 'select distinct S.FirstName,S.LastName\nfrom (Students S natural join Enrollments E) inner join Courses on CRN = E.CRN\nwhere S.Department <> Department'})
Query 5eaf2010334f483dd6bba2de has been updated
==============
['Students']
({'queryNum': 1196}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE NetId in (SELECT S.NetId\n    FROM Students AS S, Enrollments AS E, Courses AS C\n    WHERE S.NetId = E.NetId\n        AND E.CRN = C.CRN\n        AND S.Department <> C.Department);'})
Query 5eaf2010334f483dd6bba2df has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1197}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments E INNER JOIN Courses ON CRN = CRN\nWHERE NetId = NetId AND Department <> Department; '})
Query 5eaf2010334f483dd6bba2e0 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1198}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students \nLEFT Join Enrollments ON NetId = NetId\nLEFT JOIN Courses\nON CRN = CRN\nWHERE Department <> Department \n-- ORDER BY FirstName, LastName'})
Query 5eaf2010334f483dd6bba2e1 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1199}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students JOIN Enrollments JOIN Courses ON NetId = NetId AND CRN = CRN AND\n                                                                    Department <> Department\n'})
Query 5eaf2010334f483dd6bba2e2 has been updated
==============
['Students', 's']
['Enrollments', '', 'e']
['Courses', '', 'c']
({'queryNum': 1200}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments  e, Courses  c\nwhere netid = e.netid and e.crn = c.crn and department != c.department'})
Query 5eaf2010334f483dd6bba2e3 has been updated
==============
['t.fn', 'as', 'FirstName']
['t.ln', 'as', 'LastName']
['(SELECT', 's.FirstName', 'as', 'fn,', 's.LastName', 'as', 'ln,', 's.Department', 'as', 'dpt,', 'e.CRN', 'as', 'crrn\nFROM', 'Students', 's', 'JOIN', 'Enrollments', 'e', 'on', 's.NetId', '=', 'e.NetId)', 'as', 't']
['Courses', 'c']
({'queryNum': 1201}, {'parsedRemovedQuery': 'SELECT DISTINCT fn, ln\nFROM\n(SELECT s.FirstName as fn, s.LastName as ln, s.Department as dpt, e.CRN as crrn\nFROM Students s JOIN Enrollments e on s.NetId = e.NetId) as JOIN Courses ON crrn = CRN\nWHERE dpt <> Department\n'})
Query 5eaf2010334f483dd6bba2e4 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1202}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName FROM Students JOIN Enrollments ON\nStudents.NetId = Enrollments.NetId JOIN Courses ON Enrollments.CRN = Courses.CRN \nWHERE Courses.Department != Students.Department;'})
Query 5eaf2010334f483dd6bba2e5 has been updated
==============
['(SELECT', 'DISTINCT', 'FirstName,', 'LastName,', 'NetId', 'FROM', 'Students', 'S', 'NATURAL', 'JOIN', 'Enrollments', 'E,', 'Courses', 'C', 'WHERE', 'S.Department', '!=', 'C.Department', 'ORDER', 'BY', 'FirstName)', 'as', 'temp']
({'queryNum': 1203}, {'parsedRemovedQuery': 'SELECT FirstName, LastName FROM (SELECT DISTINCT FirstName, LastName, NetId FROM Students S NATURAL JOIN Enrollments E, Courses C WHERE S.Department != C.Department ORDER BY FirstName) as WHERE NetId in (SELECT NetId FROM(SELECT DISTINCT FirstName, LastName, NetId FROM Students S NATURAL JOIN Enrollments E, Courses C WHERE S.Department = C.Department ORDER BY FirstName) as temp2)'})
Query 5eaf2010334f483dd6bba2e6 has been updated
==============
({'queryNum': 1204}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom ((Students\ninner join Enrollments on Students.netId = Enrollments.NetId)\ninner join Courses on Enrollments.CRN = Courses.CRN)\nwhere Students.Department != Courses.Department;'})
Query 5eaf2010334f483dd6bba2e7 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1205}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments, Courses\nwhere NetId = NetId and CRN = CRN and Department <> Department;'})
Query 5eaf2010334f483dd6bba2e8 has been updated
==============
['Courses']
({'queryNum': 1206}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (Students inner join Enrollments on Students.NetId = Enrollments.NetId) inner join Courses on Courses.CRN = Enrollments.CRN\nWHERE Students.Department <> Courses.Department'})

Query 5eaf2010334f483dd6bba2e9 has been updated
==============
['Students']
['(SELECT', '*', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Courses)', 'as', 'EC']
({'queryNum': 1207}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName \nFROM Students JOIN (SELECT * FROM Enrollments NATURAL JOIN Courses)\nON Students.NetId = NetId\nWHERE Students.Department != Department\n\n'})
Query 5eaf2010334f483dd6bba2ea has been updated
==============
({'queryNum': 1208}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM (SELECT DISTINCT St.ID\nFROM (SELECT St.ID, D, CRN\nFROM (SELECT NetId ID, Department D\nFROM Students) as St, Enrollments E\nWHERE St.ID = E.NetId) as St, Courses C\nWHERE St.CRN = C.CRN and St.D != C.Department) as T, Students\nWHERE T.ID = Students.NetId\n\n'})
Query 5eaf2010334f483dd6bba2eb has been updated
==============
['Students']
({'queryNum': 1209}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere EXISTS \n(select * from Enrollments natural join Courses where Students.Department <> Courses.Department\nAND Students.NetId = Enrollments.NetId);\n'})
Query 5eaf2010334f483dd6bba2ec has been updated
==============
['Students', 'S']
({'queryNum': 1210}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE EXISTS(\nSELECT *\nFROM Enrollments E LEFT OUTER JOIN Courses C ON E.CRN = C.CRN\nWhere E.NetID = NetID AND C.Department <> Department\n);'})
Query 5eaf2010334f483dd6bba2ed has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1211}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName,LastName\nFROM Students, Enrollments, Courses\nWHERE Department <> Department AND CRN = CRN AND NetId = NetId'})
Query 5eaf2010334f483dd6bba2ee has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1212}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nNATURAL JOIN Enrollments\nLEFT OUTER JOIN Courses ON CRN = CRN\nWHERE Department <> Department'})
Query 5eaf2010334f483dd6bba2ef has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1213}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students JOIN Enrollments ON NetId = NetId JOIN Courses ON CRN = CRN\nWHERE Department != Department\n'})
Query 5eaf2010334f483dd6bba2f0 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1214}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\n     JOIN Enrollments ON NetID = NetID\n     JOIN Courses ON CRN = CRN\nWHERE Department != Department'})
Query 5eaf2010334f483dd6bba2f1 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1215}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students inner join Enrollments on NetId = NetId inner join Courses on CRN = CRN\nwhere Department != Department'})
Query 5eaf2010334f483dd6bba2f2 has been updated
==============
['(SELECT', '*', 'FROM', 'Students', 'NATURAL', 'JOIN', '(SELECT', 'NetId,', 'Department', 'AS', 'CourseDep', 'FROM', 'Enrollments', 'NATURAL', 'JOIN', 'Courses)', 'AS', 'NetId_CourseDep', 'WHERE', 'Students.NetId', '=', 'NetId_CourseDep.NetId)', 'AS', 'StuCourse']
({'queryNum': 1216}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM (SELECT * FROM Students NATURAL JOIN (SELECT NetId, Department AS CourseDep FROM Enrollments NATURAL JOIN Courses) AS NetId_CourseDep WHERE Students.NetId = NetId_CourseDep.NetId) AS\nWHERE Department <> CourseDep'})
Query 5eaf2010334f483dd6bba2f3 has been updated
==============
['Students', 's']
({'queryNum': 1217}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students JOIN (Enrollments e JOIN Courses c ON e.CRN = c.CRN) ON NetID = e.NetID\nWHERE c.Department <> Department'})
Query 5eaf2010334f483dd6bba2f4 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1218}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students NATURAL JOIN Enrollments JOIN Courses ON (CRN = CRN)\nWHERE Department <> Department and CRN = CRN'})
Query 5eaf2010334f483dd6bba2f5 has been updated
==============
['Students']
({'queryNum': 1219}, {'parsedRemovedQuery': 'select FirstName, LastName\nfrom Students\nwhere Department <> any (\n    select Department\n    from Enrollments natural join Courses\n    where NetId = Students.NetId\n)'})
Query 5eaf2010334f483dd6bba2f6 has been updated
==============
({'queryNum': 1220}, {'parsedRemovedQuery': 'select distinct Students.FirstName, Students.LastName\nfrom Students, Courses, Enrollments\nwhere Students.NetID = Enrollments.NetID and Enrollments.CRN = Courses.CRN and \n    Courses.Department <> Students.Department'})
Query 5eaf2010334f483dd6bba2f7 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1221}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName,LastName\nFROM Students,Enrollments, Courses\nWhere NetId=NetId and CRN=CRN and Department!=Department'})
Query 5eaf2010334f483dd6bba2f8 has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1222}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM \nStudents JOIN Enrollments ON Students.NetId = Enrollments.NetId JOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Students.Department <> Courses.Department\n '})
Query 5eaf2010334f483dd6bba2f9 has been updated
==============
['(\nSELECT', 'e.NetId,', 's.FirstName,', 's.LastName,', 's.Department,', 'e.CRN\nFROM', 'Enrollments', 'e', 'JOIN', 'Students', 's', 'ON', 'e.NetId', '=', 's.NetId', '', '\n)', 'AS', 'st']
['Courses', 'c']
({'queryNum': 1223}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM(\nSELECT e.NetId, s.FirstName, s.LastName, s.Department, e.CRN\nFROM Enrollments e JOIN Students s ON e.NetId = s.NetId  \n) AS\nJOIN Courses ON CRN = CRN\n\n'})
Query 5eaf2010334f483dd6bba2fa has been updated
==============
['Students']
['Enrollments']
['Courses']
({'queryNum': 1224}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName\nFROM Students\nINNER JOIN Enrollments ON Students.NetId = Enrollments.NetId\nINNER JOIN Courses ON Enrollments.CRN = Courses.CRN\nWHERE Courses.Department <> Students.Department\nGROUP BY Students.NetId;'})
Query 5eaf2010334f483dd6bba2fb has been updated
==============
['Students', 'AS', 's']
['(SELECT', 'Enrollments.NetId,', 'Courses.Department\n', '', '', '', '', '', 'FROM', 'Enrollments\n', '', '', '', '', '', 'JOIN', 'Courses\n', '', '', '', '', '', 'ON', 'Enrollments.CRN', '=', 'Courses.CRN)', 'AS', 'c']
({'queryNum': 1225}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students AS\nJOIN (SELECT EnrollmentNetId, CourseDepartment\n      FROM Enrollments\n      JOIN Courses\n      ON EnrollmentCRN = CourseCRN) AS\nON NetId = NetId\nWHERE (Department <> Department )'})
Query 5eaf2011334f483dd6bba2fc has been updated
==============
['Students', 's']
['Courses', 'c']
['Enrollments', 'e']
({'queryNum': 1226}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Courses c join Enrollments on CRN = CRN\nwhere NetId = NetId AND Department != Department\n'})
Query 5eaf2011334f483dd6bba2fd has been updated
==============
['Students', 'stu']
({'queryNum': 1227}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE EXISTS(SELECT NetId FROM Enrollments NATURAL JOIN Courses\nWHERE Department <> Department AND NetId = NetId)'})
Query 5eaf2011334f483dd6bba2fe has been updated
==============
({'queryNum': 1228}, {'parsedRemovedQuery': 'SELECT DISTINCT Students.FirstName, Students.LastName\nFROM Students, Enrollments, Courses\nWHERE Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department <> Students.Department'})
Query 5eaf2011334f483dd6bba2ff has been updated
==============
['(SELECT', 's.FirstName,', 's.LastName,', 's.Department', 'AS', 'sd,', 'c.Department', 'AS', 'cd\n', '', '', '', '', '', '', '', 'FROM', 'Students', 's,', 'Enrollments', 'e,', 'Courses', 'c\n', '', '', '', '', '', '', '', 'WHERE', 's.NetId', '=', 'e.NetId', 'and', 'e.CRN', '=', 'c.CRN\n', '', '', '', '', '', '', '', ')', 'As', 'a']
({'queryNum': 1229}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM    (SELECT s.FirstName, s.LastName, s.Department AS sd, c.Department AS cd\n        FROM Students s, Enrollments e, Courses c\n        WHERE s.NetId = e.NetId and e.CRN = c.CRN\n        ) As\nWHERE sd <> cd'})
Query 5eaf2011334f483dd6bba300 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1230}, {'parsedRemovedQuery': 'Select DISTINCT FirstName,LastName\nfrom Students,Enrollments,Courses\nwhere NetId=NetId and CRN=CRN and Department!=Department\n\n'})

Query 5eaf2011334f483dd6bba301 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1231}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students JOIN Enrollments ON(NetId = NetId) JOIN Courses ON(CRN = CRN)\nWHERE Department != Department'})
Query 5eaf2011334f483dd6bba302 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1232}, {'parsedRemovedQuery': 'SELECT \n    DISTINCT FirstName, LastName\nFROM \n    Students JOIN Enrollments ON NetId = NetId\n    JOIN Courses ON CRN = CRN\nWHERE\n    Department <> Department'})
Query 5eaf2011334f483dd6bba303 has been updated
==============
['Students', 's']
({'queryNum': 1233}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nWHERE EXISTS (SELECT NetId FROM Enrollments NATURAL JOIN Courses WHERE CourseDepartment<>Department AND NetId = EnrollmentNetId) '})
Query 5eaf2011334f483dd6bba304 has been updated
==============
['Students', 's']
({'queryNum': 1234}, {'parsedRemovedQuery': 'SELECT FirstName, LastName \n    FROM Students \n    WHERE NetId IN\n        (SELECT e.NetId \n            FROM Enrollments e \n            JOIN Courses c ON e.CRN = c.CRN \n            WHERE NetId = e.NetId and Department != c.Department);'})
Query 5eaf2011334f483dd6bba305 has been updated
==============
['Students', 'S']
['Courses', 'C']
['Enrollments', 'E']
({'queryNum': 1235}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students, Courses, Enrollments\nWHERE Department <> Department AND NetId = NetId AND CRN = CRN\nGROUP BY FirstName, LastName;'})
Query 5eaf2011334f483dd6bba306 has been updated
==============
({'queryNum': 1236}, {'parsedRemovedQuery': 'select distinct FirstName, LastName from Students, Enrollments, Courses where Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Courses.Department <> Students.Department'})
Query 5eaf2011334f483dd6bba307 has been updated
==============
['Students', 's']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'e.NetId,', 'Department', 'AS', 'classDept\n', '', '', '', '', '', '', '', 'FROM', 'Enrollments', 'e\n', '', '', '', '', '', '', '', 'LEFT', 'JOIN', '(\n', '', '', '', '', '', '', '', '', '', '', '', 'SELECT', 'CRN,', 'Department\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Courses\n', '', '', '', '', '', '', '', ')', 'AS', 'c\n', '', '', '', '', '', '', '', 'ON', 'c.CRN', '=', 'e.CRN\n', '', '', '', ')', 'AS', 'enr']
({'queryNum': 1237}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students\nLEFT JOIN (\n        SELECT e.NetId, Department AS classDept\n        FROM Enrollments e\n        LEFT JOIN (\n            SELECT CRN, Department\n            FROM Courses\n        ) AS c\n        ON c.CRN = e.CRN\n    ) AS\nON NetId = NetId\nWHERE Department != classDept\n'})
Query 5eaf2011334f483dd6bba308 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1238}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom Students, Enrollments e inner join Courses on CRN = CRN \nwhere NetId = NetId and Department <> Department;'})
Query 5eaf2011334f483dd6bba309 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1239}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE  (Department NOT LIKE Department \n    AND NetID = NetID\n    AND CRN = CRN)\n'})
Query 5eaf2011334f483dd6bba30a has been updated
==============
['(select', '*', 'from', 'Students', 'natural', 'join', 'Enrollments', 'natural', 'join', '(Select', 'CRN,', 'Department', 'as', 'C_Department', 'from', 'Courses)', 'as', 'T)', 'as', 'Huge_table']
({'queryNum': 1240}, {'parsedRemovedQuery': 'select distinct FirstName, LastName\nfrom (select * from Students natural join Enrollments natural join (Select CRN, Department as C_Department from Courses) as T)\nwhere Department <> C_Department'})
Query 5eaf2011334f483dd6bba30b has been updated
==============
['Students', 's']
({'queryNum': 1241}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE Department <> ANY (\n    SELECT Department\n    FROM Enrollments NATURAL JOIN Courses\n    WHERE NetId = NetId\n);'})
Query 5eaf2011334f483dd6bba30c has been updated
==============
['Students', 's']
['Enrollments', 'e']
({'queryNum': 1242}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students NATURAL JOIN Enrollments\nWHERE Department <> (SELECT c.Department FROM Courses c WHERE c.CRN = CRN);'})
Query 5eaf2011334f483dd6bba30d has been updated
==============
['Students', 's']
['(select', 'Department', 'as', 'course_dep,', 'NetId', 'from', 'Enrollments', 'natural', 'join', 'Courses)', 'c']
({'queryNum': 1243}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students natural join(select Department as course_dep, NetId from Enrollments natural join Courses)\nWHERE Department <> course_dep'})
Query 5eaf2011334f483dd6bba30e has been updated
==============
({'queryNum': 1244}, {'parsedRemovedQuery': 'SELECT Students.FirstName, Students.LastName\nfrom Students, Enrollments, Courses\nwhere Students.NetId = Enrollments.NetId and Enrollments.CRN = Courses.CRN and Students.Department <> Courses.Department\ngroup by Students.NetId\n'})
Query 5eaf2011334f483dd6bba30f has been updated
==============
['Students', 'S']
({'queryNum': 1245}, {'parsedRemovedQuery': 'SELECT FirstName, LastName\nFROM Students\nWHERE EXISTS (\n    SELECT *\n    FROM Enrollments E\n    WHERE NetId = E.NetId AND E.CRN IN (\n        SELECT C.CRN\n        FROM Courses C\n        WHERE C.Department <> Department\n    )\n)'})
Query 5eaf2011334f483dd6bba310 has been updated
==============
['Courses', 'c']
['Enrollments', 'e']
['Students', 's']
({'queryNum': 1246}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Courses JOIN Enrollments ON CRN = CRN JOIN Students ON NetId = NetId\nWHERE Department <> Department'})
Query 5eaf2011334f483dd6bba311 has been updated
==============
['Students', 'S']
['Enrollments', 'E']
['Courses', 'C']
({'queryNum': 1247}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Students, Enrollments, Courses\nWHERE NetId = NetId AND CRN = CRN AND Department != Department;'})
Query 5eaf2011334f483dd6bba312 has been updated
==============
['Enrollments', 'e']
['Courses', 'c']
['Students', 's']
({'queryNum': 1248}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, LastName\nFROM Enrollments \nJOIN Courses ON (CRN = CRN)\nJOIN Students ON (NetId = NetId)  \nWHERE(Department <> Department AND (NetId = NetId))'})
Query 5eaf2011334f483dd6bba313 has been updated
==============
['Students', 's']
['Enrollments', 'e']
['Courses', 'c']
({'queryNum': 1249}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName,LastName\nFROM Students\nINNER JOIN Enrollments ON NetId = NetId \nINNER JOIN Courses ON CRN = CRN\nWHERE department <> department\n'})
Query 5eaf2011334f483dd6bba314 has been updated
==============
['Students', 's']
['Courses', 'c']
['Enrollments', 'e']
({'queryNum': 1250}, {'parsedRemovedQuery': 'SELECT DISTINCT FirstName, Lastname FROM Students, Courses, Enrollments\nWHERE NetID = NetId AND CRN = CRN and Department <> Department\n'})
Query 5eaf2011334f483dd6bba315 has been updated
==============
['Products', 'A']
({'queryNum': 1251}, {'parsedRemovedQuery': 'select ProductName, \n(\nselect count(B.ProductId) from Products B\nwhere B.YearReleased < YearReleased and BrandName=B.BrandName\n) as AB\nfrom Products\norder by ProductName;\n'})
Query 5eaf2011334f483dd6bba316 has been updated
==============
['Products', 'p']
['(select', 'p1.ProductId,', 'count(p2.ProductId)', 'as', 'cn', 'from', 'Products', 'p1', 'right', 'join', 'Products', 'p2', 'on', 'p1.BrandName', '=', 'p2.BrandName', 'where', 'p1.YearReleased', '>', 'p2.YearReleased', 'group', 'by', 'p1.ProductId)', 'as', 'tmp']
({'queryNum': 1252}, {'parsedRemovedQuery': 'select distinct ProductName, COALESCE(tmcn, 0 )\nfrom Products left join (select p1.ProductId, count(p2.ProductId) as cn from Products p1 right join Products p2 on p1.BrandName = p2.BrandName where p1.YearReleased > p2.YearReleased group by p1.ProductId) as on ProductId = tmProductId\norder by ProductName;'})
Query 5eaf2011334f483dd6bba317 has been updated
==============
['Products', 'p']
({'queryNum': 1253}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT count(YearReleased)\n                       FROM Products p2\n                       WHERE YearReleased > p2.YearReleased AND BrandName = p2.BrandName)\nFROM Products\nORDER BY ProductName ASC'})

Query 5eaf2011334f483dd6bba318 has been updated
==============
['Products', 'p1']
['YearRelease\n--', 'Name\n']
['#having', 'p1.time']
({'queryNum': 1254}, {'parsedRemovedQuery': 'select ProductName,(\nselect count(p2.ProductName)\nfrom Products p2\nwhere BrandName = p2.BrandName and p2.YearReleased < YearReleased\n-- group by p2.BrandName\n-- having count(p2.YearReleased) <= 2010\n)\nfrom Products\n#,YearRelease\n-- Name\n#having time\norder by ProductName'})
Query 5eaf2011334f483dd6bba319 has been updated
==============
({'queryNum': 1255}, {'parsedRemovedQuery': 'SELECT p.ProductName, (SELECT COUNT(ProductId) FROM Products prod WHERE p.YearReleased>prod.YearReleased AND p.BrandName = prod.BrandName)\nFROM (Products p)\nORDER BY p.ProductName'})
Query 5eaf2011334f483dd6bba31a has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1256}, {'parsedRemovedQuery': 'SELECT ProductName, (COUNT(*) - 1)\nFROM Products, Products\nWHERE BrandName = BrandName AND (YearReleased < YearReleased OR ProductName = ProductName)\nGROUP BY ProductId\nORDER BY ProductName'})
Query 5eaf2011334f483dd6bba31b has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1257}, {'parsedRemovedQuery': 'Select ProductName, Count(ProductId)-1\nFrom Products, Products\nWhere (YearReleased > YearReleased AND BrandName = BrandName) or ProductId = ProductId\nGroup BY ProductId\nORDER BY ProductName'})
Query 5eaf2011334f483dd6bba31c has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1258}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products ON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductName;\n\n\n'})
Query 5eaf2011334f483dd6bba31d has been updated
==============
['Products', 'Prod']
({'queryNum': 1259}, {'parsedRemovedQuery': 'Select ProductName, (Select count(*) From Products Where BrandName = BrandName And YearReleased > YearReleased)\nFrom Products\nOrder by ProductName\n\n'})
Query 5eaf2011334f483dd6bba31e has been updated
==============
['Products', 'p']
({'queryNum': 1260}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT Count(*) FROM Products b WHERE BrandName = b.BrandName and b.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2011334f483dd6bba31f has been updated
==============
['Products', 'P']
({'queryNum': 1261}, {'parsedRemovedQuery': 'SELECT ProductName, (\nSELECT count(*)\nFROM Products P2\nWHERE P2.BrandName = BrandName\nAND P2.YearReleased < YearReleased\n)\nFROM Products \nORDER BY ProductName\n\n\n\n'})
Query 5eaf2011334f483dd6bba320 has been updated
==============
['(\n', '', '', '', '', '', '', '', 'Select', 'p2.ProductName', 'as', 'name,', 'p1.ProductId', 'as', 'p1id,', 'p2.ProductId', 'as', 'p2id\n', '', '', '', '', '', '', '', 'from', 'Products', 'p1,', 'Products', 'p2\n', '', '', '', '', '', '', '', 'WHERE', '(p1.BrandName=p2.BrandName', 'AND', 'p1.YearReleased', '<', 'p2.YearReleased)', 'or', 'p1.ProductId', '=', 'p2.ProductId\n', '', '', '', ')as', 'g']
({'queryNum': 1262}, {'parsedRemovedQuery': 'Select name, count(p2id)-1\nfrom \n    (\n        Select p2.ProductName as name, p1.ProductId as p1id, p2.ProductId as p2id\n        from Products p1, Products p2\n        WHERE (p1.BrandName=p2.BrandName AND p1.YearReleased < p2.YearReleased) or p1.ProductId = p2.ProductId\n    )as\ngroup by p2id\norder by name ASC\n\n'})
Query 5eaf2011334f483dd6bba321 has been updated
==============
['Products', 'p']
({'queryNum': 1263}, {'parsedRemovedQuery': 'SELECT ProductName as prodname, (SELECT COUNT(*) FROM Products p2 WHERE YearReleased > p2.YearReleased AND BrandName=p2.BrandName)\nFROM Products\nORDER BY prodname'})
Query 5eaf2012334f483dd6bba322 has been updated
==============
['Products', 'P']
({'queryNum': 1264}, {'parsedRemovedQuery': 'SELECT ProductName, ( SELECT COUNT(*)\n                        FROM Products\n                        WHERE BrandName = BrandName AND\n                              YearReleased < YearReleased\n                      ) AS result\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2012334f483dd6bba323 has been updated
==============
['Products']
['(Select', '', 'p.ProductName,', 'count(p.ProductName)', 'as', 'counts\nfrom', 'Products', 'p', ',', 'Products', 'a', 'where', 'p.BrandName', '=', 'a.BrandName', 'and', '', 'p.YearReleased', '>', 'a.YearReleased\nGroup', 'By', 'p.ProductName)', 'as', 'q']
({'queryNum': 1265}, {'parsedRemovedQuery': 'Select Products.ProductName, Coalesce(counts,0)\nFrom Products Left Join (Select  p.ProductName, count(p.ProductName) as counts\nfrom Products p , Products a where p.BrandName = a.BrandName and  p.YearReleased > a.YearReleased\nGroup By p.ProductName) as on ProductName = Products.ProductName\nOrder by Products.ProductName;'})
Query 5eaf2012334f483dd6bba324 has been updated
==============
['Products', 'p1']
({'queryNum': 1266}, {'parsedRemovedQuery': 'Select ProductName, (Select count(*) From Products p2\nWhere BrandName = p2.BrandName and YearReleased > p2.YearReleased)\nFrom Products\nOrder by ProductName\n'})
Query 5eaf2012334f483dd6bba325 has been updated
==============
['Products', 'p']
({'queryNum': 1267}, {'parsedRemovedQuery': 'SELECT ProductName,\n(SELECT COUNT(*)\nFROM Products\nWHERE Brandname = Brandname\nAND YearReleased < YearReleased\n)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2012334f483dd6bba326 has been updated
==============
['(SELECT', 'p1.ProductName,', 'COUNT(p2.ProductName)', 'AS', 'num\nFROM', 'Products', 'p1,', 'Products', 'p2\nWHERE', 'p1.BrandName', '=', 'p2.BrandName', 'and', 'p1.YearReleased', '>', 'p2.YearReleased', '\nGROUP', 'BY', 'p1.ProductName)', 'AS', 'temp']
['Products', 'p3']
({'queryNum': 1268}, {'parsedRemovedQuery': 'SELECT ProductName, coalesce(num, 0)\nFROM(SELECT p1.ProductName, COUNT(p2.ProductName) AS num\nFROM Products p1, Products p2\nWHERE p1.BrandName = p2.BrandName and p1.YearReleased > p2.YearReleased \nGROUP BY p1.ProductName) AS RIGHT OUTER JOIN Products ON ProductName = ProductName\nORDER BY ProductName\n\n'})
Query 5eaf2012334f483dd6bba327 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1269}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products ON (YearReleased > YearReleased AND BrandName = BrandName)\nGROUP BY ProductName;\n'})
Query 5eaf2012334f483dd6bba328 has been updated
==============
['Products', 'p']
({'queryNum': 1270}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(*)\n    FROM Products p2\n    WHERE p2.BrandName=BrandName\n    AND p2.YearReleased < YearReleased\n)\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2012334f483dd6bba329 has been updated
==============
['(SELECT', 'P.ProductName', 'Name1,', 'count(PP.ProductName)', 'Name2\n', '', '', '', 'FROM', 'Products', 'P\n', '', '', '', 'LEFT', 'JOIN', 'Products', 'PP', '', '--', 'leftjoin+on', '\n', '', '', '', 'ON', 'P.YearReleased', '>', 'PP.YearReleased', 'AND', 'P.BrandName', '=', 'PP.BrandName\n', '', '', '', 'GROUP', 'BY', 'Name1)', 'AS', 'A']
({'queryNum': 1271}, {'parsedRemovedQuery': 'SELECT Name1, Name2\nFROM (SELECT P.ProductName Name1, count(PP.ProductName) Name2\n    FROM Products P\n    LEFT JOIN Products PP  -- leftjoin+on \n    ON P.YearReleased > PP.YearReleased AND P.BrandName = PP.BrandName\n    GROUP BY Name1) AS\n'})
Query 5eaf2012334f483dd6bba32a has been updated
==============
['Products', 'P1']
['Brands', 'B1']
({'queryNum': 1272}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(ProductId)\n                        FROM Products P2 JOIN Brands B2 ON P2.BrandName = B2.BrandName\n                        WHERE YearReleased > P2.YearReleased AND BrandName = B2.BrandName)\nFROM Products JOIN Brands ON BrandName = BrandName\nORDER BY ProductName;'})
Query 5eaf2012334f483dd6bba32b has been updated
==============
['Products', 'x']
({'queryNum': 1273}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT count(*) \nFROM Products p\nWHERE p.BrandName = BrandName and p.YearReleased < YearReleased)\nFROM Products\nORDER by ProductName'})
Query 5eaf2012334f483dd6bba32c has been updated
==============
['Products', 'p1']
({'queryNum': 1274}, {'parsedRemovedQuery': 'select ProductName, (select count(ProductId) from Products p2 where BrandName = p2.BrandName and YearReleased > p2.YearReleased)\nFrom Products\norder by ProductName\n;'})
Query 5eaf2012334f483dd6bba32d has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1275}, {'parsedRemovedQuery': 'select ProductName, count(ProductName)-1\nfrom Products join Products on BrandName = BrandName\nwhere YearReleased > YearReleased or ProductName = ProductName\ngroup by ProductName'})
Query 5eaf2012334f483dd6bba32e has been updated
==============
['Products', 'a']
['Products', 'b']
({'queryNum': 1276}, {'parsedRemovedQuery': 'select ProductName, count(YearReleased)\nfrom Products left join Products\non YearReleased > YearReleased \nand BrandName = BrandName\nGroup by ProductName\n\n\n\n\n'})
Query 5eaf2012334f483dd6bba32f has been updated
==============
['Products', 'Prod']
({'queryNum': 1277}, {'parsedRemovedQuery': 'Select ProductName, \n(Select count(*) From Products Where BrandName = BrandName And YearReleased > YearReleased)\nFrom Products\nOrder by ProductName\n'})

Query 5eaf2012334f483dd6bba330 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1278}, {'parsedRemovedQuery': 'Select ProductName, count(ProductName)\nFrom Products LEFT OUTER JOIN Products ON (BrandName = BrandName && YearReleased > YearReleased)\nGroup by ProductId\nOrder by ProductName'})
Query 5eaf2012334f483dd6bba331 has been updated
==============
['Products']
({'queryNum': 1279}, {'parsedRemovedQuery': 'SELECT Products.ProductName, (SELECT COUNT(*) FROM Products AS p WHERE p.YearReleased < Products.YearReleased AND p.BrandName = Products.BrandName)\nFROM Products\nORDER BY Products.ProductName ASC;'})
Query 5eaf2012334f483dd6bba332 has been updated
==============
['Products', 'p']
({'queryNum': 1280}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*)\n                    FROM Products\n                    WHERE Products.BrandName =\n                    BrandName AND Products.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName\n\n\n\n'})
Query 5eaf2012334f483dd6bba333 has been updated
==============
['Products', 'pr']
['(\nSELECT', 'p.ProductName', ',', 'p.YearReleased\nFROM', 'Products', 'p', 'JOIN', 'Products', 'p2', 'ON', 'p.BrandName', '=', 'p2.BrandName\nWHERE', '(p.YearReleased', '>', 'p2.YearReleased)', '\n)', 'a']
({'queryNum': 1281}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(YearReleased)\nFROM Products LEFT OUTER JOIN \n\n(\nSELECT p.ProductName , p.YearReleased\nFROM Products p JOIN Products p2 ON p.BrandName = p2.BrandName\nWHERE (p.YearReleased > p2.YearReleased) \n) ON ProductName = ProductName\n\nGROUP BY ProductName\n\n\n\n\n'})
Query 5eaf2012334f483dd6bba334 has been updated
==============
['Products', 'p1']
({'queryNum': 1282}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*) FROM Products inside WHERE inside.YearReleased < YearReleased AND inside.BrandName = BrandName)\nFROM Products\nORDER BY Productname;'})
Query 5eaf2012334f483dd6bba335 has been updated
==============
['Products', 'p1']
['(SELECT', 'ProductName,', 'BrandName,', 'YearReleased\nFROM', 'Products)', 'AS', 'p2']
({'queryNum': 1283}, {'parsedRemovedQuery': 'SELECT ProductName, SUM(YearReleased > YearReleased)\nFROM Products\nLEFT OUTER JOIN \n(SELECT ProductName, BrandName, YearReleased\nFROM Products) AS\nON BrandName = BrandName\n-- YearReleased > YearReleased\nGROUP BY ProductName'})
Query 5eaf2012334f483dd6bba336 has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1284}, {'parsedRemovedQuery': 'SELECT  ProductName, (count(ProductName)-1)\nFROM Products JOIN Products\nwhere (BrandName = BrandName) AND\n(YearReleased < YearReleased) OR (ProductName = ProductName)\nGROUP BY ProductName'})
Query 5eaf2012334f483dd6bba337 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1285}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)\nFROM Products LEFT JOIN Products\nON BrandName = BrandName AND YearReleased < YearReleased\nGROUP BY ProductName'})
Query 5eaf2012334f483dd6bba338 has been updated
==============
['Products', 'as', 'p1']
({'queryNum': 1286}, {'parsedRemovedQuery': 'Select ProductName, (Select Count(*) from Products as p2 where p2.YearReleased < YearReleased and BrandName = p2.BrandName) as p3 \nfrom Products\norder by ProductName ASC'})
Query 5eaf2012334f483dd6bba339 has been updated
==============
['Products', 'p1']
({'queryNum': 1287}, {'parsedRemovedQuery': 'Select ProductName,  (Select Count(*)\n                            From Products p2\n                            Where BrandName = p2.BrandName And p2.YearReleased < YearReleased) as theCount\nFrom Products\nOrder By ProductName '})
Query 5eaf2012334f483dd6bba33a has been updated
==============
['Products', 'P1']
['Products', 'P2']
({'queryNum': 1288}, {'parsedRemovedQuery': 'SELECT ProductName,COUNT(ProductId)\nFROM Products LEFT OUTER JOIN Products ON BrandName=BrandName AND YearReleased > YearReleased\nGROUP BY ProductName;\n'})
Query 5eaf2012334f483dd6bba33b has been updated
==============
['Products']
['(SELECT', 'final.ProductName,', 'COUNT(*)', 'as', 'freq\nFROM', '(\nSELECT', 'Products.ProductName\n\tFROM', '\n\t\t(SELECT', 'Products.BrandName', 'as', 'bn1,', 'Products.ProductName', 'as', 'pn1,', 'Products.YearReleased', 'as', 'yr1,', 'x.ProductName,', 'x.YearReleased\n\t\tFROM', '\n\t\t\t(SELECT', '*', 'FROM', 'Products)', 'as', 'x,', 'Products\n\t\tWHERE', 'Products.YearReleased', '>', 'x.YearReleased', 'AND', 'Products.BrandName', '=', 'x.BrandName\n\t)', 'as', 'fin,', 'Products\n\tWHERE', 'Products.ProductName', '=', 'fin.pn1\n)', 'as', 'final\nGROUP', 'BY', 'final.ProductName', ')', 'as', 'numbers']
({'queryNum': 1289}, {'parsedRemovedQuery': 'SELECT Products.ProductName, IFNULL(freq, 0)\nFROM Products \nLEFT JOIN (SELECT final.ProductName, COUNT(*) as freq\nFROM (\nSELECT Products.ProductName\n\tFROM \n\t\t(SELECT Products.BrandName as bn1, Products.ProductName as pn1, Products.YearReleased as yr1, x.ProductName, x.YearReleased\n\t\tFROM \n\t\t\t(SELECT * FROM Products) as x, Products\n\t\tWHERE Products.YearReleased > x.YearReleased AND Products.BrandName = x.BrandName\n\t) as fin, Products\n\tWHERE Products.ProductName = fin.pn1\n) as final\nGROUP BY final.ProductName )\nON ProductName = Products.ProductName\nORDER BY Products.ProductName'})
Query 5eaf2012334f483dd6bba33c has been updated
==============
['(SELECT', 'p.ProductName,', 'p2.ProductName', 'AS', 'second\n', '', '', '', 'FROM', 'Products', 'p', 'LEFT', 'OUTER', 'JOIN', 'Products', 'p2', 'ON', 'p.BrandName', '=', 'p2.BrandName', 'AND', 'p.ProductId', '<>', 'p2.ProductId', 'AND', 'p.YearReleased', '>', 'p2.YearReleased)', 'as', 'temp']
({'queryNum': 1290}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(second)\nFROM \n    (SELECT p.ProductName, p2.ProductName AS second\n    FROM Products p LEFT OUTER JOIN Products p2 ON p.BrandName = p2.BrandName AND p.ProductId <> p2.ProductId AND p.YearReleased > p2.YearReleased)\nGROUP BY ProductName\n\n'})
Query 5eaf2012334f483dd6bba33d has been updated
==============
['Products', 'p1']
({'queryNum': 1291}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT Count(*)\n                        FROM Products p2\n                        WHERE ((BrandName = p2.BrandName) AND \n                        (YearReleased > p2.YearReleased)))\nFROM Products\nORDER BY ProductName'})
Query 5eaf2012334f483dd6bba33e has been updated
==============
['Products', 'p']
['Products', 'p2']
({'queryNum': 1292}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products\n    ON BrandName = BrandName AND YearReleased > YearReleased\n    GROUP BY ProductName;\n'})
Query 5eaf2012334f483dd6bba33f has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1293}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products \nON (YearReleased < YearReleased) AND (BrandName = BrandName)\nGROUP by ProductName'})
Query 5eaf2012334f483dd6bba340 has been updated
==============
['(select', 'C.ProductId,C.ProductName', 'from', 'Products', 'C)', 'new_table']
['(select', 'A.ProductId,', 'count(*)', 'as', 'sum\nfrom\nProducts', 'A,', 'Products', 'B\nwhere', 'A.YearReleased>B.YearReleased', 'and', 'A.BrandName=B.BrandName\ngroup', 'by', 'A.ProductId)', 'old_table']
({'queryNum': 1294}, {'parsedRemovedQuery': 'select ProductName, COALESCE(sum, 0 )\nfrom\n(select C.ProductId,C.ProductName from Products C)\nleft outer join \n(select A.ProductId, count(*) as sum\nfrom\nProducts A, Products B\nwhere A.YearReleased>B.YearReleased and A.BrandName=B.BrandName\ngroup by A.ProductId)\n\non ProductId=ProductId\norder by ProductName\n'})
Query 5eaf2012334f483dd6bba341 has been updated
==============
['Products', 'AS', 'cur']
['Products', 'AS', 'pre']
({'queryNum': 1295}, {'parsedRemovedQuery': 'SELECT ProductName, Count(ProductName)\nFROM Products AS\nLEFT JOIN Products AS\nON (BrandName = BrandName AND YearReleased > YearReleased) \nGroup BY ProductName'})
Query 5eaf2012334f483dd6bba342 has been updated
==============
['Products', 'pp']
['(select', 'pro.ProductName,', 'sum(a.total)', 'as', 'temp_sum', 'from', 'Products', 'pro', 'join', '', '(select', 'p.BrandName,', 'p.YearReleased,', 'count(1)', 'as', 'total', 'from', 'Products', 'p', 'group', 'by', 'p.BrandName,', 'p.YearReleased)', 'as', 'a', 'on', 'pro.BrandName', '=', 'a.BrandName', 'where', 'pro.YearReleased', '>', 'a.YearReleased', '', 'group', 'by', 'pro.ProductName', ')', 'as', 'tb']
({'queryNum': 1296}, {'parsedRemovedQuery': 'select ProductName ,IFNULL(temp_sum, 0) from Products left join (select pro.ProductName, sum(a.total) as temp_sum from Products pro join  (select p.BrandName, p.YearReleased, count(1) as total from Products p group by p.BrandName, p.YearReleased) as a on pro.BrandName = a.BrandName where pro.YearReleased > a.YearReleased  group by pro.ProductName ) as on ProductName = ProductName order by ProductName'})
Query 5eaf2012334f483dd6bba343 has been updated
==============
['Products']
['(\n', '', '', '', 'SELECT', 'prod1.ProductName', 'as', 'name,', 'count(prod2.ProductName)', 'as', 'cnt\n', '', '', '', 'FROM', 'Products', 'prod1,', 'Products', 'prod2\n', '', '', '', 'WHERE', 'prod1.YearReleased', '>', 'prod2.YearReleased\n', '', '', '', 'AND', 'prod1.BrandName', '=', 'prod2.BrandName\n', '', '', '', 'GROUP', 'BY', 'prod1.ProductName\n)', 'as', 'temp']
({'queryNum': 1297}, {'parsedRemovedQuery': 'SELECT ProductName, COALESCE(cnt, 0)\nFROM Products\nLEFT JOIN (\n    SELECT prod1.ProductName as name, count(prod2.ProductName) as cnt\n    FROM Products prod1, Products prod2\n    WHERE prod1.YearReleased > prod2.YearReleased\n    AND prod1.BrandName = prod2.BrandName\n    GROUP BY prod1.ProductName\n)\nON name = Products.ProductName\nORDER BY ProductName'})
Query 5eaf2012334f483dd6bba344 has been updated
==============
['Products', 'a']
['Products', 'b']
({'queryNum': 1298}, {'parsedRemovedQuery': 'select distinct ProductName, count(YearReleased < YearReleased)\nfrom Products\nleft join Products on BrandName=BrandName and YearReleased < YearReleased\ngroup by ProductName\norder by ProductName;'})
Query 5eaf2012334f483dd6bba345 has been updated
==============
['Products', 'pro']
['(SELECT', 'p1.ProductId', 'FROM', 'Products', 'p1,', 'Products', 'p2', 'WHERE', 'p1.BrandName', '=', 'p2.BrandName', 'AND', 'p1.YearReleased', '>', 'p2.YearReleased)', 'p']
({'queryNum': 1299}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId) as olderProducts\nFROM Products\nLEFT OUTER JOIN (SELECT p1.ProductId FROM Products p1, Products p2 WHERE p1.BrandName = p2.BrandName AND p1.YearReleased > p2.YearReleased) ON ProductId = ProductId\nGROUP BY ProductId\nORDER BY ProductName;'})

Query 5eaf2012334f483dd6bba346 has been updated
==============
['Products', 'p']
['(select\n', '', '', '', '', '', '', '', 'p.ProductId,', 'count(*)', 'prodCnt\n', '', '', '', 'from\n', '', '', '', '', '', '', '', 'Products', 'p,', 'Products', 'p2\n', '', '', '', 'where', 'p.YearReleased', '>', 'p2.YearReleased', 'and', 'p.BrandName', '=', 'p2.BrandName', 'and', 'p.ProductId', 'not', 'like', 'p2.ProductId\n', '', '', '', 'group', 'by', 'p.ProductId\n', '', '', '', ')', 'pc']
({'queryNum': 1300}, {'parsedRemovedQuery': 'select distinct\n    ProductName, ifnull (prodCnt, 0)\nfrom\n    Products\n    left outer join\n    (select\n        ProductId, count(*) prodCnt\n    from\n        Products p, Products p2\n    where YearReleased > p2.YearReleased and BrandName = p2.BrandName and ProductId not like p2.ProductId\n    group by ProductId\n    )\n    on ProductId = ProductId\norder by ProductName'})
Query 5eaf2013334f483dd6bba347 has been updated
==============
['Products']
({'queryNum': 1301}, {'parsedRemovedQuery': 'SELECT Products.ProductName,  (SELECT count(*) from Products P where Products.BrandName = BrandName and Products.YearReleased > YearReleased) c\nfrom Products\norder by ProductName asc\n'})
Query 5eaf2013334f483dd6bba348 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1302}, {'parsedRemovedQuery': 'SELECT ProductName, Count(ProductId)\nFROM Products LEFT OUTER JOIN Products \n    ON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductId\nORDER BY ProductName\n\n-- SELECT * FROM Products JOIN Products ON BrandName = BrandName'})
Query 5eaf2013334f483dd6bba349 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1303}, {'parsedRemovedQuery': 'select ProductName, count(ProductId) from\n    Products left join Products on BrandName = BrandName and YearReleased > YearReleased group by ProductId, ProductName order by ProductName;'})
Query 5eaf2013334f483dd6bba34a has been updated
==============
['Products', 'a']
['Products', 'b']
({'queryNum': 1304}, {'parsedRemovedQuery': 'SELECT ProductName,SUM(\n    if(YearReleased > YearReleased, 1, 0))\nFROM Products\nLEFT JOIN Products ON BrandName = BrandName\nWHERE BrandName = BrandName\nGROUP BY ProductName \n'})
Query 5eaf2013334f483dd6bba34b has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1305}, {'parsedRemovedQuery': 'select ProductName, count(ProductName) - 1\nfrom Products join Products on BrandName = BrandName\nwhere YearReleased > YearReleased or ProductName = ProductName\ngroup by ProductName\n'})
Query 5eaf2013334f483dd6bba34c has been updated
==============
['Products', 'P']
({'queryNum': 1306}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT count(*) \n                  FROM Products \n                  WHERE (BrandName = BrandName) AND (YearReleased > YearReleased))\nFrom Products\nORDER BY ProductName'})
Query 5eaf2013334f483dd6bba34d has been updated
==============
['Products']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'p1.ProductName', 'AS', 'Prod1,', 'COUNT(p1.ProductId)', 'AS', 'c\n', '', '', '', '', '', '', '', 'FROM', 'Products', 'p1,', 'Products', 'p2\n', '', '', '', '', '', '', '', 'WHERE', 'p2.YearReleased', '<', 'p1.YearReleased\n', '', '', '', '', '', '', '', 'AND', 'p1.BrandName', '=', 'p2.BrandName\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'Prod1\n', '', '', '', ')', 'AS', 'inner_table']
({'queryNum': 1307}, {'parsedRemovedQuery': 'SELECT ProductName, COALESCE(c, 0)\nFROM Products\nLEFT JOIN (\n        SELECT p1.ProductName AS Prod1, COUNT(p1.ProductId) AS c\n        FROM Products p1, Products p2\n        WHERE p2.YearReleased < p1.YearReleased\n        AND p1.BrandName = p2.BrandName\n        GROUP BY Prod1\n    ) AS ON Products.ProductName = Prod1\nORDER BY ProductName ASC\n'})
Query 5eaf2013334f483dd6bba34e has been updated
==============
['Products', 'p']
({'queryNum': 1308}, {'parsedRemovedQuery': 'Select ProductName, (Select count(*) From Products Where BrandName = BrandName And YearReleased > YearReleased)\nFrom Products\nOrder by ProductName'})
Query 5eaf2013334f483dd6bba34f has been updated
==============
['Products', 'as', 'a']
({'queryNum': 1309}, {'parsedRemovedQuery': 'select ProductName, \n    (select count(*)\n     from Products as b\n     where BrandName = b.BrandName and YearReleased > b.YearReleased)\nfrom Products\norder by ProductName'})
Query 5eaf2013334f483dd6bba350 has been updated
==============
['Products', 'P']
['(SELECT', '*', 'FROM', 'Products)', 'AS', 'TEMP']
({'queryNum': 1310}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName) - 1\nFROM Products, (SELECT * FROM Products) AS TEMP\nWHERE BrandName = TEMBrandName AND (YearReleased > TEMYearReleased OR ProductName = TEMProductName)\nGROUP BY ProductName\n'})
Query 5eaf2013334f483dd6bba351 has been updated
==============
['Products', 'as', 'P']
['Products', 'as', 'PP']
({'queryNum': 1311}, {'parsedRemovedQuery': 'select ProductName, count(ProductName) - 1\nfrom Products as \njoin Products as on (BrandName = PBrandName and YearReleased > PYearReleased) or\n(BrandName = PBrandName and ProductName = PProductName)\ngroup by ProductName'})
Query 5eaf2013334f483dd6bba352 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1312}, {'parsedRemovedQuery': 'SELECT ProductName AS curr_prod, (SELECT COUNT(ProductName) FROM Products, Products p2 WHERE ProductName = curr_prod AND YearReleased > YearReleased AND BrandName = BrandName)\nFROM Products, Products\nWHERE BrandName = BrandName\nGROUP BY ProductName;'})
Query 5eaf2013334f483dd6bba353 has been updated
==============
['Products']
['(select', 'a.ProductName', 'as', 'p,', 'count(*)', 'as', 'c', 'from', 'Products', 'a', 'left', 'outer', 'join', 'Products', 'b', 'on', 'a.BrandName', '=', 'b.BrandName', 'where', 'a.YearReleased', '>', 'b.YearReleased', 'group', 'by', 'a.ProductName)', 'x']
({'queryNum': 1313}, {'parsedRemovedQuery': 'select Products.ProductName, coalesce(c, 0) from Products left join (select a.ProductName as p, count(*) as c from Products a left outer join Products b on a.BrandName = b.BrandName where a.YearReleased > b.YearReleased group by a.ProductName) on p = Products.ProductName order by Products.ProductName asc'})
Query 5eaf2013334f483dd6bba354 has been updated
==============
['Products', 'AS', 'awk1']
['Products', 'AS', 'awk2']
({'queryNum': 1314}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products AS\nleft join Products AS on BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductName'})
Query 5eaf2013334f483dd6bba355 has been updated
==============
['Products', 'p1']
({'queryNum': 1315}, {'parsedRemovedQuery': 'select ProductName, (select count(*)\n                    from Products p2\n                    where p2.YearReleased < YearReleased and p2.BrandName = BrandName)\nfrom Products\norder by ProductName'})
Query 5eaf2013334f483dd6bba356 has been updated
==============
['Products', 'a']
['Products', 'as', 'b']
({'queryNum': 1316}, {'parsedRemovedQuery': 'select ProductName, count(YearReleased)\nfrom Products\nleft join Products as \non BrandName = BrandName and YearReleased > YearReleased\ngroup by ProductName'})
Query 5eaf2013334f483dd6bba357 has been updated
==============
['Products']
({'queryNum': 1317}, {'parsedRemovedQuery': 'SELECT ProductName,\n    (SELECT COUNT(ProductName) FROM Products AS P2\n        WHERE Products.YearReleased > P2.YearReleased AND Products.BrandName = P2.BrandName)\n    FROM Products\n    ORDER BY ProductName'})
Query 5eaf2013334f483dd6bba358 has been updated
==============
['Products', 'as', 'prod']
({'queryNum': 1318}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(prod2.ProductId) FROM Products as prod2 WHERE BrandName = prod2.BrandName AND prod2.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2013334f483dd6bba359 has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1319}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)\nFROM Products\nLEFT JOIN Products ON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductId\nORDER BY ProductName;'})
Query 5eaf2013334f483dd6bba35a has been updated
==============
['Products', 'a']
({'queryNum': 1320}, {'parsedRemovedQuery': 'select ProductName, (select count(1) from Products as a1 where BrandName = a1.BrandName and a1.YearReleased < YearReleased ) as num from Products ORDER BY ProductName'})
Query 5eaf2013334f483dd6bba35b has been updated
==============
['Products']
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1321}, {'parsedRemovedQuery': 'SELECT ProductName, 0 as count_before\nFROM Products \nWHERE ProductName NOT IN (SELECT ProductName FROM Products, Products p2 WHERE YearReleased > YearReleased AND BRANDNAME = BRANDNAME GROUP BY ProductName)\nUNION ALL\nSELECT ProductName as ProductName, count(ProductName) as count_before\nFROM Products, Products p2 \nWHERE YearReleased > YearReleased AND BRANDNAME = BRANDNAME \nGROUP BY ProductName\nORDER BY ProductName;'})
Query 5eaf2013334f483dd6bba35c has been updated
==============
['Products', 'p']
({'queryNum': 1322}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(*)\n    FROM Products p1\n    WHERE p1.YearReleased < YearReleased\n    AND BrandName = p1.BrandName\n)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2013334f483dd6bba35d has been updated
==============
['Products', 'P']
['(SELECT', 'P1.ProductId', 'FROM', 'Products', 'P1,', 'Products', 'P2\nWHERE', 'P1.YearReleased', '>', 'P2.YearReleased', 'AND', 'P1.BrandName', '=', 'P2.BrandName)', 'as', 'RealCounts']
({'queryNum': 1323}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId) FROM Products\nLEFT OUTER JOIN\n(SELECT P1.ProductId FROM Products P1, Products P2\nWHERE P1.YearReleased > P2.YearReleased AND P1.BrandName = P2.BrandName)\nON ProductId = ProductId\nGROUP BY ProductId\nORDER BY ProductName'})

Query 5eaf2013334f483dd6bba35e has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1324}, {'parsedRemovedQuery': 'SELECT ProductName, SUM(YearReleased > YearReleased)\nFROM Products LEFT OUTER JOIN Products ON BrandName = BrandName\nGROUP BY ProductName'})
Query 5eaf2013334f483dd6bba35f has been updated
==============
['Products']
({'queryNum': 1325}, {'parsedRemovedQuery': 'SELECT new.ProductName, COUNT(old.ProductId)-1\nFROM Products new, Products old\nWHERE (new.YearReleased > old.YearReleased and new.BrandName = old.BrandName) or (new.YearReleased = old.YearReleased and new.ProductName = old.productName)\nGROUP BY new.ProductName'})
Query 5eaf2013334f483dd6bba360 has been updated
==============
['Products', 'as', 'P1']
({'queryNum': 1326}, {'parsedRemovedQuery': 'SELECT ProductName, \n(SELECT COUNT(*) FROM Products as P2 \nWHERE BrandName = P2.BrandName \nAND P2.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2013334f483dd6bba361 has been updated
==============
['Products']
({'queryNum': 1327}, {'parsedRemovedQuery': 'Select ProductName, (Select Count(*) \n                    From Products temp \n                    Where BrandName = Current.BrandName AND \n                    Current.YearReleased > YearReleased )\nFrom Products Current\nOrder By ProductName'})
Query 5eaf2013334f483dd6bba362 has been updated
==============
['Products', 'as', 'P']
['Products', 'as', 'Q']
({'queryNum': 1328}, {'parsedRemovedQuery': 'select ProductName, count(ProductId)\nfrom Products as left join Products as on YearReleased > YearReleased and BrandName = BrandName\ngroup by ProductName;'})
Query 5eaf2013334f483dd6bba363 has been updated
==============
['Products']
['Products']
({'queryNum': 1329}, {'parsedRemovedQuery': 'SELECT new.ProductName, COUNT(prior.ProductId)\nFROM Products new LEFT OUTER JOIN Products prior\n    ON new.BrandName = prior.BrandName AND new.YearReleased > prior.YearReleased\nGROUP BY new.ProductId\nORDER BY new.ProductName;'})
Query 5eaf2013334f483dd6bba364 has been updated
==============
['Products', 'p7']
['(select', 'p3.ProductName,', 'p4.cts\nfrom', 'Products', 'p3,', '(select', 'p5.ProductName,count(p5.bProductId)', 'as', 'cts\nfrom', '(select', 'p1.ProductName,', 'p2.ProductId', 'as', 'bProductId\nfrom', 'Products', 'p1,', 'Products', 'p2\nwhere', 'p1.BrandName', '=', 'p2.BrandName', 'and', 'p1.YearReleased', '>', 'p2.YearReleased)', 'p5\ngroup', 'by', 'p5.ProductName)', 'p4\nwhere', 'p3.ProductName', '=', 'p4.ProductName)', 'p6']
({'queryNum': 1330}, {'parsedRemovedQuery': 'select ProductName, ifnull(cts, 0)\nfrom Products\nLEFT JOIN\n(select p3.ProductName, p4.cts\nfrom Products p3, (select p5.ProductName,count(p5.bProductId) as cts\nfrom (select p1.ProductName, p2.ProductId as bProductId\nfrom Products p1, Products p2\nwhere p1.BrandName = p2.BrandName and p1.YearReleased > p2.YearReleased) p5\ngroup by p5.ProductName) p4\nwhere p3.ProductName = p4.ProductName)\non ProductName = ProductName\norder by ProductName'})
Query 5eaf2013334f483dd6bba365 has been updated
==============
['Products', 'AS', 'p']
({'queryNum': 1331}, {'parsedRemovedQuery': 'SELECT ProductName, \n(SELECT COUNT(*)\n    FROM Products AS p2\n    WHERE p2.YearReleased < YearReleased and p2.BrandName = BrandName\n    \n)\nFROM Products AS\nORDER BY ProductName;'})
Query 5eaf2013334f483dd6bba366 has been updated
==============
({'queryNum': 1332}, {'parsedRemovedQuery': 'select p1.ProductName, count(p2.ProductId)\nfrom\n(Products p1 left join Products p2\non p1.BrandName=p2.BrandName and p1.YearReleased > p2.YearReleased)\ngroup by p1.ProductId\norder by p1.ProductName\n'})
Query 5eaf2013334f483dd6bba367 has been updated
==============
['Products', 'a']
({'queryNum': 1333}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(b.ProductId)\n    FROM Products b\n    WHERE YearReleased > b.YearReleased AND BrandName = b.BrandName)\nFROM Products\nORDER BY ProductName ASC'})
Query 5eaf2013334f483dd6bba368 has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1334}, {'parsedRemovedQuery': 'Select ProductName, Count(YearReleased)\nFrom Products Left Outer Join Products\n    on YearReleased > YearReleased and BrandName = BrandName\nGroup By ProductName\n\n\n\n\n'})
Query 5eaf2013334f483dd6bba369 has been updated
==============
['(select', 'p1.ProductName,', 'count(p2.ProductName)', 'as', 'ct', 'from', 'Products', 'p1,', 'Products', 'p2', 'where', 'p2.BrandName', '=', 'p1.Brandname', 'and', 'p2.YearReleased', '<', 'p1.YearReleased', 'group', 'by', 'p1.ProductName)', 'as', 'tb1']
['Products', 'p3']
({'queryNum': 1335}, {'parsedRemovedQuery': 'select ProductName, coalesce ( ct,0) from (select p1.ProductName, count(p2.ProductName) as ct from Products p1, Products p2 where p2.BrandName = p1.Brandname and p2.YearReleased < p1.YearReleased group by p1.ProductName) as right outer join Products on ProductName = ProductName order by ProductName asc'})
Query 5eaf2013334f483dd6bba36a has been updated
==============
['Products', 'P1']
({'queryNum': 1336}, {'parsedRemovedQuery': 'select ProductName,(select count(P2.ProductId)\n                     from Products P2\n                     where P2.YearReleased < YearReleased and BrandName = P2.BrandName)\nfrom Products\norder by ProductName  '})
Query 5eaf2013334f483dd6bba36b has been updated
==============
['Products', 'P']
({'queryNum': 1337}, {'parsedRemovedQuery': 'select ProductName, (select count(*) from Products C where C.YearReleased < YearReleased and C.BrandName = BrandName) as _prodCount\nfrom Products\norder by ProductName ASC;'})
Query 5eaf2014334f483dd6bba36c has been updated
==============
['Products']
['Products']
({'queryNum': 1338}, {'parsedRemovedQuery': 'SELECT new.ProductName, COUNT(old.ProductId)\nFROM Products old\nRIGHT OUTER JOIN Products new\nON old.BrandName=new.BrandName AND new.YearReleased > old.YearReleased \nGROUP BY new.ProductName;\n'})
Query 5eaf2014334f483dd6bba36d has been updated
==============
['Products']
['(\n', '', '', '', 'SELECT', 'now.ProductName', 'as', 'help1,', 'COUNT(old.ProductId)', 'as', 'op\n', '', '', '', 'FROM', 'Products', 'now,', 'Products', 'old\n', '', '', '', 'WHERE', 'now.BrandName', '=', 'old.BrandName', 'AND', 'now.YearReleased', '>', 'old.YearReleased', 'GROUP', 'BY', 'now.ProductName\n', '', '', '', ')', 'AS', 'gg']
({'queryNum': 1339}, {'parsedRemovedQuery': 'SELECT Products.ProductName, COALESCE(op, 0)\nFROM Products\nLEFT JOIN (\n    SELECT now.ProductName as help1, COUNT(old.ProductId) as op\n    FROM Products now, Products old\n    WHERE now.BrandName = old.BrandName AND now.YearReleased > old.YearReleased GROUP BY now.ProductName\n    ) AS ON Products.ProductName = help1\nORDER BY ProductName\n\n\n\n'})
Query 5eaf2014334f483dd6bba36e has been updated
==============
['(SELECT', 'ProductName,', 'BrandName,', '\n', '', '', '', '(SELECT', 'COUNT(ProductName)', '\n', '', '', '', 'FROM', 'Products', '\n', '', '', '', 'WHERE', 'T1.YearReleased', '>', 'YearReleased', 'AND', 'T1.BrandName', '=', 'BrandName)', 'AS', 'counts\nFROM', 'Products', 'AS', 'T1)', 'AS', 'T2']
({'queryNum': 1340}, {'parsedRemovedQuery': 'SELECT ProductName, counts \nFROM (SELECT ProductName, BrandName, \n    (SELECT COUNT(ProductName) \n    FROM Products \n    WHERE T1.YearReleased > YearReleased AND T1.BrandName = BrandName) AS counts\nFROM Products AS T1) AS\nORDER BY ProductName'})
Query 5eaf2014334f483dd6bba36f has been updated
==============
['Products', 'P1']
({'queryNum': 1341}, {'parsedRemovedQuery': 'SELECT ProductName, COALESCE((SELECT COUNT(*)\n\t\t\t\t\t\tFROM Products P2\n\t\t\t\t\t\tWHERE BrandName = P2.BrandName AND ProductName <> P2.ProductName AND P2.YearReleased < YearReleased\n                        GROUP BY P2.BrandName), 0)\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2014334f483dd6bba370 has been updated
==============
['Products', 'pr1']
['Products', 'pr2']
({'queryNum': 1342}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)\nFROM Products\nLEFT OUTER JOIN Products \nON BrandName = BrandName\nAND YearReleased > YearReleased\nGROUP BY ProductName'})
Query 5eaf2014334f483dd6bba371 has been updated
==============
['Products', 'p']
({'queryNum': 1343}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(p2.YearReleased)\n                       FROM Products p2\n                       WHERE p2.YearReleased < YearReleased AND p2.BrandName = BrandName)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2014334f483dd6bba372 has been updated
==============
['Products', 'P1']
({'queryNum': 1344}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(P2.ProductId)\n    FROM (Products P2 INNER JOIN Brands B2 ON B2.BrandName = P2.BrandName)\n    WHERE P2.YearReleased < YearReleased AND BrandName = P2.BrandName\n)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2014334f483dd6bba373 has been updated
==============
['Products', 'P']
['Products', 'Pr']
({'queryNum': 1345}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(YearReleased > YearReleased) - 1\nFROM Products JOIN Products\nON BrandName = BrandName\nWHERE (YearReleased > YearReleased) OR (ProductName = ProductName)\nGROUP BY ProductName;'})
Query 5eaf2014334f483dd6bba374 has been updated
==============
['Products', 'P']
['(SELECT\n', '', '', '', '', '', '', '', 'P.ProductId,\n', '', '', '', '', '', '', '', 'count(*)', 'as', 'cnt\n', '', '', '', 'FROM\n', '', '', '', '', '', '', '', 'Products', 'P,\n', '', '', '', '', '', '', '', 'Products', 'PP\n', '', '', '', 'WHERE', '\n', '', '', '', '', '', '', '', 'P.YearReleased', '>', 'PP.YearReleased\n', '', '', '', '', '', '', '', 'AND\n', '', '', '', '', '', '', '', 'P.BrandName', '=', 'PP.BrandName\n', '', '', '', '', '', '', '', 'AND\n', '', '', '', '', '', '', '', 'P.ProductId', '<>', 'PP.ProductId\n', '', '', '', 'GROUP', 'by\n', '', '', '', '', '', '', '', 'P.ProductId\n', '', '', '', ')', 'as', 't']
({'queryNum': 1346}, {'parsedRemovedQuery': 'SELECT\n    ProductName,\n    ifnull(cnt, 0)\nFROM \n    Products \n    LEFT OUTER JOIN \n    (SELECT\n        ProductId,\n        count(*) as cnt\n    FROM\n        Products P,\n        Products PP\n    WHERE \n        YearReleased > PYearReleased\n        AND\n        BrandName = PBrandName\n        AND\n        ProductId <> PProductId\n    GROUP by\n        ProductId\n    )\n        on ProductId = ProductId\nORDER by\n    ProductName\n        \n\n    '})

Query 5eaf2014334f483dd6bba375 has been updated
==============
['Products', 'p']
({'queryNum': 1347}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*)\n                    FROM Products a\n                    WHERE YearReleased > a.YearReleased AND BrandName = a.BrandName)\n                    \nFROM Products\nORDER BY ProductName\n'})
Query 5eaf2014334f483dd6bba376 has been updated
==============
['Products', 'AS', 'p']
['Products', 'AS', 'old']
({'queryNum': 1348}, {'parsedRemovedQuery': 'SELECT\nProductName,\nSUM(CASE WHEN YearReleased > YearReleased then 1 else 0 end) as Products_released_before\nFROM Products AS\nLEFT JOIN Products AS ON YearReleased > YearReleased AND BrandName = BrandName\ngroup by ProductName;'})
Query 5eaf2014334f483dd6bba377 has been updated
==============
['Products', 'p1']
['Products', 'p2\n--', 'on', '', '\n--', 'p1.ProductId', '<>', 'p2.ProductId']
({'queryNum': 1349}, {'parsedRemovedQuery': 'Select  ProductName,  Count(p2.ProductId) - 1\nFrom Products,  Products p2\n-- on  \n-- ProductId <> p2.ProductId\nWhere  (BrandName = p2.BrandName and YearReleased > p2.YearReleased) or ProductName = p2.ProductName\nGroup by ProductId\norder by ProductName'})
Query 5eaf2014334f483dd6bba378 has been updated
==============
['Products', 'a']
['#LEFT']
['Products', 'b']
({'queryNum': 1350}, {'parsedRemovedQuery': "SELECT ProductName, (SELECT COUNT(*) FROM Products WHERE BrandName = BrandName AND YearReleased > YearReleased)\nFROM Products\n#LEFT JOIN Products ON BrandName = BrandName\n#GROUP BY ProductName\nORDER BY ProductName\n\n/**\n put YearReleased > YearReleased somewhere else? it's filtering out results with 0\n because those results don't have YearReleased > YearReleased\n*/"})
Query 5eaf2014334f483dd6bba379 has been updated
==============
['Products', 'as', 'p1']
['Products', 'as', 'p2']
({'queryNum': 1351}, {'parsedRemovedQuery': 'SELECT ProductName, Count(ProductId) as p2Previous_Products\nFROM Products as \n    LEFT OUTER JOIN Products as \n      ON (BrandName = BrandName \n     AND YearReleased > YearReleased)\nGROUP BY ProductName, ProductId\n'})
Query 5eaf2014334f483dd6bba37a has been updated
==============
['Products', 'p']
['Products', 'p1']
({'queryNum': 1352}, {'parsedRemovedQuery': 'SELECT ProductName, Count(ProductName)\nFROM Products LEFT OUTER JOIN Products ON (YearReleased > YearReleased) AND (BrandName = BrandName)\nGroup By ProductName'})
Query 5eaf2014334f483dd6bba37b has been updated
==============
['Products']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'p1.ProductName', 'AS', 'Prod1,', 'COUNT(p1.ProductId)', 'AS', 'c\n', '', '', '', '', '', '', '', 'FROM', 'Products', 'p1,', 'Products', 'p2\n', '', '', '', '', '', '', '', 'WHERE', 'p2.YearReleased', '<', 'p1.YearReleased\n', '', '', '', '', '', '', '', 'AND', 'p1.BrandName', '=', 'p2.BrandName\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'Prod1\n', '', '', '', ')', 'AS', 'inner_table']
({'queryNum': 1353}, {'parsedRemovedQuery': 'SELECT ProductName, COALESCE(c, 0)\nFROM Products\nLEFT JOIN (\n        SELECT p1.ProductName AS Prod1, COUNT(p1.ProductId) AS c\n        FROM Products p1, Products p2\n        WHERE p2.YearReleased < p1.YearReleased\n        AND p1.BrandName = p2.BrandName\n        GROUP BY Prod1\n    ) AS ON Products.ProductName = Prod1\nORDER BY ProductName ASC\n'})
Query 5eaf2014334f483dd6bba37c has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1354}, {'parsedRemovedQuery': 'SELECT ProductName, SUM(CASE WHEN (YearReleased > YearReleased AND BrandName = BrandName)  THEN 1 ELSE 0 END)\nFROM Products, Products\nGROUP BY ProductName'})
Query 5eaf2014334f483dd6bba37d has been updated
==============
['Products', 'P1']
['Products', 'P2']
({'queryNum': 1355}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName) - 1\nFROM Products JOIN Products ON BrandName = BrandName\nWHERE YearReleased < YearReleased OR ProductName = ProductName\nGROUP BY ProductName;\n'})
Query 5eaf2014334f483dd6bba37e has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1356}, {'parsedRemovedQuery': 'Select ProductName, Count(YearReleased)\nFrom Products left outer join Products on YearReleased > YearReleased and BrandName = BrandName\nGroup by ProductName\n\n-- SELECT FirstName, LastName, NetID, SUM(Credits)\n-- FROM Students A, Enrollments\n-- WHERE NetId = NetId\n-- Group BY NetId \n-- Having SUM(Credits)>12\n-- ORDER BY SUM(Credits) DESC, FirstName\n'})
Query 5eaf2014334f483dd6bba37f has been updated
==============
['Products', 'Pro']
({'queryNum': 1357}, {'parsedRemovedQuery': 'select ProductName, \n(select count(*)\n  from Products Pro2\n  where Pro2.YearReleased < YearReleased and Pro2.BrandName = BrandName)\nfrom Products\norder by ProductName'})
Query 5eaf2014334f483dd6bba380 has been updated
==============
['Products', 'P']
['(\n', '', '', '', 'SELECT', 'P1.ProductName', 'AS', 'prodName,', 'COUNT(P1.ProductId)', 'AS', 'ct\n', '', '', '', 'FROM', 'Products', 'P1,', 'Products', 'P2\n', '', '', '', 'WHERE', 'P2.YearReleased', '<', 'P1.YearReleased', 'AND', 'P1.BrandName', '=', 'P2.BrandName\n', '', '', '', 'GROUP', 'BY', 'prodName\n)', 'AS', 'prevProd']
({'queryNum': 1358}, {'parsedRemovedQuery': 'SELECT ProductName, COALESCE(ct, 0)\nFROM Products\nLEFT JOIN (\n    SELECT P1.ProductName AS prodName, COUNT(P1.ProductId) AS ct\n    FROM Products P1, Products P2\n    WHERE P2.YearReleased < P1.YearReleased AND P1.BrandName = P2.BrandName\n    GROUP BY prodName\n) AS ON ProductName = prodName\nORDER BY ProductName ASC'})
Query 5eaf2014334f483dd6bba381 has been updated
==============
['Products', 'p']
({'queryNum': 1359}, {'parsedRemovedQuery': 'select ProductName, (select count(p2.YearReleased) from Products p2 where YearReleased > p2.YearReleased and BrandName = p2.BrandName) \nfrom Products \norder by productName\n-- having YearReleased > p2.YearReleased;\n-- where YearReleased < b.YearEstablished\n-- group by ProductName\n;'})
Query 5eaf2014334f483dd6bba382 has been updated
==============
['Products', 't1']
({'queryNum': 1360}, {'parsedRemovedQuery': 'SELECT ProductName, \n  (SELECT count(t2.ProductId)\n   FROM Products t2  \n   WHERE YearReleased > t2.YearReleased AND BrandName = t2.BrandName\n   ) AS number_product_release_early \nFROM Products \norder by ProductName'})
Query 5eaf2014334f483dd6bba383 has been updated
==============
['Products', 'A']
({'queryNum': 1361}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(DISTINCT ProductId)\n                FROM Products B\n                WHERE B.YearReleased < YearReleased and B.BrandName = BrandName ) \nFrom Products\nORDER BY LOWER(ProductName);\n\n\n                \n'})
Query 5eaf2014334f483dd6bba384 has been updated
==============
['Products', 'C']
({'queryNum': 1362}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(D.ProductName) FROM Products D WHERE D.YearReleased < YearReleased AND BrandName = D.BrandName)\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2014334f483dd6bba385 has been updated
==============
['Products', 'P1']
({'queryNum': 1363}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT Count(*) From Products P2 Where P2.BrandName=BrandName and P2.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2014334f483dd6bba386 has been updated
==============
['Products', 'as', 'Current']
({'queryNum': 1364}, {'parsedRemovedQuery': 'select ProductName, (\n    select count(*) from Products where YearReleased < YearReleased and BrandName=BrandName\n)\nfrom Products\norder by ProductName;'})
Query 5eaf2014334f483dd6bba387 has been updated
==============
['Products', 'Prod']
['Products', 'Prod1']
({'queryNum': 1365}, {'parsedRemovedQuery': 'SELECT ProductName, SUM(YearReleased > YearReleased) FROM Products\nJOIN Products ON BrandName = BrandName\nGROUP BY ProductName'})
Query 5eaf2014334f483dd6bba388 has been updated
==============
['Products', 't']
({'queryNum': 1366}, {'parsedRemovedQuery': 'select \n  ProductName,\n  (select count(*) from Products where BrandName = BrandName AND YearReleased < YearReleased) count\nfrom Products\norder by ProductName'})
Query 5eaf2014334f483dd6bba389 has been updated
==============
['Products', 'P']
['Products', 'P2']
({'queryNum': 1367}, {'parsedRemovedQuery': 'SELECT ProductName, count(BrandName)-1\nFROM Products, Products\nWHERE BrandName = BrandName AND (YearReleased > YearReleased  OR \n    (ProductId = ProductId AND YearReleased = YearReleased))\nGROUP BY ProductName'})
Query 5eaf2014334f483dd6bba38a has been updated
==============
['Products', 'a']
({'queryNum': 1368}, {'parsedRemovedQuery': 'select ProductName,(Select count(*) from Products b where BrandName=b.BrandName and b.YearReleased<YearReleased) from Products Order by ProductName ASC;'})
Query 5eaf2014334f483dd6bba38b has been updated
==============
['Products', 'p1']
({'queryNum': 1369}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*)\n    FROM Products p2\n    WHERE BrandName = p2.BrandName AND p2.YearReleased < YearReleased\n)\nFROM Products\nORDER BY ProductName ASC\n\n\n\n'})
Query 5eaf2014334f483dd6bba38c has been updated
==============
['Products', 'p2']
({'queryNum': 1370}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*)\n                        FROM Products p\n                        WHERE BrandName = p.BrandName and YearReleased > p.YearReleased)\nFROM Products\nORDER BY ProductName'})

Query 5eaf2014334f483dd6bba38d has been updated
==============
['Products', 'p']
({'queryNum': 1371}, {'parsedRemovedQuery': 'select ProductName, (select count(*) from Products where YearReleased < YearReleased and BrandName = BrandName) as cnt from Products order by ProductName'})
Query 5eaf2014334f483dd6bba38e has been updated
==============
['Products']
({'queryNum': 1372}, {'parsedRemovedQuery': 'SELECT ProductName, (\n    SELECT COUNT(ProductName)\n    FROM Products AS ProductsBefore\n    WHERE Products.YearReleased > ProductsBefore.YearReleased \n        AND Products.BrandName = ProductsBefore.BrandName\n)\nFROM Products\nORDER BY ProductName ASC; '})
Query 5eaf2014334f483dd6bba38f has been updated
==============
['Products', 'd']
({'queryNum': 1373}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*)-1 FROM Products p2 WHERE ((p2.YearReleased <YearReleased AND BrandName = p2.BrandName) OR (p2.ProductId = ProductId AND p2.YearReleased=YearReleased)) GROUP by p2.BrandName)\nFROM Products\nGROUP By BrandName, ProductName, YearReleased, ProductId\nORDER By ProductName'})
Query 5eaf2015334f483dd6bba390 has been updated
==============
['(select', 'p.ProductName,', 'p.ProductId', 'as', 'ProductMainId,', 'pp.ProductId\nfrom', 'Products', 'p', 'left', 'outer', 'join', 'Products', 'pp', 'on', 'p.BrandName', '=', 'pp.BrandName', 'and', 'p.YearReleased', '>', 'pp.YearReleased)', 'as', 'ppp']
({'queryNum': 1374}, {'parsedRemovedQuery': 'select ProductName,count(ProductId)\nfrom (select p.ProductName, p.ProductId as ProductMainId, pp.ProductId\nfrom Products p left outer join Products pp on p.BrandName = pp.BrandName and p.YearReleased > pp.YearReleased)\ngroup by ProductMainId\norder by ProductName\n'})
Query 5eaf2015334f483dd6bba391 has been updated
==============
['(SELECT', 'P1.ProductName', 'AS', 'p1Name,', 'P2.ProductName', 'AS', 'p2Name\n', '', '', '', 'FROM', 'Products', 'P1\n', '', '', '', 'LEFT', 'JOIN', 'Products', 'P2', 'ON', 'P1.YearReleased', '>', 'P2.YearReleased\n', '', '', '', '', '', '', '', 'AND', 'P1.BrandName', '=', 'P2.BrandName)', 'AS', 'productInfo']
({'queryNum': 1375}, {'parsedRemovedQuery': 'SELECT p1Name, COUNT(p2Name)\nFROM (SELECT P1.ProductName AS p1Name, P2.ProductName AS p2Name\n    FROM Products P1\n    LEFT JOIN Products P2 ON P1.YearReleased > P2.YearReleased\n        AND P1.BrandName = P2.BrandName) AS\nGROUP BY p1Name;'})
Query 5eaf2015334f483dd6bba392 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1376}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)\nFROM Products LEFT OUTER JOIN Products ON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductId\nORDER BY ProductName'})
Query 5eaf2015334f483dd6bba393 has been updated
==============
['Products', 'p']
({'queryNum': 1377}, {'parsedRemovedQuery': 'select ProductName, \n(select count(*) from Products where Yearreleased < yearreleased and brandname = brandname)\nfrom Products\norder by ProductName;'})
Query 5eaf2015334f483dd6bba394 has been updated
==============
['(SELECT', 'p1.productName', 'as', 'prd1,', 'p2.productName', 'as', 'null_check\nFROM', 'Products', 'p1', 'LEFT', 'OUTER', 'JOIN', 'Products', 'p2', 'on', '\n', '', '', '', 'p1.BrandName', '=', 'p2.BrandName', 'and', 'p1.YearReleased', '>', 'p2.YearReleased)', 'as', 't']
({'queryNum': 1378}, {'parsedRemovedQuery': 'SELECT prd1, COUNT(null_check) FROM (SELECT p1.productName as prd1, p2.productName as null_check\nFROM Products p1 LEFT OUTER JOIN Products p2 on \n    p1.BrandName = p2.BrandName and p1.YearReleased > p2.YearReleased)\nGROUP BY prd1\n'})
Query 5eaf2015334f483dd6bba395 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1379}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)-1\nFROM Products, Products\nWHERE (BrandName=BrandName AND YearReleased > YearReleased) OR ProductId=ProductId\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba396 has been updated
==============
['Products', 'as', 'p1']
['Products', 'as', 'p2']
({'queryNum': 1380}, {'parsedRemovedQuery': 'select ProductName, count(productId)\nfrom Products\nleft outer join Products\non BrandName = BrandName \nand YearReleased > YearReleased group by ProductID\norder by ProductName'})
Query 5eaf2015334f483dd6bba397 has been updated
==============
['Products', 'pr']
({'queryNum': 1381}, {'parsedRemovedQuery': 'select ProductName, (select count(*) from Products pr2 where pr2.YearReleased < YearReleased and pr2.BrandName = BrandName)\nfrom Products\norder by ProductName;'})
Query 5eaf2015334f483dd6bba398 has been updated
==============
['Products', 'as', 'p3']
['(SELECT', 'p2.ProductName', 'as', 'name,', 'count(*)', 'AS', 'Num\nFROM', 'Products', 'as', 'p1,', 'Products', 'as', 'p2\nWHERE', 'p1.BrandName', '=', 'p2.BrandName', 'AND', 'p1.YearReleased', '<', 'p2.YearReleased\nGROUP', 'BY', 'p2.ProductName)', 'AS', 'NumProducts']
({'queryNum': 1382}, {'parsedRemovedQuery': 'SELECT ProductName, IFNULL(Num, 0)\nFROM Products as LEFT JOIN\n(SELECT p2.ProductName as name, count(*) AS Num\nFROM Products as p1, Products as p2\nWHERE p1.BrandName = p2.BrandName AND p1.YearReleased < p2.YearReleased\nGROUP BY p2.ProductName) AS\nON ProductName = name\nORDER BY ProductName'})
Query 5eaf2015334f483dd6bba399 has been updated
==============
['Products', 'p']
['Products', 'p2']
({'queryNum': 1383}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT JOIN Products \nON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba39a has been updated
==============
['(SELECT', 'P1.ProductName,', 'COUNT(P2.ProductName)', 'AS', 'pre\nFROM', 'Products', 'P1,', 'Products', 'P2\nWHERE', 'P1.BrandName', '=', 'P2.BrandName', 'and', 'P1.YearReleased', '>', 'P2.YearReleased\nGROUP', 'BY', 'P1.ProductName)', 'AS', 'temp']
['Products', 'P3']
({'queryNum': 1384}, {'parsedRemovedQuery': 'SELECT ProductName, coalesce(pre, 0)\nFROM (SELECT P1.ProductName, COUNT(P2.ProductName) AS pre\nFROM Products P1, Products P2\nWHERE P1.BrandName = P2.BrandName and P1.YearReleased > P2.YearReleased\nGROUP BY P1.ProductName) AS RIGHT OUTER JOIN Products ON ProductName = ProductName\nORDER BY ProductName'})
Query 5eaf2015334f483dd6bba39b has been updated
==============
['Products']
({'queryNum': 1385}, {'parsedRemovedQuery': 'SELECT ProductName,\n(select count(*) from Products p where p.BrandName = Products.BrandName AND p.YearReleased < Products.YearReleased)\nFROM Products\norder by ProductName ASC;'})
Query 5eaf2015334f483dd6bba39c has been updated
==============
['Products', 'P']
['Products', 'Q']
({'queryNum': 1386}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductID)\nFROM Products LEFT OUTER JOIN Products ON\n    BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductID\nORDER BY ProductName;'})
Query 5eaf2015334f483dd6bba39d has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1387}, {'parsedRemovedQuery': 'SELECT ProductName,COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products ON\nBrandName = BrandName AND YearReleased < YearReleased\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba39e has been updated
==============
['Products', 'P1']
['Products', 'P2']
({'queryNum': 1388}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products\nLEFT OUTER JOIN Products ON BrandName = BrandName AND ProductId <> ProductId AND YearReleased < YearReleased\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba39f has been updated
==============
['Products', 'P1']
['(SELECT', 'ProductName,', 'YearReleased,', 'BrandName\n', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Products)', '\n', '', '', '', '', '', '', '', '', '', '', 'AS', 'P2']
({'queryNum': 1389}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(*) - 1\nFROM Products\n     JOIN (SELECT ProductName, YearReleased, BrandName\n           FROM Products) \n           AS ON BrandName = BrandName\nWHERE YearReleased > YearReleased OR ProductName = ProductName\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba3a0 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1390}, {'parsedRemovedQuery': 'select ProductName, count(ProductName) \nfrom Products left join Products on BrandName = BrandName and YearReleased < YearReleased\ngroup by ProductName'})
Query 5eaf2015334f483dd6bba3a1 has been updated
==============
['(SELECT', 'prod1.ProductName,', 'COUNT(prod2.ProductId)', 'AS', 'NumProds\n', '', '', '', '', '', 'FROM', 'Products', 'prod1', 'LEFT', 'OUTER', 'JOIN', 'Products', 'prod2', 'ON', '(prod1.BrandName', '=', 'prod2.BrandName', 'AND\n', '', '', '', '', '', 'prod1.YearReleased', '>', 'prod2.YearReleased)', '\n', '', '', '', '', '', 'GROUP', 'BY', 'prod1.ProductName)', 'AS', 'T']
({'queryNum': 1391}, {'parsedRemovedQuery': 'SELECT ProductName, NumProds\nFROM (SELECT prod1.ProductName, COUNT(prod2.ProductId) AS NumProds\n      FROM Products prod1 LEFT OUTER JOIN Products prod2 ON (prod1.BrandName = prod2.BrandName AND\n      prod1.YearReleased > prod2.YearReleased) \n      GROUP BY prod1.ProductName) AS T'})
Query 5eaf2015334f483dd6bba3a2 has been updated
==============
['Products', 'P']
['Products', 'R']
({'queryNum': 1392}, {'parsedRemovedQuery': 'SELECT  ProductName, count(ProductName)-- ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN  Products \n    ON (BrandName=BrandName AND YearReleased > YearReleased)\nGROUP BY ProductName'})

Query 5eaf2015334f483dd6bba3a3 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1393}, {'parsedRemovedQuery': 'select ProductName, sum(if(YearReleased < YearReleased, 1, 0))\nfrom Products inner join Products\non BrandName = BrandName\ngroup by ProductName\norder by ProductName\n'})
Query 5eaf2015334f483dd6bba3a4 has been updated
==============
['Products', 'AS', 'A']
['Products', 'AS', 'B']
({'queryNum': 1394}, {'parsedRemovedQuery': 'SELECT A.ProductName, COUNT(CASE WHEN (A.BrandName = B.BrandName AND A.YearReleased > B.YearReleased) THEN 1 ELSE NULL END) AS PrevProducts\nFROM Products AS A, Products AS B\nGROUP BY A.ProductName;'})
Query 5eaf2015334f483dd6bba3a5 has been updated
==============
['Products', 'p1']
({'queryNum': 1395}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(ProductId) FROM Products p2 WHERE p2.BrandName=BrandName AND p2.YearReleased<YearReleased)\nFROM Products\nORDER BY ProductName ASC'})
Query 5eaf2015334f483dd6bba3a6 has been updated
==============
['(\n', '', '', '', 'SELECT', 'ProductName,', 'BrandName,', '\n', '', '', '', '', '', '', '', '(SELECT', 'COUNT(ProductName)', 'FROM', 'Products', 'WHERE', 'Final.YearReleased', '>', 'YearReleased', 'AND', 'Final.BrandName', '=', 'BrandName)', 'as', 'counts\n', '', '', '', 'FROM', 'Products\n', '', '', '', 'AS', 'Final\n)', 'AS', 'prodCounts']
({'queryNum': 1396}, {'parsedRemovedQuery': 'SELECT ProductName, counts FROM \n(\n    SELECT ProductName, BrandName, \n        (SELECT COUNT(ProductName) FROM Products WHERE Final.YearReleased > YearReleased AND Final.BrandName = BrandName) as counts\n    FROM Products\n    AS Final\n) AS\nORDER BY ProductName\n'})
Query 5eaf2015334f483dd6bba3a7 has been updated
==============
['(SELECT', 'pp.ProductName,', 'A.ProductName', 'AS', 'result\n', '', '', '', 'FROM', 'Products', 'pp', 'LEFT', 'OUTER', 'JOIN', 'Products', 'A', 'ON', 'pp.YearReleased', '>', 'A.YearReleased', '', '', '', '\n', '', '', '', 'AND', 'pp.BrandName', '=', 'A.BrandName\n', '', '', '', 'AND', 'pp.ProductId', '<>', 'A.ProductId)', 'AS', 'bt']
({'queryNum': 1397}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(result)\nFROM\n    (SELECT pp.ProductName, A.ProductName AS result\n    FROM Products pp LEFT OUTER JOIN Products A ON pp.YearReleased > A.YearReleased    \n    AND pp.BrandName = A.BrandName\n    AND pp.ProductId <> A.ProductId) AS\nGROUP BY ProductName\n'})
Query 5eaf2015334f483dd6bba3a8 has been updated
==============
['Products', 'A']
['Products', 'B']
({'queryNum': 1398}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(case when YearReleased < YearReleased and BrandName = BrandName then 1 end)\nFROM Products \nCROSS JOIN Products\nGROUP BY ProductName;'})
Query 5eaf2015334f483dd6bba3a9 has been updated
==============
['Products', 'AS', 'a']
['Products', 'AS', 'b']
({'queryNum': 1399}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName) AS number\nFROM Products AS\nLEFT JOIN Products AS\nON BrandName = BrandName AND YearReleased > YearReleased\nGROUP BY ProductId\nORDER BY ProductName '})
Query 5eaf2015334f483dd6bba3aa has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1400}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductId)\nFROM Products\n  LEFT JOIN Products ON (BrandName = BrandName AND YearReleased < YearReleased)\nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba3ab has been updated
==============
['Products', 'p1']
({'queryNum': 1401}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT count(*) FROM Products p2 WHERE p2.BrandName = BrandName AND p2.YearReleased < YearReleased)\nFROM Products\nORDER BY ProductName ASC'})
Query 5eaf2015334f483dd6bba3ac has been updated
==============
['(SELECT', 'distinct', 'p.ProductName\n', '', '', '', '', '', '', '', '', 'FROM', 'Products', 'p\n', '', '', '', '', '', '', '', '', ')AS', 'c']
['(SELECT', 'a.ProductName,', 'a.YearReleased\n', '', '', '', '', '', '', '', '', '', '', '', 'FROM(SELECT', 'p.BrandName,', 'p.YearReleased,', 'p.ProductName\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'FROM', 'Products', 'p,', 'Brands', 'b\n', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'p.BrandName', '=', 'b.BrandName', ')', 'AS', 'a,', 'Products', 'pr\n', '', '', '', '', '', '', '', '', '', '', '', 'WHERE', 'a.BrandName', '=', 'pr.BrandName', 'and', 'a.YearReleased', '>', 'pr.YearReleased\n', '', '', '', '', '', '', '', '', '', '', '', ')', 'AS', 'b']
({'queryNum': 1402}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM    (SELECT distinct p.ProductName\n         FROM Products p\n         )AS\n\nLEFT JOIN   (SELECT a.ProductName, a.YearReleased\n            FROM(SELECT p.BrandName, p.YearReleased, p.ProductName\n                 FROM Products p, Brands\n                 WHERE p.BrandName = BrandName ) AS a, Products pr\n            WHERE a.BrandName = pr.BrandName and a.YearReleased > pr.YearReleased\n            ) AS\nON ProductName = ProductName\nGROUP BY ProductName\n'})
Query 5eaf2015334f483dd6bba3ad has been updated
==============
['Products', 'P']
['Brands', 'B']
({'queryNum': 1403}, {'parsedRemovedQuery': 'Select ProductName,\n(\nSelect count(ProductId)\nfrom Brands NATURAL JOIN Products\nwhere YearReleased < YearReleased and BrandName=BrandName\n)\nfrom Products, Brands\nwhere BrandName=BrandName\norder by ProductName ASC'})
Query 5eaf2015334f483dd6bba3ae has been updated
==============
['Products', 'P1']
({'queryNum': 1404}, {'parsedRemovedQuery': 'SELECT \n    ProductName, (SELECT COUNT(P2.ProductId) \n                    FROM Products P2 \n                   WHERE P2.BrandName = BrandName \n                     AND P2.YearReleased < YearReleased) AS number\nFROM    \n    Products\nORDER BY\n    ProductName ASC\n\n\n'})
Query 5eaf2015334f483dd6bba3af has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1405}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(ProductName)\nFROM Products LEFT OUTER JOIN Products ON BrandName = BrandName AND YearReleased > YearReleased \nGROUP BY ProductName'})
Query 5eaf2015334f483dd6bba3b0 has been updated
==============
['Products', 'pr']
({'queryNum': 1406}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT Count(*) FROM Products pr2 WHERE BrandName = pr2.BrandName AND pr2.YearReleased < YearReleased) FROM Products ORDER BY ProductName ASC;\n        '})
Query 5eaf2015334f483dd6bba3b1 has been updated
==============
['Products']
['(\n', '', '', '', '', '', '', '', 'SELECT', 'curr.ProductName', 'AS', 'name,', 'COUNT(curr.ProductId)', 'AS', 'amount\n', '', '', '', '', '', '', '', 'FROM', 'Products', 'curr,', 'Products', 'pre\n', '', '', '', '', '', '', '', 'WHERE', 'curr.BrandName', '=', 'pre.BrandName', 'AND', 'curr.YearReleased', '>', 'pre.YearReleased\n', '', '', '', '', '', '', '', 'GROUP', 'BY', 'name\n', '', '', '', ')', 'AS', 'my_temp']
({'queryNum': 1407}, {'parsedRemovedQuery': 'SELECT Products.ProductName, COALESCE(amount, 0)\nFROM Products\nLEFT JOIN (\n        SELECT curr.ProductName AS name, COUNT(curr.ProductId) AS amount\n        FROM Products curr, Products pre\n        WHERE curr.BrandName = pre.BrandName AND curr.YearReleased > pre.YearReleased\n        GROUP BY name\n    ) AS ON Products.ProductName = name\nORDER BY ProductName;'})
Query 5eaf2015334f483dd6bba3b2 has been updated
==============
['Products', 'AS', 'o']
({'queryNum': 1408}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*) FROM Products i WHERE i.YearReleased < YearReleased and i.BrandName = BrandName)\nFROM Products AS\nORDER BY ProductName'})
Query 5eaf2015334f483dd6bba3b3 has been updated
==============
['Products', 'oriP']
['(\n', '', '', '', 'SELECT', 'pp.ProductID', 'AS', 'earlier,', 'pp.BrandName', 'AS', 'bn,', 'pp.YearReleased', 'AS', 'yr\n', '', '', '', 'FROM', 'Products', 'pp\n)', 'AS', 'p']
({'queryNum': 1409}, {'parsedRemovedQuery': 'Select ProductName, count(earlier)\nFROM Products\nLEFT JOIN (\n    SELECT pProductID AS earlier, pBrandName AS bn, pYearReleased AS yr\n    FROM Products pp\n) AS\nON bn = BrandName AND yr < YearReleased\nGROUP BY ProductName, ProductId, BrandName, YearReleased'})

Query 5eaf2015334f483dd6bba3b4 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1410}, {'parsedRemovedQuery': 'Select ProductName, count(ProductName)\nfrom Products left outer join Products on BrandName = BrandName\nand YearReleased < YearReleased\ngroup by ProductName'})
Query 5eaf2016334f483dd6bba3b5 has been updated
==============
['Products', 'm']
['Products', 'n']
({'queryNum': 1411}, {'parsedRemovedQuery': 'select ProductName, Count(*)-1\nfrom Products join Products \nwhere BrandName = BrandName and (YearReleased > YearReleased or ProductName = ProductName)\ngroup by ProductName\n'})
Query 5eaf2016334f483dd6bba3b6 has been updated
==============
['Products', 'p1']
['Products', 'p2']
({'queryNum': 1412}, {'parsedRemovedQuery': 'SELECT ProductName, SUM(CASE WHEN YearReleased > YearReleased && BrandName = BrandName THEN 1 ELSE 0 END)\nFROM Products, Products\nGROUP BY ProductName'})
Query 5eaf2016334f483dd6bba3b7 has been updated
==============
['Products', 'p']
({'queryNum': 1413}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(p1.BrandName) FROM Products p1 WHERE (p1.BrandName = BrandName) AND (p1.YearReleased < YearReleased)) AS numProds\nFROM Products\nORDER BY ProductName;'})
Query 5eaf2016334f483dd6bba3b8 has been updated
==============
['Products', 'Pro']
({'queryNum': 1414}, {'parsedRemovedQuery': 'SELECT ProductName,\n(SELECT COUNT(*)\nFROM Products Pro2\nWHERE Pro2.YearReleased < YearReleased AND Pro2.BrandName = BrandName)\nFROM Products\nORDER by ProductName'})
Query 5eaf2016334f483dd6bba3b9 has been updated
==============
['Products', 'item']
({'queryNum': 1415}, {'parsedRemovedQuery': 'SELECT ProductName, (Select count(ProductId) from Products \nwhere BrandName = BrandName and YearReleased > YearReleased)\nFROM Products\nORDER BY ProductName'})
Query 5eaf2016334f483dd6bba3ba has been updated
==============
['Products', 'p']
({'queryNum': 1416}, {'parsedRemovedQuery': 'SELECT ProductName, (Select Count(*) From Products p2 Where p2.YearReleased < YearReleased AND BrandName = p2.BrandName)\nFrom Products \nOrder By ProductName'})
Query 5eaf2016334f483dd6bba3bb has been updated
==============
['Products', 'as', 'p1']
['Products', 'as', 'p2']
({'queryNum': 1417}, {'parsedRemovedQuery': 'SELECT ProductName, COUNT(YearReleased) - 1\nFROM Products, Products\nWHERE (BrandName = BrandName AND YearReleased < YearReleased) OR\n      (ProductName = ProductName)\nGROUP BY ProductName;\n'})
Query 5eaf2016334f483dd6bba3bc has been updated
==============
['Products', 'x']
({'queryNum': 1418}, {'parsedRemovedQuery': 'SELECT ProductName, (SELECT COUNT(*) FROM Products p WHERE \np.YearReleased < YearReleased AND p.BrandName = BrandName)\nFROM Products\nORDER BY ProductName\n\n\n\n\n\n'})
Query 5eaf2016334f483dd6bba3bd has been updated
==============

In [10]:
# For first ten queries, let's substitute:
def parse(queries):
    aliases = ['a', 'b', 'c', 'd', 'e', 'f']
    parsed_queries = []
    # f = open("parsed_queries.csv", "w")
    mongo = m.MongoDB("Queries")
    
    for query in queries:
        #print("New Query\n")
        content = query[1]
        substitute_alias = ""
        remove_alias = ""
        substitute_all = ""
        #print(content)
        curr_alias = 0
        
        parsed = sqlparse.parse(query[1])
        
        #if len(parsed) == 1:
        prev_keyword = ""
        for tok in parsed[0].tokens:
            # print(type(tok), tok.ttype, tok.value)
            if(str(tok.ttype) == "Token.Keyword"):
                prev_keyword = tok.value.lower()
            if(type(tok) == sqlparse.sql.Identifier) and (prev_keyword == "from" or "join" in prev_keyword):
                # Process tok.value
                # The order of Department vs. Employee shouldn't matter
                alias = tok.value.split(" ")
                #print(alias)
                if(len(alias) > 1 and (alias[-1].lower != "asc" or alias[-1].lower != "desc")):
                    content = content.replace(" " + alias[-1] + " ", " " + aliases[curr_alias] + " ")
                    content = content.replace(alias[-1] + ".", aliases[curr_alias] + ".")
                    curr_alias += 1

            if(type(tok) == sqlparse.sql.IdentifierList):
                # use regex to make sure is alias one
                if re.match(r'[a-zA-Z ]+ [a-zA-Z ]+,*', tok.value):
                    sets = tok.value.split(",")
                    for s in sets:
                        alias = s.strip().split(" ")
                        #print(alias)
                        if(len(alias) > 1 and (alias[-1].lower() != "asc" and alias[-1].lower() != "desc" and "." not in alias[-1])):
                            if len(alias) == 2:
                                content = content.replace(" " + alias[-1] + ",", " " + aliases[curr_alias] + ",")
                                content = content.replace(" " + alias[-1] + "\n", " " + aliases[curr_alias] + "\n")
                                content = content.replace(alias[-1] + ".", aliases[curr_alias] + ".")
                            else:
                                as_flag = False
                                for i in alias:
                                    if as_flag:
                                        # this is an alias
                                        content = content.replace(" " + i + ",", " " + aliases[curr_alias] + ",")
                                        content = content.replace(" " + i + "\n", " " + aliases[curr_alias] + "\n")
                                        content = content.replace(i + ".", aliases[curr_alias] + ".")
                                        as_flag = False
                                    if i == "as":
                                        as_flag = True
                            curr_alias += 1
                            
        print(query[0][0], query[0][1], query[0][2], content)
        #f.write(str(query[0][0]) + ", " + str(query[0][1]) + "," + str(query[0][2]) + "," + content)
        #f.write("\n")
                    
        #else:
        #    print("more than one")
        #    for p in parsed:
        #        print(p, "boop")
        print("=============")
    return parsed_queries

In [11]:
n = 10
subset = take(n, queries.items())
print(subset)

[((1, 313665, 4388082), "select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nfrom Employee e natural join Department d\nwhere (d.deptLocation = 'Dubai' or d.deptName = 'Sales') and\n        (e.annualSalary >= 7000 and e.annualSalary <= 100000) and\n        (e.empName like '_a%' or e.empName like '_i%')\norder by e.empName asc, d.deptName desc"), ((2, 34820, 4388082), "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e join Department d on e.deptID = d.deptID \nWHERE ((d.deptLocation = 'Dubai') OR (d.deptName = 'Sales')) AND (e.annualSalary >= 84000 AND e.annualSalary <= 120000) AND ((e.empName LIKE '_A%' )OR (e.empName LIKE '_I%'))\nORDER BY e.empName,  d.deptName DESC\n\n"), ((3, 325288, 4388082), "SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee e NATURAL JOIN Department d\nWHERE (d.deptLocation = 'Dubai' OR d.deptName = 'Sales') AND e.annualSalary >= 84000 AND e.annualSalary <= 120000 AND (e.empName LIKE '_A%' OR e.empName LIKE '_I%')\nORDER BY e.empName, d.deptName DESC;"), ((4, 36577, 4388082), "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department d, Employee e\nWHERE e.deptID = d.deptID and (deptLocation = 'Dubai' or deptName = 'Sales') and \n(annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)"), ((5, 342776, 4388082), "SELECT E.empName, E.annualSalary, D.deptName, D.deptLocation, E.jobTitle\nFROM Employee E, Department D\nWHERE (E.deptID = D.deptID) AND (D.deptLocation = 'Dubai' OR D.deptName = 'Sales') AND (E.annualSalary / 12 >= 7000 AND E.annualSalary / 12 <= 10000) AND (E.empName LIKE '_i%' OR E.empName LIKE '_a%')\nORDER BY E.empName, D.deptName DESC"), ((6, 31817, 4388082), "SELECT empName, annualSalary, deptName, deptLocation, jobTitle\nFROM Department d JOIN Employee e ON d.deptID = e.deptID\nWHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary)/12 >= 7000 AND (annualSalary)/12 <=10000 AND (empName LIKE '_a%' OR empName LIKE '_i%')\nORDER BY empName, deptName DESC;"), ((7, 331548, 4388082), "select e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nfrom Employee e join Department d\non e.deptID = d.deptID\nwhere d.deptLocation = 'Dubai' \nor d.deptName = 'Sales' \nand ((e.annualSalary / 12) >= 7000 and (e.annualSalary / 12) <= 10000)\nand (e.empName like '_A%' or e.empName like '_I%')\norder by e.empName asc, d.deptName desc"), ((8, 131080, 4388082), 'SELECT e.empName, e.annualSalary, d.deptName, d.deptLocation, e.jobTitle\nFROM Department d JOIN Employee e ON d.deptID = e.deptID\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (\ne.annualSalary <= 100000 AND e.annualSalary >= 70000) AND (\ne.empName LIKE "_a%" OR e.empName LIKE "_i%")\nORDER BY e.empName ASC, d.deptName DESC\n'), ((9, 128458, 4388082), 'SELECT e.empName as Name, e.annualSalary as Salary, d.deptName, d.deptLocation, e.jobTitle\nFROM Employee as e\nINNER JOIN Department as d\nON d.deptID = e.deptID\nWHERE (d.deptLocation = "Dubai" OR d.deptName = "Sales") AND (e.annualSalary/12 <= 10000 AND e.annualSalary/12 >= 7000) AND (e.empName LIKE "_A%" OR e.empName LIKE "_I%")\nORDER BY d.deptName DESC'), ((10, 127187, 4388082), 'SELECT Emp.empName, Emp.annualSalary, Dept.deptName, Dept.deptLocation, Emp.jobTitle\nFROM Department Dept NATURAL JOIN Employee Emp\nWHERE (Dept.deptLocation = "Dubai" OR Dept.deptName = "Sales") AND \n        (Emp.annualSalary >= 12 * 7000 AND Emp.annualSalary <= 12 * 10000) AND \n        (Emp.empName LIKE \'_A%\' OR Emp.empName LIKE \'_I%\')\nORDER BY Emp.empName, Dept.deptName DESC')]

In [12]:
parse(subset)

1 313665 4388082 select a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle
from Employee a natural join Department d
where (b.deptLocation = 'Dubai' or b.deptName = 'Sales') and
        (a.annualSalary >= 7000 and a.annualSalary <= 100000) and
        (a.empName like '_a%' or a.empName like '_i%')
order by a.empName asc, b.deptName desc
=============
2 34820 4388082 SELECT a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle
FROM Employee a join Department b on a.deptID = b.deptID
WHERE ((b.deptLocation = 'Dubai') OR (b.deptName = 'Sales')) AND (a.annualSalary >= 84000 AND a.annualSalary <= 120000) AND ((a.empName LIKE '_A%' )OR (a.empName LIKE '_I%'))
ORDER BY a.empName,  b.deptName DESC


=============
3 325288 4388082 SELECT a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle
FROM Employee a NATURAL JOIN Department d
WHERE (b.deptLocation = 'Dubai' OR b.deptName = 'Sales') AND a.annualSalary >= 84000 AND a.annualSalary <= 120000 AND (a.empName LIKE '_A%' OR a.empName LIKE '_I%')
ORDER BY a.empName, b.deptName DESC;
=============
4 36577 4388082 SELECT empName, annualSalary, deptName, deptLocation, jobTitle
FROM Department a, Employee b
WHERE b.deptID = a.deptID and (deptLocation = 'Dubai' or deptName = 'Sales') and
(annualSalary / 12 >= 7000 and annualSalary / 12 <= 10000)
=============
5 342776 4388082 SELECT a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle
FROM Employee a, Department b
WHERE (a.deptID = b.deptID) AND (b.deptLocation = 'Dubai' OR b.deptName = 'Sales') AND (a.annualSalary / 12 >= 7000 AND a.annualSalary / 12 <= 10000) AND (a.empName LIKE '_i%' OR a.empName LIKE '_a%')
ORDER BY a.empName, b.deptName DESC
=============
6 31817 4388082 SELECT empName, annualSalary, deptName, deptLocation, jobTitle
FROM Department a JOIN Employee b ON a.deptID = b.deptID
WHERE (deptLocation = 'Dubai' OR deptName = 'Sales') AND (annualSalary)/12 >= 7000 AND (annualSalary)/12 <=10000 AND (empName LIKE '_a%' OR empName LIKE '_i%')
ORDER BY empName, deptName DESC;
=============
7 331548 4388082 select a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle
from Employee a join Department d
on a.deptID = b.deptID
where b.deptLocation = 'Dubai'
or b.deptName = 'Sales'
and ((a.annualSalary / 12) >= 7000 and (a.annualSalary / 12) <= 10000)
and (a.empName like '_A%' or a.empName like '_I%')
order by a.empName asc, b.deptName desc
=============
8 131080 4388082 SELECT b.empName, b.annualSalary, a.deptName, a.deptLocation, b.jobTitle
FROM Department a JOIN Employee b ON a.deptID = b.deptID
WHERE (a.deptLocation = "Dubai" OR a.deptName = "Sales") AND (
b.annualSalary <= 100000 AND b.annualSalary >= 70000) AND (
b.empName LIKE "_a%" OR b.empName LIKE "_i%")
ORDER BY b.empName ASC, a.deptName DESC

=============
9 128458 4388082 SELECT a.empName as Name, a.annualSalary as Salary, b.deptName, b.deptLocation, a.jobTitle
FROM Employee as e
INNER JOIN Department as d
ON b.deptID = a.deptID
WHERE (b.deptLocation = "Dubai" OR b.deptName = "Sales") AND (a.annualSalary/12 <= 10000 AND a.annualSalary/12 >= 7000) AND (a.empName LIKE "_A%" OR a.empName LIKE "_I%")
ORDER BY b.deptName DESC
=============
10 127187 4388082 SELECT b.empName, b.annualSalary, a.deptName, a.deptLocation, b.jobTitle
FROM Department a NATURAL JOIN Employee Emp
WHERE (a.deptLocation = "Dubai" OR a.deptName = "Sales") AND
        (b.annualSalary >= 12 * 7000 AND b.annualSalary <= 12 * 10000) AND
        (b.empName LIKE '_A%' OR b.empName LIKE '_I%')
ORDER BY b.empName, a.deptName DESC
=============

[]

In [212]:
par_queries = parse(queries.items())

=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============

=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============

=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============
=============

In [192]:
parse([list(queries.items())[-2]])

more than one
SELECT p1.ProductName, COUNT(p2.YearReleased) - 1
FROM Products as p1, Products as p2
WHERE (p1.BrandName = p2.BrandName AND p2.YearReleased < p1.YearReleased) OR
      (p1.ProductName = p2.ProductName)
GROUP BY p1.ProductName; boop

 boop
=============

[]

In [179]:
par_queries[0]

(1,
 "select a.empName, a.annualSalary, b.deptName, b.deptLocation, a.jobTitle\nfrom Employee a natural join Department d\nwhere (b.deptLocation = 'Dubai' or b.deptName = 'Sales') and\n        (a.annualSalary >= 7000 and a.annualSalary <= 100000) and\n        (a.empName like '_a%' or a.empName like '_i%')\norder by a.empName asc, b.deptName desc")

In [198]:
par_queries[-2]

(1417,
 'SELECT a.ProductName, COUNT(b.YearReleased) - 1\nFROM Products as a, Products as b\nWHERE (a.BrandName = b.BrandName AND b.YearReleased < a.YearReleased) OR\n      (a.ProductName = b.ProductName)\nGROUP BY a.ProductName;\n')

In [196]:
len(par_queries)

1418